{% extends arithmetic_template %}
{% block maincode %}
<script>

    var num;

    generateNewProblem(function(){
        num = getRandomInt(10);

        if (getRandomInt(1) == 1)
        {
            // Approximately every other problem involves a decimal.
            num += (getRandomInt(10) / 10);
        }

        if (getRandomInt(1) == 1)
        {
            // Approximately every other problem uses a negative number
            num *= -1;
        }

        return num;
    });

    var hintsGiven = 0;
    var leftMargin = 200;
    var xCharSpacing = 15;
    var ySpacing = 60;
    var numLineY = 150;
    var xMax = 400;
    var xMin = 0;
    var yMax = 200;
    var yMin = 0;
    var slashHeight = 15;
    var standardSize = 70;
    var smallSize = 17;
    var numLineMin = Math.floor(Math.min(num, 0) - 2);
    var numLineMax = Math.floor(Math.max(num, 0) + 2);
    var textY =300;
    var numLinePadding = 20;
    var slashSpacing = (xMax - (2 * numLinePadding))/(numLineMax-numLineMin);

    function getCoor(num)
    {
        var x = (num-numLineMin)*slashSpacing+numLinePadding;
        return [x, numLineY];
    }

    function graph_update()
    {
        present.initPicture(xMin, xMax, yMin);
        present.fontfill = nColor;
        present.fontsize = 50;
        present.fontstyle = "normal";
        present.fontfamily = "Arial";

        var sAbs = "|" + num + "|";
        present.text([leftMargin, 200], sAbs, above, 'num');

        var offset = xCharSpacing * sAbs.length;

	    present.text([leftMargin + offset, 200], '=', above);
	    present.text([leftMargin + offset + (xCharSpacing * 3), 200], '?', above, 'abs');
        setCorrectAnswer(Math.abs(num));
    }

    function next_step()
    {
        if (hintsGiven == 0)
        {
            drawNumLine();
        }
        else if (hintsGiven == 1)
        {
            present.marker = "dot";
            present.strokewidth = 5;
            present.markerfill = getNextColor();
            present.markerstroke = present.markerfill;
            present.stroke = present.markerstroke;
            present.dotradius = 4;
            present.line(getCoor(num), getCoor(0), 't1');
        }
        else if (hintsGiven == 2)
        {
            present.fontsize = 16;
            present.fontfamily = "Arial";
            present.fontstyle = "normal";
            present.text([leftMargin,100], "The distance from " + num + " to 0 is " + Math.abs(num) + "...", above);
        }
        else if (hintsGiven == 3)
        {
            present.text([leftMargin,80], "so the absolute value is " + Math.abs(num) + "!", above);
        }
        else if (hintsGiven == 4)
        {
            present.text([leftMargin,40], "Another way to think about it is the", above);
            present.text([leftMargin,20], "non-negative version of " + num + " is " + Math.abs(num) + ".", above);
        }
        hintsGiven++;
        Exercise.steps_given++;
    }

    function drawNumLine()
    {
        present.line([numLinePadding, numLineY], [xMax-numLinePadding, numLineY]);
        present.fontsize = smallSize;
        for(var i=numLineMin; i<=numLineMax; i++)
        {
            var x = numLinePadding + (i-numLineMin)*slashSpacing;
            present.line([x,numLineY-slashHeight/2],[x,numLineY+slashHeight/2]);
            present.text([x,numLineY], i, above);
        }
        present.fontsize = standardSize;
    }

</script>
{% endblock maincode %}

{% block maincell %}<iframe name="present" frameborder=0 src="/graphpage.html?w=400&h=300" height="350" width="100%"></iframe>{% endblock maincell %}
