{% extends arithmetic_template %}
{% block maincode %}
<script language=Javascript1.2><!--

var num1 = get_random();
var num2 = get_random();
var den1 = Math.abs(get_random());
var den2 = Math.abs(get_random());
while (Math.abs(den1)==Math.abs(den2))
	den2 = Math.abs(get_random());

//-->
</script>
{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--
write_equation(format_not_reduced(num1,den1)+format_not_reduced_with_sign(num2,den2)+'= ?');

write_step('First, we need to find a common denominator.  This is the smallest number that is both a multiple of <b>`'+den1+'`</b> and <b>`'+den2+'`</b> (this number is also called the least common multiple).', 1);	

var com_den = getLCM(den1, den2);

write_step('The smallest number that is both a multiple of <b>`'+den1+'`</b> and <b>`'+den2+'`</b> is <b>`'+com_den+'`</b>.', 2);

write_step('Now we need to change both fraction to fractions with a denominator of <b>`'+
		com_den+'`</b>.'+
		equation_string(format_not_reduced(num1,den1)+'='+format_not_reduced(num1*com_den/den1, com_den))+
		equation_string(format_not_reduced(num2,den2)+'='+format_not_reduced(num2*com_den/den2, com_den))+
	   	'So now the problem becomes:'+
		equation_string(format_not_reduced(num1*com_den/den1,com_den)+format_not_reduced_with_sign(num2*com_den/den2,com_den)+'= ?'), 3);

write_step('Adding the numerators gives'+
		equation_string(format_not_reduced(num1*com_den/den1,com_den)+format_not_reduced_with_sign(num2*com_den/den2,com_den)+'='+format_not_reduced((num1*com_den/den1)+(num2*com_den/den2),com_den)), 4);

if (getGCD(Math.abs((num1*com_den/den1)+(num2*com_den/den2)),com_den)>1)
{
	write_step('Dividing the numerator and the denominator each by <b>`'+getGCD(Math.abs((num1*com_den/den1)+(num2*com_den/den2)),com_den)+'`</b> gives:'+
		equation_string(format_fraction((num1*com_den/den1)+(num2*com_den/den2),com_den)), 5);
}
setCorrectAnswer(format_fraction((num1*com_den/den1)+(num2*com_den/den2),com_den));

addWrongChoice(format_fraction(num1+num2,den1+den2));
addWrongChoice(format_fraction(num1+num2,com_den));
addWrongChoice(format_fraction(num1-num2,com_den));
addWrongChoice(format_fraction(com_den, (num1*com_den/den1)+(num2*com_den/den2)));
addWrongChoice(format_fraction(-1*(num1*com_den/den1)+(num2*com_den/den2),com_den));
addWrongChoice(format_fraction(num1*num2,den2*den1));
addWrongChoice(format_fraction((num1*com_den/den1)-(num2*com_den/den2),com_den));

//-->
</script>

{% endblock maincell %}
{% block answerarea %}


<script language=Javascript1.2><!--
	correctchoice = Math.round(Math.random()*4.98-.49);

	
	//Fill in the choices
	//need to fix it so that the other choices can never be the same as the correct choice
	
	var possibleWrongIndices=randomIndices(possibleAnswers.length);
	var definiteWrongIndices=randomIndices(definiteWrongAnswers.length);
	for (var i=0; i<5; i++)
	{
		if (i==correctchoice) 
		{
			answerChoices[i]='`'+correct_answer+'`';
		}
		else
		{
			if (definiteWrongIndices.length>0)
			{
				answerChoices[i]='`'+definiteWrongAnswers[definiteWrongIndices.pop()]+'`';
			}
			else
			{
				answerChoices[i]='`'+possibleAnswers[possibleWrongIndices.pop()]+'`';
			}
		}

		document.write('<br/><span style="white-space:nowrap;"><input type=\"radio\" name=\"selectAnswer\" onClick=\"select_choice('+i+')\">'+answerChoices[i]+'</input></span><br/>');

	}
//-->
</script>
{% endblock answerarea %}
{% block checkanswer %}check_answer(){% endblock checkanswer%}
{% block hintfunction %}give_next_step(){% endblock hintfunction %}
