{% extends "multiple_choice_template.html" %}

{% block maincell %}
<script src="/javascript/exercises/vectors.js?{{App.version}}"></script>
<script src="/javascript/exercises/adding_vectors.js?{{App.version}}"></script>
<div id="raphael_container" style="float: right;"></div>

<script>
    var present = window;
    RaphaelWrapper.init();
    Exercise.fWriteToDoc = false;
    var exercise = new AddingVectorsExercise();
    Exercise.showCustomStep = exercise.showGraphHints;
    
</script>
{% endblock maincell %}
