{% extends arithmetic_template %}
{% block maincode %}
<script language=Javascript1.2><!--
var term1 = 1;
var term2 = 1;
var operator = 1;
var answer = term1+operator*term2; 


var term1color = getNextColor();
var term2color = getNextColor();

var hintsGiven = 0;
var xSpacing =65;
var ySpacing = 50;
var xMax = 400;
var xMin = 0;
var yMax = 400;
var yMin = 0;
var leftMargin = 50;
var circlePos = leftMargin/2;
var circleCount = 1;
var standardSize = 70;
var smallSize = 17;
var numLineY = 275;
var slashHeight = 15;
var numLineMin = Math.min(term1,answer)-2;
var numLineMax = Math.max(term1,answer)+2;
var slashSpacing = (xMax-2*leftMargin)/(numLineMax-numLineMin);
var textY =300;

//This is the comparison function that makes sure that current random entries haven't been given recently
var eFunction = function()
{
    do {
		term1 = getRandomInt(18)-9;
		term2 = getRandomInt(18)-9;
		operator = Math.pow(-1,getRandomInt(4));  //Will either be 1 or -1
		answer = term1+operator*term2;
	} while(term1>=0 && term2>=0 && answer>=0)
}


//This is the comparison function that makes sure that current random entries haven't been given recently
var cFunction = function(history)
{
	return (history.indexOf(term1+';'+(operator*term2))!=-1);
}

//This function defines what an entry in the history should look like
var tFunction = function()
{
	return (term1+';'+(operator*term2));
}

//This checks the history and regenerates random numbers if the current ones have already been used recently 
checkHistory(cFunction, eFunction, tFunction, 10);


///////






function graph_update()
{
	present.initPicture(xMin,xMax,yMin);
	present.fontfill = nColor;
	present.fontsize = standardSize;
	present.fontstyle = "none";
	present.text([leftMargin,textY], term1, above, 'term1');
	if (operator==-1)
		present.text([leftMargin+xSpacing,textY], '-', above);
	else
		present.text([leftMargin+xSpacing,textY], '+', above);
	present.text([leftMargin+2*xSpacing,textY], term2, above, 'term2');
	present.text([leftMargin+3*xSpacing,textY], '=', above);
	present.text([leftMargin+4*xSpacing,textY], '?', above, 'dif');
	
	setCorrectAnswer(answer)
	numLineMin = Math.min(term1,answer)-2;
	numLineMax = Math.max(term1,answer)+2;
	slashSpacing = (xMax-2*leftMargin)/(numLineMax-numLineMin);
}


function getCoor(num)
{
	var x = (num-numLineMin)*slashSpacing+leftMargin;
	return [x, numLineY];
}



function drawNumLine()
{
	present.stroke = nColor;
	present.fontfill = nColor;
	present.line([leftMargin-10, numLineY], [xMax-leftMargin+10, numLineY]);
	present.fontsize = smallSize;
	for(var i=numLineMin; i<=numLineMax; i++)
	{
		var x = (i-numLineMin)*slashSpacing+leftMargin;
		present.line([x,numLineY-slashHeight/2],[x,numLineY+slashHeight/2]);
		present.text([x,numLineY], i, above);
	}
	present.fontsize = standardSize;
}

function next_step()
{
	if (hintsGiven==0)
	{
		present.fontfill = term1color;
		present.text([leftMargin,textY], term1, above, 'term1');
	
		drawNumLine();
		present.marker="dot";
		present.markerfill=term1color;
		present.dotradius =4;
		present.markerstroke = term1color;
		present.line(getCoor(term1),getCoor(term1), 't1');
	
	}
	else if (hintsGiven==1)
	{
		present.fontfill = term2color;
		present.text([leftMargin+2*xSpacing,textY], term2, above, 'term2');
		present.marker="arrow";
		present.stroke = term2color;
		present.strokewidth = 3;
		present.line(getCoor(term1),getCoor(term1+operator*term2), 't2');
		
		if(operator==-1 && term2<0)
		{
			present.fontsize = (smallSize+standardSize)/2;
			present.fontfill = nColor;
			present.text([(xMax+xMin)/2,numLineY/2], "-("+term2+") = +"+(-1*term2), below);
			present.fontsize = standardSize;
		}
		if(operator==1 && term2<0)
		{
			present.fontsize = (smallSize+standardSize)/2;
			present.fontfill = nColor;
			present.text([(xMax+xMin)/2,numLineY/2], "+("+term2+") = -"+(-1*term2), below);
			present.fontsize = standardSize;
		}
		
		
	
	}
	else
	{
		present.fontfill = getNextColor();;
		present.text([leftMargin+4*xSpacing,textY], answer, above, 'dif');
		present.markerfill=fontfill;
		present.markerstroke=fontfill;
		present.marker="dot";
		present.line(getCoor(answer),getCoor(answer));
	
	}
	hintsGiven++;
	Exercise.steps_given++;
}

//-->
</script>
{% endblock maincode %}

{% block maincell %}<iframe name="present" frameborder=0 src="/graphpage.html?w=400&h=400" height="450" width="100%"></iframe>{% endblock maincell %}
  
