{% extends "arithmetic_template.html" %}
{% block maincode %}
<script language=Javascript1.2><!--
var curCol = 0;
var topNumber = new Array();
var botNumber = new Array(); 
var topValue = 0;
var botValue = 0;
var carry = new Array();
var answer = new Array();
var totalDigits = 3;
var topNumberDigits =3;
var bottomNumberDigits =3; 
var maxCol = 3;


var xSpacing =30;
var ySpacing = 55;
var xMax = 400;
var xMin = 0;
var yMax = 400;
var yMin = 0;
var carryRow = 3;
var topNumRow =2;
var botNumRow =1;
var answerRow =0;

function getCoor(row,col)
{
	return [getXCoor(col), getYCoor(row)];
}

function getXCoor(col)
{
	return (xMax-(col+1)*(xSpacing));
}

function getYCoor(row)
{
	return (yMin+row*ySpacing);
}

topNumber['.'] = {value: '.', row: topNumRow, col: get_random(topNumberDigits+1)-.5, name: 'tdec'};  //keeps track of which number the decimal is to the right of
botNumber['.'] = {value: '.', row: botNumRow, col: get_random(bottomNumberDigits+1)-.5, name: 'bdec'}; //The decimal can be up to 2 spaces left of the leftmost non-zero digit


topNumber[0] = {value: get_random(8)+1, row: topNumRow, col:0 , name: 't0'};
topNumber[1] = {value: get_random(9), row: topNumRow, col:1, name: 't1'};

if(topNumber['.'].col>2)
{
	topNumber[2] = {value: get_random(9), row: topNumRow, col:2, name: 't2'};
	for(var i=3; i<=topNumber['.'].col; i++)
		topNumber[i] = {value: 0, row: topNumRow, col:i, name: 't'+i};
}
else
	topNumber[2] = {value: get_random(8)+1, row: topNumRow, col:2, name: 't2'};

botNumber[0] = {value: get_random(8)+1, row: botNumRow, col:0, name: 'b0'};
botNumber[1] = {value: get_random(9), row: botNumRow, col:1, name: 'b1'};

if(botNumber['.'].col>2)
{
	botNumber[2] = {value: get_random(9), row: botNumRow, col:2, name: 'b2'};
	botNumber['+'] = {value: '+', row: botNumRow, col: botNumber['.'].col+1, name: 'b+'};
	for(var i=3; i<=botNumber['.'].col; i++)
		botNumber[i] = {value: 0, row: botNumRow, col:i, name: 'b'+i};
}
else
{
	botNumber[2] = {value: get_random(8)+1, row: botNumRow, col:2, name: 'b2'};	
	botNumber['+'] = {value: '+', row: botNumRow, col:3.5, name: 'b+'};
}


topValue = topNumber[2].value*100+topNumber[1].value*10+topNumber[0].value;
botValue = botNumber[2].value*100+botNumber[1].value*10+botNumber[0].value;

topValue = topValue/Math.pow(10,topNumber['.'].col+.5);
botValue = botValue/Math.pow(10,botNumber['.'].col+.5);

function graph_update()
{
	var topRightOfDecimal = topNumber['.'].col+.5;
	var topLeftOfDecimal = Math.max(3-topRightOfDecimal,0);
	var botRightOfDecimal = botNumber['.'].col+.5;
	var botLeftOfDecimal = Math.max(3-botRightOfDecimal,0);
	var totalCols = Math.max(topLeftOfDecimal, botLeftOfDecimal)+Math.max(botRightOfDecimal, topRightOfDecimal);
	
	present.initPicture(xMin, xMax, yMin);
	present.line(getCoor(botNumRow+.2, totalCols+.5), [getXCoor(-.75), getYCoor(botNumRow+.2)]);
	for(k in topNumber)
		drawObject(topNumber[k],nColor);
	for(k in botNumber)
		drawObject(botNumber[k],nColor);
	setCorrectAnswer(Math.round((topValue+botValue)*1000000)/1000000);
}	

function drawRow(row)
{
	for(key in row)
		drawObject(row[key],nColor);
}

function drawObject(obj, color)
{
	present.fontsize = "50";
	present.fontstyle = "none";	
	present.fontfill = color;
	present.fontfamily = "Arial";
	if (obj.value=='.')
		present.fontfill = "#dd6633";
	var coor = getCoor(obj.row, obj.col);
	present.text(coor, obj.value, above, obj.name);
}
	
function shiftNumber(num, shift)
{	
	for(key in num)
	{
		num[key].col+=shift;
		drawObject(num[key],nColor);
	}
}


function getValue(num, col)
{

	var value = 0;
	for(key in num)
	{
		if (num[key].col==col)
			value = num[key].value;
	}
	return value;

}



function next_step()
{

	if (steps_given==0)
	{
		var shift = topNumber['.'].col - botNumber['.'].col;
		if(shift>0)
			shiftNumber(botNumber, shift);
		else
			shiftNumber(topNumber, -1*shift);
			
		maxCol+=Math.abs(shift);
			
		answer['.'] = {value: '.', row: answerRow, col: topNumber['.'].col, name: 'a'+topNumber['.'].col};
		drawObject(answer['.'], nColor);
	}
	else if (curCol<maxCol)
	{
		var car = getValue(carry,curCol);
		var top = getValue(topNumber,curCol);
		var bot = getValue(botNumber,curCol);
		var sum = car+top+bot;
		answer[curCol] = {value: sum%10, row:answerRow, col: curCol, name: 'a'+curCol};
		drawObject(answer[curCol], nColor);
		
		curCol++;
		if (sum>9)
		{
			if(curCol==maxCol)
			{
				answer[curCol] = {value: 1, row:answerRow, col:curCol, name: 'a'+curCol};
				drawObject(answer[curCol],nColor);
			}
			else
			{
				carry[curCol] = {value: 1, row: carryRow, col:curCol, name: 'c'+curCol};
				drawObject(carry[curCol], nColor);
			}
		}
	}		
	steps_given++;
}


//returns an integer between 0 and max, inclusive
function get_random(max)
{
	var epsilon = .9;
	return Math.round(Math.random()*(max+epsilon) - epsilon/2);
}


function getFontString(text, font)
{
	return ('<FONT class=\"'+font+'\">'+text+'</FONT>');
}




//-->
</script>
{% endblock maincode %}

{% block maincell %}<iframe name="present" frameborder=0 src="/graphpage.html?w=400&h=300" height="325" width="100%"></iframe>{% endblock maincell %}
  
