{% extends "page_template.html" %}
{% block pagetitle %}User Data Database Details {% endblock pagetitle %}
{% block pagecontent%}
<P>
<div class=hdg>&nbsp;<h3>User Data</h3></div>
<table border=0 cellspacing=0 cellpadding=3>
<tr><td>proficient</td><td>{{user_data.proficient_exercises}}</td></tr>
<tr><td>suggested</td><td>{{user_data.suggested_exercises}}</td></tr>

</table>
<P>
<div class=hdg>&nbsp;<h3>UserExercise Data</h3></div>
<table border=0 cellspacing=0 cellpadding=3>
<tr><td width=100% class="colHeadL">Exid</td><td class="colHeadL">Streak</td></tr>
{% for entry in exercise_data %}
	{% if forloop.counter|divisibleby:2 %}
		<TR class="highlightWhite" >
	{% else %}
		<TR class="highlightGreyRelated">
	{% endif %}

	<td>{{entry.exercise}}</td><td>{{entry.streak}}</td>
	</tr>
{% endfor %}	
</table>
{% endblock pagecontent %}

