<!DOCTYPE html>
<html xmlns:mml="http://www.w3.org/1998/Math/MathML">
<head>
  <title>Khan Academy</title>
  
  {% shared_javascript %}
  {% exercises_javascript %}

  {% comment %}
     We can't append App.version to MathJax.js because it confuses MathJax.  Instead we map
     /MathJax-version to /MathJax in app.yaml and update the version there and here whenever
     we update MathJax.
  {% endcomment %}
  <script type="text/javascript" src="/MathJax-git-2011-01-14/MathJax.js">
      MathJax.Hub.Config({
	showProcessingMessages: true,
	delayStartupUntil: "onload",
	skipStartupTypeset: true,
        extensions: ["mml2jax.js"],
	jax: ["input/MathML", "output/HTML-CSS"],
	"HTML-CSS": {
		scale: 100,
		availableFonts:["STIX", "TeX"],
		preferredFont: "TeX",
		webFont: "TeX",
		imageFont: null
	}
      });
  </script>
  
<script language=Javascript1.2><!--
$(document).ready(function () {
	var iframe = null;
	if (parent) 
		iframe = parent.document.getElementById("problem{{problem_number}}");
	function resizeIframe() {
		if (!iframe)
			return;
		var iframeWindow = null;
		if (parent.document.frames)
			iframeWindow = parent.document.frames[iframe.id];
		else
			iframeWindow = iframe.contentWindow;
		var body = iframeWindow.document.body;
		iframe.width = body.scrollWidth;
		iframe.height = body.scrollHeight;
	}
	function translateAndResize() {
		translate(resizeIframe);
	}
	KhanAcademy.onMathMLSupportReady(translateAndResize);
});
KhanAcademy.problem_number = "{{problem_number}}";
KhanAcademy.seedRandom(KhanAcademy.problem_number);
//-->
</script>
</head>
<body>
<div>
	<div id='question_area' style="position: relative; padding-top: 75px; padding-left: 50px; display: inline-block; vertical-align: top; width: 65%; min-width: 610px;">
{% block maincode %}
{% endblock maincode %}
		{% comment %}
		We use a table here just because existing graphdisplay blocks create a table cell.
		{% endcomment %}
		<table style='float: right;'><tr>
		{% block graphdisplay %}  {% endblock graphdisplay %}			
		</tr></table>
		{% block maincell %}<iframe name="present" frameborder=0 src="/graphpage.html?w=400&h=300" height="350" width="100%"></iframe>{% endblock maincell %}
	</div>
	<div id='answer_area' style="display: inline-block; padding: 1em;">
		<form id="answerform" action="/registeranswer" method="post">
			{% block answerform %}
			{% comment %}
				I don't think we need this stuff??
			<input type="hidden" id="exid" name="exid" value="{{exid}}">
			<input type="hidden" id="streak" name="streak" value="{{streak}}">
			<input type="hidden" id="key" name="key" value="{{key}}">
			<input type="hidden" id="start_time" name="start_time" value="{{start_time}}">
			<input type="hidden" id="correct" name="correct" value="0">
			<input type="hidden" id="time_warp" name="time_warp" value="{{time_warp}}">
			<input type="hidden" id="problem_number" name="problem_number" value="{{problem_number}}">
			{% endcomment %}
			{% block answerarea %}{% endblock answerarea %}
			{% endblock answerform %}
		</form>
		<script language=Javascript1.2><!--
			var elForm = document.forms['answerform'];
			if (elForm)
			{
				elForm.reset();
				if (elForm.answer) elForm.answer.focus();
			}
			function relabel_hint()
			{
				elForm.hint.value = "Next Hint";
			}
			function evaluate_hint()
			{
				confirmed = true;
				confirmation_text = 'One-time warning: Using a hint will erase your streak.\nAre you sure you want to continue?'
				cookie_name = "exercise_hint_warning";
				cookie_value = '1'
				cookie_length = 365; //days
				
				if(readCookie(cookie_name) != cookie_value) 
					confirmed = false;
				
				if(confirmed || confirm(confirmation_text))
				{
					relabel_hint();
					{% block hintfunction %}next_step(){% endblock hintfunction %};		
				}
				
				createCookie(cookie_name,cookie_value,cookie_length);
			}
			function highlight_answer()
			{
				elForm.answer.focus();
				elForm.answer.select();
			}
		//--></script>
	</div>
</div>
</body>
</html>

