{% extends "page_template.html" %}
{% block pagetitle %}Exercise{% endblock pagetitle %}
{% block pagescript %}
  <script type="text/javascript">
  	function submitForm(value)
  	{
  		document.forms['answerform'].submit();
  	}
  </script>
{% endblock pagescript %}

{% block pagemainmenu %}
	<span class="mainmenu"><A href="/">Exercises</A>&nbsp;&nbsp;|&nbsp;&nbsp;<A href="/viewexercisesonmap">Knowledge Map</A>&nbsp;</span>
{% endblock pagemainmenu %}

{% block pagesubmenu %}
  			<table border=0 width="100%" cellpadding=0 cellspacing=0>
  				<tr>
  					<td bgcolor=#e5ecf9 align=left width="100%"><B><A href="/">Exercises </a>: {{extitle}}</B>
  					{% if exercise_videos %}
  						<A href="/viewexercisevideos?exkey={{exercise.key}}">[Watch Videos]</A>
  					{% endif %}
  					</td>
  					<td bgcolor=#e5ecf9 align=right>&nbsp;&nbsp;|&nbsp;&nbsp;Streak:</td>
  					<td bgcolor=#e5ecf9><ul class="unit-rating" style="width:200px;">
  						<li class="current-rating" style="width:{{streakwidth}}px;"></li></ul>
  					</td>
  				</tr>
  			</table>
{% endblock pagesubmenu %}

{% block pagemessage %}
{% if proficient %}
	<div class=hdg><h3>
	&nbsp;Excellent.  I, the website, now think you're pretty good at this.<BR>
	&nbsp;If you're in the mood, you might want to go to the main <A href='/assessuser'>exercise page</a> and see if I've changed any
		of your suggested exercises.
	</h3></div>	
{% endif %}
{% endblock pagemessage %}

{% block pagecontent %}

<table width=100% border=0 cellpadding=0 cellspacing=0>
  <tr>

    <td bgcolor=#ffffff><img width=1 height=20 alt=""></td>
  </tr>
</table>
{% block maincode %}
<script language=Javascript1.2><!--

var term1 = 0;
var term2 = 0;
var term1color = getNextColor();
var term2color = getNextColor();
var hintsGiven = 0;
var xSpacing =65;
var ySpacing = 60;
var xMax = 400;
var xMin = 0;
var yMax = 300;
var yMin = 0;
var leftMargin = 50;
var circlePos = leftMargin/2;
var circleCount = 1;
var standardSize = 75;
var smallSize = 17;



//This function is used to generate the random entries
var eFunction = function()
{
	term1 = getRandomInt(9);
	term2 = getRandomInt(9);

	while (term1+term2<10)
	{
		term1 = getRandomInt(9);
		term2 = getRandomInt(9);
	}
}


//This is the comparison function that makes sure that current random entries haven't been given recently
var cFunction = function(history)
{
	return (history.indexOf(term1+'+'+term2)!=-1 || history.indexOf(term2+'+'+term1)!=-1);
}


//This function defines what an entry in the history should look like
var tFunction = function()
{
	return (term1+'+'+term2);
}


//This checks the history and regenerates random numbers if the current ones have already been used recently 
checkHistory(cFunction, eFunction, tFunction,10);




function graph_update()
{
	present.initPicture(xMin,xMax,yMin);
	present.fontfill = nColor;
	present.fontsize = standardSize;
	present.fontstyle = "normal";
	present.fontfamily = "Arial";
	
	present.text([leftMargin,200], term1, above, 'term1');
	
	present.text([leftMargin+xSpacing,200], '+', above);
	present.text([leftMargin+2*xSpacing,200], term2, above, 'term2');
	present.text([leftMargin+3*xSpacing,200], '=', above);
	present.text([leftMargin+4*xSpacing,200], '?', above, 'sum');
	setCorrectAnswer(term1+term2);
	
}


function drawCircles(num, color, startX)
{
	present.strokewidth=3;
	present.stroke=color;
	present.fontfill=color;
	var radius = 10;
	//var row = 0;
	var perRow = 3;//getRandomInt(3)+1;
	var curX = startX;
	var curY = 0;
	for(var i=0; i<num; i++)
	{
		
		curX = startX+(i%perRow)*(2*radius+5);
		curY = 185- Math.floor(i/perRow)*(2*radius+5);
		present.circle([curX,curY], radius, startX+'_'+i);
		
	}
}

function next_step()
{
	if (hintsGiven==0)
	{
		present.fontfill = term1color;
		present.text([leftMargin,200], term1, above, 'term1');
		drawCircles(term1, term1color, leftMargin/2);
	}
	else if (hintsGiven==1)
	{
		present.fontfill = term2color;
		present.text([leftMargin+2*xSpacing,200], term2, above, 'term2');
		drawCircles(term2, term2color, leftMargin/2+2*xSpacing);
	}
	else
	{
		//fontfill = nColor;
		//text([leftMargin+4*xSpacing,100], correctAnswer, above, 'sum');
	
	}
	hintsGiven++;
	steps_given++;
}

//-->
</script>
{% endblock maincode %}
   <table width=100%><tr>
		<td valign=top width={% block maincellwidth %}80%{% endblock maincellwidth %}>
		{% block maincell %}<iframe name="present" frameborder=0 src="/graphpage.html?w=400&h=300" height="350" width="100%"></iframe>{% endblock maincell %}
		</td>
		{% block graphdisplay %}  {% endblock graphdisplay %}
		<td valign="top">
			{% block answergraphdisplay %} {% endblock answergraphdisplay %}
			<form id="answerform" action="/registeranswer" method="post">
				{% block answerform %}
				<input type="hidden" id="exid" name="exid" value="{{exid}}">
				<input type="hidden" id="streak" name="streak" value="{{streak}}">
				<input type="hidden" id="key" name="key" value="{{key}}">
				<input type="hidden" id="start_time" name="start_time" value="{{start_time}}">
				<input type="hidden" id="correct" name="correct" value="0">
				{% block answerarea %}<br>Answer:<input type="text" size=10 id="answer"  autocomplete="off" name="answer" onkeypress="if (event.keyCode == 13) {checkFreeAnswer(); return false;}"></br>{% endblock answerarea %}
				<br><input type="button" value="Hint" onClick="{% block hintfunction %}next_step(){% endblock hintfunction %}">
				<input type="button" value="Check Answer" onClick="{% block checkanswer %}checkFreeAnswer(){% endblock checkanswer %}"></br>
				<br><img src="/images/blank.gif" name="feedback"><div id="nextbutton" style="position:relative; visibility:hidden;"><input type="button" name="correctnextbutton" value="Correct! Next Question..." onClick="submitForm()"></div></br>
				{% endblock answerform %}
			</form>
			<script language=Javascript1.2><!--
				document.forms['answerform'].reset();
				document.forms['answerform'].answer.focus();
			//--></script>
		</td>
	</tr>
  </table>
{% endblock pagecontent %}

