{% extends "multiple_choice_template.html" %}

{% block maincode %}
<script type="text/javascript" src="/javascript/calculus.js?{{App.version}}"></script>
<script language=Javascript1.2><!--
// Chain rule 1

// use the same generators for both inner & outer functions (funcGens in calculus.js)

inner = funcGens[getRandomInt(funcGens.length-1)]('x');
// nobody should have to do polynomials as the outer function :D
outer = funcGens[getRandomIntRange(1, funcGens.length-1)]('('+inner.fofx+')');

// this is the real one
// outer.dfofx doesn't include the derivative of the inner function,
// even though outer.fofx contains inner.fofx
derivative = outer.dfofx + '*(' + inner.dfofx + ')';

write_text('`f(x) = ' + outer.fofx + '`');
write_text('`f\'(x) = ?');

write_step('`f\'(x) = (`derivative of `' + outer.fofx + '` with respect to `' + inner.fofx + 
				') * (`derivative of `' + inner.fofx + '` with respect to `x)`');
write_step('The derivative of `' + outer.fofx + '` with respect to `' + inner.fofx + ' = ' + outer.dfofx + '`');
write_step('The derivative of `' + inner.fofx + '` with respect to `x = ' + inner.dfofx + '`');
write_step('So `f\'(x) = ' + derivative + '`');
setCorrectAnswer(derivative);

for (var i = 0; i < 2; i++) {
	addWrongChoice(outer.wrongs[getRandomInt(outer.wrongs.length-1)] + 
					'*(' + inner.wrongs[getRandomInt(inner.wrongs.length-1)] + ')');
}

for (var i = 0; i < 2; i++) {
	addWrongChoice(outer.wrongs[getRandomInt(outer.wrongs.length-1)] + 
					'+(' + inner.wrongs[getRandomInt(inner.wrongs.length-1)] + ')');
}

addWrongChoice(outer.dfofx);
for (var i = 0; i < 2; i++) {
	addWrongChoice(outer.wrongs[getRandomInt(outer.wrongs.length-1)]);
}

//-->
</script>
{% endblock maincode %}

{% block maincellwidth %}70%{% endblock maincellwidth %}