{% extends arithmetic_template %}
{% block answerarea %}
<!--  This is a template for problems which ask the student to fill out a set of check-boxes properly (e.g. to pick which properties a shape has)
-->
<span class="info-box-header">Answer</span>
<script language=Javascript1.2><!--
    generateCheckboxAnswerArea();
//-->
</script>
{% endblock answerarea %}
{% block checkanswer %}checkCheckboxChoices(){% endblock checkanswer%}
{% block hintfunction %}give_next_step(){% endblock hintfunction %}
