{% extends arithmetic_template %}

{% block maincode %}
<script src="/javascript/exercises/complementary_and_supplementary_angles.js?{{App.version}}"></script>
{% endblock maincode %}

{% block maincell %}
<div id="raphael_container" style="float: right;"></div>

<script>
    var present = window;
    RaphaelWrapper.init();
    var exercise = new ComplementarySupplementaryAnglesExercise();
</script>

{% endblock maincell %}

{% block hintfunction %}
give_next_step()
{% endblock hintfunction%}


