{% extends arithmetic_template %}

{% block maincode %}
<script src="/javascript/exercises/complementary_and_supplementary_angles.js?{{App.version}}"></script>
{% endblock maincode %}

{% block maincell %}
<script>
    var exercise = new ComplementarySupplementaryAnglesExercise(IS_COMP);
    function graph_update() {
        exercise.showProblem();
    }
</script>
{% endblock maincell %}

{% block graphdisplay %}
<td><iframe name="present" frameborder=0 src="/graphpage.html?w=300&h=300" height="330" width="330"></iframe></td>
{% endblock graphdisplay %}

{% block hintfunction %}
give_next_step()
{% endblock hintfunction%}


