{% extends "page_template.html" %}
{% block pagescript %}
    <style>#page_sub_nav { display: none; }</style>
{% endblock pagescript %}
{% block pagecontent %}
<div id="contribute">
    <h1 class="main-headline">Help us deliver a world-class education...</h1>
    <div class="col1">
        <h2>Get the word out</h2>
        <p>
            Spreading the word about the Khan Academy is one of the best ways to help
            us. Each month we serve over 1,000,000 students, but there's no reason it 
            shouldn't be 20 million. Please take a moment to share this site with your 
            friends and community.
        </p>
        <p>
            <a href="http://www.facebook.com/khanacademy" class="simple-button social-button">
                <img src="/images/social_facebook_box_blue_48.png" width=48 height=48 />
                Join us on Facebook
            </a>
            <a href="http://twitter.com/khanacademy" class="simple-button social-button">
                <img src="/images/social_twitter_box_blue_48.png" width=48 height=48 />
                Follow us on Twitter
            </a>
            <div class="clear"></div>
        </p>
        
        <h2>Join the conversation</h2>
        <p>
            Post a message to one of our Khan Academy public groups.  We don't have time to reply to every message ourselves, but we do read them and appreciate the feedback and suggestions.  There's an active community that's listening.  Please don't post any private or confidential information.
        </p>
        <ul>
            <li><a href="http://groups.google.com/group/khan-academy-outreach">Volunteer Outreach Group</a></li>
            <li><a href="http://groups.google.com/group/khan-academy-feature-requests/">Feature Suggestions</a></li>
            <li><a href="http://groups.google.com/group/khan-academy-comments">Khan Academy Discussions and Comments</a></li>
            <li><a href="/reportissue?type=Defect&issue_labels=">Report a Problem</a></li>
        </ul>
    </div>
    <div class="col2">
        <h2>Donate</h2>
        <p>
            <em>Help us create the world's totally free virtual school!</em> We believe 
            everyone in the world should have access to a high quality education, and 
            we are feverishly trying to do our part to make this a reality.
        </p>
        <p>
            If you think we're on to something, or Khan Academy has helped you 
            personally -- we would welcome any support you can provide. Help us 
            make a difference!
        </p>

        <p class="pulls"><a id="where-money-link" href="#">Where does my money go?</a></p>
        <div id="where-money" style="display:none;">
            <p>Your money supports our people and technology, and helps us:</p>
            <ul>
            <li>Keep the site running, totally free</li>
                <li>Create more high-quality content, in more languages</li>
                <li>Develop interactive assessment exercises, to complement the video library</li>
                <li>Improve our website and create the best free, online educational experience possible </li>
                <li>Support efforts to use our technology in schools around the world</li>
                <li>Explore other ideas we have on the future of education and how 
                we think learning should be done!</li>
            </ul>
        </div>
        <script>$("#where-money-link").click(function(){$("#where-money").slideDown("fast"); return false;});</script>

        <p class="pulled" style="font-family: Georgia, serif; font-size: 13px; margin-bottom: 18px;">
            <em>We are a nonprofit (Tax ID: 26-1544963), and are totally reliant on donations 
            like yours to keep us running. Your gifts are tax-deductible where applicable.</em>
        </p>
        <div class="col1" style="max-width: 45%; min-width: 45%;">
            <h4>Make a one-time donation</h4>
            <p>
                <a class="google-analytics-link-track" onclick="_gaq.push(['_trackEvent', 'Click', 'Donate-Link-Paypal']);" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2439291" >
                    <img src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif">
                </a>
            </p>
        </div>
        <div class="col2" style="text-align: left;">
            <h4>Make a recurring donation</h4>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="recurring-donations">
                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                <input type="hidden" name="business" value="JBBC7SGTYUGK2">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="Recurring donation to Khan Academy">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="no_shipping" value="2">
                <input type="hidden" name="src" value="1">
                <input type="hidden" name="p3" value="1">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
                <input type="hidden" name="return" value="http://www.khanacademy.org">
                <p>
                    I want to donate $<input type="text" name="a3" value="25" maxlength="30" style="width:45px;margin-left:2px;"> once a
                    <nobr>
                    <select name="t3" id="time-frame-select">
                    	<option value="W" data-plural="weeks">week</option>
                    	<option value="M" data-plural="months" selected>month</option>
                    	<option value="Y" data-plural="years">year</option>
                    </select>
                    for
                    <select name="srt">
                         <option value="2">2</option>
                         <option value="3">3</option>
                         <option value="4">4</option>
                         <option value="5">5</option>
                         <option value="6">6</option>
                         <option value="7">7</option>
                         <option value="8">8</option>
                         <option value="9">9</option>
                         <option value="10">10</option>
                         <option value="11">11</option>
                         <option value="12" selected>12</option>
                         <option value="24">24</option>
                         <option value="36">36</option>
                         <option value="0">Never End</option>
                     </select>
                     <span id="selected-time-frame">months</span>.</nobr>
                </p>
                <input id="recurring-donations-submit" type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                 <img src="/images/throbber.gif" class="throbber" style="display:none;" />
                 <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
             </form>
             <script>
                 $("#time-frame-select").change(function() {
                     $("#selected-time-frame").html($("option:selected", this).attr("data-plural"));
                 });
             </script>
        </div>
    </div>
    <div class="clear"></div>
    <hr>
    <div class="col1 sixty-forty">
        <div id="translation">
            <h1>Help translate our content into other languages!</h1>
            <p>
                Our mission is to provide a free, world-class education to anyone, anywhere. With that said, Sal only speaks English
                (and very barely passable Bengali). With your help, we might be able to reach the 5.6 billion people who speak other
                languages. Let's translate the Khan Academy into all of the world's languages!
            </p>
            <p>
                If you feel that you are capable of dubbing a video or even re-doing videos in a non-English language, here's a
                chance to become a hero and minor celebrity to your people. Millions of people could be learning from you across
                the globe. More importantly, it is a tangible opportunity to leverage your skills and talents to seriously change the
                world in a very good way. For all we know, students 25 years from now may be learning negative numbers from
                YOU!
            </p>
            <h2>Count me in!  What should I do?</h2>
            <p>
                Do you enjoy teaching? Then you are probably as excited about this as we think you should be. If you can convey
                that energy and passion in your voice as you reach hundreds of millions of students we want to join forces with you.
                The best way to move forward would be if you were to dub or re-do the videos for the subject(s) you want to be
                considered for and upload them to someplace (like YouTube or Vimeo):
            </p>
            <ul>
                <li><A href="http://www.khanacademy.org/video/algebra--solving-inequalities">Mathematics:Solving Inequalities</A></li>
            
                <li><A href=" http://www.khanacademy.org/video/introduction-to-the-atom">Chemistry:Introduction to the Atom</A></li>
                <li><A href="http://www.khanacademy.org/video/newton-s-third-law-of-motion">Physics:Newton's Third Law of Motion</A></li>
            
                <li><A href="http://www.khanacademy.org/video/introduction-to-evolution-and-natural-selection">Biology: Introduction to Evolution and Natural Selection</A></li>
            
            </ul>
            <p>
                Then email the link to <b><a href="mailto:translations@khanacademy.org">translations@khanacademy.org</a></b>. In your email, 
                include a bit about your background (education,
                occupation, etc.) and your sense of how many videos you could do and how long you think it would take. If you are a
                good fit, we'll coordinate with you on how best to move forward!
            </p>
            <p>
                If you have any questions about translations or would like to connect with and share any information that might help
                others, please visit the Khan Academy <a href="http://sites.google.com/a/khanacademy.org/forge/for-translators">Forge page for translators</a> 
                and join <a href="http://groups.google.com/a/khanacademy.org/group/translators-discuss/topics">the discussion group</a>.
            </p>
            <p>
                We look forward to educating the world with you!
            </p>
        </div>
    </div>
    <div class="col2 sixty-forty">
        <iframe align=right src="http://www.facebook.com/plugins/likebox.php?id=159403248441&amp;width=312&amp;connections=10&amp;stream=false&amp;header=true&amp;height=290" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:290px; margin-bottom: 18px;" allowTransparency="true"></iframe>
        <iframe id="meetup" src="http://www.meetup.com/everywhere/widget2/khanacademy/?width=275&height=290&usetheme=1" border="0" frameborder="0" height="290" width="100%"></iframe>
    </div>
    <div class="clear"></div>
    <hr>
    <div style="text-align:center; padding-bottom: 18px;"><p>The Khan Academy has also received the time, energy, and expertise of many <a href="/contribute/credits">volunteers and part-time contributors</a>.</p></div>
</div>
{% endblock pagecontent %}
{% block pagefooter %}
{% include "page_footer_short.html" %}
{% endblock %}
