{% extends "multiple_choice_template.html" %}

{% block maincell %}
<script src="/javascript/exercises/derivatives.js?{{App.version}}"></script>
<script src="/javascript/exercises/derivative_intuition_1.js?{{App.version}}"></script>

<script>
    var exercise = new DerivativeIntuitionExercise();
    
    $(document).ready(function() {
       $("#check-answer-button").hide(); 
    })
    
</script>

{% endblock maincell %}

{% block answerarea %}
<div style="float: left;">
    <div style="float: left;">
        <input type="button" class="button" value="&laquo;" onClick="exercise.moveFirst(-0.25)" style="text-align: center">
    </div>
    <div style="float: left; padding-top: 12px; padding-left: 10px">
        <span style="font-size: 60px; font-weight: 900; color: yellow;">&#183;</span>
    </div>
    <div style="float: left; padding-left: 10px">
        <input type="button" class="button" value="&raquo;" onClick="exercise.moveFirst(0.25)">
    </div>

    <div style="clear: both;"></div>

    <div style="float: left;">
        <input type="button" class="button" value="&laquo;" onClick="exercise.moveSecond(-0.25)" style="text-align: center">
    </div>
    <div style="float: left; padding-top: 12px; padding-left: 10px">
        <span style="font-size: 60px; font-weight: 900; color: red;">&#183;</span>
    </div>
    <div style="float: left; padding-left: 10px">
        <input type="button" class="button" value="&raquo;" onClick="exercise.moveSecond(0.25)">
    </div>
</div>

<div style="clear: both;"></div>

{% endblock answerarea %}

