{% extends "multiple_choice_template.html" %}

{% block maincode %}
<script src="/javascript/exercises/direct_and_inverse_variation.js?{{App.version}}"></script>
<script language=Javascript1.2><!--
//Direct and Inverse Variation
//Author: Eric Berger
//Date: 1/27/2011
//
//Problem structure: Make a statement (either A and B vary directly or A and B vary inversely), and ask students
//to identify the equation which satisfies this constraint.

ExerciseDirectAndInverseVariation.init();
-->
</script>

{% endblock maincode %}
