{% extends "adding_and_subtracting_fractions.html" %}
{% block maincode %}
<script language=Javascript1.2><!--

var num1 = get_random();
var num2 = get_random();
var den1 = Math.abs(get_random());
var den2 = Math.abs(get_random());

while (Math.abs(num1)==Math.abs(den1))
	den1 = Math.abs(get_random());

while (Math.abs(num2)==Math.abs(den2))
	den2 = Math.abs(get_random());



//-->
</script>
{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--
write_equation(format_not_reduced(num1,den1)+' &#247; '+format_not_reduced(den2,num2)+'= ?');

write_step(
		equation_string(format_not_reduced(num1,den1)+
		'&#247;'+
		format_not_reduced(den2,num2)+
		'='+
		format_not_reduced(num1,den1)+
		'&#215;'+
		format_not_reduced(num2,den2)
		) , 1);
write_step(
		equation_string(format_not_reduced(num1,den1)+
		'&#215;'+
		format_not_reduced(num2,den2)+
		'= ('+
		num1+
		'&#215;'+
		num2+
		' )/( '+
		den1+
		'&#215;'+
		den2+
		')'
		) , 2);

write_step(
		equation_string('('+
		num1+
		' * '+
		num2+
		' )/( '+
		den1+
		'&#215;'+
		den2+
		') = ('+
		(num1*num2)+
		') / ('+
		(den1*den2)+
		' )'
		) , 3);

if (getGCD(Math.abs(num1*num2), Math.abs(den1*den2))>1)
{
	write_step(
			equation_string('('+
			(num1*num2)+
			') / ('+
			(den1*den2)+
			' ) ='+
			format_fraction(num1*num2,den1*den2)
			) , 4);
}

var com_den = getLCM(den1, den2);

setCorrectAnswer(format_fraction(num1*num2,den1*den2));

addWrongChoice(format_fraction(num1+num2,den1+den2));
addWrongChoice(format_fraction(num1*num2,den1+den2));
addWrongChoice(format_fraction(-1*num1+num2,den1+den2));
addWrongChoice(format_fraction(-1*num1*num2,com_den));
addWrongChoice(format_fraction(num1-num2, getRandomIntRange(2,20)));

if (den2!=num2)
{
	addWrongChoice(format_fraction(-1*num1*den2,num2*den1));
	addWrongChoice(format_fraction(num1*den2,num2*den1));
}
addWrongChoice(format_fraction(-1*num1*num2,den1*den2));



//-->
</script>

{% endblock maincell %}

