{% extends arithmetic_template %}
{% block maincode %}
<div id="raphael_container"></div>

<script language=Javascript1.2><!--
RaphaelWrapper.init(400, 600);
var term1 = 0;
var term2 = 0;
var term1color = getNextColor();
var term2color = getNextColor();

var hintsGiven = 0;
var xSpacing =65;
var ySpacing = 60;
var xMax = 400;
var xMin = 0;
var yMax = 600;
var yMin = 0;
var leftMargin = 50;
var standardSize = 75;
var smallSize = 17;
var numLineY = 450;
var circleXPos = leftMargin/2;
var circleYPos = numLineY;
var circleCount = 1;
var radius = 15;
var circleXGap = 10;
var circleYGap = 5;

//This is the comparison function that makes sure that current random entries haven't been given recently
var eFunction = function()
{
	term1 = getRandomInt(9)+1;
	term2 = getRandomInt(9);
}


//This is the comparison function that makes sure that current random entries haven't been given recently
var cFunction = function(history)
{
	return (history.indexOf(term1+';'+term2)!=-1);
}

//This function defines what an entry in the history should look like
var tFunction = function()
{
	return (term1+';'+term2);
}

//This checks the history and regenerates random numbers if the current ones have already been used recently 
checkHistory(cFunction, eFunction, tFunction, 20);

function graph_update()
{
	present.initPicture(xMin,xMax,yMin);
	present.fontfill = nColor;
	present.fontsize = standardSize;
	present.fontweight = "normal";
	
	present.fontfamily = "Arial";
	present.fontstyle = "normal";
	present.text([leftMargin,500], term1*term2, above, 'term1');
	present.text([leftMargin+xSpacing,500], '-', above);
	present.text([leftMargin+xSpacing,500], ':', above);
	present.text([leftMargin+2*xSpacing,500], term1, above, 'term2');
	present.text([leftMargin+3*xSpacing,500], '=', above);
	present.text([leftMargin+4*xSpacing,500], '?', above, 'quot');
	setCorrectAnswer(term2);;
}

function drawCircles(num, color)
{
	present.strokewidth=3;
	present.stroke=color;
	present.fontfill=color;
	
	for(var i=0; i<num; i++)
	{
		present.circle([circleXPos,circleYPos], radius);

		present.fontsize = smallSize;
		present.text([circleXPos, circleYPos-18], circleCount++, above);
		present.fontsize = standardSize;

		circleYPos-= (2*radius)+circleYGap;
	}
	circleXPos+= (2*radius)+circleXGap;
	circleYPos = numLineY;
}



function next_step()
{
	if (hintsGiven==0)
	{
		present.fontfill = term1color;
		present.text([leftMargin,500], term1*term2, above, 'term1');
		for(var i=0; i<term1; i++)
			drawCircles(term2, term1color);
	}
	else if (hintsGiven==1)
	{
		present.fontfill = term2color;
		present.text([leftMargin+2*xSpacing,500], term1, above, 'term2');
		xPos = leftMargin/2+radius+circleXGap/2;
		
		for(var i=0; i<(term1-1); i++)
		{
			present.stroke = term2color;
			present.line([xPos, numLineY+radius*2], [xPos, numLineY-(term2*2*radius+circleYGap)-radius]);
			xPos+=2*radius+circleXGap;
		
		}
	
	
	}
	else
	{
		present.fontfill = getNextColor();;
		present.text([leftMargin+4*xSpacing,500], correctAnswer, above, 'quot');
	}
	hintsGiven++;
	Exercise.steps_given++;
}

graph_update();
//-->
</script>
{% endblock maincode %}
