{% extends arithmetic_template %}
{% block maincode %}
<div id="raphael_container"></div>

<script language=Javascript1.2><!--
RaphaelWrapper.init(400, 500);
var counter = 0;
var selectedArray = new Array();
var answer = 0; 
var divisor = Math.round(KhanAcademy.random()*8)+1;
var quotient = Math.round(KhanAcademy.random()*90)+9;
var dividend = divisor* quotient;
var temp_divisor = divisor;
var temp_quotient = quotient;
var temp_dividend = dividend;
var divisorDigits = new Array();
var quotientDigits = new Array();
var dividendDigits = new Array();
var divisorIDs = new Array();
var quotientIDs = new Array();
var curQuotientID = null;
var curProductID = null;
var curDifferenceID = null;
var oldDifferenceID = null;
var curDropDownID = null;
var curDropDown = null;
var dividendIDs = new Array();
var xSpacing =30;
var ySpacing = 55;
var xMax = 400;
var xMin = 0;
var yMax = 200;
var yMin = 0;
var standardFontSize = 50;


var digits = {};
var totalRows = Math.floor(455/ySpacing);
var totalCols = divisorDigits.length+dividendDigits.length;
var mainRow = totalRows-2;
var expRow = totalRows;
var quotientRow = totalRows-1;
var curRow = mainRow-1;
var curCol = 0;
var nColor = "#777777"; //Stands for "normal" color
var hColors = ['#D9A326', '#E8887D', '#9CC9B7', '#AE9CC9', '#EAADEA', '#CD8C95', '#EE8262', '#FBA16C', '#DEB887','#CFD784'];
var curColor = 0;
var curDigit = 1;
var curDividend = null;
var curQuotient = null;
var curDividendColor = null;
var curQuotientColor = null;
var curProductColor = null;
var curDropDownColor = null;
var differenceColor = null;
var divisorColor = null;

while(temp_quotient>0)
{
	quotientDigits.push(temp_quotient%10);
	temp_quotient = Math.floor(temp_quotient/10);
}

while(temp_dividend>0)
{
	dividendDigits.push(temp_dividend%10);
	createEntry(mainRow, dividendDigits.length, temp_dividend%10);
	dividendIDs.push(mainRow+'_'+dividendDigits.length);
	temp_dividend = Math.floor(temp_dividend/10);
}

while(temp_divisor>0)
{
	divisorDigits.push(temp_divisor%10);
	createEntry(mainRow, dividendDigits.length+divisorDigits.length, temp_divisor%10);
	divisorIDs.push(mainRow+'_'+ (dividendDigits.length+divisorDigits.length));
	temp_divisor = Math.floor(temp_divisor/10);
}





function getCoor(row, col)
{
	var x = xMax-col*(xSpacing+1);
	
	if (col>dividendDigits.length)
		x-=10;

	return [x, yMin+row*ySpacing];
}

function createEntry(row, col, value)
{
	if (digits[row+'_'+col]==null)
		digits[row+'_'+col] = {row: row, col: col, val: value, color: getNextColor()};
}

function getNextColor()
{

	curColor=(curColor+1)%hColors.length;
	return hColors[curColor];

}




var explanationTerms = new Array();
var termsDrawnLastTime =0;
function drawExplanation()
{
	var curX = 5+xSpacing/2;
	var curY = getCoor(expRow,0)[1];
	for(var i=0; i<explanationTerms.length; i++)
	{
		var t = explanationTerms[i][0];
		var id = explanationTerms[i][1];
		present.fontfill = nColor;
		present.text([curX,curY], t, above, 'expText'+i);
		present.fontfill = digits[id].color;
		curX += xSpacing;
		present.text([curX,curY], digits[id].val+'', above, 'expNum'+i);
	}
	
	if(explanationTerms.length<termsDrawnLastTime)
	{
		for(var i=explanationTerms.length; i<termsDrawnLastTime; i++)
		{
			present.text([0,0],'', above, 'expText'+i);
			present.text([0,0], '', above, 'expNum'+i);
		}
	}
	
	termsDrawnLastTime = explanationTerms;
}



function drawDigit(row,col, color)
{
	var id = row+'_'+col;
	if(digits[id]!=null)
	{
		present.fontstyle="bold";
		present.fontfamily="Arial";
		present.fontsize=standardFontSize;
		
		if (color==null)
		{
			present.fontfill = nColor;
		}
		else
		{
			present.fontfill=digits[id].color;
			selectedArray.push([row,col]);
		}
		
		digitDraw(id);
		
	}
	return id;
}

function digitDraw(id)
{
	if(digits[id].val<10)
			present.text(getCoor(digits[id].row,digits[id].col) , digits[id].val+'',above, id);
	else
	{
		var xShift = 0;
		var tempVal = digits[id].val;
		var digit=0;
		while(tempVal>0)
		{
			var d = tempVal%10;
			var coor = getCoor(digits[id].row,digits[id].col);
			var x= coor[0];
			var y= coor[1];
			present.text([x-xShift,y] , d+'',above, id+digit++);
			tempVal = Math.floor(tempVal/10);
			xShift+=xSpacing;
		}	
	}
}

function changeColor(id, color)
{
	present.fontfill=color;
	present.fontsize=standardFontSize;
	digitDraw(id);
}

function changeDivisorColor(color)
{
	for(var i=0; i<divisorIDs.length; i++)
		changeColor(divisorIDs[i], color);
}





function uncolorNumbers()
{
	for(var i=0; i<selectedArray.length; i++)
		drawDigit(selectedArray[i][0], selectedArray[i][1]);
}
function graph_update()
{
	present.initPicture(xMin,xMax,yMin);
	var c = getCoor(quotientRow, dividendDigits.length)
	present.line([c[0]-xSpacing/2-5, c[1]+15],[xMax,getCoor(quotientRow, 0)[1]+15] ); 
	present.line([c[0]-xSpacing/2-5, c[1]+15],[c[0]-xSpacing/2-5,getCoor(quotientRow-1, 0)[1]+15] );
	for(x in digits)
		drawDigit(digits[x].row, digits[x].col);
	setCorrectAnswer(quotient);
}





function getValue(row, col)
{
	if (digits[row+'_'+col]!=null)
		return digits[row+'_'+col].val;
	else
		return 0;
}


function setValue(row, col, value)
{
	if(digits[row+'_'+col]!=null)
		digits[row+'_'+col].val = value;
}

var drewZero = false;
var toCrossOut = new Array();  //These are carried digits that need to crossed out before moving on
var divided = false;  //Set to true after quotient is divided into curDividend
var multiplied = false; //Set to true after curQuotient is multipled by the divisor
var subtraction = false; //Set to true after the product is subtracted from curDividend
var dropDown = false; //This is true after the next digit from the dividend has been brought down creating the new curDividend
var difference = 0;
var product = 0;
var curProductRow = 1;
var highestTerm = 0;
var curTerm =0;
var smallXspacing = 13.5;
var smallFontSize = 25;
var curX = 5+xSpacing/2;
var curY = getCoor(expRow,0)[1];

function clearExp()
{
	for(var i=0; i<=curTerm; i++)
		present.text([0,0], '',above,'term'+i);
	curTerm=0;
	curX = 5+xSpacing/2;
}

function writeExp(expression , color)
{
	expression=expression+'';
	present.fontsize = smallFontSize;
	present.fontfill = color;
	curX += expression.length/2*smallXspacing;
	//alert(curX);
	curTerm++;
	present.text([curX,curY], expression+'', above, 'term'+curTerm);
	curX += expression.length/2*smallXspacing;
}

var justStarting = false;
function next_step()
{
	//uncolorNumbers();
	explanationTerms = [];
	Exercise.steps_given++;
	if(divided==false) 
	{
		
		if(curDividend==null)  //We're just getting started
		{
			justStarting = true;
			curDividend = dividendDigits[dividendDigits.length-curDigit];
			while (divisor>curDividend)
			{
				//alert([divisor,curDividend]);
				curDigit++;
				curDividend = curDividend*10+dividendDigits[dividendDigits.length-curDigit];
			}
			//alert([divisor,curDividend]);
		}
		else
		{
			justStarting = false;
			changeColor(dividendIDs[dividendIDs.length-curDigit],nColor);
		}
		
		curQuotient = Math.floor(curDividend/divisor);
		
		//Draw out the quotient
		createEntry(quotientRow, dividendDigits.length-curDigit+1, curQuotient);
		curQuotientID = drawDigit(quotientRow, dividendDigits.length-curDigit+1,true);
		curQuotientColor = digits[curQuotientID].color;
		
		//Write out that 'Divisor goes into dividend quotient times
		//alert(digits[divisorIDs[0]].color);
		divisorColor = digits[divisorIDs[0]].color;
		
		
		changeDivisorColor(divisorColor);
		clearExp();
		writeExp(divisor+'',divisorColor);
		writeExp(' goes into', nColor);
		
		
		if (justStarting)
		{
			curDividendColor = getNextColor();
			for(var i=0; i<curDigit; i++)
				changeColor(dividendIDs[dividendIDs.length-1-i], curDividendColor);
			writeExp(curDividend+' ',curDividendColor);	
		}
		else
		{
			writeExp(difference,differenceColor);
			writeExp(curDropDown,curDropDownColor);
		}
		
		
		writeExp(' ', nColor);
		writeExp(curQuotient+'', curQuotientColor);
		writeExp(' times', nColor);

		divided=true;
	}
	else if (multiplied==false)
	{
		clearExp();
		product = divisor*curQuotient;
		createEntry(mainRow-curProductRow, dividendDigits.length-curDigit+1, product);
		curProductID = drawDigit(mainRow-curProductRow, dividendDigits.length-curDigit+1,true);
		curProductColor = digits[curProductID].color;
		writeExp(curQuotient, curQuotientColor);
		writeExp(' x ', nColor);
		writeExp(divisor, divisorColor);
		writeExp(' = ', nColor);
		writeExp(product, curProductColor);
		if (justStarting)
		{
			for(var i=0; i<curDigit; i++)
				changeColor(dividendIDs[dividendIDs.length-1-i], nColor);
		}
		else
		{
			changeColor(curDifferenceID, nColor);
			changeColor(curDropDownID, nColor);
		}
		multiplied=true;
		curProductRow++;
	}
	else if (subtraction==false)
	{
		clearExp();
		if (justStarting)
		{
			for(var i=0; i<curDigit; i++)
				changeColor(dividendIDs[dividendIDs.length-1-i], curDividendColor);
		}
		else
		{
			changeColor(curDifferenceID,curDropDownColor);
			changeColor(curDropDownID, curDropDownColor);
			curDividendColor = curDropDownColor;
			oldDifferenceID = curDifferenceID;
		
		}
		difference = curDividend - product;
		createEntry(mainRow-curProductRow, dividendDigits.length-curDigit+1, difference);
		curDifferenceID = drawDigit(mainRow-curProductRow, dividendDigits.length-curDigit+1,true);
		differenceColor = digits[curDifferenceID].color;
		var p1 = getCoor(mainRow-curProductRow+1,dividendDigits.length-curDigit);
		var p2 = getCoor(mainRow-curProductRow+1,dividendDigits.length-curDigit+1+divisorDigits.length);
		p1[1] = p1[1]+12;
		p2[1] = p2[1]+12;
		
		p1[0] = p1[0]-xSpacing/2;
		p2[0] = p2[0]-xSpacing/2;
		present.marker = "none";
		present.stroke = nColor;
		present.fontfill = nColor;
		present.line(p1,p2);
		p2[0] = p2[0]-xSpacing/2;
		present.text(p2,'-', above);
		writeExp(curDividend,curDividendColor);
		writeExp(' - ', nColor);
		writeExp(product, curProductColor);
		writeExp(' = ', nColor);
		writeExp(difference, differenceColor);
		
		changeColor(curQuotientID, nColor);
		changeDivisorColor(nColor);
		
		subtraction=true;
	}
	else //if (dropDown==false)
	{
		clearExp();
		if (justStarting)
		{
			for(var i=0; i<curDigit; i++)
				changeColor(dividendIDs[dividendIDs.length-1-i], nColor);
		}
		else
		{
			changeColor(oldDifferenceID, nColor);
			changeColor(curDropDownID, nColor);
		}
		curDigit++;
		curDividend = difference*10+dividendDigits[dividendDigits.length-curDigit];
		createEntry(mainRow-curProductRow, dividendDigits.length-curDigit+1, dividendDigits[dividendDigits.length-curDigit]);
		curDropDownID = drawDigit(mainRow-curProductRow, dividendDigits.length-curDigit+1,true);
		curDropDown = digits[curDropDownID].val;
		curDropDownColor = digits[curDropDownID].color;
		changeColor(dividendIDs[dividendIDs.length-curDigit], curDropDownColor);
		writeExp('Bring down the ', nColor);
		writeExp(curDropDown, curDropDownColor);
		present.marker="arrow";
		present.stroke = nColor;
		present.line(getCoor(mainRow,dividendDigits.length-curDigit+1),getCoor(mainRow-curProductRow+1,dividendDigits.length-curDigit+1)); 
		changeColor(curProductID, nColor);
		
		curProductRow++;
		divided=false;
		multiplied=false;
		subtraction=false;

	}
	drawExplanation();	
	
}

graph_update();
//-->
</script>
{% endblock maincode %}
  
