{% extends "page_template.html" %}
{% block pagescript %}
<style>
	p { margin-bottom: 1em; }
    dl { margin-left: 2em; }
    dt { 
        float: left;
        clear: left; 
        font-weight: bold;
        padding-right: 1ex;
    } 
    dt:after { content: ":"; } 
    dd {
        padding: 0 0 0.5em 1em;
    }
</style>
{% endblock pagescript %}
{% block pagetitle %}Donate{% endblock pagetitle %}
{% block pagecontent %}
<div id="donate">
    <p>
    <h1>Help us create the world's totally free virtual school</h1><p>
    We believe everyone in the world should have access to a high quality education, and we are feverishly
    trying to do our part to make this a reality.  
    <p>
    If you think we're on to something, or Khan Academy has helped you personally -- we would welcome any support 
    you can provide. Help us make a difference!

    <h1>Where does my money go?</h1><p>
    Your money supports our people and technology, and helps us:
    <ul>
	<li>Keep the site running, totally free</li>
    	<li>Create more high-quality content, in more languages</li>
    	<li>Develop interactive assessment exercises, to complement the video library</li>
    	<li>Improve our website and create the best free, online educational experience possible </li>
    	<li>Support efforts to use our technology in schools around the world</li>
    	<li>Explore other ideas we have on the future of education and how 
    	we think learning should be done!</li>
    </ul>
    We are a nonprofit (Tax ID: 26-1544963), and are totally reliant on donations like yours to keep us running. 
    Your gifts are tax-deductable.   
    <p>
    <h1>Donate now via PayPal</h1><p>
    <p>
    <b>Make a one-time donation</b><p>
    You can use your credit card directly if you don't have a PayPal account<p>
    <a class="google-analytics-link-track" onclick="_gaq.push(['_trackEvent', 'Click', 'Donate-Link-Paypal']);" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2439291" >
    <img src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif">
    </a>
    <p>
        
    <b>Or set up a recurring donation</b>
    <p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="recurring-donations">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="JBBC7SGTYUGK2">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="Recurring donation to Khan Academy">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="no_shipping" value="2">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="p3" value="1">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
    <input type="hidden" name="return" value="http://www.khanacademy.org">
    <table>
    <tr><td>Recurring frequency</td></tr><tr><td><select name="t3">
	<option value="W">Weekly </option>
	<option value="M" selected>Monthly </option>
	<option value="Y">Yearly </option>
     </select> </td></tr>
     <tr><td>Number of times to recur? (including this payment)</td></tr><tr><td><select name="srt">
     <option value="2">2</option>
     <option value="3">3</option>
     <option value="4">4</option>
     <option value="5">5</option>
     <option value="6">6</option>
     <option value="7">7</option>
     <option value="8">8</option>
     <option value="9">9</option>
     <option value="10">10</option>
     <option value="11">11</option>
     <option value="12" selected>12</option>
     <option value="24">24</option>
     <option value="36">36</option>
     <option value="0">Never End</option>

     </select> </td></tr>

     <tr><td>Donation amount ($USD)</td></tr><tr><td><input type="text" name="a3" value="25" maxlength="60"></td></tr>
     </table>
     <input id="recurring-donations-submit" type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
     <img src="/images/throbber.gif" class="throbber" style="display:none;" />
     <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
     </form>

    <script>
        // From http://stackoverflow.com/questions/4086587/track-event-in-google-analytics-upon-clicking-form-submit
        $('#recurring-donations').submit(function(e) {
            var form = this;
            e.preventDefault(); // disable the default submit action

            _gaq.push('_trackEvent', 'Click', 'Donate-Recurring-Paypal');

            $("#recurring-donations-submit").attr("disabled", true);
            $(".throbber", this).show();

            setTimeout(function() { // after 1 second, submit the form
                form.submit();
            }, 1000);
        });
    </script>

    
    
    <p><i>Thanks for your support!</i></p>
</div>
{% endblock pagecontent %}
