{% extends "about_template.html" %}
{% block pagetitle %}Downloads{% endblock pagetitle %}
{% block aboutcontent %}
<ul>
	<li><A href="#offline"><span>Offline Server</span></a></li>
	<li><A href="#store"><span>DVD Store</span></a></li>
	<li><A href="#other"><span>Other Sources</span></a></li>
</ul>

<div id="offline">
<p>For an offline capable version of the site for Windows, visit the
<a href="http://code.google.com/p/khanacademy/downloads/list">download page.</a>
Unzip it and click on run.bat, which will start up the server and load the
local version of the Khan Academy homepage in your browser. All the exercises
should work at this point.</p>

<p>Next go to the download_scripts directory and click on the playlist(s) you want to download
(download_ALL.bat will get everything).  When you're done, the videos you've downloaded
will work when you click on them in the browser.</p>

<p>Once you've downloaded your playlists, feel free to <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
distribute</a> them, as long as it's not done on a for-profit basis.  You could burn a DVD or USB stick and send it to
someone without internet access, or order the equivalent from our <a href="#store">store</a>.
</p>
</div>

<div id="store">
<p>If someone you know has a computer running Windows and a DVD drive, but no internet access, they can still use
the Khan Academy offline videos and exercises on DVD.  This is the same as you can download <a href="">here</a>
but can be helpful if your internet connection is slow, you don't know how to burn a DVD, or you would just like
someone to do the downloading/burning/mailing for you.</p>

<p>To help us gauge interest in this, please send an email to
<a href="mailto:khan-academy-comments@googlegroups.com">khan-academy-comments@googlegroups.com</a> telling us which
DVD you would like to purchase.  The prices will probably be around $10 per DVD, or the 7 DVD set for $24. That
should be around our breakeven point for burning and mailing them, but if it's off we'll adjust the price to
make it that way.</p>

Math DVD
<ul>
<li>Arithmetic</li>
<li>Pre-algebra</li>
<li>Algebra</li>
<li>Geometry</li>
<li>Trigonometry</li>
<li>Probablility</li>
<li>Statistics</li>
<li>Pre-Calculus</li>
</ul>

Advanced Math DVD
<ul>
<li>Calculus</li>
<li>Differential Equations</li>
<li>Linear Algebra</li>
</ul>

Math Worked Examples DVD
<ul>
<li>Developmental Math</li>
<li>MA Tests for Education Licensure (MTEL) -Pre-Alg</li>
<li>Algebra I Worked Examples</li>
<li>ck12.org Algebra 1 Examples</li>
<li>California Standards Test: Algebra I</li>
<li>California Standards Test: Algebra II</li>
<li>California Standards Test: Geometry</li>
<li>Singapore Math</li>
</ul>

Science DVD
<ul>
<li>Cosmology and Astronomy</li>
<li>Biology</li>
<li>Physics</li>
</ul>

Chemistry DVD
<ul>
<li>Chemistry</li>
<li>Organic Chemistry</li>
</ul>

Finance DVD
<ul>
<li>Finance</li>
<li>Banking and Money</li>
<li>Valuation and Investing</li>
<li>Venture Capital and Capital Markets</li>
<li>Credit Crisis</li>
<li>Paulson Bailout</li>
<li>Geithner Plan</li>
<li>Current Economics</li>
<li>Currency</li>
</ul>

Test Prep DVD
<ul>
<li>SAT Preparation</li>
<li>GMAT Data Sufficiency</li>
<li>GMAT Problem Solving</li>
<li>CAHSEE Example Problems</li>
</ul>
</div>


<div id="other">
<p>Here are some other sources for downloading Khan Academy videos.</p>
<p><strong>Note: we have little or no experience with most of these,
so they aren't officially supported.</strong></p>
<ul>
<li><a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewiTunesUInstitution?id=391034778">
Khan Academy</a> on iTunes U.</li>
<li><a href="http://www.archive.org/details/KhanAcademy">Khan Academy on archive.org</a>
Compressed playlist packages in flv format, current as of July 2010. Individual videos in different
formats can be found using the following url template:
<a href="http://www.archive.org/details/KhanAcademy_Algebra">http://www.archive.org/details/KhanAcademy_{playlist name without spaces or colons}</a>
</li>
<li><a href="http://mujica.org/khan/">Khan Academy on a Stick</a>
Math and Science lectures from khanacademy.org, as available on September 2010.
</li>
<li><a href="http://www.curriki.org/xwiki/bin/view/Group_KhanAcademyMathGroup/Curriculum">Khan Academy on curriki</a>
</li>
<li><a href="http://itunes.apple.com/us/app/khan-academy-a-classroom-in/id361975619?mt=8">
Khan Academy: A Classroom In Your Pocket</a> by Irynsoft. An app for the ipod/iphone/ipad.</li>
<li><a href="http://khanacademy.googlecode.com/files/khanacademy.org%20-%20COMPLETE%20-%202010-12-10.torrent">
Torrent</a> of all videos as of 2010-12-10.  Download using <a href="http://www.bittorrent.com/">BitTorrent</a> for numbered videos.</li>
<li><a href="http://code.google.com/p/khanacademy/issues/detail?id=191">Downloadable Material issue</a>
on code.google.com.  Check here for updates.
</li>
</ul>
</div>

{% endblock aboutcontent %}

