{% extends "qbrary_page_template.html" %}
{% block pagetitle %}<B>{{mode_text}}</B>{% endblock pagetitle %}
{% block pagescript %}
<script language="JavaScript" type="text/javascript" src="/javascript/rte/richtext_compressed.js"></script>
<script type="text/javascript" src="/javascript/ckeditor/ckeditor.js"></script>
<script>
    function check_submit()
    {
        var foundError = false;

        if (check_field("answer_text") == false)
            foundError = true;
        if (check_field("hint_text") == false)
            foundError = true;

        var i;
        for (i = 5; i > 0; i--)
            if (check_field("incorrect_"+i) == false)
                foundError = true;
        if (check_field("correct_choice_text") == false)
            foundError = true;
        if (check_field("question_text") == false)
            foundError = true;
 
        return !foundError;
    }
    function check_field(fieldID)
    {
        var data = eval("CKEDITOR.instances."+fieldID+".getData()");
        if (data.trim() == "")
        {
            document.getElementById("incomplete_warning_div").style.visibility = "visible";
            eval("CKEDITOR.instances."+fieldID+".focus()");
            document.getElementById("cke_" + fieldID).style.backgroundColor = "red";
            return false;
        }
        else
        {
            document.getElementById("cke_" + fieldID).style.backgroundColor = "";
            return true;
        }
    }
</script>

{% endblock pagescript %}
    
{% block pagecontent %}
    <h2>{{ message_text }}</h2>
    <P>
	<center>
	<form name="mainform" action="/editquestion" method="post">
		<input type="hidden" name="question_key" value ="{{question.key}}">
		<table id="table_content">
		<tr>
			<td align=right valign=top><h3>Subject:</h3></td>
			<td align=left valign=top><h3>
			{% for b in breadcrumb %}
				{{ b.name }}:
			{% endfor %}
			{{ question.subject.name }}
			</h3></td>
			
		</tr>
		<tr>
			<td align=right valign=top><h3>Question:</h3></td>
			<td align=left>
				<textarea id="question_text" name="question_text">{{question.question_text}}</textarea>
			</td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Correct Answer:</h3></td>
			<td align=left>
				<textarea id="correct_choice_text" name="correct_choice_text">{{question.correct_choice_text}}</textarea>
			</td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Incorrect Choice 1:</h3></td>
			<td align=left>
				<textarea id="incorrect_1" name="incorrect_1">{{question.incorrect_1}}</textarea>
			</td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Incorrect Choice 2:</h3></td>
			<td align=left>
				<textarea id="incorrect_2" name="incorrect_2">{{question.incorrect_2}}</textarea>
			</td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Incorrect Choice 3:</h3></td>
			<td align=left>
				<textarea id="incorrect_3" name="incorrect_3">{{question.incorrect_3}}</textarea>
			</td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Incorrect Choice 4:</h3></td>
			<td align=left>
				<textarea id="incorrect_4" name="incorrect_4">{{question.incorrect_4}}</textarea>
			</td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Incorrect Choice 5:</h3></td>
			<td align=left>
				<textarea id="incorrect_5" name="incorrect_5">{{question.incorrect_5}}</textarea>
			</td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Hint:</h3></td>
			<td align=left>
				<textarea id="hint_text" name="hint_text">{{question.hint_text}}</textarea>
			</td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Explanation of answer:</h3></td>
			<td align=left>
				<textarea id="answer_text" name="answer_text">{{question.answer_text}}</textarea>
			</td>
		</tr>
		</table>
		<center>
		    <input type="submit" value="{{button_text}}" onclick="return check_submit();">
		    <div id="incomplete_warning_div" style="background-color: red; visibility: hidden">All fields are required</div>
		</center>
		<script>
			// Swap in CKEditors
			$("#table_content textarea").each(function() {
				CKEDITOR.replace(this.id,
					{
						toolbar :
						[[ 
							'Bold', 'Italic', 'Underline', '-', 
							'JustifyLeft', 'JustifyCenter', 'JustifyRight', '-',
							'HorizontalRule', 'NumberedList', 'BulletedList', '-', 
							'Outdent', 'Indent', '-',
							'Link', 'Image', 'Table', 'SpecialChar'
						], '/',
						[
							'Format', 'Font', 'FontSize', 'TextColor', 'BGColor'
						]],
						skin : 'kama',
						toolbarCanCollapse: false,
						removePlugins : 'elementspath',
						resize_minWidth: 300,
						width: 600,
						height: (this.id == "question_text" ? 300 : 100),
						scayt_autoStartup: false,
						disableNativeSpellChecker: false
					});
			});

			// After swapping in all CKEditors make sure we're scrolled to the top of the page
			document.body.scrollTop = 0;
		</script>
	</form>
	</center>
{% endblock pagecontent %}
