<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <script language="JavaScript" type="text/javascript" src="/javascript/richtext.js"></script>
    <script>
    function addQuestion(drop_down)
    {
    	var selected_subject = drop_down.selectedIndex;
	var subject_key = drop_down[selected_subject].value;
	window.location = "/pickquestiontopic?subject_key="+subject_key
    }
    
    function practiceQuestion(drop_down)
    {
    	var selected_subject = drop_down.selectedIndex;
	var subject_key = drop_down[selected_subject].value;
	window.location = "/pickquiztopic?subject_key="+subject_key
    }
    
    </script>
  </head>

  <body>
  <table width=100%>
  <tr>
  	<td valign=top align=left rowspan=2><A href="/"><img src="/images/logo.gif" width=150 height=100></A></td>
  	<td valign=top align=right><h4>{{greeting}}</H4>
	
	
	</td>
  </tr>
  <tr>
  	<td valign=center align=right> 
	<b>
	 <A href="/">Manage Questions</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	 <SELECT id="add_question" onchange="practiceQuestion(this)">
			<OPTION VALUE="0" SELECTED>Practice questions in...</OPTION>
			{% for subject in subjects %}
				<OPTION VALUE="{{ subject.key }}">{{subject.name}}</OPTION>
			{% endfor %}
	 </SELECT>
	 &nbsp;&nbsp;|&nbsp;&nbsp;
	 <SELECT id="add_question" onchange="addQuestion(this)">
			<OPTION VALUE="0" SELECTED>Add a question in...</OPTION>
				{% for subject in subjects %}
					<OPTION VALUE="{{ subject.key }}">{{subject.name}}</OPTION>
				{% endfor %}
	</SELECT>
	</b>
	
	</td>
  </tr>
  
  </table>
  <P>
 <table width=100% border=0 cellpadding=0 cellspacing=0>
  <tr>
    <td bgcolor=#003399><img width=1 height=1 alt=""></td>
  </tr>
</table><table width=100% border=0 cellpadding=2 cellspacing=0>
   <tr>
    <td bgcolor=#e5ecf9 align=left><B>{{mode_text}}</B></td>

  </tr>
</table>

  <body>
  
  <h2>{{ message_text }}</h2>
  	
  	
	<P>
	
	<center>
	<form name="mainform" action="/editquestion" method="get">
		<input type="hidden" name="question_key" value ="{{question.key}}">
		<table>
		<tr>
			<td align=right valign=top><h3>Subject:</h3></td>
			<td align=left valign=top><h3>
			{% for b in breadcrumb %}
				{{ b.name }}:
			{% endfor %}
			{{ question.subject.name }}
			</h3></td>
			
		</tr>
		<tr>
			<td align=right valign=top><h3>Question:</td><td align=left>
			<textarea name="question_text" cols="40" rows="4" wrap="on">{{question.question_text}}</textarea>
			<script language="JavaScript" type="text/javascript">
			<!--
			//Usage: writeRichText(fieldname, html, width, height, buttons, readOnly)
			writeRichText('question_text', '{{question.question_text}}', 400, 200, true, false);
			//-->
			</script>
			
			
			
			</td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Correct Answer:</h3></td><td align=left><input type="text" name="correct_choice_text"  size="53" value="{{question.correct_choice_text}}"></td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Incorrect Choice 1:</h3></td><td align=left><input type="text" name="incorrect_1" size="53" value="{{question.incorrect_1}}"></td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Incorrect Choice 2:</h3></td><td align=left><input type="text" name="incorrect_2"  size="53" value="{{question.incorrect_2}}"></td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Incorrect Choice 3:</h3></td><td align=left><input type="text" name="incorrect_3"  size="53" value="{{question.incorrect_3}}"></td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Incorrect Choice 4:</h3></td><td align=left><input type="text" name="incorrect_4"  size="53" value="{{question.incorrect_4}}"></td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Incorrect Choice 5:</h3></td><td align=left><input type="text" name="incorrect_5"  size="53"  value="{{question.incorrect_5}}"></td>
		</tr>
		<tr>
			<td align=right valign=top><h3>Explanation of answer:</h3></td><td align=left><textarea name="answer_text" cols="40" rows="6" wrap="on">{{question.answer_text}}</textarea></td>
		</tr>
		</table>
		<center><input type="submit" value="{{button_text}}"></center>
	</form>
	</center>
  </body>
</html>

