<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <H3>Edit Subject: {{ subject.name }}</h3>
  	{% for b in breadcrumb %}
		<A href="/editsubject?subject_key={{ b.key }}">{{ b.name }}</A>:
	{% endfor %}
	{{ subject.name }}
	<A href="/viewsubject?subject_key={{subject.key}}">View</A>
	<P>
  
    	<form action="/editsubject" method="get">
		<input type="hidden" name="subject_key" value = "{{ subject.key}}">
		Subject Name: <input type="text" name="subject_name" value= "{{ subject.name }}">
		<input type="submit" value="edit">
	</form>
	<form action="/editsubject" method="get">
		<input type="hidden" name="subject_key" value = "{{ subject.key}}">
		<input type="text" name="child_name">
		<input type="submit" value="Add Sub-Topic">
	</form>
	{% for entry in subtopics %}
			{{ entry.index }} {{ entry.name }}
                        <a href="/editsubject?subject_key={{ entry.key }}" >edit</a> | 
                        <a href="/deletesubject?subject_key={{ entry.key }}&redirect={{redirect_url}}" >delete</a>
			<br />
	{% endfor %}
	<P>
	{{ tree }}
  </body>
</html>

