{% extends "page_template.html" %}
{% block pagescript %}
  <script type="text/javascript">
  	function submitForm(value)
  	{
  		document.forms['addexercise'].submit();
  	}
  </script>
{% endblock pagescript %}

{% block pagecontent %}
  <div class=hdg><h3><A href="/admin94040">Edit Exercise</A>: <A href="/exercises?exid={{main_exercise.name}}">{{main_exercise.display_name}}</A></h3></div>
  Use this page to modify exercise dependencies and associations.

  <P>
  <B>Prerequisites</B> are exercise modules that the user should become proficient in before starting on this exercise.
    {% if main_exercise.summative %}
        <br/>&nbsp;&nbsp;&nbsp;
        <strong>NOTE: Summative exercises</strong> will generate problems from all prerequisite exercises.
    {% endif %}

  <P>
  <b>Covers</B> are exercise modules whose concepts are a subset of the concepts practiced in this module. For example,
  "Adding and Subtracting Fractions" makes a student practice negative and positive numbers so "Adding and
  Subtracting Negative and Positive Numbers" would be "covered" by it.
  <P>

  <div class=hdg><h3>Prerequisite and Covered Modules</h3></div>
  <table border=0 cellspacing=0 cellpadding=3 width=100%>
  <tr><td class="colHeadL" width=50%>Prerequisites</td><td class="colHeadL">Covers</td></tr>
  <tr><td>
  {% for prereq in main_exercise.prerequisites %}
  	{{prereq}}&nbsp;<A href="/updateexercise?name={{main_exercise.name}}&delete_prerequisite={{prereq}}">[delete]</A><P>
  {% endfor %}
  </td>
  <td>
  {% for sub_concept in main_exercise.covers %}
  	{{sub_concept}}&nbsp;<A href="/updateexercise?name={{main_exercise.name}}&delete_covers={{sub_concept}}">[delete]</A><P>
  {% endfor %}
  </td>
  </tr>
  </table>

  {% if not main_exercise.summative %}
  <P>&nbsp;<P>
   <div class=hdg><h3>Playlists and Videos</h3></div>
  <table border=0 cellspacing=0 cellpadding=3 width=100%>
  <tr><td class="colHeadL" width=50%>Playlists</td><td class="colHeadL">Videos</td></tr>
  <tr><td>
  {% for exercise_playlist in exercise_playlists %}
  	{{ exercise_playlist.playlist.title }}&nbsp;<A href="/updateexercise?name={{main_exercise.name}}&delete_playlist={{exercise_playlist.playlist.key}}">[delete]</A><P>
  {% endfor %}
  </td>
  <td>
  {% for exercise_video in exercise_videos %}
  	{{ exercise_video.video.title }}&nbsp;<A href="/updateexercise?name={{main_exercise.name}}&delete_video={{exercise_video.video.key}}">[delete]</A><P>
  {% endfor %}
  </td>
  </tr>
  </table>
  <P>&nbsp;<P>
  {% endif %}

<div class=hdg><h3>All Exercises</h3></div>
<table border=0 cellspacing=0 width=100%>
<TR class="highlightWhited">
{% for exercise in exercises %}
<td width=50%><A href="/exercises?exid={{exercise.name}}">{{exercise.display_name}}</A>
    <A href="/updateexercise?name={{main_exercise.name}}&add_prerequisite={{exercise.name}}">[prerequisite]</A>
    <A href="/updateexercise?name={{main_exercise.name}}&add_covers={{exercise.name}}">[subconcept]</A>
    </td>
	{% if forloop.counter|divisibleby:2 %}
		</TR>
		{% if forloop.counter|divisibleby:4 %}
			<tr class="highlightWhite" >
		{% else %}
			<TR class="highlightGreyRelated">
		{% endif %}
	{% endif %}
{% endfor %}
</tr>
</table>
<P>&nbsp;<P>

{% if not main_exercise.summative %}
<div class=hdg><h3>All Playlists</h3></div>
<table border=0 cellspacing=0 width=100%>
<TR class="highlightWhited">
{% for playlist in all_playlists %}
<td width=50%>{{ playlist.title}}
    <A href="/updateexercise?name={{main_exercise.name}}&add_playlist={{playlist.key}}">[add playlist]</A>
    </td>
	{% if forloop.counter|divisibleby:2 %}
		</TR>
		{% if forloop.counter|divisibleby:4 %}
			<tr class="highlightWhite" >
		{% else %}
			<TR class="highlightGreyRelated">
		{% endif %}
	{% endif %}
{% endfor %}
</tr>
</table>
<P>&nbsp;<P>
<div class=hdg><h3>Potential Videos</h3></div>
<table border=0 cellspacing=0 width=100%>
<TR class="highlightWhited">
{% for video in videos %}
<td width=50%>{{video.title}}
    <A href="/updateexercise?name={{main_exercise.name}}&add_video={{video.key}}">[add video]</A>
    </td>
	{% if forloop.counter|divisibleby:2 %}
		</TR>
		{% if forloop.counter|divisibleby:4 %}
			<tr class="highlightWhite" >
		{% else %}
			<TR class="highlightGreyRelated">
		{% endif %}
	{% endif %}
{% endfor %}
</tr>
</table>
{% endif %}

<div class="hdg"><h3>Short Name</h3></div>
<div>
    <form method="POST" action="/updateexercise">
        <input type="hidden" name="name" value="{{main_exercise.name|escape}}"/>
        Short name (11 chars max): <input type="text" name="short_display_name" value="{{main_exercise.short_display_name|escape}}" maxlength="11"/><br/>
        <input type="submit" value="Update short name"/>
    </form>
</div>

<div class="hdg"><h3>Map Position</h3></div>
<div>
    <form method="POST" action="/updateexercise">
        <input type="hidden" name="name" value="{{main_exercise.name|escape}}"/>
        h_position: <input type="text" name="h_position" value="{{main_exercise.h_position}}"/><br/>
        v_position: <input type="text" name="v_position" value="{{main_exercise.v_position}}"/><br/>
        <input type="submit" value="Update map position"/>
    </form>
</div>

<div class="hdg"><h3>Badge Calculation Constants</h3></div>
<div>
    <form method="POST" action="/updateexercise">
        <input type="hidden" name="name" value="{{main_exercise.name|escape}}"/>
        seconds_per_fast_problem: <input type="text" name="seconds_per_fast_problem" value="{{main_exercise.seconds_per_fast_problem}}"/><br/>
        <input type="submit" value="Update badge calculation constants"/>
    </form>

{% endblock pagecontent %}
