{% extends "page_template.html" %}
{% block pagescript %}
  <script type="text/javascript">
  	function submitForm(value)
  	{
  		document.forms['addexercise'].submit();
  	}
  </script>
{% endblock pagescript %}

{% block pagemainmenu %}
	<span class="mainmenu"><A href="/">Exercises</A>&nbsp;&nbsp;|&nbsp;&nbsp;<A href="/viewexercisesonmap">Knowledge Map</A>&nbsp;</span>
{% endblock pagemainmenu %}

{% block pagecontent %}
<table border=0>
<tr><td>Exercise Key</td><td>Vertical Position</td><td>Horizontal Position</td></tr>
{% for exercise in exercises %}
<tr><td><A href="/editexercise?name={{exercise.name}}">{{exercise.display_name}}</a></td><td>{{exercise.v_position}}</td><td>{{exercise.h_position}}</td></tr>
{% endfor %}
</table>
 

<table width=100% border=0 cellpadding=0 cellspacing=0>
  <tr>

    <td bgcolor=#ffffff><img width=1 height=20 alt=""></td>
  </tr>
</table>



   <table width=100%><tr>
		<td valign="top">

			<form id="addexercise" action="/updateexercise" method="get">
				<INPUT type="text" name="name" size="40">
				<input type="text" name="v_position"  value="0" size='3'>
				<input type="text" name="h_position"  value="0" size='3'>
				<input type="button" value="Add Exercise" onClick="submitForm()"></div></br>
			</form>
			<script language=Javascript1.2><!--
				document.answerform.reset();
			//--></script>
		</td>
	</tr>
  </table>
{% endblock pagecontent %}

