{% extends "page_template.html" %}

{% block meta_page_title %}{{ exercise.display_name|escape }} | {% endblock meta_page_title %}

{% block pagescript %}

{% if renderable %}

    <style>#page_sub_nav {display: none;}</style>

    <script>var userExercise = {{ user_exercise_json }};</script>

    {% css_package "exercises" %}
    {% js_package "exercises" %}

    <script>{{ exercise_inline_script }}</script>
    <style>{{exercise_inline_style}}</style>

    {% else %}

    <style>
        #cannot-render { padding:0 9px; margin:0 1px; background: white; }
        #cannot-render p { margin-top: 0; }
    </style>

    {% endif %}

{% endblock pagescript %}

{% block pagecontent %}
<div id="container" class="single-exercise visited-no-recolor" style="overflow: hidden">
    {% if renderable %}

    {{ exercise_body_html }}
    {{ exercise_template_html }}

    {% else %}

        {% if browser_disabled %}

        <div id='browserwarning'>
            <p>
                You need to upgrade your browser to use Khan Academy's practice exercises.
            </p>
            <p>
                We suggest using
                <a href="http://www.google.com/chrome/">Chrome</a>,
                <a href="http://www.mozilla.com/">Firefox</a>,
                <a href="http://www.apple.com/safari/">Safari</a>, or
                <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">a recent version of Internet Explorer</a>.
            </p>
        </div>

        {% else %}

        <div id="cannot-render">
            <p>
                This specific problem from the past was created with a very old version of Khan Academy, and we're unable to show it to you. <strong>No progress has been lost.</strong> This inconvenience is restricted to very old problems, and it will not affect any current or future work.
            </p>
            <p>
                If you believe this is a mistake, please don't hesitate to <a href="/reportissue?type=Defect">let us know</a>.
            <p/>
        </div>

        {% endif %}

    {% endif %}
</div>
{% endblock pagecontent %}
