{% extends "page_template.html" %}

{% block pagetitle %}{{ exercise_name|escape }}{% endblock pagetitle %}

{% block pagescript %}
    <style>#page_sub_nav {display: none;}</style>
    <script src="/khan-exercises/khan-exercise.js"></script>
    <script>
        {{ exercise_inline_script }}
    </script>
{% endblock pagescript %}

{% block pagecontent %}
<div id="container" class="single-exercise visited-no-recolor" style="overflow: hidden">
    {{ exercise_body_html }}
    {{ exercise_template_html }}
</div>
{% endblock pagecontent %}
