{% extends "page_template.html" %}

{% block meta_page_title %}{{ exercise.display_name|escape }} | {% endblock meta_page_title %}

{% block pagescript %}
<style>#page_sub_nav {display: none;}</style>

<script>
    var userExercise = {{ user_exercise_json }};
</script>

<script src="/khan-exercises/khan-exercise.js"></script>

<script>
    {{ exercise_inline_script }}
</script>

{% endblock pagescript %}

{% block pagecontent %}
<div id="container" class="single-exercise visited-no-recolor" style="overflow: hidden">
    {{ exercise_body_html }}
    {{ exercise_template_html }}
</div>
{% endblock pagecontent %}
