<div class="exercise_message">
    Are you having trouble with this exercise?&nbsp;  You've done more than {{ exercise.struggling_threshold }} problems now but haven't gotten {{ exercise.required_streak }} in a row right yet.&nbsp;  Why don't you
    {% if exercise_videos %}
        watch the related videos again, or
    {% endif %}
    ask
    {% if coaches|length_is:"0" %}
        someone
    {% else %}
        {% if coaches|length_is:"1" %}
            your <a href="coaches">coach</a>
        {% else %}
            one of your <a href="coaches">coaches</a>
        {% endif %}
    {% endif %}
    for help?
</div>
