{% extends arithmetic_template %}
{% block maincode %}
<script type="text/javascript"><!--

var base = 0;
var exp = 1;
var eFunction = function()
{
	base = getRandomIntRange(-10,10);
	if (Math.abs(base)>1)
	{
		exp = getRandomIntRange(0,Math.log(260)/Math.log(Math.abs(base)));
	}
	else 
		exp = getRandomIntRange(0,20);
}


var cFunction = function(history)
{
	return (history.split("|").indexOf(base)!=-1);
}

var tFunction = function()
{
	return base;
}

checkHistory(cFunction, eFunction, tFunction,10);



setCorrectAnswer(Math.round(Math.pow(base,exp)));

var base_string = base;

if (base<0)
	base_string = '('+base+')';

var expansion_string = base_string+"";

for(var i=1; i<exp; i++)
{
	expansion_string += "&#215;"+base_string;
}



//-->
</script>
{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--

write_equation(base_string+'^'+exp+'= ?');

if (exp==0)
{
	write_step("Anything to the zero power equals 1");
}
else
{
	write_step(equation_string(base+'^'+exp+'='+expansion_string));
	write_step(equation_string('='+Math.pow(base,exp)));
}


//-->
</script>

{% endblock maincell %}
{% block hintfunction %}give_next_step(){% endblock hintfunction %}
