{% extends "adding_and_subtracting_fractions.html" %}
{% block maincode %}
<script language=Javascript1.2><!--

var base = 0;
var exp = 1;
var frac_exp = false;
var exp_string = '';

generateNewProblem(function() {
	base = getRandomIntRange(-10,10);
	if (Math.abs(base)>1)  //Only do this clause if the base is non-zero
	{
		exp = getRandomInt(Math.log(260)/Math.log(Math.abs(base)));
		
		if (exp==0 || exp==1)
			exp = getRandomInt(Math.log(260)/Math.log(Math.abs(base)));
	}
	else 
		exp = getRandomInt(6);
	return base + "^" + exp;	
}, 10);

var base_string = base;

if (base<0)
	base_string = '('+base+')';

var expansion_string = base_string+"";

for(var i=1; i<exp; i++)
{
	expansion_string += "&#215;"+base_string;
}

if (getRandomInt(3)<3 && base!=0) //75% chance that the exponent will be negative
{
	exp = -1*exp;
}


var answerNumerator = 0;
var answerDenominator = 1;
var baseNumerator = base;
var baseDenominator = 1;

if (exp<0)
{
	setCorrectAnswer(format_fraction(1,Math.pow(base,Math.abs(exp))));
	answerNumerator=1;
	answerDenominator = Math.pow(base, Math.abs(exp));
}
else
{
	setCorrectAnswer(Math.pow(base,Math.abs(exp)));
	answerNumerator=Math.pow(base,Math.abs(exp));
}

//If we do a fractional exponent, the old answer becomes the new base and the 
//old base becomes the new answer
if (get_random(4)<=4 && exp!=0 && Math.abs(exp)<4)
{
	frac_exp = true;
	new_base = correctAnswer;
	if (exp <0)
		exp_string = '('+format_fraction(1,exp)+')';
	else
		exp_string = '(1/'+exp+')';
	setCorrectAnswer(base);
	if ((exp%2)==0 && base<0)  //makes sure the correct answer is the positive root
		setCorrectAnswer(Math.abs(correctAnswer));
	
	base = new_base;
	
	
	if (base==0)
	{
		addWrongChoice(format_fraction(1,exp));
		addWrongChoice(format_fraction(-1,exp));
		addWrongChoice(exp);
		addWrongChoice(-1*exp);
		addWrongChoice(1)
		addWrongChoice(-1);
		addWrongChoice('`undefined`');
	}
	else
	{
		addWrongChoice(-1*baseNumerator);
		addWrongChoice(format_fraction(1, baseNumerator));
		addWrongChoice(format_fraction(answerNumerator, answerDenominator*exp));
		addWrongChoice(format_fraction(answerNumerator*exp, answerDenominator));
		addWrongChoice(format_fraction(answerDenominator*exp, answerNumerator));
		addWrongChoice(format_fraction(answerDenominator, answerNumerator*exp));
		addWrongChoice(format_fraction(-1*answerNumerator, answerDenominator*exp));
		addWrongChoice(format_fraction(-1*answerNumerator*exp, answerDenominator));
		addWrongChoice(format_fraction(-1*answerDenominator*exp, answerNumerator));
		addWrongChoice(format_fraction(-1*answerDenominator, answerNumerator*exp));
	}
}
else
{
	if (base!=0 && exp!=0)
	{
		addWrongChoice(format_fraction(1,baseNumerator*exp));
		addWrongChoice(format_fraction(-1,baseNumerator*exp));
		addWrongChoice(baseNumerator*exp);
		addWrongChoice(baseNumerator*-1*exp);
		addWrongChoice(-1*Math.pow(baseNumerator,Math.abs(exp)))
		addWrongChoice(format_fraction(-1,Math.pow(baseNumerator,Math.abs(exp))));
	}
	if (base==0 && exp!=0)
	{
		addWrongChoice(format_fraction(1,exp));
		addWrongChoice(format_fraction(-1,exp));
		addWrongChoice(exp);
		addWrongChoice(-1*exp);
		addWrongChoice(1)
		addWrongChoice(-1);
		addWrongChoice('`undefined`');
	}
	if (base!=0 && exp==0)
	{
		addWrongChoice(format_fraction(1,baseNumerator));
		addWrongChoice(format_fraction(-1,baseNumerator));
		addWrongChoice(0);
		addWrongChoice('`undefined`');
		addWrongChoice(-1)
		addWrongChoice(-1*baseNumerator);
	}
}
	
	
	//-->
</script>
{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--
if (frac_exp)
{
	var answer_string = ''+correctAnswer;
	if (answer_string<0)
		answer_string = '('+correctAnswer+')';
		

	if (exp < 0)
	{	
		var base_den = Math.pow(correctAnswer, Math.abs(exp));
		var base_string = '('+format_fraction(1,base_den)+')';
		write_equation(base_string+'^'+exp_string+'= ?');
		
		var new_exp_string = '(1/'+(-1*exp)+')';
		var base_den_string = ''+base_den;
		if (base_den<0)
			base_den_string = '('+base_den+')';
		
		write_step(equation_string(base_string+'^'+exp_string+'='+base_den_string+'^'+new_exp_string));
		write_step(equation_string(base_den+'^('+format_fraction(1, Math.abs(exp))+')'+'='+answer_string+'` since `'+answer_string+'^'+Math.abs(exp)+'='+base_den));
		write_step('So:'+equation_string(base_string+'^'+exp_string+'='+correctAnswer));
	}
	else
	{
		var base_string = ''+base;
		if (base<0)
			base_string = '('+base_string+')';
		write_equation(base_string+'^'+exp_string+'= ?');
		write_step(equation_string(answer_string+'^'+Math.abs(exp)+'= '+base));
		write_step('So:'+equation_string(base_string+'^'+exp_string+' = '+correctAnswer));
	}
}
else
{
	
	
	var base_string = ''+base;
	if (base<0)
		base_string = '('+base+')';
		
	write_equation(base_string+'^'+exp+'= ?');

	if (exp==0)
	{
		write_step("Anything to the zero power equals 1");
	}
	else
	{
		if (exp<0)
		{
			write_step(equation_string(base_string+'^'+exp+'= 1/('+base_string+'^'+(Math.abs(exp))+')'));
			write_step(equation_string('1/('+base_string+'^'+(Math.abs(exp))+')=1/('+expansion_string+')'));
			write_step(equation_string('='+ format_fraction(1, Math.pow(base,Math.abs(exp)))));
		}
		else
		{	
			write_step(equation_string(base_string+'^'+exp+'='+expansion_string));
			write_step(equation_string('='+Math.pow(base,exp)));
		}
	}
}

//-->
</script>

{% endblock maincell %}

