{% extends "adding_and_subtracting_fractions.html" %}
{% block maincode %}
<script language=Javascript1.2><!--


//-->
</script>
{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--
function type1()
{

	var base = getRandomIntRange(3,9);
	var exp1 = getRandomIntRange(10,20);
	var exp2 = getRandomIntRange(10,20);
	
	while(exp1==exp2)
		exp2 = getRandomIntRange(10,20);
	
	if (Math.random()>Math.random())
		exp1 = -1*exp1;
	if (Math.random()>Math.random())
		exp2 = -1*exp2;

	setCorrectAnswer(base+'^'+(exp1+exp2));
	addWrongChoice(base+'^'+(exp1*exp2));
	addWrongChoice(base+'^'+(exp1-exp2));
	addWrongChoice(base+'^'+(exp2-exp1));
	addWrongChoice((2*base)+'^'+(exp1+exp2));
	addWrongChoice((base*base)+'^'+(exp1*exp2));
	addWrongChoice((base*base)+'^'+(exp1+exp2));
	addWrongChoice((2*base)+'^'+(exp1*exp2));
	addWrongChoice(base+'^'+(base+exp1+exp2));
	addWrongChoice((exp1+exp2)+'^'+base);

	write_equation(base+'^'+exp1+'*'+base+'^'+exp2+'= ?');
	write_step(equation_string(base+'^'+exp1+'*'+base+'^'+exp2+'='+base+'^('+exp1+format_constant(exp2)+')'));
	write_step(equation_string(base+'^('+exp1+format_constant(exp2)+')='+base+'^'+(exp1+exp2)));
}

function type2()
{

	var base = getRandomIntRange(3,9);
	var exp1 = getRandomIntRange(10,20);
	var exp2 = getRandomIntRange(10,20);
	
	while(exp1==exp2)
		exp2 = getRandomIntRange(10,20);
	
	if (Math.random()>Math.random())
		exp1 = -1*exp1;
	if (Math.random()>Math.random())
		exp2 = -1*exp2;

	setCorrectAnswer(base+'^'+(exp1-exp2));
	addWrongChoice(base+'^'+(exp1*exp2));
	addWrongChoice(base+'^'+(exp1+exp2));
	addWrongChoice((-1*base)+'^'+(exp1+exp2));
	addWrongChoice((-1*base)+'^'+(exp1-exp2));
	addWrongChoice(base+'^'+(-1*exp1-exp2));
	addWrongChoice((-1*base)+'^'+(-1*exp1-exp2));
	addWrongChoice(base+'^'+(exp2-exp1));
	addWrongChoice('1^'+(exp1*exp2));
	addWrongChoice('1^'+(exp1+exp2));
	addWrongChoice('1^'+(exp2-exp1));
	addWrongChoice('1^'+(exp1-exp2));
	addWrongChoice((2*base)+'^'+(exp1+exp2));
	

	var step2term = ''+exp2;
	if (exp2<0)
		step2term = '('+exp2+')';
	
	write_equation('('+base+'^'+exp1+')/('+base+'^'+exp2+')= ?');
	write_step(equation_string('('+base+'^'+exp1+')/('+base+'^'+exp2+')='+base+'^('+exp1+'-'+step2term+')'));
	write_step(equation_string(base+'^('+exp1+format_constant(-1*exp2)+')='+base+'^'+(exp1-exp2)));
}

function type3()
{

	var base = getRandomIntRange(3,9);
	var exp1 = getRandomIntRange(10,20);
	var exp2 = getRandomIntRange(10,20);
	
	while(exp1==exp2)
		exp2 = getRandomIntRange(10,20);
	
	if (Math.random()>Math.random())
		exp1 = -1*exp1;
	if (Math.random()>Math.random())
		exp2 = -1*exp2;

	setCorrectAnswer(base+'^'+(exp1*exp2));
	addWrongChoice(base+'^'+(exp1+exp2));
	addWrongChoice(base+'^'+(-1*exp1*exp2));
	addWrongChoice(base+'^'+(-1*exp1-exp2));
	addWrongChoice(base+'^('+exp2+'/'+exp1+')');
	addWrongChoice((exp2*base)+'^'+exp1);
	addWrongChoice((-1*base)+'^'+(exp1*exp2));
	addWrongChoice((-1*base)+'^'+(exp1-exp2));
	addWrongChoice(base+'^'+(-1*exp1-exp2));
	addWrongChoice((-1*base)+'^'+(-1*exp1-exp2));
	addWrongChoice(base+'^'+(exp2-exp1));
	

	var step2term = ''+exp2;
	if (exp2<0)
		step2term = '('+exp2+')';
	
	write_equation('('+base+'^'+exp1+')^'+exp2+'= ?');
	write_step(equation_string('('+base+'^'+exp1+')^'+exp2+'='+base+'^('+exp1+'*'+step2term+')'));
	write_step(equation_string(base+'^('+exp1+'*'+step2term+')='+base+'^'+(exp1*exp2)));
}

function type4()
{

	var base1 = getRandomIntRange(3,9);
	var base2 = getRandomIntRange(3,9);
	var exp1 = getRandomIntRange(10,20);
	var exp2 = getRandomIntRange(10,20);
	var exp3 = getRandomIntRange(10,20);
	
	while(base1==base2)
		base2 = getRandomIntRange(10,20);
	
	if (Math.random()>Math.random())
		exp1 = -1*exp1;
	if (Math.random()>Math.random())
		exp2 = -1*exp2;
	if (Math.random()>Math.random())
		exp3 = -1*exp3;

	setCorrectAnswer(base1+'^'+(exp1*exp3)+'*'+base2+'^'+(exp2*exp3));
	addWrongChoice(base1+'^'+(-1*exp1*exp3)+'*'+base2+'^'+(-1*exp2*exp3));
	addWrongChoice(base1+'^'+(exp1+exp3)+'*'+base2+'^'+(exp2+exp3));
	addWrongChoice(base1+'^'+(exp1+exp2)+'*'+base2+'^'+(exp1+exp2));
	addWrongChoice(base1+'^'+exp1+'*'+base2+'^'+(exp2*exp3));
	addWrongChoice(base1+'^'+exp1+'*'+base2+'^'+(-1*exp2*exp3));
	addWrongChoice(base1+'^'+(exp1*exp3)+'*'+base2+'^'+exp2);
	addWrongChoice((base1*base2)+'^'+(exp1*exp3)+'*'+(base1*base2)+'^'+(exp2*exp3));
	addWrongChoice((base1*exp3)+'^'+exp1+'*'+(base2*exp3)+'^'+exp2);
	addWrongChoice((base1+base2)+'^'+(exp1*exp3)+'*'+(base1+base2)+'^'+(exp2*exp3));
	addWrongChoice((base1*base2)+'^'+(exp3*exp1*exp2));

	var step2term = ''+exp3;
	if (exp3<0)
		step2term = '('+exp3+')';
	
	write_equation('('+base1+'^'+exp1+' * '+base2+'^'+exp2+')^'+exp3+'= ?');
	write_step(equation_string('('+base1+'^'+exp1+' * '+base2+'^'+exp2+')^'+exp3+'='+base1+'^('+exp1+'*'+step2term+') *'+base2+'^('+exp2+'*'+step2term+')'));
	write_step(equation_string(base1+'^('+exp1+'*'+step2term+') *'+base2+'^('+exp2+'*'+step2term+')='+base1+'^'+(exp1*exp3)+' *'+base2+'^'+(exp2*exp3)));
	
}



eval("type"+getRandomIntRange(1,4)+"()");  //Randomly choose a problem type



//-->
</script>

{% endblock maincell %}

