{% extends arithmetic_template %}
{# This template is for exercises with math-expression answers (ex. x^2+3) #}
{% block answerarea %}
<script src="/javascript/expressions.js?{{App.version}}"></script>
{% if not read_only %}
<span class="info-box-header">Answer</span>
<input style="min-width: 50px; min-height: 30px;" id="answer" name="answer" onkeyup="updatePreview();" onkeypress="if (event.keyCode == 13) {Exercise.logAnswer(); return false;}"></input>
<div id="outputNode"></div>
<script>
    Exercise.checkAnswer = checkExpressionAnswer();
</script>
{% endif %}
{% endblock answerarea %}

{% block hintfunction %}
give_next_step();
{% endblock hintfunction %}
