{% extends "expressions_with_unknown_variables.html" %}

{% block maincode %}
<script src="/javascript/exercises/expressions_with_unknown_variables.js?{{App.version}}"></script>
{% endblock maincode %}

{% block maincell %}
<script>
    Exercise.fSupportsAjax = true;
    Exercise.fWriteToDoc = false;
    Exercise.showNextProblem = function() {
        var exercise = new ExpressionsWithUnknownVariablesExercise();
        exercise.init(true);
    }
</script>
{% endblock maincell %}

{% block hintfunction %}
give_next_step()
{% endblock hintfunction%}
