{% extends arithmetic_template %}

{% block maincode %}
<div id="dvQuestion"></div>
{% endblock maincode %}

{% block maincell %}
<div id="holder" style="padding-left:120px;"></div> 
{% endblock maincell %}

{% block answerarea %}
<span class="info-box-header">Answer</span>
<div id="dvAnswers" style="text-align: left;"></div>
<script src="/javascript/exercises-package/raphael-min.js" type="text/javascript" charset="utf-8"></script> 
<script src="/javascript/exercises-package/g.raphael-min.js" type="text/javascript" charset="utf-8"></script> 
<script src="/javascript/exercises-package/g.pie-min.js" type="text/javascript" charset="utf-8"></script> 
<script type="text/javascript" src="/javascript/fraction_subtraction_word_problem.js"></script>
{% endblock answerarea %}

{% block checkanswer %}check_answer(){% endblock checkanswer%}
{% block hintfunction %}FractionSubtraction.SubtractionWordProblem.next_step(){% endblock hintfunction %}
