{% extends arithmetic_template %}
{% block answerarea %}

<span class="info-box-header">Answer</span>
 <div><div style='padding-left: 7px;'><input autocomplete="off" id='txtNominator' type='text' style='width:25px;' /></div><div style='width: 43px; border-top: solid 3px black;'></div><div style='padding-left: 7px;'><input autocomplete="off" id='txtDenominator' type='text' style='width:25px;' /></div></div>
 <script type="text/javascript" charset="utf-8"> 
 $(document).ready(function(){    
    $('#txtNominator').focus();
    $('#txtNominator').keyup(function(e) {
        if(e.keyCode == 13) {
            check_answer_block();
        }
    });

    $('#txtNominator').keypress(function(e) {
        var Nominator = document.getElementById("txtNominator").value;
        if(e.keyCode==191 || e.keyCode==47){
            e.preventDefault();
            if(isNaN(Nominator) || $.trim(Nominator) ==''){
                document.getElementById("txtNominator").value='';
                alert("Enter a valid numerator.");
            } else{
                $('#txtDenominator').focus();
            }

        }

    });

    $('#txtDenominator').keyup(function(e) {
        if(e.keyCode == 13) {
            check_answer_block();
        }
    });
})
</script>
{% endblock answerarea %}

