{% extends "page_template.html" %}
{% block pagescript %}
	<link type="text/css" href="/stylesheets/custom-theme/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js"></script>
	<script type="text/javascript">
		$(function(){
			// Tabs
			var tabs = $('#tabs-outer').tabs( {width: "100%"});
            $("a[href='#how-to-help']").click(function() {
                tabs.tabs('select', '#how-to-help');
                return false;
            });
            $("a[href='#faq']").click(function() {
                tabs.tabs('select', '#faq');
                return false;
            });
		});
	</script>
    <style>
        p { 
            margin-top: 1ex;
            margin-bottom: 1ex;
        }
        #meetup {
            float: right;
        }
    </style>
{% endblock pagescript %}
{% block pagetitle %}About Us{% endblock pagetitle %}
{% block pagecontent %}

<P>
<center>
<iframe align=right src="http://www.facebook.com/plugins/likebox.php?id=159403248441&amp;width=200&amp;connections=10&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:287px;" allowTransparency="true"></iframe>
<table width=800 border=0 align=center>
<tr>
<td>

<div id="tabs-outer">
<ul>
	<li><A href="#press"><span>Interviews and Talks</span></a></li>
	<li><A href="#faq"><span>Frequently Asked Questions</span></a></li>
	<li><A href="#how-to-help"><span>How to Help</span></a></li>
</ul>
<div id="press">

The Khan Academy is all about using video to explain the world, so what better way to explain
the Khan Academy than through videos.  If you watch four or five of the videos below, you should have
a pretty good idea of how we got started and how we hope to empower everyone, everywhere with
a free, world-class education.  If you don't have a broadband connection or aren't someplace nice
to watch a video, try out the <a href="#faq">Frequently Asked Questions</a> tab to better understand our motivations.

<P>


<A name="techawards"></A>
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/p6l8-1kHUsA&hl=en_US&fs=1&rel=0&hd=1&border=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/p6l8-1kHUsA&hl=en_US&fs=1&rel=0&hd=1&border=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
</P>
<P>

<P><A name="newshour"></A>
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/1kly25zVbco&hl=en_US&fs=1&rel=0&hd=1&border=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/1kly25zVbco&hl=en_US&fs=1&rel=0&hd=1&border=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
<P>
<A name="gates"></A>
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/6A07Pj71TUA&hl=en_US&fs=1&rel=0&hd=1&border=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/6A07Pj71TUA&hl=en_US&fs=1&rel=0&hd=1&border=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
<P>
<P><A name="CNN"></A>
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/PY5VKiG_IXE&hl=en_US&fs=1&rel=0&hd=1&border=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/PY5VKiG_IXE&hl=en_US&fs=1&rel=0&hd=1&border=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>

<P>
<A name="gel"></A>
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/yTXKCzrFh3c&hl=en_US&fs=1&rel=0&hd=1&border=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/yTXKCzrFh3c&hl=en_US&fs=1&rel=0&hd=1&border=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
<P>


<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/1C7FH7El35w&hl=en_US&fs=1&rel=0&hd=1&border=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/1C7FH7El35w&hl=en_US&fs=1&rel=0&hd=1&border=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
<P>
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/YQtXHp5wXLE&hl=en_US&fs=1&rel=0&hd=1&border=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/YQtXHp5wXLE&hl=en_US&fs=1&rel=0&hd=1&border=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
<P>
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/VsS7bo3JMqk&hl=en_US&fs=1&rel=0&hd=1&border=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/VsS7bo3JMqk&hl=en_US&fs=1&rel=0&hd=1&border=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
<P>
<object width="320" height="263"><param name="movie" value="http://www.youtube.com/v/po3DAsr6mDE&hl=en_US&fs=1&rel=0&hd=1&border=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/po3DAsr6mDE&hl=en_US&fs=1&rel=0&hd=1&border=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="263"></embed></object>

<object width="320" height="263"><param name="movie" value="http://www.youtube.com/v/1uf_DeazfZg&hl=en_US&fs=1&rel=0&hd=1&border=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/1uf_DeazfZg&hl=en_US&fs=1&rel=0&hd=1&border=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="263"></embed></object>
<P>
</div>
<div id="faq">

<h2>Why are you doing this project?</h2><P>
I (Sal) can't imagine a better use of my (or anyone's) time.  <P>

With just a computer and a pen-tablet-mouse, one can educate the world!  Even better, 
the content never goes old.  My (or your) great-great-great grandchildren could
learn from the very same videos!
<p>
<h2>What do you think makes the Khan Academy different than all of the other educational resources out there?</h2>
<P>
There are some obvious distinctions.  With over 1600 videos, it is easily the most exhaustive collection of instruction on the
Internet allowing learners to know that they can fill in almost any of their "gaps" with the content on this site.  The content
is made in digestible 10-20 minute chunks especially purposed for viewing on the computer as opposed to being a longer video
of a conventional "physical" lecture.  The conversational style of the videos is the tonal antithesis of what people traditionally
associate with math and science instruction. The less obvious distinctions are, however, what make the site hard to reproduce.  
<P>
I teach the way that I wish I was taught. 
The lectures are coming from me, an actual human being who is fascinated by
the world around him. The concepts are conveyed as they are understood by me, not as they are written in a textbook developed 
by an educational bureaucracy.  Viewers know that it is the labor of love of one somewhat quirky and determined man who has 
a passion
for learning and teaching. 
I don't think any corporate or governmental effort--regardless of how much money is thrown at the problem--can reproduce this.
<P>
A lot of my own educational experience was spent frustrated with how information was conveyed in textbooks and lectures.  
There would
be connections in the subject matter that standard curricula would ignore despite the fact that they make the content easier
to understand, enjoy, and RETAIN.  I felt like fascinating and INTUITIVE concepts were almost intentionally being butchered into 
pages and pages of sleep-inducing text and monotonic, scripted lectures.  I saw otherwise intelligent peers memorizing 
steps and formulas for the next exam without any sense of the intuition or big picture, 
only to forget everything within a matter of weeks.
These videos are my expression of how the concepts
should have been expressed in the first place, all while not compromising rigor or comprehensiveness.
<P>

<h2>What curricula are you following?</h2>

<P>
The simple answer is none.  I believe that someone who truly understands the core concepts will thrive
academically regardless of the curricular context.  To take it a step further, I believe that someone who
experiences the joy and satisfaction of true understanding will never again be satisfied with the superficial 
type of learning that
most students have grown accustomed to.  The Khan Academy is about placing deep understanding above anything else.
<P>
With that said, there are concepts covered on national examinations that any student needs to be exposed to in order to 
be competitive.  That is why I try to cover all topics that would appear on A.P. test, SATs, and other
standardized test.  Taking it a step further, there are several hundred videos devoted to SAT, GMAT and other standardized
test problems.  I also believe that, because of the granular nature of the 10 minute videos,  the content
can be mapped to almost any state's or nation's standards.
<P>
<h2>How do you know that the Khan Academy is effective?</h2>
<P>
<img src="/images/attention.GIF" align="right" width="350">My background is in math, computer science, and investment management, so I think you can
imagine that no one is more obsessed with data and analytics than me.  The chart to the right is provided by YouTube.  It can be
used to determine if and/or when viewers' attention falls off at a certain point of a video.  I can then go back and try to identify 
(and possibly fix) what happened at that point in the video.  This next chart <img src="/images/averagechart.GIF" align="left" width="350">
shows the average (black line) progress of a cohort of 30 rising 8th graders on the Khan Academy software over a 6-week period.  
The horizontal axis is "days working on the site" and the vertical axis is "modules completed."  The green lines show one standard
deviation above and below the mean.  This chart exemplifies both the level of data we are capturing and also highlights the importance
of individualized, self-paced instruction and real-time assessment.  The purple line shows a student
who may have been deemed "slow" by traditional assessments because she was more than one standard deviation below the class
average after working on the site for a few days.  The reality is that she just needed more time ramping up on negative numbers
than the other students in the cohort.  Once she was given the chance to become proficient on that concept, she raced forward
and ended up being one of th top students in the cohort.
<P>
More than the data, however, it is the anecdotal evidence from users that has convinced me to quit my job and make this
the focus of my life. I receive hundreds of letter and comments a week.  Many are simply notes of strong appreciation, but several
reach the level of being genuinely inspiring.  Here is a letter I received from a YouTube user in September 2009 (I bolded some
of the text):
<ul>
Mr. Khan, 
<P>
No teacher has ever done me any good--this may sound harsh but I mean it quite literally. 
I was force fed medication to keep me from talking and chastised for not speaking out when called on. 
Where I am from blacks are not welcomed with open arms into schools--my mother and her sisters had to go to a 
small shack two hours from home when they went to school. 
About five years ago my family collected enough money to move from where i was born, so that I 
could have a chance at having an education and living a real life. 
But without a real mastery of elementary math I was slow to progress. 

<P>
I am now in college and learning more than I ever have in my life. 
<b>But an inadequate math background has been holding me back</b>. 
I found the Kahn Academy in June of 2009, right after I completed Math 141 ( a college algebra course). 
<b>I have spent the entire summer on your youtube page.</b> 
And I just wanted to thank you for everything you are doing. 
You are a Godsend. Last week I tested for a math placement exam and I am now in Honors Math 200. 
<b>No question was answered incorrectly.</b> 
My placement test holder was so impressed by the breadth of my knowledge of math that he said I should be in Linear algebra. 
<P>
Mr. Khan, I can say without any doubt that you have changed my life and the lives of everyone in my family. 
<P>
I wish you and the Khan Academy the best of luck, 
</ul>


<P>
<h2>How did you get started?</h2>
<P>
My uncle's family visited me in Boston after my wedding in the summer of 2004.  At
some point during the trip, my Aunt told me that her daughter (my cousin) was
having trouble with "unit conversion" which was not allowing her to be placed in
the more advanced math track for 7th grade.  Nadia was clearly a very bright girl, so
I made a deal with her.  I'd remotely tutor her for an hour after work as long as she was
willing to do any extra work I gave her.
<P>
I began remotely tutoring Nadia in August of 2004.  She was 
in New Orleans--where I also grew up-- so we used a telephone to talk and Yahoo Doodle
as a shared notepad.  Nadia ended up catching up and getting ahead of her class
so I started tutoring her brothers, Arman and Ali, as well. Eventually, word got around 
and I was remotely tutoring and handful of cousins and family friends.  Scheduling
around my work, their soccer practice, and the different time zones became a little 
ridiculous, so I started to make YouTube videos for them to watch in their own time, at
their own pace.
<P>
It didn't take long to see that other students (including adult learners) were hungry
for videos like these so I kept going!
<P>
Even before I made the videos, I started writing simple Javascript problem generators so
that my cousins would never run out of practice problems.  I wanted to know when and how
they were doing the problems, so I added a database to track usage.  70 modules and 10,000
lines of code later (much of which has made the software adaptive)
, it has morphed into the adaptive math program on our site.
<P>
<h2>How did you have the time to do this while working full-time?</h2>
<P>
My wife was doing her residency--in internal medicine-- from 2005 to 2008, so there were 
many nights/weekends where she was working and I would have felt guilty doing
anything less productive.  I also try to watch very little television.  On top of that, 
I was working at an investment fund that had me working 5am to 2pm (we were working
East Coat hours from California) so my afternoons were free (although I did go to bed at 9).
<P>

<h2>My school/district/country blocks YouTube. Is there any other way to access the content?</h2>
<P>
I am working on having the content mirrored somewhere other than YouTube.  In the meantime,
partner not-for-profit organizations are making the content available outside of YouTube.
<A href="http://k16bridge.org/">The Lewis Center for Educational Research</A> which is 
affiliated with NASA is bringing the content into community colleges and charter schools
around the country.  <A href="http://www.worldpossible.org">World Possible</A> is creating
offline snapshots of the content to distribute in rural, developing regions with limited
or no access to the Internet.  One can also download the content off of YouTube for free
using the latest version of RealPlayer.



<P>
<h2>How are you funding/making money off of this?</h2>
<P>
I quit my
day job as of September 2009 to work on this full-time and was  digging into my savings until recently.
In May, some generous individuals have given large enough gifts for me to take a salary for the time being.
 I could be aggressive with advertising on the site,
but I don't want to do that until I have to.  I am speaking to some foundations that might
enable Khan Academy to get to the next level.  If you know of potential partner foundations who
would agree that there is no better way to educate and enlighten the world, they shouldn't
hesitate to email me (sal  'at' khanacademy 'dot' org) :)
<P>
Khan Academy is a IRS-recognized 501c3 not-for-profit organization.  My goal is to make
it self-sustaining in the next five years.  

<P>
<h2>Are you interested in turning this into a business?  Maybe with some VC funding?</h2>
<P>
I've been approached several times, but it just didn't feel right. When I'm 80, I want
to feel that I helped give access to a world-class education to billions of students around the
world. Sounds a lot better than starting a business that educates some subset of the developed world that
can pay $19.95/month and eventually selling it to some text book company or something.  
I already have a beautiful wife, a hilarious son, two hondas and a decent house.  What else does a man need?
<P>
With that said, if you are a social venture capitalist and are looking to deploy capital with 
the highest possible social return per dollar invested, we should talk.   I think you'll find that there is no
more measurable, scalable and high impact way to educate the world.  
<P>
<h2>Did you do all of the videos?</h2>
<P>
As of today (8/14/2010), yes.  All 1600+ videos have been made by me.  Volunteers have begun to translate the videos
into other languages.  <A href="http://www.youtube.com/user/KhanAcademyEspanol">Here is the Khan Academy en espanol</A>.  
Hope to have other channels in the not-too-far-off future!
<P>
<h2>What topics do you plan to cover?</h2>

<P>
My goal is to cover everything.  Yes, everything!  Most of k-12 math has already been done (although I do need 
to make 20 or 30 more elementary math videos).  My goal really is to keep making videos until the day I die (which will hopefully
not be for at least another 50 or 60 years).  Should give me time to make several tens of thousands of videos in pretty 
much every subject.
<P>
<h2>What is the long-term goal for the Khan Academy?</h2>
<P>
I see Khan Academy becoming the world's first free, world-class virtual school where anyone can learn anything--for free.
<P>
The videos are just part of the vision.  We hope to build out the adaptive software to cover all the topics that the
videos cover.  We also intend to develop simulation games to give more nuanced and applied understanding of concepts.
<P>
<h2>What equipment do you use to make your videos?</h2>
<P>
I use Camtasia Recorder ($200) + SmoothDraw3(Free) + a Wacom Bamboo Tablet ($80) on a PC.  I used to use ScreenVideoRecorder($20) and
Microsoft Paint (Free).
<P>
<h2>Where are you from?  What ethnicity/religion are you?</h2>

<P>
I was born and raised in New Orleans, Lousiana.  My mother was born in Calcutta, India.  My father was born in Barisal, Bangladesh.
<P>
If you believe in trying to make the best of the finite number of years we have on this planet 
(while not making it any worse for anyone else), think that pride and self-righteousness are the cause of most conflict and negativity,
and are humbled by the vastness and
mystery of the Universe, then I'm the same religion as you.
<P>
<h2>How can I/you help?</h2>
<P>
See the <a href="#how-to-help">How to Help</a> tab.
</div>
<div id="how-to-help">
<iframe id="meetup" src="http://www.meetup.com/everywhere/widget2/khanacademy/?width=200&height=390&usetheme=1" border="0" frameborder="0" height="390" width="200"></iframe>
<p>
    The biggest thing is getting the word out.&nbsp; The students who use the site seem to really get
    excited by how quickly and deeply they can learn from it.&nbsp; Right now (5/2010), there
    are about 200,000 students using the site per month; no reason why it shouldn't be 20
    million!  One way to get the word out is to organize a meetup. 
</p>
<p>
    Other simple things you can do include answering questions in the Q&amp;A section below videos you watch.&nbsp; 
    You can also report problems, including video mistakes, using the "Report a problem" link at
    the bottom of the page where you see the problem.
</p>
<p>
    If you want to be more actively involved you could 
    <a href="http://code.google.com/p/khanacademy/issues/detail?id=122">transcribe or caption videos</a>.&nbsp; 
    If you know a foreign language, <a href="http://code.google.com/p/khanacademy/issues/detail?id=717">translating the videos</a>
    would be huge!  Even better, if you know some topic deeply, are a good, down-to-earth teacher, AND 
    know a foreign language, you could <a href="http://code.google.com/p/khanacademy/issues/detail?id=718">re-teach</a>
    some subset of the videos!
</p>
<p>
    If you're an expert (especially at something that Sal's unlikely to be able to learn in the next 5 years) and 
    want to become a minor education celebrity (but a major one in your field), make a handful of videos and
    <a href="http://code.google.com/p/khanacademy/issues/detail?id=718">contribute them</a>.&nbsp;
    If they gel with the style--conversational while focused on intuition and rigor--of the current library, it might make
    sense for you make a playlist or two (with all credit going to you of course).
</p>
<p>
    If you like to write code, you can help with 
    <a href="http://groups.google.com/group/khanacademy-developers/web/getting-started-with-the-code">the Khan Academy 
    web application which we are developing as an open source project</a>.
</p>
<p>
    And of course, you can always 
    <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&amp;SESSION=MyXW-bBfeHO-JYU92RvrqENxZ15MKIZ1XINWEQszo67OVSCK-pIxUXHiYwu&amp;dispatch=5885d80a13c0db1f8e263663d3faee8d66edfb0b39be7838c6fe2b48d77d66ee" rel="nofollow">donate money</a>.
    The Khan Academy is a not-for-profit 501(c)(3) organization.&nbsp;
</p>
<p>
    If you have an idea for how your organization can help make Khan 
    Academy better, please tell us about it by sending an email to the <i>publicly accessible</i>
    <a href="mailto:khan-academy-support-offers@googlegroups.com">Khan Academy Support Offers</a>
    group.&nbsp; Although we don't have time to reply
    to individual messages, we do read your messages whenever we get a
    chance.&nbsp; Please be as clear and concise as possible about what you are
    proposing and what, if anything, you would expect in return (e.g. a
    link to your site, or access to anonymized data, financial
    compensation, etc.).&nbsp; If you don't hear from us right away, it might
    mean that we don't see a good fit, or it might mean that we just don't 
    have the time and resources to pursue working with you right away.&nbsp;
    Either way, we sincerely appreciate you taking the time to contact us.&nbsp;
    Please note that your messages 
    will be publicly accessible, so <b style="color:rgb(0, 0, 0)">don't post private or confidential information</b>.
</p>
</div>

</div>

</td>
</tr>

</table>

</center>
 {% endblock pagecontent %}




