{% extends "multiple_choice_template.html" %}

{% block maincell %}

<div id="raphael_container" style="float: right;"></div>

<script language=Javascript1.2><!--
var present = window;
RaphaelWrapper.init(400, 400);

var drawFunction = null;
var color1 = getNextColor();
var color2 = getNextColor();
var color3 = getNextColor();

var toDraw = {};
var boo = [4, 1, 2];
var foo = 5;
var randInt = getRandomIntRange(5,9);
var sqr2div2 = Math.sqrt(2)/2;


var circleFunction = function drawCircle()
{
	present.stroke = color1;
	present.strokewidth="2";
	present.circle([0,0], randInt);
	present.fontfamily = "arial";
	present.fontsize = 30;
	if (toDraw.C!=null)
	{
		present.fontfill = color1;
		present.text([sqr2div2*randInt, sqr2div2*randInt], 'C', aboveright);
	}
	present.stroke = color2;
	present.line([0,0], [randInt, 0]);
	if (toDraw.r!=null)
	{
		present.fontfill = color2;
		present.text([randInt/2, 0], 'r', above);
	}
}

var rectFunction = function drawRect()
{
	present.stroke = color1;
	present.strokewidth="2";
	var pA = [-8,5];
	var pB = [8,5];
	var pC = [8,-5];
	var pD = [-8,-5];
	
	present.path([pA, pB, pC, pD, pA]);
	present.fontfamily = "arial";
	present.fontsize = 30;
	present.fontfill = color1;
	present.text([0, 5], 'l', aboveright);
	present.text([8, 0], 'w', aboveright);
	
}

var triangleFunction = function drawTriangle()
{
	present.stroke=color1;
	present.fontfill=color1;
	present.strokewidth = "2";
	present.path([[5,-5], [0,5], [-8,-5], [5,-5]]);
	present.path([[-1,-5], [-1,-4], [0,-4]]);
	present.fontfamily = "arial";
	present.fontsize = 20;
	present.text([0,5], 'A', above);
	present.text([5,-5], 'B', right);
	present.text([0,-5], 'C', below);
	present.text([-8,-5], 'D', left);
	present.strokedasharray = [4,4];
	present.line([0,5], [0,-5]);
	
}
	

function type1()
{
	var r = getRandomIntRange(2,9);
	var C = format_first_coefficient(2*r)+'pi';
	toDraw['C']= true;
	toDraw['r']= true;
	
	write_text('The circumference of the circle is `'+C+'`.');
	write_text('What is the radius of the circle?');
	write_step('The equation for the circumference of a circle is:'+equation_string('C=2pir'));
	write_step('We know that `C='+C+'` , so:');
	write_step(equation_string(C+'=2pir'));
	write_step('Solving for r gives:'+equation_string('r='+r));
	correct_answer = r+'';
	addWrongChoice('sqrt('+C+')');
	addWrongChoice((2*r*r)+'pi');
	addWrongChoice(2*r);
	addWrongChoice(4*r);
	addWrongChoice('sqrt('+r+')');
	addWrongChoice(''+getRandomIntRange(1,20));
	drawFunction = circleFunction;
}

function type2()  
{
	var r = getRandomIntRange(2,9);
	var C = format_first_coefficient(2*r)+'pi';
	toDraw['C']= true;
	toDraw['r']= true;
	
	write_text('The radius of the circle is '+r+'.');
	write_text('What is the circumference of the circle?');
	write_step('The equation for the circumference of a circle is:'+equation_string('C=2 pi r'));
	write_step('We know that `r='+r+'` , so:');
	write_step(equation_string('C=2 pi *'+r));
	write_step('Solving for C gives:'+equation_string('C='+C));
	correct_answer = C+'';
	addWrongChoice('sqrt('+C+')');
	addWrongChoice((r*r)+'pi');
	addWrongChoice(2*r);
	addWrongChoice(4*r);
	addWrongChoice('sqrt('+r+')');
	addWrongChoice(''+getRandomIntRange(1,20));
	drawFunction = circleFunction;
}


function type3()  
{
	var r = getRandomIntRange(2,9);
	var A = format_first_coefficient(r*r)+'pi';
	toDraw['A']= true;
	toDraw['r']= true;
	
	write_text('The area of the circle is `'+A+'`.');
	write_text('What is the radius of the circle?');
	write_step('The equation for the area of a circle is:'+equation_string('A=pi r^2'));
	write_step('We know that `A='+A+'` , so:');
	write_step(equation_string(A+'=pi * r^2'));
	write_step('Solving for r gives:'+equation_string('r='+r));
	correct_answer =  r+'';
	addWrongChoice('sqrt('+A+')');
	addWrongChoice((r*r)+'pi');
	addWrongChoice(2*r);
	addWrongChoice(4*r);
	addWrongChoice('sqrt('+r+')');
	addWrongChoice(''+getRandomIntRange(1,20));
	drawFunction = circleFunction;
}

function type4()  
{
	var r = getRandomIntRange(2,9);
	var A = format_first_coefficient(r*r)+'pi';
	toDraw['A']= true;
	toDraw['r']= true;
	
	write_text('The radius of the circle is '+r+'.');
	write_text('What is the area of the circle?');
	write_step('The equation for the area of a circle is:'+equation_string('A=pi r^2'));
	write_step('We know that `r='+r+'` , so:');
	write_step(equation_string('A=pi *'+r+'^2'));
	write_step('Solving for A gives:'+equation_string('A='+A));
	correct_answer = A+'';
	addWrongChoice('sqrt('+A+')');
	addWrongChoice((2*r*r)+'pi');
	addWrongChoice(2*r+'pi');
	addWrongChoice(4*r);
	addWrongChoice('sqrt('+r+')');
	addWrongChoice(''+getRandomIntRange(1,20));
	drawFunction = circleFunction;
}

function type5()  
{
	var w = getRandomIntRange(2,9);
	var l = w+getRandomIntRange(1,3);
	var A = l*w;
	
	write_text('The length of the rectangle is '+l+' and the width is '+w+'.');
	write_text('What is the area of the rectangle?');
	write_step('The equation for the area of a rectangle is:'+equation_string('A=l * w'));
	write_step('We know that `l='+l+'` and `w='+w+'`, so:');
	write_step(equation_string('A='+l+'*'+w));
	write_step('Solving for A gives:'+equation_string('A='+A));
	correct_answer = A+'';
	if(A!=(2*l+2*w))
		Exercise.possibleAnswers.push(2*l+2*w);
	addWrongChoice(l*l);
	addWrongChoice(l+w);
	addWrongChoice(l-w);
	addWrongChoice('sqrt('+l+')');
	addWrongChoice(''+getRandomIntRange(1,20));
	drawFunction = rectFunction;
}

function type6()  
{
	var h = getRandomIntRange(1,9);
	var b = h+getRandomIntRange(1,3);
	var A = format_fraction(b*h,2);
	
	write_text('The length of '+overline('DB')+' is '+b+' and the length of '+overline('AC')+' is '+h+'.');
	write_text('What is the area of triangle ABD?');
	write_step('The equation for the area of a triangle is:'+equation_string('A=1/2 b * h'));
	write_step('We know that `b='+b+'` and `h='+h+'`, so:');
	write_step(equation_string('A=1/2 *'+b+'*'+h));
	write_step('Solving for A gives:'+equation_string('A='+A));
	correct_answer = A+'';
	if(A!=(2*b+2*h))
		Exercise.possibleAnswers.push(2*b+2*h);
	addWrongChoice(b*h);
	addWrongChoice(b+h);
	addWrongChoice(b-h);
	addWrongChoice('sqrt('+b+')');
	addWrongChoice(''+getRandomIntRange(1,20));
	addWrongChoice(''+getRandomIntRange(1,20));
	drawFunction = triangleFunction;
}

function overline(x)
{
	return ('<font style=\"text-decoration: overline;\">'+x+'</font>');
}


function graph_update() {

	present.initPicture(-10,10, -10, 10);
	present.fontstyle = "normal";
	present.fontsize = "10";
	present.stroke = "#EEEEEE";
	present.strokewidth = "1";
	
	
	for(var i=-10; i<11; i++)
	{
		if (i!=0)
		{
			present.line([i,-11], [i,11]);
			present.line([-11,i], [11,i]);
		}
	}
	//axes();
	if (drawFunction) drawFunction();
}

var problemType = 0;
var eFunction = function() { 
	problemType = getRandomIntRange(1,6); 
}
var cFunction = function(history) { 
	return (history.indexOf(problemType)!=-1);
}
var tFunction = function() { 
	return problemType;
}
checkHistory(cFunction, eFunction, tFunction, 4);

eval('type'+problemType+'()');
graph_update();

//-->
</script>

{% endblock maincell %}

