{% extends "about_template.html" %}
{% block aboutcontent %}
<ul>
	<li><A href="#how-to-help"><span>How to Help</span></a></li>
	<li><A href="#translation"><span>Translation Project</span></a></li>
    <li><A href="#credits"><span>Credits</span></a></li>
</ul>

<div id="how-to-help">
<iframe id="meetup" src="http://www.meetup.com/everywhere/widget2/khanacademy/?width=200&height=390&usetheme=1" border="0" frameborder="0" height="390" width="200"></iframe>
<p>
    The biggest thing is getting the word out.&nbsp; The students who use the site seem to really get
    excited by how quickly and deeply they can learn from it.&nbsp; Right now (11/2010), there
    are about 1,000,000 students using the site per month; no reason why it shouldn't be 20
    million!  You can help get the word out in your local community by joining our 
    <a href="http://groups.google.com/a/khanacademy.org/group/outreach-discuss/topics">volunteer outreach group</a>
    or visiting our <a href="http://sites.google.com/a/khanacademy.org/forge/for-promoters">Forge page for outreach.</a>
    You can also organize a meetup in your city.
</p>
<p>
    Other simple things you can do include answering questions in the Q&amp;A section below videos you watch.&nbsp;
    You can also report problems, including video mistakes, using the "Report a problem" link at
    the bottom of the page where you see the problem.
</p>
<p>
    If you want to be more actively involved and you know a foreign language, <a href="#translation">translating the videos</a>
    would be huge!  Even better, if you know some topic deeply, are a good, down-to-earth teacher, AND
    know a foreign language, you could <a href="#translation">re-teach</a>
    some subset of the videos!
</p>
<p>
    If you're an expert (especially at something that Sal's unlikely to be able to learn in the next 5 years) and
    want to become a minor education celebrity (but a major one in your field), make a handful of videos and
    <a href="http://code.google.com/p/khanacademy/issues/detail?id=718">contribute them</a>.&nbsp;
    If they gel with the style--conversational while focused on intuition and rigor--of the current library, it might make
    sense for you to make a playlist or two (with all credit going to you of course).
</p>
<p>
    If you like to write code, you can help with
    <a href="http://sites.google.com/a/khanacademy.org/forge/for-developers/getting-started-with-the-code">the Khan Academy
    open source web application</a>.
</p>
<p>
    And of course, you can always
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2439291" rel="nofollow">donate money</a>.
    The Khan Academy is a not-for-profit 501(c)(3) organization.&nbsp;
</p>
<p>
    If you have an idea for how your organization can help make Khan
    Academy better, please tell us about it by sending an email to the <i>publicly accessible</i>
    <a href="mailto:khan-academy-support-offers@googlegroups.com">Khan Academy Support Offers</a>
    group.&nbsp; Although we don't have time to reply
    to individual messages, we do read your messages whenever we get a
    chance.&nbsp; Please be as clear and concise as possible about what you are
    proposing and what, if anything, you would expect in return (e.g. a
    link to your site, or access to anonymized data, financial
    compensation, etc.).&nbsp; If you don't hear from us right away, it might
    mean that we don't see a good fit, or it might mean that we just don't
    have the time and resources to pursue working with you right away.&nbsp;
    Either way, we sincerely appreciate you taking the time to contact us.&nbsp;
    Please note that your messages
    will be publicly accessible, so <b style="color:rgb(0, 0, 0)">don't post private or confidential information</b>.
</p>
</div>
<div id="translation">
<h2>Help Educate the World!</h2><P>
Our mission is to provide a free, world-class education to anyone, anywhere. With that said, Sal only speaks English
(and very barely passable Bengali). With your help, we might be able to reach the 5.6 billion people who speak other
languages. Let's translate the Khan Academy into all of the world's languages!
<P>
If you feel that you are capable of dubbing a video or even re-doing videos in a non-English language, here's a
chance to become a hero and minor celebrity to your people. Millions of people could be learning from you across
the globe. More importantly, it is a tangible opportunity to leverage your skills and talents to seriously change the
world in a very good way. For all we know, students 25 years from now may be learning negative numbers from
YOU! This might even be a way to preserve languages.
<P>
<h2>Count me in!  What should I do?</h2>
<P>
Do you enjoy teaching? Then you are probably as excited about this as we think you should be. If you can convey
that energy and passion in your voice as you reach hundreds of millions of students we want to join forces with you.
The best way to move forward would be if you were to dub or re-do the videos for the subject(s) you want to be
considered for and upload them to someplace (like YouTube or Vimeo):
<ul>
    <li><A href="http://www.khanacademy.org/video/algebra--solving-inequalities">Mathematics:Solving Inequalities</A></li>

    <li><A href=" http://www.khanacademy.org/video/introduction-to-the-atom">Chemistry:Introduction to the Atom</A></li>
    <li><A href="http://www.khanacademy.org/video/newton-s-third-law-of-motion">Physics:Newton's Third Law of Motion</A></li>

    <li><A href="http://www.khanacademy.org/video/introduction-to-evolution-and-natural-selection">Biology: Introduction to Evolution and Natural Selection</A></li>

</ul>
<P>
Then email the link to <b><a href="mailto:translations@khanacademy.org">translations@khanacademy.org</a></b>. In your email, include a bit about your background (education,
occupation, etc.) and your sense of how many videos you could do and how long you think it would take. If you are a
good fit, we'll coordinate with you on how best to move forward!
<P>
If you have any questions about translations or would like to connect with and share any information that might help
others, please visit the Khan Academy <a href="http://sites.google.com/a/khanacademy.org/forge/for-translators">Forge page for translators</a> 
and join <a href="http://groups.google.com/a/khanacademy.org/group/translators-discuss/topics">the discussion group</a>.
<P>
We look forward to educating the world with you!
</div>

<div id="credits">
    <section>
        <h1>Volunteers</h1>
        <p>The Khan Academy community would like to thank the following people
        who recently volunteered their time, energy, and expertise (in alphabetical order):</p>
        <dl>
            <dt>abarwale</dt><dd>Closed captioning.</dd>
            <dt>abhishekmishra3</dt><dd>Closed captioning.</dd>
            <dt>Kelkar Amol</dt><dd>Closed captioning.</dd>
            <dt>Maneesh Arora</dt><dd>Website analytics, Facebook integration, user interface mockups.</dd>
            <dt>blowingdandelions</dt><dd>Closed captioning.</dd>
            <dt>Bill Bonner</dt><dd>Divisibility and scientific notation exercise modules, issue triage.</dd>
            <dt>Dean Brettle</dt><dd>Release management, exercise scratch pad, periodic exercise review, Facebook login,
            video viewing page.</dd>
            <dt>Robert Conrad</dt><dd>Patch to warn students that the hint button resets streaks.</dd>
            <dt>James Crook</dt><dd>Closed captioning.</dd>
            <dt>gulickh</dt><dd>Closed captioning.</dd>
            <dt>HamiDjoukouMi</dt><dd>Dutch translation of videos.</dd>
            <dt>Karen Hubert</dt><dd>Closed captioning.</dd>
            <dt>Ben Kamens</dt><dd>Video discussion code.</dd>
            <dt>Vishal Kapur</dt><dd>Qbrary (not yet released).</dd>
            <dt>Peter Kuperman</dt><dd>Volunteer outreach coordination.</dd>
            <dt>KhanAcademyEnEspanol</dt><dd>Spanish translation of videos.</dd>
            <dt>Michael Malione</dt><dd>Common Core standards research.</dd>
            <dt>John Michelsen</dt><dd>Progress reports/charts, teacher tools, standalone server.</dd>
            <dt>Bilal Musharraf</dt><dd>Urdu translation of videos.</dd>
            <dt>Srinivas Panguluri</dt><dd>Bug fixes and exercise module refactoring.</dd>
            <dt>Omar Rizwan</dt><dd>16 exercise modules covering topics in trigonometry, precalculus, and calculus, among others.</dd>
            <dt>Jason Rosoff</dt><dd>User interface mockups.</dd>
            <dt>Jahanzeb Sherwani</dt><dd>Qbrary (not yet released).</dd>
            <dt>Max Van Keuren</dt><dd>Closed captioning.</dd>
            <dt>Harley Witt</dt><dd>Issue triage and video discussion moderation.</dd>
        </dl>
        <p>If you've recently helped out as a volunteer and we've accidentally left you off the
        above list, please <a href="/reportissue?type=Defect&issue_labels=Component-Code">let us know</a>.
        If you want to volunteer, please see <a href="#how-to-help">how to help</a>.</p>
    </section>
    <section>
        <h1>Open Source Software</h1>
        <p>We develop the Khan Academy as an open source project and we incorporate components developed
        by many other open source projects.  We'd like to thank the following projects for making such
        useful components available under open source licenses (in alphabetical order):</p>
        <dl>
            <dt><a href="http://www1.chapman.edu/~jipsen/mathml/asciimath.html">ASCIIMathML</a> and <a href="http://www1.chapman.edu/~jipsen/svg/asciisvg.html">ASCIIsvg</a></dt><dd>Used for writing exercise modules.</dd>
            <dt><a href="http://www.djangoproject.com/">Django</a></dt><dd>Used for templating.</dd>
            <dt><a href="http://www.lalit.org/lab/jsoncookies">fontdetect.js</a></dt><dd>Used for detecting MathML fonts.</dd>
            <dt><a href="http://code.google.com/p/googleappengine/">Google App Engine SDK</a></dt><dd>Used for the standalone app that can be used to
            do the exercises while offline.</dd>
            <dt><a href="http://thejit.org/">JavaScript Infovis Toolkit (Jit)</a></dt><dd>Used for the Knowledge Map.</dd>
            <dt><a href="http://jquery.com/">JQuery</a> and <a href="http://jqueryui.com/">JQuery UI</a></dt><dd>Used for Javascript programming.</dd>
            <dt><a href="http://jquery-watermark.googlecode.com/">jquery.watermark.js</a></dt><dd>Used for watermarks used by video discussion code.</dd>
            <dt><a href="http://www.mathjax.org/">MathJax</a></dt><dd>Used for displaying math formulas on browsers that don't support MathML.</dd>
            <dt><a href="http://vis.stanford.edu/protovis/">Protovis</a></dt><dd>Used for charting.</dd>
            <dt><a href="http://www.python.org/">Python</a></dt><dd>Used for server-side programming.</dd>
            <dt><a href="http://www.billkatz.com/2009/6/Simple-Full-Text-Search-for-App-Engine">Simple Full Text Search for App Engine</a></dt><dd>Used for video searching.</dd>
            <dt><a href="http://davidbau.com/archives/2010/01/30/random_seeds_coded_hints_and_quintillions.html">seedrandom.js</a></dt><dd>Used for reproducible exercise problems.</dd>
            <dt><a href="http://code.google.com/p/svg-edit/">svg-edit</a></dt><dd>Used for the exercises scratch pad.</dd>
            <dt><a href="http://www.leigeber.com/2008/11/drop-down-menu/">TinyDropdown</a></dt><dd>Used for the video browsing menus.</dd>
        </dl>
    </section>
    <section>
        <h1>Donors</h1>
        <p>Last, but certainly not least, we'd like to thank everyone who has <a href="/donate">donated money</a>.  Your donations allow
        the Khan Academy to continue to produce high-quality educational resources that are free for all.</p>
    </section>
</div>

{% endblock aboutcontent %}




