{% extends "adding_and_subtracting_fractions.html" %}
{% block maincode %}
<script language=Javascript1.2><!--

var selColor = "#AE9CC9";
var noSelColor = "#333333";

var correctX = Math.round(Math.random()*18)-9;
var correctY = Math.round(Math.random()*18)-9;
var wrongAnswers = new Array();

setCorrectAnswer('('+correctX+','+correctY+')');

for(var i=0; i<6; i++)
{
	var x = Math.round(Math.random()*18)-9;
	var y = Math.round(Math.random()*18)-9;
	
	while (x==correctX && y==correctY)
	{
		x = Math.round(Math.random()*18)-9;
		y = Math.round(Math.random()*18)-9;
	}
		
	wrongAnswers.push([x,y]);
	possibleAnswers.push('('+x+','+y+')');
}

function draw_next_step() {
	
	present.fontsize = "14";
	present.fontfill = "red";

	if (steps_given<wrongAnswers.length)
	{
		var x = wrongAnswers[steps_given][0];
		var y = wrongAnswers[steps_given][1];
		present.text([x,y], '('+x+','+y+')', aboveright); 
	}
	else
	{
		if (steps_given==wrongAnswers.length)
		{
			present.text([correctX,correctY], '('+correctX+','+correctY+')', aboveright); 
			present.ASdot([correctX,correctY], 4, "orange", "orange");
		}
	}
	steps_given++;
}


function graph_update() {

	var p1_position=aboveright;
	var p2_position=aboveright;
	
	present.initPicture(-10,10, -10, 10);
	
	
	present.fontstyle = "normal";
	present.fontsize = "10";
	
	present.stroke = "#DDDDDD";
	present.strokewidth = "2";
	for(var i=-10; i<11; i++)
	{
		if (i!=0)
		{
			present.line([i,-11], [i,11]);
			present.line([-11,i], [11,i]);
			present.text([i, .1], i, below);
			present.text([0, i], i, right);
		}
	}
	present.axes();
	for(var i=0; i<wrongAnswers.length; i++)
	{
		var x = wrongAnswers[i][0];
		var y = wrongAnswers[i][1];
		present.ASdot([x,y], 2, "#528B8B", "#528B8B");
	}
}


//-->
</script>
{% endblock maincode %}

{% block maincell %}

Which of the coordinate pairs is <b>not</b> graphed?<br>

<center><iframe name="present" frameborder=0 src="/graphpage.html?w=500&h=500" height="550" width="550"></iframe>
</center>



{% endblock maincell %}
{% block hintfunction %}draw_next_step(){% endblock hintfunction %}
