{% extends "multiple_choice_template.html" %}
{% block maincode %}
<div id="raphael_container" style="float: right"></div>

<script language=Javascript1.2><!--
RaphaelWrapper.init(500, 500);
Exercise.fAddNoneOfThese = false;

var correctX = Math.round(KhanAcademy.random()*18)-9;
var correctY = Math.round(KhanAcademy.random()*18)-9;
var wrongAnswers = new Array();

setCorrectAnswer('('+correctX+','+correctY+')');

for(var i=0; i<6; i++)
{
	var x = Math.round(KhanAcademy.random()*18)-9;
	var y = Math.round(KhanAcademy.random()*18)-9;
	
	while (x==correctX && y==correctY)
	{
		x = Math.round(KhanAcademy.random()*18)-9;
		y = Math.round(KhanAcademy.random()*18)-9;
	}
		
	wrongAnswers.push([x,y]);
	Exercise.possibleAnswers.push('('+x+','+y+')');
}

function draw_next_step() {
	
	present.fontsize = "14";
	present.fontfill = "red";

	if (Exercise.steps_given<wrongAnswers.length)
	{
		var x = wrongAnswers[Exercise.steps_given][0];
		var y = wrongAnswers[Exercise.steps_given][1];
		present.text([x,y], '('+x+','+y+')', aboveright); 
	}
	else
	{
		if (Exercise.steps_given==wrongAnswers.length)
		{
			present.text([correctX,correctY], '('+correctX+','+correctY+')', aboveright); 
			present.ASdot([correctX,correctY], 4, "orange", "orange");
		}
	}
	Exercise.steps_given++;
}


function graph_update() {

	var p1_position=aboveright;
	var p2_position=aboveright;
	
	initPlane();
	for(var i=0; i<wrongAnswers.length; i++)
	{
		var x = wrongAnswers[i][0];
		var y = wrongAnswers[i][1];
		present.ASdot([x,y], 2, "#528B8B", "#528B8B");
	}
}

graph_update();

//-->
</script>
{% endblock maincode %}

{% block maincell %}

Which of the coordinate pairs is <b>not</b> graphed?<br>


{% endblock maincell %}
{% block hintfunction %}draw_next_step(){% endblock hintfunction %}
