{% extends "page_template.html" %}
{% block pagescript %}
    <link type="text/css" href="/stylesheets/custom-theme/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
<style>
    #video_library_toc {
        display: inline;
    }
    .highlighted {
        background-color: #edffa4;
    }
</style>
<script>
    $(function () {
       $("#video_library_toc a").click(function() {
          var topic = $(this).attr("href").substr(1);
          $(".highlighted").removeClass("highlighted");
          $("div[data-topic="+topic+"], div[data-subtopic="+topic+"]").addClass("highlighted");
       });
    });
</script>
{% endblock pagescript %}
{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}

            


<P>
                                The Khan Academy is a not-for-profit 501(c)(3) with the mission of providing a world-class education to anyone, anywhere.  
                            Despite being the work of one man, Salman Khan, this 1600+ video library is the most-used educational video resource as measured by YouTube video views per day and unique
                            users per month.  We are complementing this ever-growing library with user-paced exercises--developed as an <A href="http://code.google.com/p/khanacademy/">open source project</A>--allowing the Khan Academy to become the free classroom for the World.
                            <A href="/frequently-asked-questions"><b>Learn more about the Khan Academy and Salman Khan...</b></A>
        <P>
<h3><A href="/exercisedashboard"><B>Log in to the Khan Academy web application for user-paced practice and instruction</B></A></h3>

<P>

    <object width="560" height="340" align="right"><param name="movie" value="http://www.youtube.com/v/dsFQ9kM1qDs&hl=en_US&fs=1&hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/dsFQ9kM1qDs&hl=en_US&fs=1&hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
    <div id="video_library_toc">
    <h3>Math</h3><P>
    <ul> 
            <A href="#Arithmetic">Arithmetic</A>&nbsp;&nbsp;|&nbsp;&nbsp;

            <A href="#Pre-algebra">Pre-algebra</A> (<A href="#MA Tests for Education Licensure (MTEL) -Pre-Alg" title="MA Tests for Education Licensure (MTEL) -Pre-Alg">examples</A>)
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Algebra">Algebra</A> (<A href="#Algebra I Worked Examples" title="Algebra I Worked Examples">with</A>
            <A href="#California Standards Test: Algebra I" title="California Standards Test: Algebra I">many</A>
            <A href="#ck12.org Algebra 1 Examples" title="ck12.org Algebra 1 Examples">example</A>
            <A href="#California Standards Test: Algebra II" title="California Standards Test: Algebra II">problems</A>)
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Precalculus">Precalculus</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Probability">Probability</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Statistics">Statistics</A>&nbsp;&nbsp;|&nbsp;&nbsp;

            <A href="#Geometry">Geometry</A> (<A href="#California Standards Test: Geometry" title="California Standards Test: Geometry">examples</A>)
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Trigonometry">Trigonometry</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Calculus">Calculus</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Differential Equations">Differential Equations</A>&nbsp;&nbsp;|&nbsp;&nbsp;

            <A href="#Linear Algebra">Linear Algebra</A>&nbsp;&nbsp;&nbsp;&nbsp;

    </ul>
    <P>
    <h3>Science</h3><P>
    <ul>
            <A href="#Biology">Biology</A>&nbsp;&nbsp;|&nbsp;&nbsp;

            <A href="#Chemistry">Chemistry</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Organic Chemistry">Organic Chemistry</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Physics">Physics</A>&nbsp;&nbsp;&nbsp;&nbsp;
    </ul>
    <h3>Other Stuff ...</h3><P>
    <ul>

            <A href="#Khan Academy-Related Talks and Interviews">Khan Academy-Related Talks and Interviews</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#History">History</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Brain Teasers">Brain Teasers</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Finance">Finance</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Banking and Money">Banking and Money</A>&nbsp;&nbsp;|&nbsp;&nbsp;

            <A href="#Credit Crisis">Credit Crisis</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Current Economics">Current Economics</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Geithner Plan">Geithner Plan</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Paulson Bailout">Paulson Bailout</A>&nbsp;&nbsp;|&nbsp;&nbsp;
            <A href="#Valuation and Investing">Valuation and Investing</A>&nbsp;&nbsp;|&nbsp;&nbsp;

            <A href="#Venture Capital and Capital Markets">Venture Capital and Capital Markets</A>&nbsp;&nbsp;&nbsp;&nbsp;
        
            

    </ul>
    </div>
<P>
{% include "library_content.html" %}
{% endblock pagecontent %}