{% extends "page_template.html" %}
{% block pagescript %}
    <link type="text/css" href="/stylesheets/custom-theme/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
<style>
    .highlighted {
        background-color: #edffa4;
    }
    ul.menu {list-style:none; margin:0; padding:0}
	ul.menu * {margin:0; padding:0}
	ul.menu a {display:block; color:#000; text-decoration:none}
	ul.menu li {position:relative; float:left; margin-right:2px}
	ul.menu ul {position:absolute; top:26px; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none}
	ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}
	ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#d1d1d1}
	ul.menu ul li a:hover {background-color:#c5c5c5}
	ul.menu ul ul {left:148px; top:-1px}
	ul.menu .menulink {border:1px solid #aaa; padding:5px 7px 7px; font-weight:bold; background:url(/images/header.gif); width:134px}
	ul.menu .menulink:hover, ul.menu .menuhover {background:url(/images/header_over.gif)}
	ul.menu .sub {background:#d1d1d1 url(/images/arrow.gif) 136px 8px no-repeat}
	ul.menu .topline {border-top:1px solid #aaa}
</style>
<script>
    $(function () {
       $("#video_library_toc a").click(function() {
          $(".highlighted").removeClass("highlighted");
          var topic = $(this).attr("href").substr(1);
          if (topic.length > 0)
            $("div[data-topic="+topic+"], div[data-subtopic="+topic+"]").addClass("highlighted");
       });
    });
    
    

</script>
<script type="text/javascript" src="/javascript/dropdownscript.js"></script>

{% endblock pagescript %}
{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}
<img src="/images/blank.gif" height=15 width=100%><P>
<table border=0 cellpadding=2>
<tr><td valign=top><div id="homepage-text">
<h3>The Khan Academy is a not-for-profit 501(c)(3) with the mission of providing a world-class education to anyone, anywhere.</h3> 
<P>
            	    	     We are complementing Salman's ever-growing library with user-paced exercises--developed as an <A href="http://code.google.com/p/khanacademy/">open source project</A>--allowing the Khan Academy to become the free classroom for the World.
            	    	    
        <P>
<h3><A href="/exercisedashboard"><B>Log in to the Khan Academy web application for user-paced practice and instruction</B></A></h3>
</div></td>
<td valign=top>
<table border=0 cellpadding=2 cellspacing=0 align=right bgcolor="black" >
<tr>
<td rowspan=2 width=200 height=200>
	<iframe align=right class="youtube-player" type="text/html" width="249" height="200" src="http://www.youtube.com/embed/p6l8-1kHUsA" frameborder="0"></iframe>
</td>
<td width=200>
	<A href="/press/fortune"><img src="/images/splashthumbnails/fortune_thumbnail.png" align=right></a>
</td>
<td width=200>
	<A href="/frequently-asked-questions#GEL"><img src="/images/splashthumbnails/gel_thumbnail.png" align=right></a>
</td>
</tr>
<tr>
<td>
	<A href="/frequently-asked-questions#NEWSHOUR"><img src="/images/splashthumbnails/pbs_thumbnail.png" align=right></a>
</td>
<td>
	<A href="/frequently-asked-questions#OVERVIEW"><img src="/images/splashthumbnails/overview_thumbnail.png" align=right></a>
</td>
</tr>
</table>

</td></tr></table>
<P>
<table cellpadding=2 border=0>
<tr><td>
<div><h2>Browse 1800+ videos by topic:</h2>
<ul class="menu" id="menu">
	<li><a href="#" class="menulink">Math</a>
		<ul>

			<li><a href="#Arithmetic">Arithmetic</a></li>
            <li><a href="#Developmental Math">Developmental Math</a></li>
			<li>
				<a href="#" class="sub">Pre-Algebra</a>
				<ul>
					<li class="topline"><a href="#Pre-algebra">Core Pre-Algebra</a></li>
					<li><a href="#MA Tests for Education Licensure (MTEL) -Pre-Alg">Worked Examples 1</a></li>
		
				</ul>
			</li>
			<li><a href="#Brain Teasers">Brain Teasers</a></li>
			<li>
				<a href="#" class="sub">Algebra</a>
				<ul>
					<li class="topline"><a href="#Algebra">Core Algebra</a></li>
					<li><a href="#California Standards Test: Algebra I">Worked Examples 1</a></li>
					<li><a href="#ck12.org Algebra 1 Examples">Worked Examples 2</a></li>
					<li><a href="#California Standards Test: Algebra II">Worked Examples 3</a></li>
		
				</ul>
			</li>
			<li>
				<a href="#" class="sub">Geometry</a>
				<ul>

					<li class="topline"><a href="#Geometry">Core Geometry</a></li>
					<li><a href="#California Standards Test: Geometry">Worked Examples 1</a></li>
				</ul>
			</li>
			<li><a href="#Trigonometry">Trigonometry</a></li>
			<li><a href="#Probability">Probability</a></li>
			<li><a href="#Statistics">Statistics</a></li>
			<li><a href="#Precalculus">Pre-Calculus</a></li>
			<li><a href="#Calculus">Calculus</a></li>
			<li><a href="#Differential Equations">Differential Equations</a></li>
			<li><a href="#Linear Algebra">Linear Algebra (Advanced)</a></li>
			
		</ul>
	</li>

	<li>
		<a href="#" class="menulink">Science</a>
		<ul>
			<li><a href="#Biology">Biology</a></li>
			<li><a href="#Chemistry">Chemistry</a></li>
			<li><a href="#Physics">Physics</a></li>
			<li><a href="#Organic Chemistry">Organic Chemistry</a></li>
		</ul>
	</li>

	<li>
		<a href="#" class="menulink">Humanities & Other</a>
		<ul>
			<li><a href="#History">History</a></li>
			<li>
				<a href="#" class="sub">Finance</a>
				<ul>
					<li class="topline"><a href="#Finance">Core Finance</a></li>
					<li><a href="#Banking and Money">Banking and Money</a></li>
					<li><a href="#Valuation and Investing">Valuation and Investing</a></li>
					<li><a href="#Venture Capital and Capital Markets">Venture Capital and Capital Markets</a></li>
					<li><a href="#Credit Crisis">Credit Crisis</a></li>
					<li><a href="#Paulson Bailout">Paulson Bailout</a></li>
					<li><a href="#Geithner Plan">Geithner Plan</a></li>
					<li><a href="#Current Economics">Current Economics</a></li>
				</ul>

			</li>
			
		</ul>
	</li>
	<li>
		<a href="#" class="menulink">Test Prep</a>
		<ul>
			<li><a href="/sat">SAT Math</a></li>
			<li><a href="/gmat">GMAT</a></li>
			
			
		</ul>
	</li>
	<li><a href="#Khan Academy-Related Talks and Interviews" class="menulink">Talks and Interviews</a></li>
	
</ul>
</div>
</td></tr>
</table>

<P>
<script type="text/javascript">
	var menu=new menu.dd("menu");
	menu.init("menu","menuhover");
</script>

{% include "library_content.html" %}
{% endblock pagecontent %}