{% extends arithmetic_template %}
{% block maincode %}
<script language=Javascript1.2><!--
/***
Finding the LCM (Least Common Multiple) of A and B
***/
var selColor = "#E38217"; //The color of the colored text
var unselColor = "#999999"; //The unselected text

function colStr(string)
{
	var selFontString = '`<font color='+selColor+' face=arial>`';
	return (selFontString+string+'`</font>`');
}


function unselStr(string)
{
	var selFontString = '`<font color='+unselColor+'>`';
	return (selFontString+string+'`</font>`');
}

var A = getRandomIntRange(1,10);
var B = getRandomIntRange(1,10);

while (B==A)
{
	B=getRandomIntRange(1,10);
}


var C = getRandomIntRange(1,5);

B = B*C;
A = A*C;	

setCorrectAnswer(getLCM(A,B));

//-->
</script>
{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--
write_text('What is the least common multiple of '+A+' and '+B+'?  Another way to say this is: <P><center>LCM('+A+','+B+')=?</center></P>');
write_step('The least common multiple is the smallest number that is both a multiple of '+A+' and '+B+'.');
write_step('We know that '+A+' x '+B+'='+(A*B)+' is a common multiple of '+A+' and '+B+', but is it the <i>least</i> common multiple?');
write_step('Write out the multiples of '+A+' up to '+(A*B)+'.  Which of those are also divisible by '+B+'?');
var multiplesTable='<table border=0><tr><td>Multiples of '+A+' : </td>';
for(var i=1; i<=B; i++)
{
	if((A*i)%B==0)
		multiplesTable+='<td class="large">'+colStr(i*A)+'&nbsp;&nbsp;</td>';
	else
		multiplesTable+='<td class="large">'+unselStr(i*A)+'&nbsp;&nbsp;</td>';
}
multiplesTable+='</tr></table>';
write_step('<center>'+multiplesTable+'</center>');

var extraExplanation = '';

if (correctAnswer!=(A*B))
	extraExplanation = '  <P>'+(A*B)+' divided by '+getGCD(A,B)+' is '+correctAnswer+'.  Do you think that it is a coincidence'+
			' that '+getGCD(A,B)+' is the the greatest common divisor of '+A+' and '+B+'?</P>'

write_step('So '+correctAnswer+' is the least common multiple of '+A+' and '+B+'.'+extraExplanation);


//-->
</script>

{% endblock maincell %}
{% block hintfunction %}give_next_step(){% endblock hintfunction %}
