{% extends "multiple_choice_template.html" %}
{% block maincode %}
<style>
  .line1 { color: blue }
  .line2 { color: red }
</style>
<script src="/javascript/exercises/line_relationships.js?{{App.version}}"></script>
<div id="raphael_container" style="float: right"></div>
<script>
RaphaelWrapper.init(400, 400);
Exercise.fAddNoneOfThese = false;
LineRelationshipsExercise.init();
initPlane();
</script>

{% endblock maincode %}
{% block hintfunction %}LineRelationshipsExercise.drawNextStep(){% endblock hintfunction %}
