{% extends "multiple_choice_template.html" %}
{% block maincode %}
<style>
  .line1 { color: blue }
  .line2 { color: red }
</style>
<script src="/javascript/exercises/line_relationships.js?{{App.version}}"></script>
<script>
LineRelationshipsExercise.init();

function graph_update() {
initPlane();
}
</script>
{% endblock maincode %}
{% block maincell %}
<iframe name="present" frameborder=0 src="/graphpage.html?w=400&h=300" height="350" width="100%"></iframe>
{% endblock maincell %}
{% block hintfunction %}LineRelationshipsExercise.drawNextStep(){% endblock hintfunction %}
