{% extends "linear_equations_1.html" %}

{% block generateequation %}
//generate the left and right terms for the first degree linear equations
var left_x_coefficients= new Array();
var right_x_coefficients= new Array();
var left_constants = new Array();
var right_constants = new Array();

left_x_coefficients[0]=get_random();
right_x_coefficients[0]=get_random();
left_constants[0]=get_random();
right_constants[0]=get_random();

while (right_x_coefficients[0]==left_x_coefficients[0])
	right_x_coefficients[0]=get_random();


{% endblock generateequation %}

