{% extends "multiple_choice_template.html" %}
{% block maincode %}
<script language=Javascript1.2><!--

var leftInvert = false;
var rightInvert = false;
var leftMultiplier = 1;
var rightMultiplier = 1;


function getEqExpString(string)
{
	var selFontString = '<font color='+selColor+' size=4>';
	return (selFontString+'`'+string+'`</font>');
}

function generate_steps(left_x, left_c, right_x, right_c) {
	var new_left_x = left_x;
	var new_left_c = left_c;
	var new_right_x = right_x;
	var new_right_c = right_c;
	var sign_string = "";
	var explanation = "";
	
	//write_equation(get_equation_string_side(left_x_coefficients, left_constants)+'='+get_equation_string_side(right_x_coefficients, right_constants));
	write_text("Solve for `x`:");
	if (leftInvert==true && rightInvert==false) {
	table_step_header(explanation, 
				leftMultiplier,
				rational_equation(new_right_x, new_left_x, new_right_c, new_left_c));
				
				
	explanation = "Multiply both sides by "+getEqExpString('('+get_equation_string_side(new_left_x, new_left_c, true, true)+')')+'.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
	write_table_step(explanation,
			'`'+getEqExpString('('+get_equation_string_side(new_left_x, new_left_c, true, true)+')')+'`*'+leftMultiplier,
			rational_equation(new_right_x, new_left_x, new_right_c, new_left_c)+'*`'
				+getEqExpString('('+get_equation_string_side(new_left_x, new_left_c, true, true)+')')+'`');
	new_left_x[0] = leftMultiplier*new_left_x[0];
	new_left_c[0] = leftMultiplier*new_left_c[0];
	write_table_step('',
			get_equation_string_side(new_left_x, new_left_c, false, false),
			get_equation_string_side(new_right_x, new_right_c, false, false));
			
	}
	if (leftInvert==true && rightInvert==true) {
	table_step_header(explanation, 
				leftMultiplier+'/('+format_first_coefficient(new_right_x[0])+'x'+format_constant(new_right_c[0])+')',
				rightMultiplier+'/('+format_first_coefficient(new_left_x[0])+'x'+format_constant(new_left_c[0])+')');
				
				
	explanation = "Multiply both sides by "+getEqExpString('('+get_equation_string_side(new_left_x, new_left_c, true, true)+')')+'.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
	write_table_step(explanation,
			'`'+getEqExpString('('+get_equation_string_side(new_left_x, new_left_c, true, true)+')')+'`*('+leftMultiplier+'/('+format_first_coefficient(new_right_x[0])+'x'+format_constant(new_right_c[0])+'))',
			'('+rightMultiplier+'/('+format_first_coefficient(new_left_x[0])+'x'+format_constant(new_left_c[0])+'))'+'*`'
				+getEqExpString('('+get_equation_string_side(new_left_x, new_left_c, true, true)+')')+'`');
	new_left_x[0] = leftMultiplier*new_left_x[0];
	new_left_c[0] = leftMultiplier*new_left_c[0];
	write_table_step('',
			rational_equation(new_left_x, new_right_x, new_left_c, new_right_c),
			rightMultiplier);
			
	explanation = "Multiply both sides by "+getEqExpString('('+get_equation_string_side(new_right_x, new_right_c, true, true)+')')+'.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
	write_table_step(explanation,
			'`'+getEqExpString('('+get_equation_string_side(new_right_x, new_right_c, true, true)+')')+'`*'+rational_equation(new_left_x, new_right_x, new_left_c, new_right_c),
			rightMultiplier+'*`'
				+getEqExpString('('+get_equation_string_side(new_right_x, new_right_c, true, true)+')')+'`');
	new_right_x[0] = rightMultiplier*new_right_x[0];
	new_right_c[0] = rightMultiplier*new_right_c[0];
	write_table_step('',
			get_equation_string_side(new_left_x, new_left_c, false, false),
			get_equation_string_side(new_right_x, new_right_c, false, false));
		
	}
	if (leftInvert==false && rightInvert==false) {
	table_step_header(explanation,
				get_equation_string_side(new_left_x, new_left_c, false, false),
				get_equation_string_side(new_right_x, new_right_c, false, false));
	}
	if (left_x.length>1) { //Combine the x-terms on the left-hand side
		write_table_step(getEqExpString(get_equation_string_side(new_left_x, [], true, false)+'=?'),
				get_equation_string_side(new_left_x, new_left_c, true, false),
				get_equation_string_side(new_right_x, new_right_c, false, false));
		new_left_x = [array_sum(left_x)];
		explanation = getEqExpString(get_equation_string_side(left_x, [], true, false)+'='+get_equation_string_side(new_left_x, [], true, false));
		write_table_step(explanation,
				get_equation_string_side(new_left_x, new_left_c, true, false),
				get_equation_string_side(new_right_x, new_right_c, false, false));
	} 
	if (right_x.length>1) {
		write_table_step(getEqExpString(get_equation_string_side(new_right_x, [], true, false)+'=?'),
				get_equation_string_side(new_left_x, new_left_c, false, false),
				get_equation_string_side(new_right_x, new_right_c, true, false));
		new_right_x = [array_sum(right_x)];
		explanation = getEqExpString(get_equation_string_side(right_x, [], true, false)+'='+get_equation_string_side(new_right_x, [], true, false));
		write_table_step(explanation,
				get_equation_string_side(new_left_x, new_left_c, false, false),
				get_equation_string_side(new_right_x, new_right_c, true, false));
	} 
	if (left_c.length>1) {
		write_table_step(getEqExpString(get_equation_string_side([], new_left_c, false, true)+'=?'),
				get_equation_string_side(new_left_x, new_left_c, false, true),
				get_equation_string_side(new_right_x, new_right_c, false, false));
		
		new_left_c = [array_sum(left_c)];
		explanation = getEqExpString(get_equation_string_side([], left_c, false, true)+'='+get_equation_string_side([], new_left_c, false, true));
		write_table_step(explanation,
				get_equation_string_side(new_left_x, new_left_c, false, true),
				get_equation_string_side(new_right_x, new_right_c, false, false));
	}
	if (right_c.length>1) {
		write_table_step(getEqExpString(get_equation_string_side([], new_right_c, false, true)+'=?'),
				get_equation_string_side(new_left_x, new_left_c, false, false),
				get_equation_string_side(new_right_x, new_right_c, false, true));
		
		new_right_c = [array_sum(right_c)];
		explanation = getEqExpString(get_equation_string_side([], right_c, false, true)+'='+get_equation_string_side([], new_right_c, false, true));
		write_table_step(explanation,
				get_equation_string_side(new_left_x, new_left_c, false, false),
				get_equation_string_side(new_right_x, new_right_c, false, true));
	}
	if (new_right_x.length>0 && new_left_x.length>0 && new_right_x[0]!=0) {
		
		if (new_left_x[0]>0)
			sign_string = '+';
		explanation = 'Add '+getEqExpString(format_first_coefficient(-1*new_right_x[0])+'x')+' to both sides';
		write_table_step(explanation,
				'`<font color='+selColor+'>`'+format_first_coefficient(-1*new_right_x[0])
				+'x'+'`</font>`'+sign_string+get_equation_string_side(new_left_x, new_left_c, false, false),
				 get_equation_string_side(new_right_x, new_right_c, false, false)+'`<font color='+selColor+'>`'+format_coefficient(-1*new_right_x[0])+'x'+'`</font>`');
		explanation = getEqExpString(get_equation_string_side([-1*new_right_x[0],new_left_x[0]] , [], true, false)+'='+get_equation_string_side([new_left_x[0]-new_right_x[0]], [], true, false));
		explanation += '; ';
		explanation += getEqExpString(get_equation_string_side([new_right_x[0],-1*new_right_x[0]], [], true, false)+'=0');
		new_left_x = [new_left_x[0]-new_right_x[0]];
		new_right_x = new Array(0);
		write_table_step(explanation,
				get_equation_string_side(new_left_x, new_left_c, true, false),
				get_equation_string_side(new_right_x, new_right_c, true, false));
	}
	if (new_left_c[0]!=0) {
		if (new_left_x[0]>0)
			sign_string = '+';
		else
			sign_string = '';
		explanation = 'Add '+getEqExpString(format_first_coefficient(-1*new_left_c[0]))+' to both sides';
		write_table_step(explanation,
				'`<font color='+selColor+'>`'+(-1*new_left_c[0])+'`</font>`'+sign_string+get_equation_string_side(new_left_x, new_left_c, false, false),
				 get_equation_string_side(new_right_x, new_right_c, false, false)+'`<font color='+selColor+'>`'+format_constant(-1*new_left_c[0])+'`</font>`');
		explanation = getEqExpString(get_equation_string_side([], [-1*new_left_c[0],new_left_c[0]] , false, true)+'=0');
		explanation += '; ';
		explanation += getEqExpString(get_equation_string_side([], [new_right_c[0],-1*new_left_c[0]], false, true)+'='+get_equation_string_side([], [new_right_c[0]-new_left_c[0]], false, true));
		new_right_c = [new_right_c[0]-new_left_c[0]];
		new_left_c = [0];
		write_table_step(explanation,
				get_equation_string_side(new_left_x, new_left_c, false, false),
				get_equation_string_side(new_right_x, new_right_c, false, false));
	}
	if (new_left_x[0]!=0) {
		explanation = 'Multiply both sides by '+getEqExpString(format_fraction(1, new_left_x[0]))+'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
		write_table_step(explanation,
					'`<font color='+selColor+'>`('+format_fraction(1, new_left_x[0])+')`</font>`*'+get_equation_string_side(new_left_x, new_left_c, false, false),
				 	get_equation_string_side(new_right_x, new_right_c, false, false)+'*`<font color='+selColor+'>`('+format_fraction(1, new_left_x[0])+')`</font>`');
		explanation = "Simplify...";
		write_table_step(explanation, 'x',format_fraction(new_right_c[0], new_left_x[0]));
		///Right answer
		setCorrectAnswer('x=' + format_fraction(new_right_c[0], new_left_x[0]));;
	} 
	else {
		explanation = "Any `x` would satisfy the orignal equation";
		write_table_step(explanation, 'x','`undefined`');
		///Right answer
		setCorrectAnswer('x=`undefined`');;
	}
	table_step_footer();	
}	

function get_equation_string_side(x, c, selX, selC) {
	var equation_string = " ";
	var first=0; //boolean to test if the first term on the side has been printed
	var xColor = noSelColor;
	var cColor = noSelColor;

	if (selX)
		xColor = selColor;
	if (selC)
		cColor = selColor;
		
	equation_string = '`<font color=\"'+xColor+'\">`';
	for (var i=0; i<x.length; i++) {
		if (x[i]!=0) {
			
			if (first==0) {
				first=1;
				equation_string+=format_first_coefficient(x[i])+'x';
			}
			else {
				equation_string+=format_coefficient(x[i])+'x';
			}
		}
		
	}
	equation_string += '`</font><font color=\"'+cColor+'\">`'
	for (var i=0; i<c.length; i++) {
		if (first==0) {
			first=1;
			equation_string+=c[i];
		}
		else {
			equation_string+=format_constant(c[i]);
		}
	}
	equation_string += '`</font>`';
	return equation_string;
}


function rational_equation(top_x, bot_x, top_c, bot_c) //assumes the form (AX+B)/(CX+D)
{
	var equation_string = "(";
	equation_string+=format_first_coefficient(top_x[0])+'x';
	equation_string+=format_constant(top_c[0]);
	equation_string+= ")/(";
	equation_string+=format_first_coefficient(bot_x[0])+'x';
	equation_string+=format_constant(bot_c[0]);
	equation_string+=")"; 

	return equation_string;
}




{% block generateequation %}
//generate the left and right terms for the first degree linear equations
var left_x_coefficients= new Array();
var right_x_coefficients= [0];
var left_constants = [0];
var right_constants = new Array();

left_x_coefficients[0]=get_random();
//right_x_coefficients[0]=get_random();
//left_constants[0]=get_random();
right_constants[0]=get_random();
{% endblock generateequation %}


//figure out the numerator and denominator for the solution
var numerator = 0;
var denominator = 0;
for (var i=0; i<right_constants.length; i++) {
	numerator+=right_constants[i];
}
for (var i=0; i<left_constants.length; i++) {
	numerator-=left_constants[i];
}
for (var i=0; i<left_x_coefficients.length; i++) {
	denominator+=left_x_coefficients[i];
}
for (var i=0; i<right_x_coefficients.length; i++) {
	denominator-=right_x_coefficients[i];
}


//-->
</script>
{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--
//Write the question on the page


//Write the hints
generate_steps(left_x_coefficients, left_constants, right_x_coefficients, right_constants);	

///Right answer
//setCorrectAnswer('x=' + format_fraction(numerator,denominator));;

//Wrong Answers
while (possibleAnswers.length<6)
{
	var n_shift = get_random();
	var d_shift = get_random();

	
	while ((numerator*d_shift)==(denominator*n_shift) || (d_shift+denominator)==0) {
		n_shift = get_random();
		d_shift = get_random();
	}
	addWrongChoice('x=' + format_fraction(numerator+n_shift, denominator+d_shift));
}

//-->
</script>

{% endblock maincell %}

