{% extends "multiple_choice_template.html" %}

{% block maincode %}
<script type="text/javascript" src="/javascript/exercises/logarithms_2.js?{{App.version}}"></script>
<style type="text/css">
.hint_orange {
    color: orange;
}

.hint_blue {
    color: blue;
}
</style>
{% endblock maincode %}

{% block maincell %}
<script type="text/javascript">
var exercise = new Logarithms2Exercise(); 
exercise.init();
</script>
{% endblock maincell %}

{% block hintfunction %}
give_next_step()
{% endblock hintfunction%}
