{% extends "page_template.html" %}
{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        <a href="/admin94040">Dev Panel</a>
        {{ main_exercise.display_name|escape }}
        {% if saved %}
            <span style="color:green;" id="saved">...Saved!</span>
            <script>$(function(){setTimeout(function(){$("#saved").fadeOut("slow");}, 2000);});</script>
        {% endif %}
    </span>
{% endblock pagesubmenu %}

{% block pagecontent %}

    <style>
        .exercise-properties td { padding-right: 9px; }
        #footer { z-index:0 ; }
    </style>

    <div id="devpanel" style="padding: 9px 23px;">
        <div>
            <form type="GET" action="">
            Add Dev:<input type="text" name="adddev" />
            Remove Dev:<input type="text" name="removedev" />    
            <input type="submit" value="Submit" />
            </form>
            <table>
                
                <tr>
                    <td style="border:none;">Current Devs</td>
                </tr>
                
                {% for dev in developers %}
                <tr>
                    <td>{{dev.email}}</td>
                </tr>
                {% endfor %}
                    
                
            </table>
            
        </div>
    </div>

{% endblock pagecontent %}
