{% extends arithmetic_template %}
{% block maincode %}
<script type="text/javascript" src="/javascript/exercises-package/matrix.js"></script>
<script type="text/javascript" src="/javascript/exercises/matrix_addition.js"></script>
<div id="dvQuestion"></div>
<div id="dvHint" style="display:none; clear:both; "></div>

<div id="dvHintText" style="clear:both; padding-left:5px; font-size: 25px; font-weight: bold; float:left; color:Blue;"></div>

{% endblock maincode %}

{% block maincell %}
{% endblock maincell %}

{% block answerarea %}
<span class="info-box-header">Answer</span>
<div id="dvAnswers" style="text-align: left;"></div>
{% endblock answerarea %}

{% block checkanswer %}Matrix.Addition.check_answer(){% endblock checkanswer%}

{% block hintfunction %}Matrix.Addition.next_step(){% endblock hintfunction %}
