{% extends arithmetic_template %}

{% block maincode %}
<script type="text/javascript" src="/javascript/exercises-package/matrix.js"></script>
<script type="text/javascript" src="/javascript/exercises/matrix_determinant_two_by_two.js"></script>
<div id="dvQuestion"></div>
<div id="dvSample2x2" style="display:none; float:left; font-size:150%; padding-left:8px;"></div>
<div style="clear:left"></div>
<div id="dvHint" style="display:none; padding-left:8px;"></div>
<div style="clear:left"></div>
<div id="dvHintText" style="font-size: 18px; font-weight: bold; float:left; padding-left: 5px; padding-left:8px;"></div>
{% endblock maincode %}

{% block maincell %}
{% endblock maincell %}

{% block hintfunction %}Matrix.Determinant.next_step(){% endblock hintfunction %}
