{% extends arithmetic_template %}
{% block answerarea %}
<script>

    function updateMatrix() {
        var num_rows = $("#num_rows").val();
        var num_cols = $("#num_cols").val();

        var row_html = "";
        for (var i = 0; i < num_cols; i++) {
            row_html += $("#sample_cell").html();
        }
        
        var matrix_html = "";
        for (var i = 0; i < num_rows; i++) {
            matrix_html += row_html;
            matrix_html += "<div></div>"
        }
        $("#matrix").html(matrix_html);
    }
    
    $(document).ready(function() {
        var arr = [];
        for (var i = 0; i < 5; i++) {
            arr[i] = i + 1;
        }

        $.each(arr, function(index, value) {
            $("#num_rows").append($("<option></option>").val(value).html(value));
            $("#num_cols").append($("<option></option>").val(value).html(value));
        });
        
        $("#num_rows").val(2);
        $("#num_cols").val(2);
        
        $("#num_rows").change(updateMatrix);
        $("#num_cols").change(updateMatrix);
        
        updateMatrix();
    });
</script>

<span class="info-box-header">Answer</span>
{% if not read_only %}
<div style="float: left;">
    <select id="num_rows"></select>
</div>

<div style="float: left;">
    <div id="matrix" style="padding-left: 10px; padding-bottom: 5px"></div>
    
    <div style="clear: both;"></div>
    
    <div style="float: right">
        <select id="num_cols"></select>
    </div>
</div>

<div style="clear: both"></div>

<div id="sample_cell" style="display: none"><input {% if is_mobile %} type="number" {% else %} type="text" size="2" {% endif %} autocomplete="off" onkeypress="if (event.keyCode == 13) {console.log('pressed enter'); return false;}"></div>

<div style="clear: both;"></div>
{% endif %}
{% endblock answerarea %}

{% block hintfunction %}give_next_step(){% endblock hintfunction %}
