{% extends arithmetic_template %}
{% block answerarea %}
<style>

#matrix_container {
    width: 125px;
    height: 125px;
    overflow: hidden;
}
#matrix { 
    width: 125px;
    height: 125px;
}

.matrix_cell {
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    border: none;
}

</style>

<script>

// TODO: left/down/up/right bindings
// TODO: little brackets around matrix
// TODO: prettier
var MIN_ROWS = 1;
var MAX_ROWS = 5;
var MIN_COLS = 1;
var MAX_COLS = 5;
var CELL_WIDTH = 25;
var CELL_HEIGHT = 25;

var cell_colors = ["#bbeeee", "#fff"];

function initMatrix() {
    for (var i = 0; i < MAX_ROWS * MAX_COLS; i++) {
        var row = Math.floor(i / MAX_COLS);
        var col = i % MAX_ROWS;
    
        var jel = $($("#sample_cell").html()).addClass("row_" + row).addClass("col_" + col);
        jel.css("background-color", cell_colors[(row + col) % 2]);
        jel.appendTo("#matrix");
        
        if (i % MAX_ROWS == MAX_ROWS - 1)
            $("<div style=\"clear:both\"></div>").appendTo("#matrix");
    }
}

function updateMatrix() {
    var width = $("#matrix_container").width();
    var height = $("#matrix_container").height();
    
    var num_cols = Math.floor(width / CELL_WIDTH);
    var num_rows = Math.floor(height / CELL_HEIGHT);
    
    if (num_cols < MIN_COLS)
        num_cols = MIN_COLS;
    else if (num_cols > MAX_COLS)
        num_cols = MAX_COLS;
        
    if (num_rows < MIN_ROWS)
        num_rows = MIN_ROWS;
    else if (num_rows > MAX_ROWS)
        num_rows = MAX_ROWS;
    
    for (var i = 0; i < 5; i++) {
        if (i < num_cols)
            $(".col_" + i).show();
        if(i < num_rows)
            $(".row_" + i).show();
            
        if (i >= num_cols)
            $(".col_" + i).hide();
        if (i >= num_rows)
            $(".row_" + i).hide();
    }
    
    $("#matrix_container").width(CELL_WIDTH * num_cols).height(CELL_HEIGHT * num_rows);

}

$(function() {
    initMatrix();
    $("#matrix_container").resizable({
        handles: "se",
        maxHeight: 125,
        maxWidth: 125,
        minHeight: 25,
        minWidth: 25,
        stop: function(event, ui) {
            updateMatrix();
        }
   });
});
</script>

<span class="info-box-header">Answer</span>
{% if not read_only %}
<div id="matrix_container">
    <div id="matrix"></div>
</div>
<div id="sample_cell" style="display: none"><input {% if is_mobile %} type="number" {% else %} type="text" size="2" {% endif %} autocomplete="off" class="matrix_cell" onkeypress="if (event.keyCode == 13) {console.log('pressed enter'); return false;}"></div>
{% endif %}
{% endblock answerarea %}

{% block hintfunction %}give_next_step(){% endblock hintfunction %}
