{% extends "multiple_choice_template.html" %}
{% block maincode %}
<script language=Javascript1.2><!--
/***
Compute arithmetic mean, median, or mode of an unordered set of integers.
***/

var integers;
var sortedInts = [];
var intCount;

var total;
var numInstances;

var mean;
var median;
var mode;

function initArray() {
	intCount = getRandomIntRange(5, 10);
	
	total = 0;
	
	integers = [];
	numInstances = [];
	mode = -1;
	
	for (var i = 0; i < intCount; i++) {
		var newInt = getRandomIntRange(1, 10);
		
		if ($.inArray(newInt, integers) > -1) {
			numInstances[newInt] += 1;
		} else {
			numInstances[newInt] = 1;
		}
		
		integers[i] = newInt;
		
		total += newInt;
	}
}

function calcMode() {
	var modeInstances = -1;
	for (var i = 0; i < numInstances.length; i++) {
		if (numInstances[i]) {
			if (numInstances[i] > modeInstances) {
				modeInstances = numInstances[i];
				mode = i;
			}
		}
	}
	
	// iterate again to check for 'no mode'
	for (var i = 0; i < numInstances.length; i++) {
		if (numInstances[i]) {
			if (i != mode && numInstances[i] == modeInstances) {
				return false;
			}
		}
	}
	return true;
}

function printIntegers(numbers, separator) {
	if (!separator) separator = '`&nbsp;&nbsp;,&nbsp;&nbsp;`';
	
	var intString;
	for (var j = 0; j < numbers.length; j++) {
		if (intString) {
			intString = intString + separator + numbers[j];
		} else {
			intString = numbers[j];
		}
	}
	return '`' + intString + '`';
}

function addWrongMeasures() {
	addWrongChoice(mean);
	addWrongChoice(median);
	addWrongChoice(mode);
}

function roundTo(num, digits) {
	// rounding without a minimum number of digits
	return Math.round(num*Math.pow(10, digits))/Math.pow(10, digits);
}

do {
	initArray();
} while (!calcMode()); // we should always have a mode

// sort numbers for median calculation
sortedInts = integers.slice(0);
sortedInts.sort( function(a, b) { return a - b } );
if (intCount % 2 == 0) {
	median = (sortedInts[(intCount / 2) - 1] + sortedInts[intCount / 2]) / 2;
} else {
	median = sortedInts[Math.floor(intCount/2)];
}

mean = roundTo(total / intCount, 3);

var problemType = getRandomInt(2);
if (problemType == 0) { // arithmetic mean
	write_text('Calculate the arithmetic mean of the following numbers:');
	write_text('<div style="text-align:center">' + printIntegers(integers) + '</div>');
	
	write_step('To find the mean, add the numbers and divide by the number of numbers.');
	write_step(
		'<div style="text-align:center">' + printIntegers(integers, '+') + '` = ' + total + '`</div>' +
		'<p>There are `' + intCount + '` numbers.</p>' +
		'<p>The mean is `' + total + '/' + intCount + '` or `' + mean + '`.</p>'
		);
	
	setCorrectAnswer(mean);
	
	addWrongMeasures();
	
	addWrongChoice(roundTo((total - 1) / intCount, 3));
	addWrongChoice(roundTo(total / (intCount + 1), 3));
	addWrongChoice(roundTo(total / (intCount - 1), 3));
	addWrongChoice(roundTo((total + 1) / intCount, 3));
	addWrongChoice(roundTo((total - 1) / (intCount - 1), 3));
	addWrongChoice(roundTo((total + 1) / (intCount + 1), 3));
	
} else if (problemType == 1) { // median
	write_text('Calculate the median of the following numbers:');
	write_text('<div style="text-align:center">' + printIntegers(integers) + '</div>');
	
	write_step(
		'<p>First, order the numbers, giving:</p>' +
		'<div style="text-align:center">' + printIntegers(sortedInts) + '</div>'
		);
	
	// print the ordered numbers, highlighting the center numbers
	var intString;
	for (var i = 0; i < intCount; i++) {
		if (intString) {
			if (i == intCount / 2 ||
				i == Math.floor(intCount / 2) ||
				i == intCount / 2 - 1) {
				
				intString = intString + '`&nbsp;&nbsp;,&nbsp;&nbsp;<span style="color:red">`'
					+ sortedInts[i] + '`</span>`';
			} else {
				intString = intString + '`&nbsp;&nbsp;,&nbsp;&nbsp;`' + sortedInts[i];
			}
		} else {
			intString = sortedInts[i];
		}
	}
	
	write_step(
		'<p>The median is the "middle" number:</p>' +
		'<div style="text-align:center">`' + intString + '`</div>'
		);
	
	if (intCount % 2 == 0) {
		write_step(
			'<p>Since we have `2` middle numbers, the median is the mean of <strong>those</strong> two numbers!</p>' +
			'<div style="text-align:center">`' + 
				'(' + sortedInts[intCount / 2 - 1] + ' + ' + sortedInts[intCount / 2] + ')' +
				' / 2 = `<span style="color:blue">`' + median + '`</span></div>' 
			);
	}
	setCorrectAnswer(median);
	
	addWrongMeasures();
	
	addWrongChoice(Math.round(median));
	addWrongChoice(median - 1);
	addWrongChoice(median + 1);
	
	$.each(integers, function(index, value) {
		addWrongChoice(value);
	});
	
	addWrongChoice(numbers[getRandomInt(numbers.length-1)]);
	addWrongChoice(numbers[getRandomInt(numbers.length-1)]);
	
} else if (problemType == 2) { // mode
	write_text('Calculate the mode of the following numbers:');
	write_text('<div style="text-align:center">' + printIntegers(integers) + '</div>');
	
	write_step('The mode is the most frequent number.');
	write_step('There are more `' + mode + '`s than any other number, so `' + mode + '` is the mode.');
	
	setCorrectAnswer(mode);
	
	addWrongMeasures();
	
	$.each(integers, function(index, value) {
		addWrongChoice(value);
	});
	
	addWrongChoice(Math.round(median));
}

//-->
</script>
{% endblock maincode %}

{% block maincellwidth %}70%{% endblock maincellwidth %}