{% extends arithmetic_template %}
{% block maincode %}
<script language=Javascript1.2><!--
var counter = 0;
var topNumber = new Array();
var bottomNumber = new Array(); 
var carryArray = new Array();
var selectedArray = new Array();
var topNumberDigits =3;
var bottomNumberDigits =3;
var answer = 0;

var topDecPosition = 0;
var botDecPosition = 0;

// Ensure at least one of the two numbers has a decimal
while (0 == topDecPosition && 0 == botDecPosition)
{
	topDecPosition = get_random(topNumberDigits);
	botDecPosition = get_random(bottomNumberDigits);
}

// Generate top and bottom numbers
for (var i=0; i<(topNumberDigits-1); i++)
{
	topNumber.push(get_random(9));
	if (i<bottomNumberDigits)
	{
		if (i<(bottomNumberDigits-1))
		{
			bottomNumber.push(get_random(9));
		}
		else
		{
			bottomNumber.push(get_random(8)+1);
		}
	}
	else
	{
		bottomNumber.push(0);
	}
	
}
topNumber.push(get_random(8)+1);
bottomNumber.push(get_random(8)+1);

var digits = {};
var totalRows = 2*bottomNumberDigits+5;
var totalCols = topNumberDigits+bottomNumberDigits;
var topNumRow = totalRows-2-bottomNumberDigits;
var botNumRow = topNumRow-1;

var xSpacing =34;
var ySpacing = 55;
var xMax = 400;
var xMin = 0;
var yMax = 200;
var yMin = 100;
var smallySpacing = 30;
var addCols = 0;

var hColors = ['#D9A326', '#E8887D', '#9CC9B7', '#AE9CC9', '#EAADEA', '#CD8C95', '#EE8262', '#FBA16C', '#DEB887','#CFD784'];
var curColor = 0;

for(var i=0; i<bottomNumberDigits; i++)
{
	createEntry(botNumRow, i, bottomNumber[i]);
	for(var j=0; j<topNumberDigits; j++)
	{
		createEntry(topNumRow, j, topNumber[j]);
		answer+=bottomNumber[i]*Math.pow(10,i)*topNumber[j]*Math.pow(10,j);
	}
}

answer = answer / Math.pow(10, topDecPosition+botDecPosition);




var hColor1 = '#D9A326';
var hColor2 = '#E8887D';
var hColor3 = '#9CC9B7';
var hColor4 = '#AE9CC9';
var hColor5 = '#FF6347';
var nColor = "#777777"; //Stands for "normal" color

function getNextColor()
{
	curColor=(curColor+1)%hColors.length;
	return hColors[curColor];
}

function getCoor(row, col)
{
	if(row>topNumRow) //these are the carry numbers so use smaller ySpacing
		return [xMax-(col+1)*(xSpacing), yMin+(topNumRow+1)*ySpacing+(row-topNumRow-1)*smallySpacing-5];
	else if (row==(botNumRow-1))
	{
		return [xMax-(col+1)*(xSpacing), yMin+(botNumRow*ySpacing)-smallySpacing-10];
	
	}
	else if (row<botNumRow)
		return [xMax-(col+1)*(xSpacing), yMin+(botNumRow*ySpacing)-smallySpacing+(row-botNumRow+1)*ySpacing-5];
	else
		return [xMax-(col+1)*(xSpacing), yMin+row*ySpacing];
}

function createEntry(row, col, value)
{
	if (digits[row+'_'+col]==null)
		digits[row+'_'+col] = {row: row, col: col, val: value, color: getNextColor()};
}

function drawDigit(row,col, color)
{
	var id = row+'_'+col;
	if(digits[id]!=null)
	{
		present.fontstyle="bold";
		present.fontfamily="Arial";
		
		if (row>topNumRow || row==(botNumRow-1))
			present.fontsize="25";
		else
			present.fontsize="50";
		if (color==null)
		{
			present.fontfill = nColor;
		}
		else
		{
			present.fontfill=digits[id].color;
			selectedArray.push([row,col]);
		}
		
		
		present.text(getCoor(digits[id].row,digits[id].col) , digits[id].val+'',above, id);
	}
	return id;
}


function crossOut()
{
	while(toCrossOut.length>0)
	{
		var id = toCrossOut.pop();
		var row = digits[id].row;
		var col = digits[id].col;

		var p1 = getCoor(row, col);
		var p2 = getCoor(row, col-1);
		var p3 = getCoor(row, col+1);
		var p4 = getCoor(row+1, col);
	
		var endX = (p1[0]+p2[0])/2-5;
		var startY = p1[1]+4;
		var startX = (p1[0]+p3[0])/2+5;
		var endY = p4[1]+6;
	
		present.stroke=nColor;
		present.line([startX,startY], [endX,endY]);
	}
}



function drawExplanation(mArray, carry, ones, tens, operator)
{
	var textX  = xMax - 11*xSpacing;
	var textY = getCoor(totalRows, 0)[1]-10;
	present.fontsize="50";
	present.marker = "none";

	for(var i = 0; i < bottomNumberDigits; i++)
	{
		if (i < mArray.length)
		{
			var x = digits[mArray[i]];
			if (x)
			{
				present.fontfill = x.color;
				
				present.text([textX, textY], x.val+'', above, 'm'+i);
				textX+=xSpacing;
				if(i<mArray.length-1 && digits[mArray[i+1]]!=null)
				{
					present.fontfill = nColor;
					present.text([textX, textY], operator, above, 'operator'+i);
					textX+=xSpacing;
				}
				else
				{
					present.text([textX, textY], '', above, 'operator'+i);
				}
			}
			else
			{
				present.text([textX, textY], '', above, 'm'+i);
				present.text([textX, textY], '', above, 'operator'+i);
			}
		}
		else
		{
			present.text([textX, textY], '', above, 'm'+i);
			present.text([textX, textY], '', above, 'operator'+i);
		}
	}
	if(carry)
	{
		
		present.fontfill = nColor;
		present.text([textX, textY], '+', above, '+2');
		textX+=xSpacing;
		present.fontfill = digits[carry].color;
		present.text([textX, textY], digits[carry].val+'', above, 'carry2');
		textX+=xSpacing;
		
	}
	else
	{
		present.text([textX, textY], '', above, '+2');
		present.text([textX, textY], '', above, 'carry2');
	}

	present.fontfill = nColor;
	present.text([textX, textY], '=', above, 'equals');
	if(tens!=null)
	{
		textX+=xSpacing;
		present.fontfill = digits[tens].color;
		present.text([textX, textY], digits[tens].val+'', above, 'tens');
	}
	else
	{
		present.text([textX, textY], '', above, 'tens');
	}
	textX+=xSpacing;
	present.fontfill = digits[ones].color;
	present.text([textX, textY], digits[ones].val+'', above, 'ones');
}


function clearAll()
{
	for(var i=0; i<bottomNumberDigits; i++)
	{
		present.text([0, 0], ' ', above, 'm'+i);
		present.text([0, 0], ' ', above, 'operator'+i);
	}
	present.text([0, 0], ' ', above, 'tens');
	present.text([0, 0], ' ', above, 'carry2');
	present.text([0, 0], ' ', above, '+2');
	present.text([0, 0], ' ', above, 'ones');
	present.text([0, 0], ' ', above, 'equals');
}



function uncolorNumbers()
{
	for(var i=0; i<selectedArray.length; i++)
		drawDigit(selectedArray[i][0], selectedArray[i][1]);
}
function graph_update()
{
	present.initPicture(xMin,xMax,yMin);
	present.line(getCoor(botNumRow+.2, topNumberDigits),[xMax+10,getCoor(botNumRow+.2, 0)[1]] ); 
	for(x in digits)
		drawDigit(digits[x].row, digits[x].col);
	present.text(getCoor(botNumRow, bottomNumberDigits), 'x', above);
	present.fontfill = "#dd6633";
	if (topDecPosition>0)
		present.text(getCoor(topNumRow, topDecPosition-.5), '.', above);
	if (botDecPosition>0)
		present.text(getCoor(botNumRow, botDecPosition-.5), '.', above);
	present.fontfill = nColor;
	setCorrectAnswer(answer);
}

function getValue(row, col)
{
	if (digits[row+'_'+col])
		return digits[row+'_'+col].val;
	else
		return 0;
}

var drewZero = false;
var toCrossOut = new Array();  //These are carried digits that need to crossed out before moving on

var curBottomDigit = 0;
var curTopDigit = 0;
var curSumDigit = 0;
var curAddCol = 0;

// Show the next hint
function next_step()
{
	uncolorNumbers();
	Exercise.steps_given++;
	
	var mArray = new Array();
	var carry=null;
	var tens = null;
	var ones = null;
	
	
	if (curBottomDigit<bottomNumberDigits && drewZero==false && curBottomDigit>0)
	{
		var zRow = botNumRow-2-curBottomDigit;
		for(var i=0; i<curBottomDigit; i++)
		{
			createEntry(zRow, i, 0);
			drawDigit(zRow, i);
		}
		drewZero=true;
		crossOut();
	}
	else if (curBottomDigit<bottomNumberDigits)
	{
		mArray.push(drawDigit(botNumRow,curBottomDigit, hColor2));
		mArray.push(drawDigit(topNumRow,curTopDigit, hColor1));
		
		var onesRow = botNumRow-2-curBottomDigit;
		var onesCol = curBottomDigit+curTopDigit;
		var carryCol = curTopDigit+1;
		var carryRow = topNumRow+1;
		var answer = bottomNumber[curBottomDigit]*topNumber[curTopDigit];
		
		if (onesCol>addCols)
			addCols=onesCol;
		
		if (carryArray[curTopDigit]!=null) //in case we have to add a carried number from the previous step
		{
			var curCarryRow = topNumRow+1;
			while(digits[(curCarryRow+1)+'_'+curTopDigit]!=null) 
				curCarryRow++;
			carry = drawDigit(curCarryRow, curTopDigit, hColor3);//////////////
			answer += carryArray[curTopDigit];
		}
		
		createEntry(onesRow, onesCol, answer%10);
		ones = drawDigit(onesRow, onesCol, hColor4);
		
		if(answer>9)
		{
			var carryDig = (answer-(answer%10))/10;
			if (carryCol>=topNumberDigits)
			{
				carryRow = onesRow;
				carryCol = onesCol+1;
				
				if (carryCol>addCols)
					addCols=carryCol;
			}
			else
			{
				while(digits[carryRow+'_'+carryCol]!=null)
					carryRow++;
			}
			createEntry(carryRow, carryCol, carryDig);
			tens = drawDigit(carryRow, carryCol, hColor5);
			carryArray[carryCol] = carryDig;
			
			if (carryRow!=onesRow)
				toCrossOut.push(tens);
		}
		drawExplanation(mArray, carry, ones, tens, 'x');
		curTopDigit = (curTopDigit+1)%topNumberDigits;
		if (curTopDigit==0)
		{
			curBottomDigit++;
			drewZero = false;
			carryArray = [];
		}
	}
	else if (curAddCol<=addCols)
	{
		if (curAddCol==0)
		{
			present.stroke = nColor;
			present.line(getCoor(botNumRow-1-bottomNumberDigits+.3, addCols+1),[xMax+10,getCoor(botNumRow-1-bottomNumberDigits+.3, 0)[1]] ); 
		}
	
		var sum =0;
		curColor = 0;
		for(var i=0; i<bottomNumberDigits; i++)
		{
			mArray.push(drawDigit(botNumRow-1-bottomNumberDigits+i,curAddCol, getNextColor()));
			sum+=getValue(botNumRow-1-bottomNumberDigits+i,curAddCol);
		}
		if (carryArray[curAddCol]!=null)
		{
			carry = drawDigit(botNumRow-1,curAddCol, getNextColor());
			sum+=getValue(botNumRow-1,curAddCol);
		}
		if (sum>9)
		{
			var carryDig = (sum - (sum%10))/10;
			var carryRow = botNumRow-1;
			if (curAddCol>=addCols)
				carryRow =botNumRow-bottomNumberDigits-2;
			
			createEntry(carryRow, curAddCol+1, carryDig);
			tens = drawDigit(carryRow, curAddCol+1, getNextColor());
			carryArray[curAddCol+1] = carryDig;
		}
	
		createEntry(botNumRow-2-bottomNumberDigits, curAddCol, sum%10);
		ones = drawDigit(botNumRow-2-bottomNumberDigits, curAddCol, getNextColor());
		drawExplanation(mArray, carry, ones, tens, '+');
		curAddCol++;
	}
	else
	{
        // Fill in any additional 0's between decimal point and current answer
        while (curAddCol < (topDecPosition + botDecPosition)) {
            createEntry(botNumRow-2-bottomNumberDigits, curAddCol, 0);
            drawDigit(botNumRow-2-bottomNumberDigits, curAddCol, null);
            curAddCol++;
        }

		present.fontfill = "#dd6633";
		present.text(getCoor(botNumRow-2-bottomNumberDigits, topDecPosition+botDecPosition-.5), '.', above);
		present.fontfill = nColor;
		var textX  = xMax - 11*xSpacing;
		var textY = 700;
		present.fontsize="16";
		present.fontstyle="none";
		present.text([0, textY], 'The top number has '+topDecPosition+' digits to the right of the', right);
		present.text([0, textY-20], 'decimal.', right);
		present.text([0, textY-50], 'The bottom number has '+botDecPosition+' digits to the right of the', right);
		present.text([0, textY-70], 'decimal.', right);
		present.text([0, textY-100], 'So the product will have '+topDecPosition+'+'+botDecPosition+'='+(topDecPosition+botDecPosition)+'  digits to', right);
		present.text([0, textY-120], 'the right of the decimal', right);
		clearAll();
	
	}
	Exercise.steps_given++;
}

//returns an integer between 0 and max, inclusive
function get_random(max)
{
	var epsilon = .9;
	return Math.round(KhanAcademy.random()*(max+epsilon) - epsilon/2);
}

function getFontString(text, font)
{
	return ('<FONT class=\"'+font+'\">'+text+'</FONT>');
}

//-->
</script>
{% endblock maincode %}

{% block maincell %}<iframe name="present" frameborder=0 src="/graphpage.html?w=400&h=650" height="700" width="100%"></iframe>{% endblock maincell %}
  
