{% extends arithmetic_template %}
{% block answerarea %}

<span class="info-box-header">Answer</span>
<div id="answer_content">
</div>

<script language=Javascript1.2><!--

renderChoices();

    var $choices = $('.select-choice');
    $choices.click(function(e) {
        select_choice(this.getAttribute('data-choice'));
        if (this != document.activeElement)
            $(this).focus();
    });

    $choices.focus(function(e) {
        $(this).click();
    });

    $choices.keypress(function(e) {
        if (e.which == '13') {
            check_answer_block();
            return false;
        }
    });

//-->
</script>
{% endblock answerarea %}
{% block checkanswer %}check_answer(){% endblock checkanswer%}
{% block hintfunction %}give_next_step(){% endblock hintfunction %}
