{% extends "qbrary_page_template.html" %}
{% block pagetitle %}<B>Manage Question</B>{% endblock pagetitle %}
{% block pagescript %}
<script type="text/javascript" src="/javascript/html4-defs.js"></script>
<script type="text/javascript" src="/javascript/html-sanitizer.js"></script>
<script>
    function urlX(url) { if (/^https?:\/\//.test(url)) { return url }}
    function idX(id) { return "ka_sanitized_" + id }

    function print_sanitized(str)
    {
        document.write(html_sanitize(str, urlX, idX));
    }
</script>
{% endblock pagescript %}

{% block pagecontent %}
<table>
<tr>
<td><P>To create a question, select a topic from the "Add a question in..." dropdown at the top right.  Newly created
questions will be listed in your "Unpublished Questions" below.  Once you feel that the question is ready to
be answered by other people, you can publish it by clicking "[publish]".  It will then be listed
in your published questions.  Any innappropriate content will be flagged and removed and could result in
you losing your Khan Academy account entirely.</P>
<P>To start practicing questions, select the subject from the "Practice questions in..." dropdown.</P>
</td></tr></table>
    <P>
    <div class=hdg>&nbsp;<h3>Published Questions</h3></div>
    <table width="100%" cellpadding="3" cellspacing="0" border="0">
    <tr>
    	<td class="colHeadL">Subject</td>
	<td class="colHeadL"  width="100%">Question</td>
	<td class="colHeadL">Edit</td>
	<td class="colHeadL">Publish</td>
	<td class="colHeadL">Delete</td>
    </tr>
    {% for question in published %}
    	<tr class={% cycle 'highlighWhite','highlightGreyRelated' %}>
	<td>{{question.subject.name}}</td>
    	<td><script>print_sanitized("{{question.question_text|striptags|smart_truncate:75|escapejs}}")</script></td> 
	<td><A HREF="/editquestion?question_key={{ question.key }}">[edit]</A></td>
	<td><A HREF="/changepublished?question_key={{ question.key }}&redirect={{current_url}}">[unpublish]</A></td>
	<td><A HREF="/deletequestion?question_key={{ question.key }}&redirect={{current_url}}">[delete]</A></td>
	</tr>
    {% endfor %}
    </table>
    <P>
    <div class=hdg>&nbsp;<h3>Unpublished Questions</h3></div>
    <table width="100%" cellpadding="3" cellspacing="0" border="0">
    <tr>
    	<td class="colHeadL">Subject</td>
	<td class="colHeadL" width="100%">Question</td>
	<td class="colHeadL">Edit</td>
	<td class="colHeadL">Publish</td>
	<td class="colHeadL">Delete</td>
    </tr>
    {% for question in notpublished %}
    	<tr class={% cycle 'highlighWhite','highlightGreyRelated' %}>
    	<td>{{question.subject.name}}</td>
    	<td><script>print_sanitized("{{question.question_text|striptags|smart_truncate:75|escapejs}}")</script></td> 
	<td><A HREF="/editquestion?question_key={{ question.key }}">[edit]</A></td>
	<td><A HREF="/changepublished?question_key={{ question.key }}&redirect={{current_url}}">[publish]</A>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td><A HREF="/deletequestion?question_key={{ question.key }}&redirect={{current_url}}">[delete]</A></td>
	</tr>
    {% endfor %}
    </table>
{% endblock pagecontent %}
