{% extends arithmetic_template %}

{% block maincode %}
<div id="dvQuestion" style="font-size: 250%; padding-left: 15px;"></div>
<div id="dvHint" style="font-size: 125%; padding-left: 15px;padding-top:20px;display:none;"></div>
<div id="holder" style="padding-left:0px;"></div>
<div id="dvAnswer" style="font-size: 125%; padding-left: 15px;padding-top:20px;display:none;"></div>
{% endblock maincode %}

{% block maincell %}
<script type="text/javascript" src="/javascript/exercises/number_rounding.js"></script>
{% endblock maincell %}




{% block hintfunction %}Rounding.next_step(){% endblock hintfunction %}
