{% extends "adding_and_subtracting_fractions.html" %}
{% block maincode %}
{% endblock maincode %}
{% block maincell %}
<div id="raphael_container" style="float: right;"></div>

<script language=Javascript1.2><!--
/**
Order of Magnitude (Multiplication and Division)
Module Description: 
Approximating order of magnitude of product and quotient of large ints	
@Author: Aakash Prasad (aakash.prasad91@gmail.com)
**/
//Randomly select problem type (1 == mult, 2 == div) 


RaphaelWrapper.init(400, 400);

var type = Math.ceil(Math.random()*2);
if (type == 1) {
	//Multiplication
	var term1 = getRandomIntRange(Math.pow(10, Math.floor(Math.random()*2)), Math.pow(10, getRandomIntRange(1,6)));
	var term2 = getRandomIntRange(Math.pow(10, Math.floor(Math.random()*2)), Math.pow(10, getRandomIntRange(1,6)));
	write_text('Of what order of magnitude is ' + formatNum(term1) + ' x ' + formatNum(term2) + '?');
	write_text('What is the largest power of 10 contained in ' + formatNum(term1) + ' x ' + formatNum(term2) + '?');
	var product = term1 * term2;
	var mag = Math.pow(10, Math.floor(Math.log(product) / Math.log(10)));
	setCorrectAnswer(formatNum(mag));
	var wrongAnswers = new Array();
	var l = 0;
	for (; l<15; l++) {
		wrongAnswers.push(formatNum(mag * Math.pow(10, getRandomIntRange(1, Math.floor(0.5 * Math.log(mag) / Math.log(10))) * Math.pow(-1, Math.floor(Math.random()*10)))));
	}
	var a = 0;
	var b = 0;
	for (; a<wrongAnswers.length - 1; a++) {
		for (b = a + 1; b<wrongAnswers.length; b++) {
			if (wrongAnswers[a] == wrongAnswers[b]) {
				wrongAnswers[a] = -1;
			}
		}
	}
	//Sample 4 wrong answers
	var k = 0;
	var numAns = 0;
	for (k = Math.floor(Math.random() * wrongAnswers.length); numAns < 4;  k = Math.floor(Math.random() * wrongAnswers.length)) {
		if ((wrongAnswers[k] != mag) && (wrongAnswers[k] != -1)) {
			addWrongChoice(wrongAnswers[k]);
			wrongAnswers[k] = -1;
			numAns++;
		}
	}
	write_step(formatNum(term1) + " x " + formatNum(term2) + " is " + formatNum(term1 * term2));
	write_step("The largest power of 10 contained in " + formatNum(term1) + " x " + formatNum(term2) + " is " + formatNum(mag));
} else if (type == 2) {	
	//Division
	var term1 = getRandomIntRange(Math.pow(10, Math.floor(Math.random()*2)), Math.pow(10, getRandomIntRange(1,6)));
	var term2 = getRandomIntRange(Math.pow(10, Math.floor(Math.random()*2)), Math.pow(10, getRandomIntRange(1,6)));
	write_text('Of what order of magnitude is ' + formatNum(term1) + ' / ' + formatNum(term2) + '?');
	write_text('What is the largest power of 10 contained in ' + formatNum(term1) + ' / ' + formatNum(term2) + '?');
	var quotient= term1 / term2;
	var mag = Math.pow(10, Math.floor(Math.log(quotient) / Math.log(10)));
	setCorrectAnswer(formatNum(mag));
	var wrongAnswers = new Array();
	var l = 0;
	for (; l<15; l++) {
		wrongAnswers.push(formatNum(mag * Math.pow(10, getRandomIntRange(1, Math.floor(0.5 * Math.log(mag) / Math.log(10))) * Math.pow(-1, Math.floor(Math.random()*10)))));
	}
	var a = 0;
	var b = 0;
	for (; a<wrongAnswers.length - 1; a++) {
		for (b = a + 1; b<wrongAnswers.length; b++) {
			if (wrongAnswers[a] == wrongAnswers[b]) {
				wrongAnswers[a] = -1;
			}
		}
	}
	//Sample 4 wrong answers
	var k = 0;
	var numAns = 0;
	for (k = Math.floor(Math.random() * wrongAnswers.length); numAns < 4;  k = Math.floor(Math.random() * wrongAnswers.length)) {
		if ((wrongAnswers[k] != mag) && (wrongAnswers[k] != -1)) {
			addWrongChoice(wrongAnswers[k]);
			wrongAnswers[k] = -1;
			numAns++;
		}
	}
	write_step(formatNum(term1) + " / " + formatNum(term2) + " is approximately " + formatNum(Math.floor(term1 / term2)));
	//write_step("The largest power of 10 contained in " + formatNum(term1) + " / " + formatNum(term2) + " is " + formatNum(mag));
	write_step("The largest power of 10 contained in " + formatNum(Math.floor(term1 / term2)) + " is " + formatNum(mag));	
}

function formatNum(num) {
	if (num >= 1) {
	num = Math.floor(num);
	num = num + "";
	var rtn = "";
	var l = num.length - 1;
	for (;l>=0; l--) {
		if ((num.length - 1 - l != 0) && ((num.length - 1 - l) % 3 == 0)) {
			rtn = num.charAt(l) + "," + rtn;
		} else {
			rtn = num.charAt(l) + rtn;
		}
	}
	} else {
	var rtn = num;
	}
	return rtn;
}

graph_update();
//-->
</script>
{% endblock maincell %}

{% block hintfunction %}give_next_step(){% endblock hintfunction %}
