<html xmlns:mml="http://www.w3.org/1998/Math/MathML">
<head>
  <title>Khan Academy</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/default.css?{{App.start_time}}" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/rating.css?{{App.start_time}}" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css?{{App.start_time}}">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/ASCIIMathML.js"></script>
  <script type="text/javascript" src="/javascript/ASCIIsvg.js"></script>
  <script type="text/javascript" src="/javascript/fontdetect.js"></script>
  <script type="text/javascript" src="/MathJax/MathJax.js">
      MathJax.Hub.Config({
	showProcessingMessages: true,
	skipStartupTypeset: true,
        extensions: ["mml2jax.js"],
	jax: ["input/MathML", "output/HTML-CSS"],
	"HTML-CSS": {
		scale: 100,
		availableFonts:["STIX", "TeX"],
		preferredFont: "TeX",
		webFont: "TeX",
		imageFont: null
	}
      });
  </script>
  <script type="text/javascript" src="/javascript/metautil.js?{{App.start_time}}"></script>
  <script type="text/javascript" src="/javascript/exerciseutil.js?{{App.start_time}}"></script>
  <script type="text/javascript" src="/javascript/graphutil.js?{{App.start_time}}"></script>
<script language=Javascript1.2><!--
$(document).ready(function () {
	KhanAcademy.supportMathML();
	translate();	
	drawPictures();
});
var username = "{{cookiename}}";
var currentexercise = "{{exid}}";
//-->
</script>

{% block pagescript %}
{% endblock pagescript %}
</head>
  <body spacing="0" class="tundra" bgcolor=white text="#000000" link="#006699" vlink="#5493B4">
  <table border=0 width=100%>
  	<tr>
  		<td><A href="http://www.khanacademy.org/" border="0"><img src="/images/khan.GIF"></a></td>
  		<td align=right valign=top width=100%>
  			<span class="mainmenu">Welcome,  <B>{{username}}</b> [<A href="{{logout_url}}">Sign Out</A>] </span>
  			<P>
  			<h2>Energy Points: {{points}}</h2>
  		</td>
  	</tr>
  	  <tr>
  		<td colspan=2 align=right>
  		{% block pagemainmenu %}
  			<span class="mainmenu"><A href="/">Exercises</A>&nbsp;&nbsp;|&nbsp;&nbsp;<A href="/viewexercisesonmap">Knowledge Map</A>&nbsp;</span>
  		{% endblock pagemainmenu %}
  		</td>
  	</tr>
  </table>
  <table width=100% border=0 cellpadding=0 cellspacing=0>
  				<tr>
  					<td bgcolor=#3366cc><img width=1 height=1 alt=""></td>
  				</tr>
  			</table><table width=100% border=0 cellpadding=2 cellspacing=0><tr><td bgcolor=#e5ecf9 align=left>
  			{% block pagesubmenu %}
  			<B>{% block pagetitle %}{% endblock pagetitle %}</B>
  			{% endblock pagesubmenu %}
   </td></tr></table>

{% block pagemessage %}
{% endblock pagemessage %}

{% block pagecontent %}
{% endblock pagecontent %}
    <P>&nbsp;<P>
    <table width=100% border=0 cellpadding=0 cellspacing=0><tr><td bgcolor=#3366cc><img width=1 height=1 alt=""></td></tr></table>
{% include "page_footer.html" %}
  </body>
</html>

