{% extends "units.html" %}


{% block maincell %}
<script language=Javascript1.2><!--

//type 1-4 for LEVEL1


function type1() {
	A = getRandomIntRange(1,150);
	B = getRandomIntRange(2,100);
	correctAnswer = Math.round(A*B)/100;
	write_text('<B>What is '+A+'% of '+B+'?</B>');
	write_step(equation_string(A/100+' * '+B+'='+correctAnswer));
}

function type2() {
	A = getRandomIntRange(1,150);
	B = getRandomIntRange(2,100);
	correctAnswer = Math.round(B*100/A *100)/100;
	write_text('<B>'+B+' is '+A+'% of what number (round to the hundredths place)?</B>');
	write_step('Let `x` be the number that '+B+' is '+A+'% of.');
	write_step(equation_string(A/100+'x='+B));
	write_step(equation_string('x='+B+'/'+(A/100)));
	write_step(equation_string('x='+correctAnswer));
}


function type3() {
	A = getRandomIntRange(1,100);
	B = getRandomIntRange(A+5,2*A+5);
	correctAnswer = Math.round((B-A)*10000/A)/100;
	write_text('<B>'+person1+' has '+B+' dollars  in the bank today. Yesterday, '
		+pronoun1+' had '+A+' dollars in the bank.  By what percentage did '+person1+'\'s bank account increase over the past day?</B>'+
		'(enter your answer as a percentage rounded to the hundredths place.  For example, if your answer is 95.678%, enter 95.68 for your answer)');
	write_step('The bank account grew by <B>'+B+'-'+A+'='+(B-A)+' dollars</B>');
	write_step(equation_string((B-A)+'/'+A+'='+correctAnswer+'%'));	
}
	
function type4() {
	A = getRandomIntRange(1,100);
	B = getRandomIntRange(A+5,2*A+5);
	correctAnswer = Math.round((B-A)*10000/B)/100;
	write_text('<B>'+person1+' has '+A+' dollars  in the bank today. Yesterday, '
		+pronoun1+' had '+B+' dollars in the bank.  By what percentage did '+person1+'\'s bank account decrease over the past day?</B>'+
		'(enter your answer as a percentage rounded to the hundredths place.  For example, if your answer is 95.678%, enter 95.68)');
	write_step('The bank account decreased by <B>'+B+'-'+A+'='+(B-A)+' dollars</B>');
	write_step(equation_string((B-A)+'/'+B+'='+correctAnswer+'%'));	
}
/////TYPE 5-7  FOR LEVEL 2


function type5() {

	A = getRandomIntRange(10,150);
	B = getRandomIntRange(50,999);
	correctAnswer = Math.round(B*100*100/(100+A))/100;

	write_text('<B>'+person1+' has '+A+'% more money today than '+pronoun1+
		' did this time last year.  If '+person1+' has '+B+
		' dollars today, how many dollars did '+pronoun1+
		' have this time last year? (round to the nearest cent [hundredth of a dollar])</B>');
		
	write_step('Let `x` be the amount of money that '+pronoun1+' had last year.');
	write_step(equation_string('x+'+A/100+'x='+B));
	write_step(equation_string((100+A)/100+'x='+B));
	write_step(equation_string('x='+B+'/'+((100+A)/100)));
	write_step(equation_string('x='+correctAnswer));
}

function type6() {

	A = getRandomIntRange(10,150);
	B = getRandomIntRange(50,999);
	C = Math.round(B*100*100/(100+A))/100;
	correctAnswer = Math.round((B-C)*100)/100;

	write_text('<B>'+person1+' has '+A+'% more money today than '+pronoun1+
		' did this time last year.  If '+person1+' has '+B+
		' dollars today, how many dollars did '+pronoun1+
		' make over this past year? (round to the nearest cent [hundredth of a dollar])</B>');
		
	write_step('Let `x` be the amount of money that '+pronoun1+' had last year.');
	write_step(equation_string('x+'+A/100+'x='+B));
	write_step(equation_string((100+A)/100+'x='+B));
	write_step(equation_string('x='+B+'/'+((100+A)/100)));
	write_step(equation_string('x='+C) 
		+ 'So ' + pronoun1 + ' had ' + C 
		+ ' dollars last year.&nbsp; <strong>However, we need to know how much <em>' 
		+ pronoun1 + ' has made over the past year</em></strong>.');
	write_step('If '+pronoun1+' had '+C+' dollars last year and now has '+B+
			' dollars this year, then '+pronoun1+' has made '+B+'-'+C+'=<B>'+correctAnswer+
			'</B> dollars over the course of the year.');
}

function type7() {

	A = getRandomIntRange(10,25);
	B = getRandomIntRange(5,100);
	correctAnswer = Math.round(B*100*100/(100-A))/100;

	write_text('<B>'+person1+' has '+B+' dollars to spend at a store.  The store currently has a sale where the sale price is '
		+A+'% off of the marked price. What is the highest marked price that '+person1+' can afford?</B>');
	write_step('Let `x` be the highest marked price that '+person1+' can afford.');
	write_step(equation_string('x-'+(A/100)+'x= `sale price`'));
	write_step(equation_string(((100-A)/100)+'x= `sale price`'));
	write_step(equation_string(((100-A)/100)+'x= '+B));
	write_step(equation_string('x='+correctAnswer));
}


{% block problempick %}
eval("type"+getRandomIntRange(1,4)+"()");
{% endblock problempick %}

//-->
</script>

{% endblock maincell %}

{% block answerarea %}<br>Answer:<input type="text" size=10 id="answer"  name="answer" onkeypress="if (event.keyCode == 13) {checkFreeAnswer(); return false;}"></br>{% endblock answerarea %}
{% block checkanswer %}highlight_answer();checkFreeAnswer(){% endblock checkanswer %}


