{% extends arithmetic_template %}

{% block maincode %}
<link rel="stylesheet" type="text/css" href="/stylesheets/chemistry-package/periodic_table.css?{{App.version}}" />
<script src="/javascript/chemistry-package/periodic_table.js?{{App.version}}"></script>
<script src="/javascript/exercises/periodic_table_1.js?{{App.version}}"></script>
{% endblock maincode %}

{% block maincell %}
<script>
    exercise = new PeriodicTable1();
    exercise.init();
</script>
{% endblock maincell %}

{% block hintfunction %}
exercise.give_next_hint();
give_next_step()
{% endblock hintfunction%}
