<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <script>
    function addQuestion(drop_down)
    {
    	var selected_subject = drop_down.selectedIndex;
	var subject_key = drop_down[selected_subject].value;
	window.location = "/pickquestiontopic?subject_key="+subject_key
    }
    
    function practiceQuestion(drop_down)
    {
    	var selected_subject = drop_down.selectedIndex;
	var subject_key = drop_down[selected_subject].value;
	window.location = "/pickquiztopic?subject_key="+subject_key
    }
    
    </script>
  </head>

  <body>
  <table width=100%>
  <tr>
  	<td valign=top align=left rowspan=2><A href="/"><img src="/images/logo.gif" width=150 height=100></A></td>
  	<td valign=top align=right><h4>{{greeting}}</H4>
	
	
	</td>
  </tr>
  <tr>
  	<td valign=center align=right> 
	<b>
	 <A href="/">Manage Questions</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	 <SELECT id="add_question" onchange="practiceQuestion(this)">
			<OPTION VALUE="0" SELECTED>Practice questions in...</OPTION>
			{% for subject in subjects %}
				<OPTION VALUE="{{ subject.key }}">{{subject.name}}</OPTION>
			{% endfor %}
	 </SELECT>
	 &nbsp;&nbsp;|&nbsp;&nbsp;
	 <SELECT id="add_question" onchange="addQuestion(this)">
			<OPTION VALUE="0" SELECTED>Add a question in...</OPTION>
				{% for subject in subjects %}
					<OPTION VALUE="{{ subject.key }}">{{subject.name}}</OPTION>
				{% endfor %}
	</SELECT>
	</b>
	
	</td>
  </tr>
  
  </table>
  <P>
 <table width=100% border=0 cellpadding=0 cellspacing=0>
  <tr>
    <td bgcolor=#003399><img width=1 height=1 alt=""></td>
  </tr>
</table><table width=100% border=0 cellpadding=2 cellspacing=0>
   <tr>
    <td bgcolor=#e5ecf9 align=left><B>Pick a quiz topic:</B></td>

  </tr>
</table>

<h2>Pick a topic (or subtopic) to be quizzed on...</h2>
<P>
	{{ tree }}
	
  </body>
</html>

