{% extends "adding_and_subtracting_fractions.html" %}

{% block maincode %}
<script type="text/javascript" src="/javascript/calculus.js?{{App.version}}"></script>
<script language=Javascript1.2><!--
// Power rule!

high_deg = getRandomIntRange(2, 6);
low_deg = getRandomIntRange(-2, 1);

coefs = polyCoefs(low_deg, high_deg);

if (getRandomInt(2)==0) {
	x = 'b';
} else {
	x = 'x';
}

ddx = 'd/(d'+x+')'; // for all the hints, not the question/answer

notation = funcNotation(x);

n_fx = notation.fofx;
n_dfx = notation.dfofx;

fofx = polyExp(low_deg, high_deg, coefs, x);
dfofx = dPolydx(low_deg, high_deg, coefs, x);

wrong1 = dPolydx_wrong1(low_deg, high_deg, coefs, x); // doesn't decrement expontnets
wrong2 = dPolydx_wrong2(low_deg, high_deg, coefs, x); // increments negative exponents
wrong3 = dPolydx_wrong3(low_deg, high_deg, coefs, x); // reversed signs on all terms
wrong4 = dPolydx_wrong4(low_deg, high_deg, coefs, x); // doesn't multiply coefficients
wrong5 = dPolydx_wrong5(low_deg, high_deg, coefs, x); // doesn't multiply coefficients + doesn't decrement exponents

setCorrectAnswer(dfofx);
addWrongChoice(wrong1);
addWrongChoice(wrong2);
addWrongChoice(wrong3);
addWrongChoice(wrong4);
addWrongChoice(wrong5);

write_text('`'+n_fx+' = ' + fofx + '`');
write_text('`'+n_dfx+' = ?`');

write_step('`'+ddx+' A'+x+'^n = n*A'+x+'^(n-1)`');
write_step('Let\'s find the derivative of each term and then add them together.');
for (var i = high_deg; i >= low_deg; i--) {
	if (coefs[i] != 0) {
		if (i == 0) { // constant, derivative is 0
			write_step('`'+ddx+'('+coefs[i]+') = 0*' + coefs[i] + x +'^(0 - 1) = 0');
			
			// dfofx doesn't include this term's derivative (0)
		} else if (i == 1) { // x^1, derivative is x^0 (constant)
			write_step('`'+ddx+'('+coefs[i]+x+') = 1*' + coefs[i] + x +'^(1 - 1) = '+coefs[i]+'`');
		} else if (i == 2) { // x^2, derivative is x
			write_step('`'+ddx+'('+coefs[i]+x+'^'+i+') = '+i+'*'+coefs[i]+x+'^('+i+'-1) = '+
						(i*coefs[i])+x+'`');
		} else { // x^power, derivative is power*x^(power-1)
			write_step('`'+ddx+'('+coefs[i]+x+'^'+i+') = '+i+'*'+coefs[i]+x+'^('+i+'-1) = '+
						(i*coefs[i])+x+'^'+(i-1)+'`');
		}
	}
}

write_step('`'+n_dfx+' = '+ddx+'('+fofx+') = '+dfofx+'`');
//-->
</script>
{% endblock maincode %}

{% block maincell %}
{% endblock maincell %}

{% block maincellwidth %}70%{% endblock maincellwidth %}