{% extends "page_template.html" %}
{% block pagetitle %}Print Exercise{% endblock pagetitle %}
{% block pagescript %}
  
{% endblock pagescript %}

{% block pagesubmenu %}
  			<table border=0 width="100%" cellpadding=0 cellspacing=0>
  				<tr>
  					<td bgcolor=#e5ecf9 align=left width="100%"><B><A href="/">Exercises </a>: {{extitle}}</B>
  					{% if exercise_videos %}
  						<A href="/viewexercisevideos?exkey={{exercise.key}}">[Watch Videos]</A>
  					{% endif %}
  					</td>
  					<td bgcolor=#e5ecf9 align=right style="white-space:nowrap;">
  						<A href="/exercises?exid={{exid}}">Do this exercise</A>
  						&nbsp;&nbsp;|&nbsp;&nbsp;Streak:
  					</td>
  					<td bgcolor=#e5ecf9><ul class="unit-rating" style="width:200px;">
  						<li class="current-rating" style="width:{{streakwidth}}px;"></li></ul>
  					</td>
  				</tr>
  			</table>
{% endblock pagesubmenu %}

{% block pagemessage %}
	{% if reviewing %}
		<div class=hdg style="padding: 1em;"><h3>
		You haven't done an exercise that covers this in a while.&nbsp;  Let's see if you still remember how to do it.
		</h3></div>
	{% else %}
		{% if proficient %}
		<div class=hdg style="padding: 1em;"><h3>
		I, the website, think you're pretty good at this!&nbsp;<BR>
		If you're in the mood, you might want to go to the main <A href='/'>exercises page</a> and see if I've 
		suggested any other exercises.
		</h3></div>	
		{% endif %}
	{% endif %}
{% endblock pagemessage %}

{% block pagecontent %}

<table width=100% border=0 cellpadding=0 cellspacing=0>
  <tr>

    <td bgcolor=#ffffff><img width=1 height=20 alt=""></td>
  </tr>
</table>
{% block maincode %}
<script language=Javascript1.2><!--

var term1 = 0;
var term2 = 0;
var term1color = getNextColor();
var term2color = getNextColor();
var hintsGiven = 0;
var xSpacing =65;
var ySpacing = 60;
var xMax = 400;
var xMin = 0;
var yMax = 300;
var yMin = 0;
var leftMargin = 50;
var circlePos = leftMargin/2;
var circleCount = 1;
var standardSize = 75;
var smallSize = 17;



//This function is used to generate the random entries
var eFunction = function()
{
	term1 = getRandomInt(9);
	term2 = getRandomInt(9);

	while (term1+term2<10)
	{
		term1 = getRandomInt(9);
		term2 = getRandomInt(9);
	}
}


//This is the comparison function that makes sure that current random entries haven't been given recently
var cFunction = function(history)
{
	return (history.indexOf(term1+'+'+term2)!=-1 || history.indexOf(term2+'+'+term1)!=-1);
}


//This function defines what an entry in the history should look like
var tFunction = function()
{
	return (Math.min(term1,term2)+'+'+Math.max(term1,term2));
}


//This checks the history and regenerates random numbers if the current ones have already been used recently 
checkHistory(cFunction, eFunction, tFunction,10);




function graph_update()
{
	present.initPicture(xMin,xMax,yMin);
	present.fontfill = nColor;
	present.fontsize = standardSize;
	present.fontstyle = "normal";
	present.fontfamily = "Arial";
	
	present.text([leftMargin,200], term1, above, 'term1');
	
	present.text([leftMargin+xSpacing,200], '+', above);
	present.text([leftMargin+2*xSpacing,200], term2, above, 'term2');
	present.text([leftMargin+3*xSpacing,200], '=', above);
	present.text([leftMargin+4*xSpacing,200], '?', above, 'sum');
	setCorrectAnswer(term1+term2);
	
}


function drawCircles(num, color, startX)
{
	present.strokewidth=3;
	present.stroke=color;
	present.fontfill=color;
	var radius = 10;
	//var row = 0;
	var perRow = 3;//getRandomInt(3)+1;
	var curX = startX;
	var curY = 0;
	for(var i=0; i<num; i++)
	{
		
		curX = startX+(i%perRow)*(2*radius+5);
		curY = 185- Math.floor(i/perRow)*(2*radius+5);
		present.circle([curX,curY], radius, startX+'_'+i);
		
	}
}

function next_step()
{
	if (hintsGiven==0)
	{
		present.fontfill = term1color;
		present.text([leftMargin,200], term1, above, 'term1');
		drawCircles(term1, term1color, leftMargin/2);
	}
	else if (hintsGiven==1)
	{
		present.fontfill = term2color;
		present.text([leftMargin+2*xSpacing,200], term2, above, 'term2');
		drawCircles(term2, term2color, leftMargin/2+2*xSpacing);
	}
	else
	{
		//fontfill = nColor;
		//text([leftMargin+4*xSpacing,100], correctAnswer, above, 'sum');
	
	}
	hintsGiven++;
	steps_given++;
}

//-->
</script>
{% endblock maincode %}
<script type="text/javascript">
	function resizeIframe(iframe) {
		if (document.frames)
    			iframe.height = document.frames[iframe.id].document.body.scrollHeight;
		else
			iframe.height = iframe.contentWindow.document.body.scrollHeight;		
	}
</script>
{% for i in problem_numbers %}
<table width="100%"><tr>
	<td valign="top">{{i}}.</td>
	<td><iframe id="problem{{i}}" name="problem{{i}}" frameborder="0" width="100%" height="0" onload="resizeIframe(this)" src="printproblem?exid={{exid}}&problem_number={{i}}"></iframe></td>
</tr></table>
<hr/>
{% endfor %}
</table>
{% endblock pagecontent %}