{% extends "arithmetic_template.html" %}
{% block pagetitle %}Print Exercise{% endblock pagetitle %}
{% block pagescript %}
  
{% endblock pagescript %}

{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        <a href="/printexercise?exid={{ exid|escape }}&num_problems={{ num_problems|escape }}" class="selected">Next {{ num_problems|escape }} problems in {{ exercise.display_name|escape }}</a>
        <a href="/exercises?exid={{exid|escape}}">Back to {{ exercise.display_name|escape }}</a>
{% endblock pagesubmenu %}

{% block pagecontent %}

<table width=100% border=0 cellpadding=0 cellspacing=0>
  <tr>

    <td bgcolor=#ffffff><img width=1 height=20 alt=""></td>
  </tr>
</table>
{% for i in problem_numbers %}
<table width="100%"><tr>
	<td valign="top">{{i}}.</td>
	<td><iframe id="problem{{i}}" name="problem{{i}}" frameborder="0" width="100%" height="0" scrolling="no" src="printproblem?exid={{exid}}&problem_number={{i}}"></iframe></td>
</tr></table>
<hr/>
{% endfor %}
</table>
{% endblock pagecontent %}
