{% extends "multiple_choice_template.html" %}

{% block maincell %}
<div id="raphael_container" style="float: right"></div>

<script language=Javascript1.2><!--
// Probability

//Choose question type
// 1. Heads, Tails
// 2. Marbles
// 3. Set of Numbers
// 4. Area


RaphaelWrapper.init(400, 400);

graph_update = function() { } // we'll fill it in in case 4

switch(getRandomIntRange(1, 4))
{
	case 1:
		//Coin Flips
		var intNumberOfFlips = getRandomIntRange(2, 4); //how many times will the coin be flipped?  Hardcoded at the moment
		
		//are we going to ask about the coin being heads, or it being tails?
		if (getRandomIntRange(0,1)==1){
			strFace='heads';
			}else{
			strFace='tails';	
		}
		
		//how many heads/tails are we going to be asking about?
		//example: what is probability two heads in a row?  Two is the intFrequency
		intFrequency = getRandomIntRange(0,intNumberOfFlips)
		
		var strHelpText ='';
		//what is the condition? 1. exactly equal 2. greater than 3. less than 4. greater,equal 5. less than equal
		intCondition = (getRandomIntRange(1, 5));
		switch(intCondition)
		{
			case 1:
				strCondition = "exactly" + ' ' + intFrequency;
				strHelpText = "exactly";
				break;
			case 2:
				strCondition = "more than"+ ' ' + intFrequency;
				strHelpText = "more than";
				break;
			case 3:
				strCondition = "fewer than"+ ' ' + intFrequency;
				strHelpText = "fewer than";
				break;
			case 4:
				strCondition = intFrequency + ' or more';
				strHelpText = "at least";
				break;
			case 5:
				strCondition = intFrequency + ' or fewer';
				strHelpText = "at most";
				break;
		}
		
		strQuestion = 'A fair coin is flipped ' + intNumberOfFlips +' times.  What is the probability of getting ' + strCondition + ' ' + strFace +'?';
		// 1. Heads, Tails
		write_text(strQuestion);
			
		//determine denominator
	    var intTotalPossibilities = Math.pow(2,intNumberOfFlips);
			
	   //create possibility set array
		var arrPossibilitySet = new Array(intTotalPossibilities)
		
		//set array values = '' and create two dimensional Array (1st key holds discrete possibility, e.g. HTH, 2nd key holds boolean for whether it is winner or not)
		for (var z = 1; z<=intTotalPossibilities; z++){
			arrPossibilitySet[z]=new Array(2)
			arrPossibilitySet[z][1] = '';
			arrPossibilitySet[z][2] = 0;
		}
		
		//fill possibility set array (all combinations of H's and T's)
		for(var i = 1; i<=intNumberOfFlips; i++){
			var intDivisor = (intTotalPossibilities/(Math.pow(2,i)));
			for (var y = 1; y<=intTotalPossibilities; y++){
				if (Math.floor((Math.abs(y-1))/intDivisor)%2==0){
					arrPossibilitySet[y][1]=arrPossibilitySet[y][1]+'H';
				}else{
					arrPossibilitySet[y][1]=arrPossibilitySet[y][1]+'T';
				}
			}
		}
		
		//determine which of the possibilities are "winners"
		
		//This function counts the number of H or T in a string str
		function count(str, s1) { 
			return (str.length - str.replace(new RegExp(s1,"g"), '').length) / s1.length;
		}
		
		//Figure out whether we are looking for H or T depending on strFace
		var strPossibilityValue='';
		var strWinnerCheck = 'T';  
		if (strFace == 'heads'){
			strWinnerCheck = 'H';
		}
		var intWinnerCount = 0;
		var intNumerator=0;
		
		//when a winner is found, increment numerator, mark the possibility as a winner
		function markWinner(intArrayKey){
			arrPossibilitySet[z][2]=1;
			intNumerator++;
			return 0;
		}
				
		//Count number of winners, flag winners so we can color them differently in the hints
		for (var z = 1; z<=intTotalPossibilities; z++){
			strPossibilityValue = arrPossibilitySet[z][1];
			intWinnerCount = count(strPossibilityValue, strWinnerCheck);
			switch(intCondition){	
			case 1:
				if (intWinnerCount == intFrequency){markWinner(z)}
				break;
			case 2:
				if (intWinnerCount > intFrequency){markWinner(z)}
				break;
			case 3:
				if (intWinnerCount < intFrequency){markWinner(z)}
				break;
			case 4:
				if (intWinnerCount >= intFrequency){markWinner(z)}
				break;
			case 5:
				if (intWinnerCount <= intFrequency){markWinner(z)}
				break;
			}
		}
		
		//Set Correct answer choice and choose losers
		setCorrectAnswer(format_fraction(intNumerator,intTotalPossibilities));
		
		var arrWrongAnswers = new Array(10);
		//set array values = '' and create two dimensional Array (1st key holds discrete possibility, e.g. HTH, 2nd key holds boolean for whether it is winner or not)
		for (var z = 1; z<=10; z++){
			arrWrongAnswers[z]=new Array(4)
			arrWrongAnswers[z][3] = 0;
		}
		
		arrWrongAnswers[1][1]= getRandomIntRange(1,intNumberOfFlips)
		arrWrongAnswers[1][2]= intTotalPossibilities
		
		arrWrongAnswers[2][1]= intNumerator
		arrWrongAnswers[2][2]= (intTotalPossibilities/2)
		
		arrWrongAnswers[3][1]= intNumerator
		arrWrongAnswers[3][2]= (intTotalPossibilities*2)
		
		arrWrongAnswers[4][1]= intNumerator+1
		arrWrongAnswers[4][2]= (intTotalPossibilities)
		
		arrWrongAnswers[5][1]= intNumerator-1
		arrWrongAnswers[5][2]= (intTotalPossibilities)
		
		arrWrongAnswers[6][1]= (intTotalPossibilities-intNumerator)
		arrWrongAnswers[6][2]= (intTotalPossibilities)
		
		arrWrongAnswers[7][1]= (intTotalPossibilities-intNumerator)
		arrWrongAnswers[7][2]= (intTotalPossibilities*2)
		
		arrWrongAnswers[8][1]= (intTotalPossibilities-intNumerator)
		arrWrongAnswers[8][2]= (intTotalPossibilities/2)
		
		arrWrongAnswers[9][1]= getRandomIntRange(1,intNumberOfFlips)
		arrWrongAnswers[9][2]= intTotalPossibilities
		
		arrWrongAnswers[10][1]= getRandomIntRange(1,intNumberOfFlips)
		arrWrongAnswers[10][2]= intTotalPossibilities
		
		z=1;
		while (z<=10){
			intRandomWrongChoice = getRandomIntRange(1,10);
			
			arrWrongAnswers[intRandomWrongChoice][3]=1;
			addWrongChoice(format_fraction(arrWrongAnswers[intRandomWrongChoice][1],arrWrongAnswers[intRandomWrongChoice][2]));
			z++;
		} 
		
		//hints
		var strPossibilitiesColor = '<br><br>'
		var strPossibilities = '<br>' 
		for (var z = 1; z<=intTotalPossibilities; z++){
			strPossibilities = strPossibilities + arrPossibilitySet[z][1] + '<br>' ;
			
			if(arrPossibilitySet[z][2]==1){
					strPossibilitiesColor = strPossibilitiesColor + '<font color="red">' + arrPossibilitySet[z][1] + '</font><br>';
				}else{
					strPossibilitiesColor = strPossibilitiesColor + arrPossibilitySet[z][1] +'<br>';
			}
			
			//write_text(strOutput);
		}	
		
		write_step('<br>First, we need to determine the total number of possibilities when a coin is flipped ' + intNumberOfFlips + ' times');
		write_step('<br>There are ' + intTotalPossibilities + ' possibilities');
		write_step(strPossibilities);
		write_step('<br>Next, we need to determine how many of these possibilities are "winners" by answering the question "how many meet the criteria of having ' + strHelpText + ' ' + intFrequency + ' ' +strFace + '?"')
		write_step('<br>'+intNumerator + ' of these possibilities do (highlighted in red):' + strPossibilitiesColor);
		write_step('<br>To calculate the probability, divide the number of "winners" by the number of possibilities')
		write_step(equation_string(intNumerator +'/'+ intTotalPossibilities +' = '+ format_fraction(intNumerator,intTotalPossibilities)));
			
		 break;
		 
	case 2:
		// 2. Marbles
		var intNumberOfMarbles = getRandomIntRange(9,21);
		var intRed = getRandomIntRange(1,intNumberOfMarbles-3);
		var intBlue = getRandomIntRange(1,intNumberOfMarbles-intRed-1);
		var intGreen = intNumberOfMarbles-intRed-intBlue;
		
		var intColor = getRandomIntRange(1,3);
		var strColor = '';
		var intNumerator = 0;
		
		switch(intColor){
			case 1:
				strColor = 'Red';
				intNumerator = intRed;
				break;
			case 2:
				strColor = 'Blue';
				intNumerator = intBlue;
				break;
			case 3:
				strColor = 'Green';
				intNumerator = intGreen;
				break;
	    }
		
		var intNot = getRandomIntRange(0,1);
		
		var strQuestionText=''; 
		if (intNot==1){
			strQuestionText = 'non-' + strColor;
			intNumerator = intNumberOfMarbles - intNumerator;
			}else{
			strQuestionText = strColor;
		}
		
		var strHelp1Text = 'Here are the ' + intNumberOfMarbles + ' marbles in the bag:<br><b>';
		
		for (z=0; z<intRed; z++){
			strHelp1Text = strHelp1Text + '<font color="red">R</font>&nbsp;'
		}
		
		for (z=0; z<intBlue; z++){
			strHelp1Text = strHelp1Text + '<font color="blue">B</font>&nbsp;'
		}
		
		for (z=0; z<intGreen; z++){
			strHelp1Text = strHelp1Text + '<font color="green">G</font>&nbsp;'
		}
		
		strHelp1Text = strHelp1Text + '</b>'
		
		var strHelp2Text ='There are ' + intNumerator +' (underlined):<br><b>';
		
		for (z=0; z<intRed; z++){
			if((intColor==1 && intNot!=1) || (intColor!=1 && intNot==1)){
				strHelp2Text = strHelp2Text + '<font color="red"><u>R</u></font>&nbsp;'
			}else{
				strHelp2Text = strHelp2Text + '<font color="red">R</font>&nbsp;'
			}
		}
		
		for (z=0; z<intBlue; z++){
			if((intColor==2 && intNot!=1) || (intColor!=2 && intNot==1)){
				strHelp2Text = strHelp2Text + '<font color="blue"><u>B</u></font>&nbsp;'
			}else{
				strHelp2Text = strHelp2Text + '<font color="blue">B</font>&nbsp;'
			}
		}
		
		for (z=0; z<intGreen; z++){
			if((intColor==3 && intNot!=1) || (intColor != 3 && intNot==1)){
				strHelp2Text = strHelp2Text + '<font color="green"><u>G</u></font>&nbsp;'
			}else{
				strHelp2Text = strHelp2Text + '<font color="green">G</font>&nbsp;'
			}
		}
		
		strHelp2Text = strHelp2Text +'</b>'
		
		
		write_text('We have a bag with ' + intRed + ' red marbles, ' + intBlue + ' blue marbles, and ' + intGreen + ' green marbles in it.  What is the probability of randomly selecting a ' + strQuestionText + ' marble from the bag?' );
		write_step('<br>'+strHelp1Text);
		write_step('<br>Now we have to determine how many marbles meet the condition of being ' + strQuestionText)
		write_step('<br>'+strHelp2Text);
		write_step('<br>Therefore the probability is ' + equation_string(intNumerator + '/' + intNumberOfMarbles +' = '+ format_fraction(intNumerator,intNumberOfMarbles)))
		
		setCorrectAnswer(format_fraction(intNumerator,intNumberOfMarbles));
		
		var arrWrongAnswers = new Array(8);
		//set array values = '' and create two dimensional Array
		for (var z = 1; z<=8; z++){
			arrWrongAnswers[z]=new Array(2);
		}
		
		arrWrongAnswers[1][1]= getRandomIntRange(1,intNumberOfMarbles-2)
		arrWrongAnswers[1][2]= intNumberOfMarbles
		
		arrWrongAnswers[2][1]= intNumerator
		arrWrongAnswers[2][2]= (intNumberOfMarbles/2)
		
		arrWrongAnswers[3][1]= intNumerator
		arrWrongAnswers[3][2]= (intNumberOfMarbles*2)
		
		arrWrongAnswers[4][1]= intNumerator+1
		arrWrongAnswers[4][2]= (intNumberOfMarbles)
		
		arrWrongAnswers[5][1]= intNumerator-1
		arrWrongAnswers[5][2]= (intNumberOfMarbles)
		
		arrWrongAnswers[6][1]= (intNumberOfMarbles-intNumerator)
		arrWrongAnswers[6][2]= (intNumberOfMarbles)
		
		arrWrongAnswers[7][1]= (intNumberOfMarbles-intNumerator)
		arrWrongAnswers[7][2]= (intNumberOfMarbles*2)
		
		arrWrongAnswers[8][1]= (intNumberOfMarbles-intNumerator)
		arrWrongAnswers[8][2]= (intNumberOfMarbles/2)
		
		z=1;
		while (z<=10){
			intRandomWrongChoice = getRandomIntRange(1,8);
			addWrongChoice(format_fraction(arrWrongAnswers[intRandomWrongChoice][1],arrWrongAnswers[intRandomWrongChoice][2]));
			z++;
		} 
	
		break;
		
	case 3:
		// 3. Set of Numbers
		intQuestionType = getRandomIntRange(1,2);
		
		switch(intQuestionType){
			case 1:
				//multiples
				var intMultiple = getRandomIntRange(3,12);
				var intSetSize = getRandomIntRange(7,12);
				var intNumOfMultiples = getRandomIntRange(0,intSetSize); //this is INITIAL number of "winners".  More may randomly be chosen- this is accounted for
				
				//first key = number, second key = winner or not
				var arrSet = new Array(intSetSize);
				
				
				var intMax = 0;
				for(z=0;z<intNumOfMultiples;z++){
					i = getRandomIntRange(1,11)*intMultiple;
					arrSet[z] = i;					
					if (i>intMax){intMax=i};
				}
				
				if (intMax<10){intMax=25} //create some variability in set even if 0 multiples are chosen
				
				for(z=intNumOfMultiples;z<intSetSize;z++){
					arrSet[z]= getRandomIntRange(1,intMax*2);		
				}
				
				function fxArrRandomize ( myArray ) {
				  var i = myArray.length;
				  if ( i == 0 ) return false;
				  while ( --i ) {
				     var j = Math.floor( Math.random() * ( i + 1 ) );
				     var tempi = myArray[i];
				     var tempj = myArray[j];
				     myArray[i] = tempj;
				     myArray[j] = tempi;
				   }
				}
				fxArrRandomize(arrSet);
				
				var intNumerator =0;
										
				var StrSet = 'If a number is randomly chosen from the following list, what is the probability that the number is a multiple of ' + intMultiple + '?<br><br><b>[';
				var StrSetUnderlined = '';
				for(z=0; z<(intSetSize); z++){
					StrSet = StrSet + arrSet[z];
					if ((z+1)!=intSetSize){StrSet=StrSet+', '}
					
					if (arrSet[z]%intMultiple==0){
						StrSetUnderlined = StrSetUnderlined + '<u>' + arrSet[z] +'</u>';
						intNumerator++;
					} else{
						StrSetUnderlined = StrSetUnderlined + arrSet[z];
					}	
					
					if ((z+1)!=intSetSize){StrSetUnderlined=StrSetUnderlined+', '}
				}
				StrSet = StrSet+']</b>';
				write_text(StrSet);
				
				setCorrectAnswer(format_fraction(intNumerator,intSetSize));
				
				
				var arrWrongAnswers = new Array(7);
				//set array values = '' and create two dimensional Array
				for (var z = 1; z<=7; z++){
					arrWrongAnswers[z]=new Array(2);
				}
				
				arrWrongAnswers[1][1]= getRandomIntRange(1,intSetSize)
				arrWrongAnswers[1][2]= intSetSize
				
				arrWrongAnswers[2][1]= (intSetSize-intNumerator)
				arrWrongAnswers[2][2]= (intSetSize/2)
				
				arrWrongAnswers[3][1]= intNumerator+1
				arrWrongAnswers[3][2]= (intSetSize)
				
				arrWrongAnswers[4][1]= intNumerator-1
				arrWrongAnswers[4][2]= (intSetSize)
				
				arrWrongAnswers[5][1]= (intSetSize-intNumerator)
				arrWrongAnswers[5][2]= (intSetSize)
				
				arrWrongAnswers[6][1]= getRandomIntRange(1,intSetSize)
				arrWrongAnswers[6][2]= intSetSize
				
				arrWrongAnswers[7][1]= getRandomIntRange(1,intSetSize)
				arrWrongAnswers[7][2]= intSetSize
				
				z=1;
				while (z<=10){
					intRandomWrongChoice = getRandomIntRange(1,7);
					addWrongChoice(format_fraction(arrWrongAnswers[intRandomWrongChoice][1],arrWrongAnswers[intRandomWrongChoice][2]));
					z++;
				} 
			
				write_step('<br>First, count the quantity of numbers in the set that are multiples of ' + intMultiple);
				write_step('<br>There are ' + intNumerator + ' multiples of ' + intMultiple + '<br>' + StrSetUnderlined)
				write_step('<br>There are ' + intSetSize + ' numbers in the set.')  
				write_step('<br>Therefore the probability is' + equation_string(intNumerator+'/'+intSetSize+'='+ format_fraction(intNumerator,intSetSize)))
				
				break;
				
			case 2:
				//primes
				var intSetSize = getRandomIntRange(7,12);
				var intNumOfPrimes = getRandomIntRange(0,intSetSize); //this is INITIAL number of "winners".  More may randomly be chosen- this is accounted for
				
				//first key = number, second key = winner or not
				var arrPrimes = [2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97];
				var arrSet = new Array(intSetSize);
				
				for(z=0;z<intNumOfPrimes;z++){
					arrSet[z] = arrPrimes[getRandomIntRange(0,24)];		
				}
				
				for(z=intNumOfPrimes;z<intSetSize;z++){
					arrSet[z]= getRandomIntRange(1,100);		
				}
				
				function fxArrRandomize ( myArray ) {
				  var i = myArray.length;
				  if ( i == 0 ) return false;
				  while ( --i ) {
				     var j = Math.floor( Math.random() * ( i + 1 ) );
				     var tempi = myArray[i];
				     var tempj = myArray[j];
				     myArray[i] = tempj;
				     myArray[j] = tempi;
				   }
				}
				fxArrRandomize(arrSet);
				
				//Array search function
				function Search_Array(ArrayObj, SearchFor){
				  var Found = false;
				  for (var i = 0; i < ArrayObj.length; i++){
				    if (ArrayObj[i] == SearchFor){
				      return true;
				      var Found = true;
				      break;
				    }
				    else if ((i == (ArrayObj.length - 1)) && (!Found)){
				      if (ArrayObj[i] != SearchFor){
				        return false;
				      }
				    }
				  }
				}
				
				var intNumerator =0;
										
				var StrSet = 'If a number is randomly chosen from the following set, what is the probability that the number is prime?<br><br><b>{';
				var StrSetUnderlined = '';
				for(z=0; z<(intSetSize); z++){
					StrSet = StrSet + arrSet[z];
					if ((z+1)!=intSetSize){StrSet=StrSet+', '}
					
					if (Search_Array(arrPrimes,arrSet[z])){
						StrSetUnderlined = StrSetUnderlined + '<u>' + arrSet[z] +'</u>';
						intNumerator++;
					} else{
						StrSetUnderlined = StrSetUnderlined + arrSet[z];
					}	
					
					if ((z+1)!=intSetSize){StrSetUnderlined=StrSetUnderlined+', '}
				}
				StrSet = StrSet+'}</b>';
				write_text(StrSet);
				
				setCorrectAnswer(format_fraction(intNumerator,intSetSize));
				
				var arrWrongAnswers = new Array(6);
				//set array values = '' and create two dimensional Array
				for (var z = 1; z<=6; z++){
					arrWrongAnswers[z]=new Array(2);
				}
				
				arrWrongAnswers[1][1]= getRandomIntRange(1,8)
				arrWrongAnswers[1][2]= intSetSize
				
				arrWrongAnswers[2][1]= (intSetSize-intNumerator)
				arrWrongAnswers[2][2]= (intSetSize/2)
				
				arrWrongAnswers[3][1]= intNumerator+1
				arrWrongAnswers[3][2]= (intSetSize)
				
				arrWrongAnswers[4][1]= intNumerator-1
				arrWrongAnswers[4][2]= (intSetSize)
				
				arrWrongAnswers[5][1]= (intSetSize-intNumerator)
				arrWrongAnswers[5][2]= (intSetSize)
				
				arrWrongAnswers[6][1]= getRandomIntRange(1,8)
				arrWrongAnswers[6][2]= intSetSize
				
				z=1;
				while (z<=10){
					intRandomWrongChoice = getRandomIntRange(1,6);
					addWrongChoice(format_fraction(arrWrongAnswers[intRandomWrongChoice][1],arrWrongAnswers[intRandomWrongChoice][2]));
					z++;
				} 
			
				write_step('<br>First, count the quantity of numbers in the set that are prime');
				write_step('<br>There are ' + intNumerator + ' prime numbers in the set<br>' + StrSetUnderlined)
				write_step('<br>There are ' + intSetSize + ' numbers in the set.')  
				write_step('<br>Therefore the probability is' + equation_string(intNumerator+'/'+intSetSize+'='+ format_fraction(intNumerator,intSetSize)))
				break;		
		}
		
		break;
		
	case 4:
		
		// 4. Area
		function describeCircle(C) {
			randomMember([
				function() {
					write_text('The radius of the '+C.desc+' is `' + C.radius + '`.');
					write_step('The area of the '+C.desc+' is `pi*('+C.radius+')^2`</p>' +
								'<p style="text-color:'+C.fillColor+';"> = `'+C.area+'`.</p>');
				},
				
				function() {
					write_text('The diameter of the '+C.desc+' is `' + C.diameter + '`.');
					write_step('The area of the '+C.desc+' is `pi*(('+C.diameter+')/2)^2`</p>' +
								'<p style="text-color:'+C.fillColor+';"> = `'+C.area+'`.</p>');
				},
				
				function() { write_text('The area of the '+C.desc+' is `' + C.area + '`.')},
				
				function() {
					write_text('The circumference of the '+C.desc+' is `' + C.circumference + '`.');
					write_step('<p>The area of the '+C.desc+' is `pi*(('+C.circumference+')/(2*pi))^2`</p>' +
								'<p style="color:'+C.fillColor+';"> = `'+C.area+'`.</p>');
				}
			])();
		};
		
		// large circle
		lC = [];
		lC.desc = 'larger circle';
		lC.radius = getRandomIntRange(5, 20);
		lC.diameter = lC.radius * 2;
		lC.area = (lC.radius * lC.radius) + 'pi'; // area in terms of pi
		lC.circumference = lC.diameter + 'pi';
		lC.center = [0, 0]
		lC.fillColor = '#' + getRandomIntRange(0x000000, 0xffffff).toString(16);
		describeCircle(lC);
		
		// small circle
		sC = [];
		sC.desc = 'smaller circle';
		sC.radius = getRandomIntRange(1, lC.radius - 4);
		sC.diameter = sC.radius * 2;
		sC.area = (sC.radius * sC.radius) + 'pi'; // area in terms of pi
		sC.circumference = sC.diameter + 'pi';
		do {
			sC.center = [getRandomIntRange(-1 * lC.radius, lC.radius),
						getRandomIntRange(-1 * lC.radius, lC.radius)];
		} while // keep the edge of the small circle inside the large circle
			(Math.sqrt(sC.center[0]*sC.center[0] + sC.center[1]*sC.center[1]) + sC.radius > lC.radius)
		sC.fillColor = '#' + getRandomIntRange(0x000000, 0xffffff).toString(16);
		describeCircle(sC);
		
		write_text('A point is selected at random from inside the larger circle. What is the probability that the point lies in the smaller circle?');
		
		probability = format_fraction(sC.radius*sC.radius, lC.radius*lC.radius);//pi should cancel
		setCorrectAnswer(probability);
		addWrongChoice(format_fraction(sC.radius, lC.radius));
		addWrongChoice(format_fraction(sC.radius, lC.radius*2));
		addWrongChoice(format_fraction(sC.radius*2, lC.radius));
		addWrongChoice(format_fraction(lC.radius, sC.radius));
		addWrongChoice(format_fraction(sC.radius*2, lC.radius*lC.radius));
		addWrongChoice(format_fraction(sC.radius/2, lC.radius*4));
		addWrongChoice(format_fraction(sC.radius, lC.radius*lC.radius));
		
		write_step('The probability is `('+sC.area+')/('+lC.area+')` or `'+probability+'`.');
		
		graph_update = function() {
			present.initPicture(-20,20, -20, 20);
			present.fontstyle = "normal";
			present.fontsize = "10";
			present.stroke = "black";
			present.strokewidth = "1";
			
			present.fill = lC.fillColor;
			present.circle(lC.center, lC.radius);
			
			present.fill = sC.fillColor;
			present.circle(sC.center, sC.radius);
		}
		
		break;
}

graph_update();

//-->
</script>

{% endblock maincell %}

{% block maincellwidth %}70%{% endblock maincellwidth %}
