{% extends "page_template.html" %}
{% block pagescript %}
{% ifequal view "mobile" %}
	<style>
		#top-header, footer { display: none; }
		#page-container { min-width: 768px; }
		#individual_report { padding: 0 10px; }
		#individual_report #achievements { margin-top: 18px; min-width: 0; }
		#vital-statistics { display: none; }
		#individual_report #achievements #achievement-list > ul li { min-width: 0; width: 125px; margin-right: 0; }
		.ach-text { max-width: 600px; }
	</style>
{% endifequal %}
{% endblock pagescript %}

{% block pagesubmenu %}
    <div id="profile-header">
        <span id="high-level-stats">
            {% block high_level_stats %}{% endblock high_level_stats %}
        </span>
        {% block profile_name %}<span id="user-info">
            <img src="/images/darth.png" />
            <span id="name"></span>
        </span>{% endblock profile_name %}
    </div>
{% endblock pagesubmenu %}

{% block pagecontent %}

    <article id="individual_report">

    {% if is_profile_empty %}

        {% block profile_is_empty %}{% endblock profile_is_empty %}

    {% else %}

        <div id="vital-statistics">
            <div id="stats-nav">
                <h2>{% block statistics_title %}Vital Statistics{% endblock statistics_title %}</h2>
                {% block graph_accordion %}{% endblock graph_accordion %}
            </div>
            <div id="stats-charts" class="fancy-scrollbar -ce-capture">
                {% profile_graph_control %}
            </div>
        </div>

        {% block profile_extended_sections %}{% endblock profile_extended_sections %}

    {% endif %}

    </article>
    <div id="info-hover-container" style="display:none;"></div>

{% endblock pagecontent %}

{% block bottompagescript %}
    {% js_package "profile" %}
    <script type="text/javascript">Profile.initialGraphUrl = '{{ initial_graph_url|escapejs }}';</script>
    <script type="text/javascript">document.write(unescape('%3Cscript type="text/javascript" src="'+document.location.protocol+'//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/5719.js"%3E%3C%2Fscript%3E'))</script>
{% endblock bottompagescript %}

