{% extends "page_template.html" %}

{% block pagesubmenu %}
    <div id="profile-header">
        <span id="high-level-stats">
            {% block high_level_stats %}{% endblock high_level_stats %}
        </span>
        {% block profile_name %}<span id="user-info">
            <img src="/images/darth.png" />
            <span id="name"></span>
        </span>{% endblock profile_name %}
    </div>
{% endblock pagesubmenu %}

{% block pagecontent %}

    <article id="individual_report">

    {% if is_profile_empty %}

        {% block profile_is_empty %}{% endblock profile_is_empty %}

    {% else %}

        <div id="vital-statistics">
            <div id="stats-nav">
                <h2>{% block statistics_title %}Vital Statistics{% endblock statistics_title %}</h2>
                {% block graph_accordion %}{% endblock graph_accordion %}
            </div>
            <div id="stats-charts" class="fancy-scrollbar">
                {% profile_graph_control %}
            </div>
        </div>

        {% block profile_extended_sections %}{% endblock profile_extended_sections %}

    {% endif %}

    </article>
    <div id="info-hover-container" style="display:none;"></div>

{% endblock pagecontent %}

{% block bottompagescript %}
    {% profile_javascript %}
    <script type="text/javascript">Profile.initialGraphUrl = '{{ initial_graph_url|escapejs }}';</script>
{% endblock bottompagescript %}

