{% extends "page_template.html" %}
{% block pagescript %}
<script type="text/javascript">
function submitForm(value)
{
        document.forms['reportissue'].submit();
}
</script>
<style>
	p { margin-bottom: 1em; }
    dl { margin-left: 2em; }
    dt { 
        float: left;
        clear: left; 
        font-weight: bold;
        padding-right: 1ex;
    } 
    dt:after { content: ":"; } 
    dd {
        padding: 0 0 0.5em 1em;
    }
</style>
{% endblock pagescript %}
{% block pagetitle %}Provide feedback{% endblock pagetitle %}
{% block pagecontent %}
<div style="padding: 10%;">
	{% if message %}
	<p style="color: red;">
	{{message}}
	</p>
	{% endif %}
    <p>
    Got something on your mind?&nbsp;  Please tell us about it by emailing one of the public groups below!&nbsp;
    Although we don't have time to reply to individual messages, we do read 
    your comments and suggestions whenever we get a chance and we use them when deciding how to focus our efforts.
    Criticisms make us want to work harder and compliments help us know that our work is making a difference, so 
    feel free to provide either or both.&nbsp;  
    </p>
    <p>
    Please note that <span style="color: red;"/><b>your messages will be 
    publicly accessible, so don't post
    private or confidential information</span></b>.&nbsp;  Also by sending a message to any of these email addresses <b>you agree to 
    release all your intellectual property rights to the content of your email</b>.&nbsp;  This ensures that we can easily quote 
    you or use your suggestion without needing to waste time tracking you down and asking permission.
    </p>
    <p>Please use the address that is most appropriate for your feedback:
    <dl>
        <dt><a href="mailto:khan-academy-topic-ideas@googlegroups.com">khan-academy-topic-ideas@googlegroups.com</a></dt><dd>Ideas for new topics/videos</dd>
        <dt><a href="mailto:khan-academy-feature-requests@googlegroups.com">khan-academy-feature-requests@googlegroups.com</a></dt><dd>Suggestions for new features</dd>
        <dt><a href="mailto:khan-academy-comments@googlegroups.com">khan-academy-comments@googlegroups.com</a></dt><dd>Other comments (both positive and negative)</dd>
    </dl>
    </p>
    <p><i>Thanks for taking the time to help us make Khan Academy better!</i></p>
</div>
{% endblock pagecontent %}
