{% extends "pythagorean_theorem_1.html" %}


{% block maincell %}
<script language=Javascript1.2><!--
///////////////////////////////////////////////////////////////////////////////////////
//////Your code goes below here							///////
///////////////////////////////////////////////////////////////////////////////////////

function type3()
{
	//alert(0);
	
	var myTriangle = get454590();
	var lSide = myTriangle.leftSide;
	var hypot = myTriangle.rightSide;
	var bSide = myTriangle.bottomSide;
	if (Math.random()>Math.random())
	{
		lSide = myTriangle.bottomSide;
		bSide = myTriangle.leftSide;
	}
	//var foo = new congruentLabel(lSide, bSide,3);
	
	var rightAngle = new graphRightAngle(myTriangle.top, myTriangle.left, myTriangle.right);
	var angle1 = new graphAngle(myTriangle.right, myTriangle.top, myTriangle.left);
	var angle2 = new graphAngle(myTriangle.left, myTriangle.right, myTriangle.top);
	
	if (Math.random()>Math.random())
	{
		var temp = angle1;
		angle1 = angle2;
		angle2 = temp;
	}
	
	var lLength = getRandomIntRange(2,5);
	var hLength = getRandomIntRange(lLength+1, 10);
	
	initialObjectsToDraw.push(myTriangle);
	initialObjectsToDraw.push(rightAngle);
	
	
	addWrongChoice(simplifiedRoot(Math.abs((Math.pow(hLength,2)+Math.pow(lLength,2)))));
	addWrongChoice(Math.pow(hLength,2)+Math.pow(lLength,2));
	addWrongChoice(simplifiedRoot(lLength+hLength));
	addWrongChoice(simplifiedRoot(hLength-lLength));
	addWrongChoice(Math.pow(hLength,2)-Math.pow(lLength,2));
	addWrongChoice(hLength-lLength);
	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(2))/2');
	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(2))/2');
	addWrongChoice(''+(getRandomIntRange(2,4)*2+1)+'sqrt(2)');
	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(3))/2');
	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(3))/2');
	addWrongChoice(''+(getRandomIntRange(2,4)*2+1)+'sqrt(3)');
	
	
	//writeText(lSide.regStr+' is '+lLength+' units long.');
	writeText(hypot.regStr+' is '+hLength+' units long.');
	writeText(angle1.regStr+' is 45 degrees.');
	writeText(rightAngle.regStr+' is 90 degrees.');
	writeText('What is the length of '+bSide.regStr+'?');
	
	writeGraphicalHint('We know two of the angles of the triangle so we can solve for the third angle.', null);
	writeGraphicalHint(equationString('`'+angle1.colorStr+'`+`'+angle2.colorStr+'`+`'+rightAngle.colorStr+'`=180'), [angle1, angle2, rightAngle]);
	writeGraphicalHint(equationString('45+`'+angle2.colorStr+'`+90=180'), [angle1, angle2, rightAngle]);
	writeGraphicalHint(equationString('`'+angle2.colorStr+'`=45'), [angle2]);
	writeGraphicalHint('If two angles in a triangle are equal, then the sides that they do not share are equal in length.', null);
	writeGraphicalHint('Since '+angle2.colorStr+'='+angle1.colorStr+', we know that '+bSide.colorStr+'='+lSide.colorStr+'.', [new congruentLabel(lSide, bSide, 1), angle1, angle2]);
	writeGraphicalHint('From the Pythagorean Theorem we also know that:'+equationString('(`'+lSide.colorStr+'`)^2+(`'+bSide.colorStr+'`)^2=(`'+hypot.colorStr+'`)^2'), [lSide, bSide, hypot]);
	writeGraphicalHint('Since '+lSide.colorStr+'='+bSide.colorStr+' and '+hypot.colorStr+'='+hLength+':'+equationString('(`'+bSide.colorStr+'`)^2+(`'+bSide.colorStr+'`)^2='+hLength+'^2'), [lSide, bSide, hypot]);
	writeGraphicalHint(equationString('2(`'+bSide.colorStr+'`)^2='+Math.pow(hLength,2)), [lSide, bSide, hypot]);
	if (hLength%2==0)
	{
		writeGraphicalHint(equationString(' (`'+bSide.colorStr+'`)^2= '+(Math.pow(hLength,2)/2)), [bSide]);
		writeGraphicalHint(equationString('`'+bSide.colorStr+'`= '+simplifiedRoot(Math.pow(hLength,2)/2)),[bSide]);
		
		setCorrectAnswer(simplifiedRoot(Math.pow(hLength,2)/2));
	}
	else
	{
		writeGraphicalHint(equationString('(`'+bSide.colorStr+'`)^2= '+Math.pow(hLength,2)+'/2'), [bSide]);
		writeGraphicalHint(equationString('`'+bSide.colorStr+'`='+hLength+'/sqrt(2)'), [bSide]);
		writeGraphicalHint('We could be done, but the standard convention is to not have'
				+' irrational denominators so we will "rationalize" the denominator by multiplying our answer by `sqrt(2)/sqrt(2) = 1`.', [bSide]);
		writeGraphicalHint(equationString('`'+bSide.colorStr+'`='+hLength+'/sqrt(2) * sqrt(2)/sqrt(2) = ('+hLength+'sqrt(2))/2'), [bSide]);
		
		setCorrectAnswer('('+hLength+'sqrt(2))/2');
	}
}

function type4()
{
	var myTriangle = get306090();
	
	
	var lSide = myTriangle.leftSide;
	var hypot = myTriangle.rightSide;
	var bSide = myTriangle.bottomSide;
	
	
	hypot.length = getRandomIntRange(1,20);
	
	if (hypot.length%2==0)
	{
		bSide.length = (hypot.length/2);
		lSide.length = (hypot.length/2)+'sqrt(3)';
		addWrongChoice((hypot.length/2)+'sqrt(2)');
	}
	else
	{
		bSide.length = hypot.length+'/2';
		lSide.length = '('+hypot.length+'sqrt(3))/2';
		addWrongChoice('('+hypot.length+'sqrt(2))/2');
	}
	
	
	
	var rightAngle = new graphRightAngle(myTriangle.top, myTriangle.left, myTriangle.right);
	var angle1 = new graphAngle(myTriangle.right, myTriangle.top, myTriangle.left);
	var angle2 = new graphAngle(myTriangle.left, myTriangle.right, myTriangle.top);
	
	angle1.size = '30';
	angle1.multiplier = '1/2';
	angle2.size = '60';
	angle2.multiplier = 'sqrt(3)/2';
	
	bSide.oppAngle = angle1;
	lSide.oppAngle = angle2;
	
	
	var givenAngle = angle1;
	var otherAngle = angle2;
	
	var givenSide = hypot;
	var solveForSide = bSide;
	var otherSide = lSide;
	
	if (getRandomIntRange(1,2)==1)
	{
		solveForSide = lSide;
		otherSide = bSide;
	}
	
	if (getRandomIntRange(1,2)==1)
	{
		givenAngle = angle2;
		otherAngle = angle1;
	}
	
	initialObjectsToDraw.push(myTriangle);
	initialObjectsToDraw.push(rightAngle);
		
	writeText(givenSide.regStr+' is '+givenSide.length+' units long.');
	writeText(givenAngle.regStr+' is '+givenAngle.size+' degrees.');
	writeText(rightAngle.regStr+' is 90 degrees.');
	writeText('What is the length of '+solveForSide.regStr+'?');
	
	writeGraphicalHint('We know two of the angles of the triangle so we can solve for the third angle.', null);
	writeGraphicalHint(equationString('`'+angle1.colorStr+'`+`'+angle2.colorStr+'`+`'+rightAngle.colorStr+'`=180'), [angle1, angle2, rightAngle]);
	writeGraphicalHint(equationString(givenAngle.size+'+`'+otherAngle.colorStr+'`+90=180'), [angle1, angle2, rightAngle]);
	
	
	writeGraphicalHint(equationString('`'+otherAngle.colorStr+'`='+otherAngle.size), [otherAngle]);
	writeGraphicalHint('So we see this is a 30-60-90 triangle.', null);
	writeGraphicalHint(solveForSide.colorStr+' is the side opposite the '+solveForSide.oppAngle.size+' degree angle so it is `'+solveForSide.oppAngle.multiplier+'` times the length of the hypotenuse.', [solveForSide, solveForSide.oppAngle]);
	writeGraphicalHint(equationString('`'+solveForSide.colorStr+'` = '+solveForSide.oppAngle.multiplier+'`'+hypot.colorStr+'`'), [hypot, solveForSide]);
	writeGraphicalHint(equationString('`'+solveForSide.colorStr+'` = '+solveForSide.oppAngle.multiplier+'*'+hypot.length), [hypot, solveForSide]);
	writeGraphicalHint(equationString('`'+solveForSide.colorStr+'` = '+solveForSide.length), [hypot, solveForSide]);
	
		
	setCorrectAnswer(solveForSide.length);
	addWrongChoice(otherSide.length);
	addWrongChoice(givenSide.length);
	addWrongChoice(getRandomIntRange(2,20)+'sqrt(3)');
	addWrongChoice(getRandomIntRange(2,20)+'sqrt(2)');

	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(2))/2');
	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(2))/2');
	addWrongChoice(''+(getRandomIntRange(2,4)*2+1)+'sqrt(2)');
	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(3))/2');
	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(3))/2');
	addWrongChoice(''+(getRandomIntRange(2,4)*2+1)+'sqrt(3)');

}


function type5()
{
	var myTriangle = get306090();
	
	
	var lSide = myTriangle.leftSide;
	var hypot = myTriangle.rightSide;
	var bSide = myTriangle.bottomSide;
	
	
	var givenSide = bSide;
	var solveForSide = hypot;
	var otherSide = lSide;
	
	
	// default is to give the 30 degree side (or bottom of the triangle)
	givenSide.length = getRandomIntRange(1,20);
	hypot.length = 2*givenSide.length;
	otherSide.length = givenSide.length+'sqrt(3)'
	
	var rationalizeStep = '';
	// 50% change we give the left side instead (opposite the 60% angle
	if(getRandomIntRange(1,2)==1)
	{
		givenSide = lSide;
		otherSide = bSide;
		givenSide.length = getRandomIntRange(1,20);
		hypot.length = '('+2*givenSide.length+'sqrt(3))/3';
		
		if ((2*givenSide.length)%3==0)
			hypot.length = (2*givenSide.length/3)+'sqrt(3)';
		
		rationalizeStep = '(remember that `1/sqrt(3)*sqrt(3)/sqrt(3) = sqrt(3)/3`)';
		
			
		otherSide.length = givenSide.length+'sqrt(3)/3'
	
	}
	
	var rightAngle = new graphRightAngle(myTriangle.top, myTriangle.left, myTriangle.right);
	var angle1 = new graphAngle(myTriangle.right, myTriangle.top, myTriangle.left);
	var angle2 = new graphAngle(myTriangle.left, myTriangle.right, myTriangle.top);
	
	angle1.size = '30';
	angle1.multiplier = '1/2';
	angle1.invMultiplier = '2';
	angle2.size = '60';
	angle2.invMultiplier = '2/sqrt(3)';
	angle2.multiplier = 'sqrt(3)/2';
	
	
	bSide.oppAngle = angle1;
	lSide.oppAngle = angle2;
	
	
	var givenAngle = angle1;
	var otherAngle = angle2;
	
	
	if (getRandomIntRange(1,2)==1)
	{
		givenAngle = angle2;
		otherAngle = angle1;
	}
	
	initialObjectsToDraw.push(myTriangle);
	initialObjectsToDraw.push(rightAngle);
		
	writeText(givenSide.regStr+' is '+givenSide.length+' units long.');
	writeText(givenAngle.regStr+' is '+givenAngle.size+' degrees.');
	writeText(rightAngle.regStr+' is 90 degrees.');
	writeText('What is the length of '+solveForSide.regStr+'?');
	
	writeGraphicalHint('We know two of the angles of the triangle so we can solve for the third angle.', null);
	writeGraphicalHint(equationString('`'+angle1.colorStr+'`+`'+angle2.colorStr+'`+`'+rightAngle.colorStr+'`=180'), [angle1, angle2, rightAngle]);
	writeGraphicalHint(equationString(givenAngle.size+'+`'+otherAngle.colorStr+'`+90=180'), [angle1, angle2, rightAngle]);
	
	
	writeGraphicalHint(equationString('`'+otherAngle.colorStr+'`='+otherAngle.size), [otherAngle]);
	writeGraphicalHint('So we see this is a 30-60-90 triangle.', null);
	writeGraphicalHint(givenSide.colorStr+' is the side opposite the '+givenSide.oppAngle.size+' degree angle so it is `'+givenSide.oppAngle.multiplier+'` times the length of the hypotenuse.', [givenSide, givenSide.oppAngle]);
	writeGraphicalHint(equationString('`'+givenSide.colorStr+'` = '+givenSide.oppAngle.multiplier+'`'+hypot.colorStr+'`'), [hypot, givenSide]);
	writeGraphicalHint(equationString(givenSide.length+'= '+givenSide.oppAngle.multiplier+'`'+hypot.colorStr+'`'), [hypot, givenSide]);
	writeGraphicalHint(equationString(givenSide.oppAngle.invMultiplier+'*'+givenSide.length+'=`'+hypot.colorStr+'`'), [hypot, givenSide]);
	writeGraphicalHint(equationString('`'+hypot.colorStr+'`='+hypot.length)+rationalizeStep, [hypot]);
	
	
	
		
	setCorrectAnswer(solveForSide.length);
	addWrongChoice(otherSide.length);
	addWrongChoice(givenSide.length);
	addWrongChoice(getRandomIntRange(2,20)+'sqrt(3)');
	addWrongChoice(getRandomIntRange(2,20)+'sqrt(2)');

	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(2))/2');
	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(2))/2');
	addWrongChoice(''+(getRandomIntRange(2,4)*2+1)+'sqrt(2)');
	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(3))/2');
	addWrongChoice('('+(getRandomIntRange(2,4)*2+1)+'sqrt(3))/2');
	addWrongChoice(''+(getRandomIntRange(2,4)*2+1)+'sqrt(3)');

}

pickType(3,5);

randomRotation();



//-->
</script>



{% endblock maincell %}

