{% extends "adding_and_subtracting_fractions.html" %}
{% block maincode %}

{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--
///////////////////////////////////////////////////////////////////////////////////////
//////Your code goes below here							///////
///////////////////////////////////////////////////////////////////////////////////////

function type1()
{
	
	var myTriangle = get306090();
	var lSide = myTriangle.leftSide;
	var hypot = myTriangle.rightSide;
	var bSide = myTriangle.bottomSide;
	var rightAngle = new graphRightAngle(myTriangle.top, myTriangle.left, myTriangle.right);
	
	var lLength = getRandomIntRange(2,5);
	var bLength = getRandomIntRange(lLength+1, 10);
	
	initialObjectsToDraw.push(myTriangle);
	initialObjectsToDraw.push(rightAngle);
	
	setCorrectAnswer(simplifiedRoot(Math.pow(lLength,2)+Math.pow(bLength,2)));
	
	addWrongChoice(simplifiedRoot(Math.abs((Math.pow(lLength,2)-Math.pow(bLength,2)))));
	addWrongChoice(simplifiedRoot(lLength+bLength));
	addWrongChoice(Math.pow(lLength,2)+Math.pow(bLength,2));
	addWrongChoice(lLength+bLength);
	addWrongChoice(getRandomIntRange(2,14));
	
	writeText(lSide.regStr+' is '+lLength+' units long.');
	writeText(bSide.regStr+' is '+bLength+' units long.');
	writeText('What is the length of '+hypot.regStr+'?');
	writeGraphicalHint(rightAngle.colorStr+' is 90 degrees so '+myTriangle.regStr+' is a right triangle.', [rightAngle]);
	writeGraphicalHint(hypot.colorStr+' is the side opposite the right angle so it is the hypotenuse (and longest side) of '+myTriangle.regStr+'.', [hypot, rightAngle]);
	writeGraphicalHint('We know the length of the other two sides so we can use the Pythagorean Theorem to solve for '+hypot.colorStr+'.', [hypot]);
	writeGraphicalHint(equationString('(`'+lSide.colorStr+'`)^2+(`'+bSide.colorStr+'`)^2=(`'+hypot.colorStr+'`)^2'), [lSide, bSide, hypot]);
	writeGraphicalHint(equationString(lLength+'^2+'+bLength+'^2=(`'+hypot.colorStr+'`)^2'), [lSide, bSide, hypot]);
	writeGraphicalHint(equationString((Math.pow(lLength,2)+Math.pow(bLength,2))+'=(`'+hypot.colorStr+'`)^2'), [lSide, bSide, hypot]);
	writeGraphicalHint(equationString(correctAnswer+'=`'+hypot.colorStr+'`'), [hypot]);
	
	
}
	

function type2()
{
	//alert(0);
	
	var myTriangle = get306090();
	var lSide = myTriangle.leftSide;
	
	var hypot = myTriangle.rightSide;
	var bSide = myTriangle.bottomSide;
	
	
	if (Math.random()>Math.random())
	{
		lSide = myTriangle.bottomSide;
		bSide = myTriangle.leftSide;
	}
	
	
	var rightAngle = new graphRightAngle(myTriangle.top, myTriangle.left, myTriangle.right);
	
	var lLength = getRandomIntRange(2,5);
	var hLength = getRandomIntRange(lLength+1, 10);
	
	initialObjectsToDraw.push(myTriangle);
	initialObjectsToDraw.push(rightAngle);
	
	setCorrectAnswer(simplifiedRoot(Math.pow(hLength,2)-Math.pow(lLength,2)));
	addWrongChoice(simplifiedRoot(Math.abs((Math.pow(hLength,2)+Math.pow(lLength,2)))));
	addWrongChoice(Math.pow(hLength,2)+Math.pow(lLength,2));
	addWrongChoice(simplifiedRoot(lLength+hLength));
	addWrongChoice(simplifiedRoot(hLength-lLength));
	addWrongChoice(Math.pow(hLength,2)-Math.pow(lLength,2));
	addWrongChoice(hLength-lLength);
	addWrongChoice(getRandomIntRange(2,14));
	
	writeText(lSide.regStr+' is '+lLength+' units long.');
	writeText(hypot.regStr+' is '+hLength+' units long.');
	writeText('What is the length of '+bSide.regStr+'?');
	writeGraphicalHint(rightAngle.colorStr+' is 90 degrees so '+myTriangle.regStr+' is a right triangle.', [rightAngle]);
	writeGraphicalHint(hypot.colorStr+' is the side opposite the right angle so it is the hypotenuse (and longest side) of '+myTriangle.regStr+'.', [hypot, rightAngle]);
	writeGraphicalHint('We know the length of the hypotenuse and one of the sides so we can use the Pythagorean Theorem to solve for '+bSide.colorStr+'.', [bSide]);
	writeGraphicalHint(equationString('(`'+lSide.colorStr+'`)^2+(`'+bSide.colorStr+'`)^2=(`'+hypot.colorStr+'`)^2'), [lSide, bSide, hypot]);
	writeGraphicalHint(equationString(lLength+'^2+(`'+bSide.colorStr+'`)^2='+hLength+'^2'), [lSide, bSide, hypot]);
	writeGraphicalHint(equationString(Math.pow(lLength,2)+'+(`'+bSide.colorStr+'`)^2='+Math.pow(hLength,2)), [lSide, bSide, hypot]);
	writeGraphicalHint(equationString('(`'+bSide.colorStr+'`)^2='+(Math.pow(hLength,2)-Math.pow(lLength,2))), [lSide, bSide, hypot]);
	writeGraphicalHint(equationString('`'+bSide.colorStr+'`='+correctAnswer), [bSide]);
}

pickType(1,2);

randomRotation();



//-->
</script>



{% endblock maincell %}

{% block graphdisplay %}
<td valign=top><iframe name="present" frameborder=0 src="/graphpage.html?w=260&h=260" height="290" width="290"></iframe></td>
{% endblock graphdisplay %}
