{% extends "multiple_choice_template.html" %}

{% block maincode %}
<script src="/javascript/exercises/range_of_a_function.js?{{App.version}}"></script>
<script language=Javascript1.2><!--
//Range of a function
//Author: Eric Berger
//Date: 2/2/2011

ExerciseRangeOfAFunction.init();
-->
</script>

{% endblock maincode %}

{% block maincell %}
<iframe name="present" frameborder=0 src="/graphpage.html?w=400&h=300" height="350" width="100%"></iframe>
{% endblock maincell %}

{%block hintfunction %} give_next_step() {%endblock hintfunction %}
