
{% if covered_exercises %}
<span class="related-content-title">Includes problems from:</span>
    {% for covered_exercise in covered_exercises %}
        <a href="/exercises?exid={{covered_exercise.name}}">{{covered_exercise.display_name|escape}}</a>{% if not forloop.last %},{% endif %}

        {% if not forloop.last %}
            {% ifequal forloop.counter 3 %}
                <a href="#" id="related_exercises_more" 
                    onclick="$(this).siblings('#related_exercises_hidden').show();$(this).hide();return false;">more...</a>
                <span id="related_exercises_hidden" style="display:none;">
            {% endifequal %}
        {% else %}
            {% if forloop.counter|greater_than:3 %}
                </span>
            {% endif %}
        {% endif %}

    {% endfor %}
{% endif %}

