{% extends "arithmetic_template.html" %}
{% block maincode %}
{% endblock maincode %}
{% block maincell %}
<script language=Javascript1.2><!--
/**
Approximation (Multiplication and Division)
Module Description: 
Rounding non-integer numbers
Skills required: 	
@Author: Aakash Prasad (aakash.prasad91@gmail.com)
**/ 
var maxPower = Math.pow(10, getRandomIntRange(7,10));;
var term = getRandomIntRange(1, maxPower);
if ((Math.log(term) / Math.log(10)) >= 2) {
	term /= Math.pow(10, 4);
}
var places = ["thousandth", "hundredth", "tenth", "whole number", "tens", "hundreds", "thousands"];
var place = places[getRandomIntRange(0, places.length - 1)];
var last = "";
if (place != "whole number") {
	last = ' place';
}
write_text('What is ' + formatNum(term) + ' rounded to the nearest ' + place + last + '?');
var rounded = truncate10(roundToPlace(term, place));
setCorrectAnswer(rounded);
var dig1 = 0;
var dig2 = 0;
var roundUpDown = "";
switch(place) {
		case "thousands":
		dig1 = Math.floor(term / 1000);
		dig2 = Math.floor(term / 100);
		dig1 = dig1 % 10;
		dig2 = dig2 % 10;
		if (dig2 >= 5) {
			roundUpDown = "up";
		} else {
			roundUpDown = "down";
		}
			if (term < 500) {
				write_step(term + ' is less than 500');
				write_step('Therefore, it rounds down to 0.');
			} else {
			write_step('Since the thousands place is ' + truncate10(dig1) + ' and the hundreds place is ' + 
			truncate10(dig2) + ', the thousands place rounds ' + roundUpDown + '.');
			write_step('Therefore, ' + term + ' rounded to the nearest ' + place + last + ' is ' + rounded + '.');
			}  
			break;
		case "hundreds":
		dig1 = Math.floor(term / 100);
		dig2 = Math.floor(term / 10);
		dig1 = dig1 % 10;
		dig2 = dig2 % 10;
		if (dig2 >= 5) {
			roundUpDown = "up";
		} else {
			roundUpDown = "down";
		}
		if (term < 50) {
				write_step(term + ' is less than 50');
				write_step('Therefore, it rounds down to 0.');
			} else {
			write_step('Since the hundreds place is ' + truncate10(dig1) + ' and the tens place is ' + 
			truncate10(dig2) + ', the hundreds place rounds ' + roundUpDown + '.');
			write_step('Therefore, ' + term + ' rounded to the nearest ' + place + last + ' is ' + rounded + '.');
			}  
			break;
		case "tens":
		dig1 = Math.floor(term / 10);
		dig2 = Math.floor(term / 1);
		dig1 = dig1 % 10;
		dig2 = dig2 % 10;
		if (dig2 >= 5) {
			roundUpDown = "up";
		} else {
			roundUpDown = "down";
		}
		if (term < 5) {
				write_step(term + ' is less than 5');
				write_step('Therefore, it rounds down to 0.');
			} else {
			write_step('Since the tens place is ' + truncate10(dig1) + ' and the units place is ' + 
			truncate10(dig2) + ', the tens place rounds ' + roundUpDown + '.');
			write_step('Therefore, ' + term + ' rounded to the nearest ' + place + last + ' is ' + rounded + '.');
			}  
			break;
		case "whole number":
		dig1 = Math.floor(term / 1);
		dig2 = Math.floor(term / 0.1);
		dig1 = dig1 % 10;
		dig2 = dig2 % 10;
		if (dig2 >= 5) {
			roundUpDown = "up";
		} else {
			roundUpDown = "down";
		}
		if (term < 0.5) {
				write_step(term + ' is less than 0.5');
				write_step('Therefore, it rounds down to 0.');
			} else {
			write_step('Since the units place is ' + truncate10(dig1) + ' and the tenth place is ' + 
			truncate10(dig2) + ', the units place rounds ' + roundUpDown + '.');
			write_step('Therefore, ' + term + ' rounded to the nearest ' + place + last + ' is ' + rounded + '.');
			}  
			break;
		case "tenth":
		dig1 = Math.floor(term / 0.1);
		dig2 = Math.floor(term / 0.01);
		dig1 = dig1 % 10;
		dig2 = dig2 % 10;
		if (dig2 >= 5) {
			roundUpDown = "up";
		} else {
			roundUpDown = "down";
		}
		write_step('Remember, the tenth place is the digit right after the decimal point');
		if (term < 0.5) {
				write_step(term + ' is less than 0.5');
				write_step('Therefore, it rounds down to 0.');
			} else {
			write_step('Since the tenth place is ' + truncate10(dig1) + ' and the hundredth place is ' + 
			truncate10(dig2) + ', the tenth place rounds ' + roundUpDown + '.');
			write_step('Therefore, ' + term + ' rounded to the nearest ' + place + last + ' is ' + rounded + '.');
			}  
			break;
		case "hundredth":
		dig1 = Math.floor(term / 0.01);
		dig2 = Math.floor(term / 0.001);
		dig1 = dig1 % 10;
		dig2 = dig2 % 10;
		if (dig2 >= 5) {
			roundUpDown = "up";
		} else {
			roundUpDown = "down";
		}
		write_step('Remember, the hundredth place is the second digit after the decimal point');
		if (term < .05) {
				write_step(term + ' is less than 0.05');
				write_step('Therefore, it rounds down to 0.');
			} else {
			write_step('Since the hundredth place is ' + truncate10(dig1) + ' and the thousandth place is ' + 
			truncate10(dig2) + ', the hundredth place rounds ' + roundUpDown + '.');
			write_step('Therefore, ' + term + ' rounded to the nearest ' + place + last + ' is ' + rounded + '.');
			}  
			break;
		case "thousandth":
		dig1 = Math.floor(term / 0.001);
		dig2 = Math.floor(term / 0.0001);
		dig1 = dig1 % 10;
		dig2 = dig2 % 10;
		if (dig2 >= 5) {
			roundUpDown = "up";
		} else {
			roundUpDown = "down";
		}
		write_step('Remember, the thousandth place is the third digit after the decimal point');
		if (term < .005) {
				write_step(term + ' is less than .005');
				write_step('Therefore, it rounds down to 0.');
			} else {
			write_step('Since the thousandth place is ' + truncate10(dig1) + ' and the ten thousandth place is ' + 
			truncate10(truncate10(dig2)) + ', the thousandth place rounds ' + roundUpDown + '.');
			write_step('Therefore, ' + term + ' rounded to the nearest ' + place + last + ' is ' + rounded + '.');
			}  
			break;
}

function draw_next_step() {
	give_next_step();
}

function roundToPlace(num, place) {
	var exp = 0;
	switch(place) {
		case "thousands":
			exp = 1000;
			break;
		case "hundreds":
			exp = 100;
			break;
		case "tens":
			exp = 10;
			break;
		case "whole number":
			exp = 1;
			break;
		case "tenth":
			exp = 0.1;
			break;
		case "hundredth":
			exp = 0.01;
			break;
		case "thousandth":
			exp = 0.001;
			break;
	}
	num /= exp;
	num = Math.round(num) * exp;
	return num;
}

function formatNum(num) {
	var rtn = num; 
	if (num >= 1 && Math.floor(num) == num) {
	num = Math.floor(num);
	num = num + "";
	var rtn = "";
	var l = num.length - 1;
	for (;l>=0; l--) {
		if ((num.length - 1 - l != 0) && ((num.length - 1 - l) % 3 == 0)) {
			rtn = num.charAt(l) + "," + rtn;
		} else {
			rtn = num.charAt(l) + rtn;
		}
	}
	} else if (num >= 1 && Math.floor(num) != num) {
		var whole = Math.floor(num);
		var dec = num - whole;
		rtn = formatNum(whole);
		dec += "";
		for (var i=1; i<Math.min(6, dec.length); i++) {
		rtn += dec.charAt(i);
		}
	}
	return rtn;
}

function truncate10(num) {
	num += "";
	var rtn = "";
	for (var i=0; i<10; i++) {
		rtn += num.charAt(i);
	}
	//rtn = parseFloat(rtn);
	return rtn;
}
//-->
</script>
{% endblock maincell %}

{% block graphdisplay %}
<td valign=top><iframe name="present" frameborder=0 src="/graphpage.html?w=400&h=400" height="420" width="420"></iframe></td>
{% endblock graphdisplay %}

{% block hintfunction %}draw_next_step(){% endblock hintfunction %}
