{% extends arithmetic_template %}

{% block maincode %}
<script src="/javascript/exercises/rounding_numbers.js?{{App.version}}"></script>
{% endblock maincode %}

{% block maincell %}
<div id="raphael_container" style="clear: both;"></div>

<script>
    var present = window;
    RaphaelWrapper.init(700, 370);
    // Exercise.fSupportsAjax = true;
    Exercise.fWriteToDoc = false;
    var exercise = new RoundingExercise();
    Exercise.showCustomStep = exercise.showGraphHints;
</script>
{% endblock maincell %}

{% block hintfunction %}
give_next_step()
{% endblock hintfunction%}



