{% extends "multiple_choice_template.html" %}

{% block maincell %}
<script src="/javascript/exercises/vectors.js?{{App.version}}"></script>
<script src="/javascript/exercises/scaling_vectors.js?{{App.version}}"></script>

<div id="raphael_container"></div>

<script>
    RaphaelWrapper.init(400, 400);
    
    Exercise.fWriteToDoc = false;
    Exercise.fAddNoneOfThese = false;
    
    var exercise = new ScalingVectorsExercise();
    Exercise.showCustomStep = exercise.showGraphHints;
</script>
{% endblock maincell %}
