{% extends "multiple_choice_template.html" %}

{% block maincell %}
<script src="/javascript/exercises/vectors.js?{{App.version}}"></script>
<script src="/javascript/exercises/scaling_vectors.js?{{App.version}}"></script>

<div id="dpaper"></div>

<script>
    var present = window;
    $(document).ready(function() {
        var paper = Raphael(document.getElementById("dpaper"), 400, 400);
        initPaper(paper, 400, 400);
        
        Exercise.fWriteToDoc = false;
        Exercise.fAddNoneOfThese = false;
        
        var exercise = new ScalingVectorsExercise();
        exercise.showProblem();
        Exercise.showCustomStep = exercise.showGraphHints;
    });

</script>
{% endblock maincell %}
