{% extends "multiple_choice_template.html" %}
{% block maincode %}
<script language=Javascript1.2><!--
/***************************************************  Quick summary
Since there are three problem types shown in the spec the code is primarily run within various switch statements.  The case is determined by randomly picking a number 1-3 that corresponds
to a problem type.

Problem Type 1:  Given a number greater than one determine its proper scientific notation
Problem Type 2:  Given a number smaller than one determine its proper scientific notation
Problem Type 3:  Given a number in scientific notation with either a positive or negative exponent, determine its standard form.
*****************************************************/

var steps_given = 0;
var problemType = getRandomIntRange(1,3);                                         //Holds which type of problem to generate.
var numberSeed = getRandomIntRange(100,9999);                                     //numberSeed holds a base number that is then manipulated to create a larger or smaller number
var numberSeedLength = numberSeed.toString().length;                              //the number of digits in numberSeed
var numberSeedString =  "";                                                       //variable to hold the numberSeed in string form
var problemNum =  new Array();                                                    //Holds the number that the exercise is based around in array form
var tempProblemNum = new Array();                                                 //a temporary array for manipulating the main problem number
var cleanedProblemNum = "";                                                       //Holds a string of the number that has been cleaned and has appropiate commas
var problemNumScientific = new Array();                                           //array to hold the number in scientific notation
var scientificString = "";                                                        //string to hold the number in scientific form
var tempScientificString = "";                                                    //temp string to hold part of the scientific notation mid operation
var scientificNumExponent = 0;                                                    //the exponent that the scientific base is raised to
var multiCount = 0;                                                               //multicount is used to hold the power that the numberSeed is raised to times 10
var i = 0;                                                                        //i and k are general global iterators
var k = 0;

/********************** Start of main code     *******************************/
switch(problemType)
{
    case 1:
        multiCount = getRandomIntRange(2,6);                                                  //get a number for the exponent
        numberSeed *= Math.pow(10, multiCount);                                               //Raise numberSeed to 10 times multicount
        numberSeed = Round(numberSeed, (numberSeedLength-2) + Math.abs(multiCount) - 2);      //make sure to handle any FPA errors.
        numberSeedString = numberSeed.toString();                                              //convert the manipulated numberSeed to a string
        
        for(i=0;i<numberSeedString.length;i++)                                                //Convert the string into an array             
        {
            problemNum.push(numberSeedString.charAt(i));
        }
        cleanedProblemNum = cleanNumber(problemNum);                                          //clean up the array and convert it to a string with commas

        convertToScientificGTO();                                                             //convert to scientific notation using the GTO (greater than one) version of the function
        setCorrectAnswer(scientificString);                                                   //In problem type one the answer is in scientific notation, so set it as correct
        generateWrongAnswer(tempScientificString, scientificNumExponent);                     //generate wrong answers
    break;
    case 2:
        multiCount = getRandomIntRange(5,9);                                                  //get a power that is large enough to fully convert a 4 digit positive number to less than 1.
        multiCount -= 2*multiCount;                                                           //convert the power to a negative power
        numberSeed *= Math.pow(10, multiCount);                                               //raise the numberSeed to this new negative exponent, shirninking it to less than 1
        numberSeed = Round(numberSeed, (numberSeedLength-2) + Math.abs(multiCount) - 1);      //handle any FPA errors
        numberSeed = numberSeed.toFixed(Math.abs(multiCount) + 1);                            //Specify output to prevent javascript from representing the number in scientific
        numberSeedString = numberSeed.toString();                                             //Convert the numberSeed to a string

        for(i=0;i<Math.abs(multiCount) +2;i++)                                                //convert the string into an array.
        {
            problemNum.push(numberSeedString.charAt(i));
        }
        cleanedProblemNum = cleanNumber(problemNum);                                           //create a cleaned version of the array with columns and convert it to a string

        convertToScientificLTO();                                                               //convert to scientific notation using the LTO (less than one) version of the function
        setCorrectAnswer(scientificString);                                                     //In problem type 2 the answer is in scientific notation, so set it as correct
        generateWrongAnswer(tempScientificString, scientificNumExponent);                       //generate wrong answers
    break;
    case 3:
        while((multiCount = getRandomIntRange(-8,6)) || (0 == multiCount))                    //get an exponent that is not 0, but can be either positive or negative
        {
            if(2 < multiCount)
            {
                break;
            }
            else if(-4 > multiCount)
            {
                break;
            }
        }
        
        numberSeed *= Math.pow(10, multiCount);                                             //multiply this base number by 10 to the exponent
        numberSeed = Round(numberSeed, (numberSeedLength-2) + Math.abs(multiCount) - 2);    //handle any FPA errors

        if(0 > multiCount)                                                                  //if the exponent is negative convert it to a positive and add 2.
        {
            multiCount = Math.abs(multiCount);
            multiCount += 2;
        }

        numberSeedString = numberSeed.toString();                                           //convert the numberSeed to a string
                
        for(i=0;i<numberSeedString.length;i++)                                              //convert the string into an array
        {
            problemNum.push(numberSeedString.charAt(i));
        }
        cleanedProblemNum = cleanNumber(problemNum);                                        //create a cleaned version of this array and convert to a string
                    
        if(0 == problemNum[0])
        {
            convertToScientificLTO();                                                       //convert to scientific notation using the LTO (less than one) version of the function
        }
        else
        {
            convertToScientificGTO();                                                       //convert to scientific notation using the GTO (greater than one) version of the function
        }
        
        setCorrectAnswer(cleanedProblemNum);                                                //In problem type 3 the answers are in standard from, so set the cleaned version of the number as the answer
        generateWrongAnswer(tempScientificString, scientificNumExponent);                   //Generate wrong answers
    break;
    default:
        write_text("Error in problem type selection, a value outside the appropiate range was returned by the ranom integer generator.  Error in primary switch.");
    break;
}

/********************** End of main code     *******************************/

/********************** Start of supporting code     *******************************/
function convertToScientificLTO()
{
    k = 2;
    while(0 == problemNum[k])
    {
        k++;
    }
    i=k;
    problemNumScientific.push(problemNum[i]);
    problemNumScientific.push('.');
    for(i=k+1;i<problemNum.length;++i)
    {
        problemNumScientific.push(problemNum[i]);
    }
    scientificNumExponent = 0-(k - 1);

    for(i=0;i<problemNumScientific.length;++i)
    {
        tempScientificString += problemNumScientific[i];
    }
    scientificString = tempScientificString;
    scientificString += " &times; 10^" + scientificNumExponent;
}

function convertToScientificGTO()
{
    problemNumScientific.push(problemNum[0]);
    problemNumScientific.push(".");
    k = 1;
    for(i=1;i<problemNum.length;i++)
    {
        if(0 != problemNum[i] || (3 > i))
        {
            problemNumScientific.push(problemNum[i]);
        }
        k++;
    }

    scientificNumExponent = k - 1;
    for(i=0;i<problemNumScientific.length;++i)
    {
        tempScientificString += problemNumScientific[i];
    }
    scientificString = tempScientificString;
    scientificString += " &times; 10^" + scientificNumExponent;
}

function generateWrongAnswer(answerBase, power)
{
    var localPower = 0;
    var localProblemNum = Number(problemNum.toString().replace( /,/g,''));        //This converts an array to a number and removes commas.
    
    var answerBaseNum = 0;
    var wrongAnswer = "";
    var wrongAnswerNum = 0;
    var wrongAnswerString = "";
    var wrongAnswerArray = new Array();
    var wrongAnswerType = 0;
    
    if((1 == problemType) || (2 == problemType))
    {
        if(1 == problemType)
        {
            //add wrong answer that is the negative exponent of the right answer
            localPower = 0-power;
            wrongAnswerString = answerBase + " &times; 10^" + localPower;
            addWrongChoice(wrongAnswerString);
        }
        else if(2 == problemType)
        {
            //add wrong answer that is the positive of the right answer
            localPower = Math.abs(power);
            wrongAnswerString = answerBase + " &times; 10^" + localPower;
            addWrongChoice(wrongAnswerString);
        }

        //add wrong answer with correct base but wrong exponent
        localPower = getRandomIntRange(-10,10);
        while((localPower == power) || (0 == localPower))
        {
            localPower = getRandomIntRange(-10,10);
        }
        wrongAnswerString = answerBase + " &times; 10^" + localPower;
        addWrongChoice(wrongAnswerString);

        //add wrong answer that is a power more than the right answer
        localPower = power + 1;
        wrongAnswerString = answerBase + " &times; 10^" + localPower;
        addWrongChoice(wrongAnswerString);

        //add wrong answer that is a power less than the right answer
        localPower = power - 1;
        wrongAnswerString = answerBase + " &times; 10^" + localPower;
        addWrongChoice(wrongAnswerString);

        //add a wrong answer that is a correct value, but is shifted a decimal to right
        answerBaseNum = Number(answerBase);
        answerBaseNum *= 10;
        answerBaseNum = Round(answerBaseNum, answerBase.length - 2);
        wrongAnswerString = answerBaseNum.toString() + " &times; 10^" + Number(power - 1);
        addWrongChoice(wrongAnswerString);

    
        //add a wrong answer that is a correct value, but is shifted a decimal to the left
        answerBaseNum = Number(answerBase);
        answerBaseNum /= 10;
        answerBaseNum = Round(answerBaseNum, answerBase.length - 1);
        wrongAnswerString = answerBaseNum.toString() + " &times; 10^" + Number(power + 1);
        addWrongChoice(wrongAnswerString);
    }
    else if(3 == problemType)
    {
        wrongAnswerArray = new Array();

        //add wrong answer that is the negative of the exponent
        if(0 > power)
        {
            localPower = Math.pow(10, Math.abs(power*2));
            wrongAnswer = localProblemNum * localPower;
            wrongAnswer = Round(wrongAnswer, localProblemNum.toString().length);
            wrongAnswerString = wrongAnswer.toString();
            for(i=0;i<wrongAnswerString.length;++i)
            {
                wrongAnswerArray.push(wrongAnswerString.charAt(i));
            }
            wrongAnswerString = cleanNumber(wrongAnswerArray);
            addWrongChoice(wrongAnswerString);
        }
        else
        {
            localPower = Math.pow(10, 0-(power*2));
            wrongAnswer = localProblemNum * localPower;
            wrongAnswer = wrongAnswer.toFixed(power + answerBase.length - 2);
            addWrongChoice(wrongAnswer);
        }
        
        localPower = power;
        addWrongChoice(wrongAnswer3Helper(localProblemNum, localPower, 1));
        
        addWrongChoice(wrongAnswer3Helper(localProblemNum, localPower, 2));
        
        addWrongChoice(wrongAnswer3Helper(localProblemNum, localPower, 3));
        
        addWrongChoice(wrongAnswer3Helper(localProblemNum, localPower, 4));
        
        addWrongChoice(wrongAnswer3Helper(localProblemNum, localPower, -1));
        
        addWrongChoice(wrongAnswer3Helper(localProblemNum, localPower, -2));
        
        addWrongChoice(wrongAnswer3Helper(localProblemNum, localPower, -3));
        
        addWrongChoice(wrongAnswer3Helper(localProblemNum, localPower, -4));
    }
}

function wrongAnswer3Helper(helperProblemNum, helperPower, deltaPower)
{
    var helperWrongAnswer;
    var helperWrongAnswerString = "";
    var helperWrongAnswerArray = new Array();
    
    if(0 > helperPower)
    {
        helperWrongAnswer = helperProblemNum * Math.pow(10, deltaPower);
        helperWrongAnswer = Round(helperWrongAnswer, helperProblemNum.toString().length - (2 + deltaPower));
        helperWrongAnswer = helperWrongAnswer.toFixed(helperProblemNum.toString().length -(2 + deltaPower));
        return helperWrongAnswer;
    }
    else
    {
        helperWrongAnswer = helperProblemNum * Math.pow(10, deltaPower);
        helperWrongAnswer = Round(helperWrongAnswer, helperProblemNum.toString().length);
        helperWrongAnswerString = helperWrongAnswer.toString();
        for(i=0;i<helperWrongAnswerString.length;++i)
        {
            helperWrongAnswerArray.push(helperWrongAnswerString.charAt(i));
        }
        helperWrongAnswerString = cleanNumber(helperWrongAnswerArray);
        return helperWrongAnswerString;
    }
}

function cleanNumber(localArray)
{
    var localTempArray = new Array();
    var localTempString = "";
    k = 0
    if(999 < Number(localArray.toString().replace( /,/g,'')))
    {
        for(i=localArray.length-1;i>=0;i--)
        {
            localTempArray.push(localArray[i]);
            k++;
            
            if((3 == k) && (0 < i))
            {
                localTempArray.push(",");     //&#44;
                k = 0;
            }
        }
        localTempArray.reverse();
        
        for(i=0;i<localTempArray.length;i++)
        {
            localTempString += localTempArray[i];
        }
    }
    else
    {
        for(i=0;i<localArray.length;i++)
        {
            localTempString += localArray[i];
        }
    }
    return localTempString;
}

function cleanNumberString(localString)
{
    var localTempArray = new Array();
    var localTempString = localString.toString();
    for(i=0;i<localTempString.length;i++)
    {
        localTempArray.push(localTempString.charAt(i));
    }
    return cleanNumber(localTempArray);
}

function Round(Number, DecimalPlaces) 
{
   return Math.round(parseFloat(Number) * Math.pow(10, DecimalPlaces)) / Math.pow(10, DecimalPlaces);
}

function generateHints()
{
    var tempRound = 0;
    switch(problemType)
    {
        case 1:
	writeStep("There are " + scientificNumExponent + " digits to the right of the leading " + problemNum[0] + " (and to the left of the decimal).");
	writeStep("So: `" + cleanedProblemNum + " = " + scientificString + "`");
        break;
        
        case 2:
	writeStep("Count the zeroes to the right of the decimal before the leading " + problemNumScientific[0] + ".");
	writeStep("We have " + Number(Math.abs(scientificNumExponent) - 1) + " zeroes.");
        writeStep("Including the leading " + problemNumScientific[0] + " (and the zeros), we have " + Math.abs(scientificNumExponent) + " digits to the right of the decimal.");
	writeStep("So: `" + cleanedProblemNum + " = " + scientificString + "`");
        break;
        
        case 3:
	writeStep("`" + scientificString + " = " + tempScientificString + " &times; " + cleanNumberString(Number(Math.pow(10,scientificNumExponent)).toString()) + "`");

	tempRound = (Number(tempScientificString) * Math.pow(10,scientificNumExponent));
	if(1 > tempRound)
	{
	tempRound = Round(tempRound, tempScientificString.length + Math.abs(scientificNumExponent));
	}
	else
	{
	tempRound = Round(tempRound, 0);
	}
	writeStep("`" + tempScientificString + " &times; " + cleanNumberString(Number(Math.pow(10,scientificNumExponent)).toString()) + " = " + cleanNumberString(tempRound.toString()) + "`");
        break;

        default:
	writeStep("Error in problem type selection, a value outside the appropiate range was returned by the ranom integer generator.  Error in hint giver switch.");
        break;
    }
}
/***************************** End of supporting functions *********************************/

//-->
</script>
{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--
switch(problemType)
{
    case 1:
        write_text('Express in scientific notation: ' +  cleanedProblemNum);        
    break;
    
    case 2:
        write_text('Express in scientific notation: ' +  cleanedProblemNum);
    break;
    
    case 3:
        write_text('`' + scientificString + '  = `');
    break;
}

generateHints();

//-->
</script>

{% endblock maincell %}
