{% extends arithmetic_template %}
{% block maincode %}
<script type="text/javascript" src="/javascript/exercises/significant.class.js"></script>
<script type="text/javascript" src="/javascript/exercises/significant_figures_3.js"></script>
<div id="dvQuestion" style="padding-left:25px"></div>
<div id="dvHint" style="padding-left:25px"></div>
{% endblock maincode %}

{% block maincell %}
{% endblock maincell %}

{% block hintfunction %}NewSignificantFigures.DivideSignificantFigures.next_step(){% endblock hintfunction %}
