{% extends arithmetic_template %}

{% block maincode %}
<script src="/javascript/exercises/significant_figures_1.js?{{App.version}}"></script>
{% endblock maincode %}

{% block maincell %}
<div id="raphael_container" style="clear: both;"></div>

<script>
    var present = window;
    RaphaelWrapper.init();
    // Exercise.fSupportsAjax = true;
    Exercise.fWriteToDoc = false;
    var exercise = new SigFig1Exercise();
    Exercise.showCustomStep = exercise.showGraphHints;
</script>
{% endblock maincell %}

{% block hintfunction %}
give_next_step()
{% endblock hintfunction%}



