{% extends arithmetic_template %}

{% block maincell %}
<style>
  .line1 { color: blue }
  .line2 { color: red }
  .multiple_of_pi { display: none; }
</style>
<script src="/javascript/exercises/solid_geometry.js?{{App.version}}"></script>
<script>
SolidGeometryExercise.init();

function graph_update() {
    SolidGeometryExercise.graphUpdate();
}
</script>
{% endblock maincell %}

{% block hintfunction %}SolidGeometryExercise.getHint();{% endblock hintfunction %}

{% block graphdisplay %}
<td valign=top><iframe name="present" id="present" frameborder=0 src="/graphpage.html?w=300&h=300" height="330" width="330"></iframe></td>
{% endblock graphdisplay %}

{% block answerarea %}
<span class="info-box-header">Answer</span>
<div class="multiple_of_pi">Enter your answer as a multiple of `pi`.</div>
<input type="text" id="answer" size="12" autocomplete="off" name="answer" onkeypress="if (event.keyCode == 13) {check_answer_block(); return false;}">
<span class="multiple_of_pi" title="Enter your answer as a multiple of pi">&nbsp;`pi`&nbsp;</span>
{% endblock answerarea %}
