{% extends arithmetic_template %}

{% block maincell %}
<style>
  .line1 { color: blue }
  .line2 { color: red }
  .multiple_of_pi { display: none; }
</style>
<script src="/javascript/exercises/solid_geometry.js?{{App.version}}"></script>
<div id="raphael_container" style="float: right;"></div>

<script>

RaphaelWrapper.init(400, 400);
SolidGeometryExercise.init();
SolidGeometryExercise.graphUpdate();

</script>
{% endblock maincell %}

{% block hintfunction %}SolidGeometryExercise.getHint();{% endblock hintfunction %}

{% block answerarea %}
<span class="info-box-header">Answer</span>
<div class="multiple_of_pi">Enter your answer as a multiple of `pi`.</div>
<input type="text" id="answer" size="12" autocomplete="off" name="answer" onkeypress="if (event.keyCode == 13) {Exercise.logAnswer(); return false;}">
<span class="multiple_of_pi" title="Enter your answer as a multiple of pi">&nbsp;`pi`&nbsp;</span>
{% endblock answerarea %}
