{% extends "multiple_choice_template.html" %}
{% block maincode %}
<script language=Javascript1.2><!--

////////////////////////////////////////////////////////////////////////////////
// author: Joey Chang
////////////////////////////////////////////////////////////////////////////////
// Modfied by: Joshua Olson 1/28/2011
// Changes: Refactored code to reduce duplicated statments in excercise type 0
//          ensured that all answers are in reduced form, except type 1 since it 
//          exceedingly rare that we will be able to factor out a term and have a gcd
//          also enabled additional problem types
//          Changed all " to ' unless explicitly mentioned
//          Variables should be random consecutive letters i.e. a,b,c or p,q,r or x,y,z
//
// Modified by: Joshua Olson 2/6/2011
// Fixed o+ showing up as a ASCIIMathML symbol of ⊕ by removing o as a possible variable
// Fixed variables showing up as undefined by making the first variable a max of index[22]
// Fixed type 2 equations not showing all answers
////////////////////////////////////////////////////////////////////////////////
// Do to in order to meet exercise spec:
//  Maybe a couple more variations too (some simpler problems)
////////////////////////////////////////////////////////////////////////////////
//
//
// equation types:
//
// equationType = 0:
// Gx(yz) + Ay + Bz + C = Dy + Ez + F
// The yz in parens just means a y, a z, or both may be included in that term.
// All constants A - G are non-zero from -10 to 10. random values are picked so no terms cancel out.
// Solve for x.
//
// equationType = 1:
// Axy + Bxz + Cx + D = Ey + F
// Axy + Bxz + Cx = Ey + (F-D) ==> separate non-x terms
// x*(Ay + Bz + C) = Ey + (F-D) ==> factor out x
// x = [Ey + (F-D)] / (Ay + Bz + C) ==> divide to isolate x
// Conditions: F != D
//
// equationType = 2:
// (Ax + By) / C = (Dx + Ez) / F
// F(Ax + By) = C(Dx + Ez) ==> multiply out denominators
// FAx + FBy = CDx + CEz  ==> distributive prop
// FAx - CDx = CEz - FBy ==> collect x terms to one side
// x(FA - CD) = CEz - FBy ==> factoring
// x = (CEz - FBy) / (FA - CD)  ==> isolate x
// Conditions: make sure FA - CD != 0


display_per_step = 3; //the right and left panes of the hint table
var letters = 'abcdefghijklmnpqrstuvwxyz'; //Don't let a variable be 'o' due to ASCIIMathML issues
var letter = getRandomInt(22); 
var xVar = letters[letter];  //Use these variables to generalize our function variables
var yVar = letters[letter + 1];
var zVar = letters[letter + 2];

var selColor = '#AE9CC9';
var noSelColor = '#333333';

// returns font size/color adjusted string
// note difference from linear equations impl where the back quote is placed to surround it. not sure why this
// helps keep mathml behaving
// Ben: without the surrounding backquotes, the parsing of the html (is it into mathml?) gets messed up. I'm not
//      certain why enclosing it makes it work. Notice the linear_equations_1 impl of this doesn't use the surrounding backquotes.
//      I had guessed what backquotes do is surround regions for the mathml parser to ignore, but if that's the case, my change makes
//      the entire string below *except* for the string param be ignored while the lin eq 1 impl does the opposite, making *only* the
//      string portion be ignored by the mathml parser. I must be thinking of this wrong.
function getEqExpString(str)
{
        var selFontString = '`<font color=' + selColor + ' size=4>';
        return (selFontString + '`' + str + '`</font>`');
}

// creates hints for type 0
function generateHintStepsForEquationType0(xTermCoefficient,leftYCoefficient,leftZCoefficient,leftConstant,rightYCoefficient,rightZCoefficient,rightConstant,xTermHasY,xTermHasZ)
{
        write_text('Solve for `' + xVar + '`:');
        
    // format x term by adding coefficient and the y and z var if it has it
    var xTerm = xTermCoefficient + xVar;
    var additionalVars = xTermHasY ? yVar : ''; //Does a y need to be seperated from x, otherwise add nothing
    additionalVars += xTermHasZ ? zVar : ''; //Does a z need to be seperated from x, otherwise add nothing
        
    // display formula
        table_step_header('', xTerm + additionalVars + formatCoefficient(leftYCoefficient) + yVar + formatCoefficient(leftZCoefficient) + zVar + formatConstant(leftConstant),
                    formatFirstCoefficient(rightYCoefficient) + yVar + formatCoefficient(rightZCoefficient) + zVar + formatConstant(rightConstant));
    
    // suggest combining constant terms to the right
        write_table_step('Combine the constants on the right side.',
                    xTerm + additionalVars + formatCoefficient(leftYCoefficient) + yVar + formatCoefficient(leftZCoefficient) + zVar + getEqExpString(formatConstant(leftConstant)),
                    formatFirstCoefficient(rightYCoefficient) + yVar + formatCoefficient(rightZCoefficient) + zVar + getEqExpString(formatConstant(rightConstant)));
    rightConstant -= leftConstant;

    // result of combining constant terms to the right
        write_table_step('',
                    xTerm + additionalVars + formatCoefficient(leftYCoefficient) + yVar + formatCoefficient(leftZCoefficient) + zVar,
                    formatFirstCoefficient(rightYCoefficient) + yVar + formatCoefficient(rightZCoefficient) + zVar + getEqExpString(formatConstant(rightConstant)));

    // suggest combining z terms to the right
        write_table_step('Combine the `' + zVar + '` terms to the right side.',
                    xTerm + additionalVars + formatCoefficient(leftYCoefficient) + yVar + getEqExpString(formatCoefficient(leftZCoefficient) + zVar),
                    formatFirstCoefficient(rightYCoefficient) + yVar + getEqExpString(formatCoefficient(rightZCoefficient) + zVar) + 
                    formatConstant(rightConstant));
    
    // result of combining z terms to the right
    rightZCoefficient -= leftZCoefficient;
    
        write_table_step('',
                    xTerm + additionalVars + formatCoefficient(leftYCoefficient) + yVar,
                    formatFirstCoefficient(rightYCoefficient) + yVar + getEqExpString(formatCoefficient(rightZCoefficient) + zVar) + formatConstant(rightConstant));
    
    // suggest combining y terms to the right
        write_table_step('Combine the `' + yVar + '` terms to the right side.',
                    xTerm + additionalVars + getEqExpString(formatCoefficient(leftYCoefficient) + yVar),
                    getEqExpString(formatFirstCoefficient(rightYCoefficient) + yVar) + formatCoefficient(rightZCoefficient) + 
                    zVar + formatConstant(rightConstant));
    
    // result of combining y terms to the right
    rightYCoefficient -= leftYCoefficient;
    write_table_step('',
                    xTerm + additionalVars ,
                    getEqExpString(formatFirstCoefficient(rightYCoefficient) + yVar) + formatCoefficient(rightZCoefficient) +
                    zVar + formatConstant(rightConstant));

    write_table_step('Isolate the `' + xVar + '`.',
                    getEqExpString(xTermCoefficient) + xVar + getEqExpString(additionalVars),
                    formatFirstCoefficient(rightYCoefficient) + yVar + formatCoefficient(rightZCoefficient) + zVar + formatConstant(rightConstant));
                    
    
    var divisor = ''; // divisor for answer

    //Reduce the fractions in the answers so we have answers everyone can come up with
    var gcd = getGCD(getGCD(Math.abs(xTermCoefficient), Math.abs(rightYCoefficient)), getGCD(Math.abs(rightZCoefficient), Math.abs(rightConstant)));

    //divisor should always be positive
    if(xTermCoefficient < 0)
    {
        //If the divisor is negative change the sign to positive and flip the sign of the other coefficients
        divisor = -xTermCoefficient / gcd;
        rightYCoefficient = -rightYCoefficient / gcd;
        rightZCoefficient =  -rightZCoefficient / gcd;
        rightConstant = -rightConstant / gcd;
    }
    else
    {
        divisor = xTermCoefficient / gcd;
        rightYCoefficient = rightYCoefficient / gcd;
        rightZCoefficient =  rightZCoefficient / gcd;
        rightConstant = rightConstant / gcd;
    }
        
    theAnswer = '(' + formatFirstCoefficient(rightYCoefficient) + yVar + formatCoefficient(rightZCoefficient) + zVar +
                formatConstant(rightConstant) + ')/('+divisor+additionalVars+')'; 

    // show result
    write_table_step('Cancel by the GCD of ' + gcd + '. Then the result!',xVar,theAnswer);

        table_step_footer();
        
    // set up coefficients for correct answer
    var correctConstant = rightConstant;
    var correctYCoefficient = rightYCoefficient;
    var correctZCoefficient = rightZCoefficient;
        
    // 1 in 5 times make the answer None of the above while changing the correct answer to a slight variation
    // and then altering that variation, making sure not to accidentally alter it to the right answer
    if (getRandomInt(4) == 0)
        theAnswer = '`None of the answers shown`';
    else
        theAnswer = xVar + '=' + theAnswer;
        
    setCorrectAnswer(theAnswer);
                 
    // pick different constant coeff
    var wrongConstant = get_random();
    while (wrongConstant == correctConstant)
    {
        wrongConstant = get_random();    
    }
        
    // pick different yterm coeff
    var wrongYTerm = get_random();
    while (wrongYTerm == correctYCoefficient)
    {
        wrongYTerm = get_random();    
    }
    // pick different zterm coeff
    var wrongZTerm = get_random();
    while (wrongZTerm == correctZCoefficient)
    {
        wrongZTerm = get_random();    
    }
            
    //Reduce the fractions in the answers so we have answers everyone can come up with  
    gcd = getGCD(getGCD(Math.abs(divisor), Math.abs(wrongYTerm)), getGCD(Math.abs(correctZCoefficient), Math.abs(correctConstant)));
    //divisor should always be positive at this point
    var divisor1 = divisor / gcd;
    var wrongYTerm1 = wrongYTerm / gcd;
    var correctZCoefficient1 =  correctZCoefficient / gcd;
    var correctConstant1 = correctConstant / gcd;
            
    addWrongChoice(xVar + '=' +'(' + formatFirstCoefficient(wrongYTerm1) + yVar + formatCoefficient(correctZCoefficient1) + zVar + formatConstant(correctConstant1) + ')/(' + divisor1 + additionalVars + ')' );

    //Reduce the fractions in the answers so we have answers everyone can come up with  
    gcd = getGCD(getGCD(Math.abs(divisor), Math.abs(correctYCoefficient)), getGCD(Math.abs(wrongZTerm), Math.abs(correctConstant) ));
    //divisor should always be positive at this point
    var divisor2 = divisor / gcd;
    var correctYCoefficient2 = correctYCoefficient / gcd;
    var wrongZTerm2 =  wrongZTerm / gcd;
    var correctConstant2 = correctConstant / gcd;
        
    addWrongChoice(xVar + '=' +'(' + formatFirstCoefficient(correctYCoefficient2) + yVar + formatCoefficient(wrongZTerm2) + zVar + formatConstant(correctConstant2) + ')/(' + divisor2 + additionalVars + ')' );

    //Reduce the fractions in the answers so we have answers everyone can come up with  
    gcd = getGCD(getGCD(Math.abs(divisor), Math.abs(correctYCoefficient)), getGCD(Math.abs(correctZCoefficient), Math.abs(wrongConstant)));
    //divisor should always be positive at this point
    var divisor3 = divisor / gcd;
    var correctYCoefficient3 = correctYCoefficient / gcd;
    var correctZCoefficient3 =  correctZCoefficient / gcd;
    var wrongConstant3 = wrongConstant / gcd;
    
    addWrongChoice(xVar + '=' +'(' + formatFirstCoefficient(correctYCoefficient3) + yVar + formatCoefficient(correctZCoefficient3) + zVar + formatConstant(wrongConstant3) + ')/(' + divisor3 + additionalVars + ')' );
    
    //Reduce the fractions in the answers so we have answers everyone can come up with  
    gcd = getGCD(getGCD(Math.abs(divisor), Math.abs(wrongYTerm)), getGCD(Math.abs(wrongZTerm), Math.abs(correctConstant)));
    //divisor should always be positive at this point
    var divisor4 = divisor / gcd;
    var wrongYTerm4 = wrongYTerm / gcd;
    var wrongZTerm4 =  wrongZTerm / gcd;
    var correctConstant4 = correctConstant / gcd;
        
    addWrongChoice(xVar + '=' +'(' + formatFirstCoefficient(wrongYTerm4) + yVar + formatCoefficient(wrongZTerm4) + zVar + formatConstant(correctConstant4) + ')/(' + divisor4 + additionalVars + ')' );

    if(theAnswer != '`None of the answers shown`')
        addWrongChoice('`None of the answers shown`' );
}


// creates hints for type 1
function generateHintStepsForEquationType1(leftXYCoefficient,leftXZCoefficient,leftXCoefficient,leftConstant,rightYCoefficient,rightConstant)
{
    var wrongConstant = rightConstant + leftConstant;

        write_text('Solve for `' + xVar + '`:');
        
    // display formula
        table_step_header('', formatFirstCoefficient(leftXYCoefficient) + xVar + yVar + formatCoefficient(leftXZCoefficient) + xVar + zVar + formatCoefficient(leftXCoefficient) + xVar + formatConstant(leftConstant),
                          formatFirstCoefficient(rightYCoefficient) + yVar + formatConstant(rightConstant));

    // suggest combining constant terms to the right
        write_table_step('Combine the constants on the right side.',formatFirstCoefficient(leftXYCoefficient) + xVar + yVar + formatCoefficient(leftXZCoefficient) + xVar + zVar +formatCoefficient(leftXCoefficient) + xVar +getEqExpString(formatConstant(leftConstant)),
                         formatFirstCoefficient(rightYCoefficient) + yVar + getEqExpString(formatConstant(rightConstant)));
        
    // result of combining constant terms to the right
    rightConstant -= leftConstant;
    write_table_step('', formatFirstCoefficient(leftXYCoefficient) + xVar + yVar + formatCoefficient(leftXZCoefficient) + xVar + zVar + formatCoefficient(leftXCoefficient) + xVar,
                        formatFirstCoefficient(rightYCoefficient) + yVar + getEqExpString(formatConstant(rightConstant)));
        
    // note the x
        write_table_step('Notice all the left terms have `' + xVar + '`.', 
                        formatFirstCoefficient(leftXYCoefficient) + getEqExpString(xVar) + yVar + formatCoefficient(leftXZCoefficient) + getEqExpString(xVar) + zVar + formatCoefficient(leftXCoefficient) + getEqExpString(xVar),
                         formatFirstCoefficient(rightYCoefficient) + yVar + formatConstant(rightConstant));

    // suggest factoring the x
        write_table_step('Factor out the `' + xVar + '`.', formatFirstCoefficient(leftXYCoefficient) + getEqExpString(xVar) + yVar + formatCoefficient(leftXZCoefficient) + getEqExpString(xVar) + zVar + formatCoefficient(leftXCoefficient) + getEqExpString(xVar),
                         formatFirstCoefficient(rightYCoefficient) + yVar + formatConstant(rightConstant));

    // factor the x
    // NOTE the call to factorConstant for the leftXCoefficient (instead of using formatCoefficient). This is because the factored out 'X' turns it into a constant display.
    // 		This will be used in later hints as well.
        write_table_step('',xVar + ' * (' + formatFirstCoefficient(leftXYCoefficient) + yVar + formatCoefficient(leftXZCoefficient) + zVar + formatConstant(leftXCoefficient) + ')',
                        formatFirstCoefficient(rightYCoefficient) + yVar + formatConstant(rightConstant));

        // isolate the x
        write_table_step('Isolate the `' + xVar + '`.',
                    xVar + ' *' + getEqExpString('(' + formatFirstCoefficient(leftXYCoefficient) + yVar + formatCoefficient(leftXZCoefficient) + zVar + formatConstant(leftXCoefficient) + ')'),
                    formatFirstCoefficient(rightYCoefficient) + yVar + formatConstant(rightConstant));

    theAnswer = '(' + formatFirstCoefficient(rightYCoefficient) + yVar +
                    formatConstant(rightConstant) + ')/(' + formatFirstCoefficient(leftXYCoefficient) + yVar +
                    formatCoefficient(leftXZCoefficient) + zVar + formatConstant(leftXCoefficient) + ')';

    // show result of isolating the x
        write_table_step('The result!',xVar,theAnswer);

        table_step_footer();

    // form answers
    setCorrectAnswer(xVar + '=' + theAnswer);
        
    addWrongChoice(xVar + '=' + '(' + formatFirstCoefficient(rightYCoefficient) + yVar +
                        formatConstant(wrongConstant) + ')/(' + formatFirstCoefficient(leftXYCoefficient) + yVar +
                        formatCoefficient(leftXZCoefficient) + zVar +
                        formatConstant(leftXCoefficient) + ')');
                        
    addWrongChoice(xVar + '=' + '(' + formatFirstCoefficient(leftXYCoefficient) + yVar +
                        formatCoefficient(leftXZCoefficient) + zVar +
                        formatConstant(leftXCoefficient) + ')/(' + formatFirstCoefficient(rightYCoefficient) + yVar +
                        formatConstant(wrongConstant) + ')');
                        
    addWrongChoice(xVar + '=' + '(' + formatFirstCoefficient(leftXYCoefficient) + yVar +
                        formatCoefficient(leftXZCoefficient) + zVar +
                        formatConstant(leftXCoefficient) + ')/(' + formatFirstCoefficient(rightYCoefficient) + yVar +
                        formatConstant(rightConstant) + ')');
                        
    addWrongChoice(xVar + '=' + formatFirstCoefficient(rightYCoefficient-leftXYCoefficient) + yVar +
                        formatCoefficient(-leftXZCoefficient) + zVar +
                        formatConstant(rightConstant));
}    

// creates hints for type 2
function generateHintStepsForEquationType2(leftXCoefficient,leftYCoefficient,leftDivisor,rightXCoefficient,rightZCoefficient,rightDivisor)
{
        write_text('Solve for `' + xVar + '`:');
        
    // display formula
        table_step_header('','(' + formatFirstCoefficient(leftXCoefficient) + xVar + formatCoefficient(leftYCoefficient) + yVar + ')/' + leftDivisor,
                          '(' + formatFirstCoefficient(rightXCoefficient) + xVar + formatCoefficient(rightZCoefficient) + zVar + ')/' + rightDivisor);
 
    // suggest multiplying out the left denominator
        write_table_step('Multiply both sides by ' + getEqExpString(formatFirstCoefficient(leftDivisor)) + '.',
                        getEqExpString(leftDivisor) + '*(' + formatFirstCoefficient(leftXCoefficient) + xVar + formatCoefficient(leftYCoefficient) + yVar + ')/' + leftDivisor,
                         '(' + formatFirstCoefficient(rightXCoefficient) + xVar + formatCoefficient(rightZCoefficient) + zVar + ')/' + rightDivisor + '*' + getEqExpString(leftDivisor));

    // result of multiplying out the left denominator
        write_table_step('', formatFirstCoefficient(leftXCoefficient) + xVar + formatCoefficient(leftYCoefficient) + yVar,
                         leftDivisor + '*(' + formatFirstCoefficient(rightXCoefficient) + xVar + formatCoefficient(rightZCoefficient) + zVar + ')/' + rightDivisor);

    // suggest multiplying out the right denominator
        write_table_step('Multiply both sides by ' + getEqExpString(formatFirstCoefficient(rightDivisor)) + '.',
                         getEqExpString(rightDivisor) + '*(' + formatFirstCoefficient(leftXCoefficient) + xVar + formatCoefficient(leftYCoefficient) + yVar + ')',
                         leftDivisor + '*(' + formatFirstCoefficient(rightXCoefficient) + xVar + formatCoefficient(rightZCoefficient) + zVar + ')/' + rightDivisor + '*' + getEqExpString(rightDivisor) );

    // result of multiplying out the right denominator
        write_table_step('', rightDivisor + '*(' + formatFirstCoefficient(leftXCoefficient) + xVar + formatCoefficient(leftYCoefficient) + yVar + ')',
                         leftDivisor + '*(' + formatFirstCoefficient(rightXCoefficient) + xVar + formatCoefficient(rightZCoefficient) + zVar + ')');

    // suggest distributing factors
        write_table_step('Distribute the factors.',
                         getEqExpString(rightDivisor) + '*(' + formatFirstCoefficient(leftXCoefficient) + xVar + formatCoefficient(leftYCoefficient) + yVar + ')',
                         getEqExpString(leftDivisor) + '*(' + formatFirstCoefficient(rightXCoefficient) + xVar + formatCoefficient(rightZCoefficient) + zVar + ')');
    
    var wrongZCoefficient = rightZCoefficient * rightDivisor;
    var wrongYCoefficient = -leftYCoefficient * leftDivisor; // negated because it moves over to right side
    var wrongLeftXCoefficient2 = leftXCoefficient * leftDivisor - rightXCoefficient * rightDivisor;
    leftXCoefficient *= rightDivisor;
    leftYCoefficient *= rightDivisor;
    rightXCoefficient *= leftDivisor;
    rightZCoefficient *= leftDivisor;
    var wrongLeftXCoefficient = leftXCoefficient + rightXCoefficient;

    // result of distributing factors
        write_table_step('', formatFirstCoefficient(leftXCoefficient) + xVar + formatCoefficient(leftYCoefficient) + yVar,
                         formatFirstCoefficient(rightXCoefficient) + xVar + formatCoefficient(rightZCoefficient) + zVar);

    // suggest collecting x terms
        write_table_step('Combine ' + xVar + ' terms to the left.', getEqExpString(formatFirstCoefficient(leftXCoefficient) + xVar) + formatCoefficient(leftYCoefficient) + yVar,
                         getEqExpString(formatFirstCoefficient(rightXCoefficient) + xVar) + formatCoefficient(rightZCoefficient) + zVar);


    // collect x terms
    leftXCoefficient -= rightXCoefficient;
    write_table_step('', formatFirstCoefficient(leftXCoefficient) + xVar + formatCoefficient(leftYCoefficient) + yVar,
                         formatFirstCoefficient(rightZCoefficient) + zVar);

    // suggest moving y term to right
        write_table_step('Move the ' + yVar + ' term to the right.',
                         formatFirstCoefficient(leftXCoefficient) + xVar +
                            getEqExpString(formatCoefficient(leftYCoefficient) + yVar),
                         formatFirstCoefficient(rightZCoefficient) + zVar);
                         

    // move y term to right
    var rightYCoefficient = -leftYCoefficient;
    write_table_step('', formatFirstCoefficient(leftXCoefficient) + xVar,
                         formatFirstCoefficient(rightZCoefficient) + zVar +
                            formatCoefficient(rightYCoefficient) + yVar);

    // suggest dividing out x term coefficient
        write_table_step('Divide out the x coefficient.',
                         getEqExpString(formatFirstCoefficient(leftXCoefficient)) + xVar,
                         formatFirstCoefficient(rightZCoefficient) + zVar +
                            formatCoefficient(rightYCoefficient) + yVar);

    var gcd = getGCD(getGCD(Math.abs(rightZCoefficient), Math.abs(rightYCoefficient) ), Math.abs(leftXCoefficient) );
    
    var correctZCoefficient = 0;
    var correctYCoefficient = 0;
    var correctXCoefficient = 0;
    
    //The bottom coefficient must be positive to be in reduced terms then divide out by the GCD
    if(leftXCoefficient < 0)
    {
        correctZCoefficient = -rightZCoefficient / gcd;
        correctYCoefficient = -rightYCoefficient / gcd;
        correctXCoefficient = -leftXCoefficient / gcd;
    }
    else
    {
        correctZCoefficient = rightZCoefficient / gcd;
        correctYCoefficient = rightYCoefficient / gcd;
        correctXCoefficient = leftXCoefficient / gcd;
    }

    theAnswer = '(' + formatFirstCoefficient(correctZCoefficient) + zVar +
                        formatCoefficient(correctYCoefficient) + yVar + ')/' + correctXCoefficient;

    // divide out x term coefficient
    write_table_step('Cancel by the GCD of ' + gcd + '. Then the result!', xVar, theAnswer);

        table_step_footer();

    // form answers
    setCorrectAnswer(xVar + '=' + theAnswer);
    
    var wrongZ = 0;
    var wrongY = 0;
    var wrongX = 0;
        
    gcd = getGCD(getGCD(Math.abs(rightZCoefficient),Math.abs(rightYCoefficient)),Math.abs(leftXCoefficient));
    //The bottom coefficient must be positive to be in reduced terms then divide out by the GCD
    if(leftXCoefficient < 0)
    {
        wrongZ = -rightZCoefficient / gcd;
        wrongY = -rightYCoefficient / gcd;
        wrongX = -leftXCoefficient / gcd;
    }
    else
    {
        wrongZ = rightZCoefficient / gcd;
        wrongY = rightYCoefficient / gcd;
        wrongX = leftXCoefficient / gcd;
    }
        
    addWrongChoice(xVar + '=' + '(' + formatFirstCoefficient(wrongZ) + zVar + formatCoefficient(wrongY) + yVar + ')/' + wrongX);
                        
    gcd = getGCD(getGCD(Math.abs(wrongZCoefficient),Math.abs(wrongYCoefficient)),Math.abs(leftXCoefficient));
    //The bottom coefficient must be positive to be in reduced terms then divide out by the GCD
    if(leftXCoefficient < 0)
    {
        wrongZCoefficient = -wrongZCoefficient / gcd;
        wrongYCoefficient = -wrongYCoefficient / gcd;
        wrongXCoefficient = -leftXCoefficient / gcd;
    }
    else
    {
        wrongZCoefficient = wrongZCoefficient / gcd;
        wrongYCoefficient = wrongYCoefficient / gcd;
        wrongXCoefficient = leftXCoefficient / gcd;
    }
    
    addWrongChoice(xVar + '=' + '(' + formatFirstCoefficient(wrongZ) + zVar + formatCoefficient(wrongY) + yVar + ')/' + wrongX);
                        
    gcd = getGCD(getGCD(Math.abs(wrongZCoefficient),Math.abs(wrongYCoefficient)),Math.abs(wrongLeftXCoefficient));
    //The bottom coefficient must be positive to be in reduced terms then divide out by the GCD
    if(wrongLeftXCoefficient < 0)
    {
        wrongZ = -wrongZCoefficient / gcd;
        wrongY = -wrongYCoefficient / gcd;
        wrongX = -wrongLeftXCoefficient / gcd;
    }
    else
    {
        wrongZ = wrongZCoefficient / gcd;
        wrongY = wrongYCoefficient / gcd;
        wrongX = wrongLeftXCoefficient / gcd;
    }
     
    addWrongChoice(xVar + '=' + '(' + formatFirstCoefficient(wrongZ) + zVar + formatCoefficient(wrongY) + yVar + ')/' + wrongX);
    
    gcd = getGCD(getGCD(Math.abs(rightZCoefficient),Math.abs(rightYCoefficient)),Math.abs(wrongLeftXCoefficient2));
    //The bottom coefficient must be positive to be in reduced terms then divide out by the GCD
    if(wrongLeftXCoefficient2 < 0)
    {
        wrongZ = -rightZCoefficient / gcd;
        wrongY = -rightYCoefficient / gcd;
        wrongX = -wrongLeftXCoefficient2 / gcd;
    }
    else
    {
        wrongZ = rightZCoefficient / gcd;
        wrongY = rightYCoefficient / gcd;
        wrongX = wrongLeftXCoefficient2 / gcd;
    }

    addWrongChoice(xVar + '=' + '(' + formatFirstCoefficient(wrongZ) + zVar + formatCoefficient(wrongY) + yVar + ')/' + wrongX);
                        
    gcd = getGCD(getGCD(Math.abs(wrongZCoefficient),Math.abs(wrongYCoefficient)),Math.abs(wrongLeftXCoefficient2));                        
    //The bottom coefficient must be positive to be in reduced terms then divide out by the GCD
    if(wrongLeftXCoefficient2 < 0)
    {
        wrongZ = -wrongZCoefficient / gcd;
        wrongY = -wrongYCoefficient / gcd;
        wrongX = -wrongLeftXCoefficient2 / gcd;
    }
    else
    {
        wrongZ = wrongZCoefficient / gcd;
        wrongY = wrongYCoefficient / gcd;
        wrongX = wrongLeftXCoefficient2 / gcd;
    }

    addWrongChoice(xVar + '=' + '(' + formatFirstCoefficient(wrongZ) + zVar + formatCoefficient(wrongY) + yVar + ')/' + wrongX);
                        
    gcd = getGCD(getGCD(Math.abs(wrongZCoefficient),Math.abs(rightYCoefficient)),Math.abs(wrongLeftXCoefficient2));                        
    //The bottom coefficient must be positive to be in reduced terms then divide out by the GCD
    if(wrongLeftXCoefficient2 < 0)
    {
        wrongZ = -wrongZCoefficient / gcd;
        wrongY = -rightYCoefficient / gcd;
        wrongX = -wrongLeftXCoefficient2 / gcd;
    }
    else
    {
        wrongZ = wrongZCoefficient / gcd;
        wrongY = rightYCoefficient / gcd;
        wrongX = wrongLeftXCoefficient2 / gcd;
    }

    addWrongChoice(xVar + '=' + '(' + formatFirstCoefficient(wrongZ) + zVar + formatCoefficient(wrongY) + yVar + ')/' + wrongX);
}

function get_equation_string_side(x, c, selX, selC) {
        var equation_string = ' ';
        var first = 0; //boolean to test if the first term on the side has been printed
        var xColor = noSelColor;
        var cColor = noSelColor;

        if (selX)
                xColor = selColor;
        if (selC)
                cColor = selColor;
                
        equation_string = '`<font color="' + xColor + '">`';
        for (var i = 0; i < x.length; i++) 
    {
                if (x[i] != 0) 
        {
                        if (first == 0)
            {
                                first = 1;
                                equation_string += format_first_coefficient(x[i]) + xVar;
                        }
                        else 
                                equation_string += format_coefficient(x[i]) + xVar;
                }
        }
    
    //These double quotes stay because they are escaped
        equation_string += '`</font><font color="' + cColor + '">`';
        for (var i = 0; i < c.length; i++) 
    {
                if (first == 0) 
        {
                        first = 1;
                        equation_string += c[i];
                }
                else 
                        equation_string += format_constant(c[i]);
        }
        equation_string += '`</font>`';
        return equation_string;
}


function rational_equation(top_x, bot_x, top_c, bot_c) //assumes the form (AX+B)/(CX+D)
{
        var equation_string = '(';
        equation_string += format_first_coefficient(top_x[0]) + xVar;
        equation_string += format_constant(top_c[0]);
        equation_string += ')/(';
        equation_string += format_first_coefficient(bot_x[0]) + xVar;
        equation_string += format_constant(bot_c[0]);
        equation_string += ')'; 

        return equation_string;
}


// tagging this generateequation block for now because the linear_equations modules used it, but really it probably doesn't need to be blocked (nothing will likely overload it)
{% block generateequation %}

var NUM_EQUATION_TYPES = 3;
var equationType = getRandomInt(NUM_EQUATION_TYPES - 1);

if (equationType == 0)
{
    // first equation type of the form:
    // Gx(yz) + Ay + Bz + C = Dy + Ez + F
    // The yz in parens just means a y, a z, or both may be included in that term. All constants A - G are non-zero from -10 to 10.
    // Solve for x.
    
    // first determine the coefficients and the presence of other unknowns with the x term
    var leftYCoefficient = get_random();
    var leftZCoefficient = get_random();
    var leftConstant = get_random();
    
    var rightYCoefficient = get_random();
    while (rightYCoefficient == leftYCoefficient) // make sure terms don't cancel out
        rightYCoefficient = get_random();

    var rightZCoefficient = get_random();
    while (rightZCoefficient == leftZCoefficient) // make sure terms don't cancel out
        rightZCoefficient = get_random();

    var rightConstant = get_random();
    while (rightConstant == leftConstant) // make sure terms don't cancel out
        rightConstant = get_random();
    var xTermCoefficient = get_random();
    
    // whether there is a y, i.e. -5xy
    var xTermHasY = false;
    if (getRandomInt(1) == 0) 
        xTermHasY = true;

    // whether there is a z, i.e. -5xz
    var xTermHasZ = false;
    if (getRandomInt(1) == 0) 
        xTermHasZ = true;
}
else if (equationType == 1)
{
    var leftXYCoefficient = get_random();
    var leftXZCoefficient = get_random();
    var leftXCoefficient = get_random();    
    var leftConstant = get_random();
    var rightYCoefficient = get_random();    
    var rightConstant = get_random();

    while (rightConstant == leftConstant)
        rightConstant = get_random(); // don't let constants cancel out
}
else if (equationType == 2)
{
    var leftXCoefficient = get_random();
    var leftYCoefficient = get_random();
    var leftDivisor = get_random();    
    var rightXCoefficient = get_random();
    var rightZCoefficient = get_random();    
    var rightDivisor = get_random();    

    while (leftXCoefficient*rightDivisor == rightXCoefficient*leftDivisor)
        rightDivisor = get_random(); // don't let solution's divisor = 0
}

{% endblock generateequation %}


//-->
</script>
{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--
//Write the question on the page

// Ben: do I really need to put some code in a maincell block and some in a maincode block? I figured if not, then I might as well
//      just put the call to generateHintSteps directly in the if-else above that brances on equationType (and not call it
//      generateHintSteps of course but rather simply createProblem or something since it also creates the right/wrong answers)

// generate hint steps
if (equationType == 0)
    generateHintStepsForEquationType0(xTermCoefficient,leftYCoefficient,leftZCoefficient,leftConstant,rightYCoefficient,rightZCoefficient,rightConstant,xTermHasY,xTermHasZ);
else if (equationType == 1)
    generateHintStepsForEquationType1(leftXYCoefficient,leftXZCoefficient,leftXCoefficient,leftConstant,rightYCoefficient,rightConstant);
else if (equationType == 2)
    generateHintStepsForEquationType2(leftXCoefficient,leftYCoefficient,leftDivisor,rightXCoefficient,rightZCoefficient,rightDivisor);


//-->
</script>

{% endblock maincell %}
