{% extends "multiple_choice_template.html" %}

{% block maincode %}
<script type="text/javascript" src="/javascript/calculus.js?{{App.version}}"></script>
<script language=Javascript1.2><!--
// Special derivatives

fofx = '';
dfofx = '';

wrongs = [];

funcGens = [];

funcGens[0] = function() {
    // power rule to pad the questions
    var high_deg = getRandomIntRange(2, 6);
    var low_deg = getRandomIntRange(-2, 1);
    var coefs = polyCoefs(low_deg, high_deg);
	
	fofx = polyExp(low_deg, high_deg, coefs);
	dfofx = dPolydx(low_deg, high_deg, coefs);
	
    wrongs[0] = dPolydx_wrong1(low_deg, high_deg, coefs); // doesn't decrement exponents
    wrongs[1] = dPolydx_wrong2(low_deg, high_deg, coefs); // increments negative exponents
    wrongs[2] = dPolydx_wrong3(low_deg, high_deg, coefs); // reversed signs on all terms
    wrongs[3] = dPolydx_wrong4(low_deg, high_deg, coefs); // doesn't multiply coefficients
    wrongs[4] = dPolydx_wrong5(low_deg, high_deg, coefs); // doesn't multiply coefficients + doesn't decrement exponents
	wrongs[5] = dfofx; // quick workaround because generateNewProblem overwrites wrongs[] several times
}

funcGens[1] = function() {
    fofx = 'sin x';
    dfofx = 'cos x';
    
    wrongs[0] = '-sin x';
    wrongs[1] = 'csc x';
    wrongs[2] = 'sec x';
    wrongs[3] = 'tan x';
    wrongs[4] = '-sec x';
    wrongs[5] = '-cos x';
}

funcGens[2] = function() {
    fofx = 'cos x';
    dfofx = '-sin x';
    
    wrongs[0] = 'sin x';
    wrongs[1] = 'csc x';
    wrongs[2] = 'sec x';
    wrongs[3] = 'tan x';
    wrongs[4] = '-sec x';
    wrongs[5] = '-cos x';
}

funcGens[3] = function() {
    fofx = 'tan x';
    dfofx = 'sec^2 x';
    
    wrongs[0] = 'sin x';
    wrongs[1] = 'csc x';
    wrongs[2] = 'sec x';
    wrongs[3] = 'tan x';
    wrongs[4] = '-sec x';
    wrongs[5] = '-cos x';
}

funcGens[4] = function() {
    fofx = 'csc x';
    dfofx = '-csc x cot x';
    
    wrongs[0] = 'csc x cot x';
    wrongs[1] = 'csc x tan x';
    wrongs[2] = '-csc x tan x';
    wrongs[3] = 'sec x tan x';
    wrongs[4] = 'sec x cot x';
    wrongs[5] = '-sec x cot x';
}

funcGens[5] = function() {
    fofx = 'sec x';    
    dfofx = 'sec x tan x';
    
    wrongs[0] = 'sec x cot x';
    wrongs[1] = 'csc x tan x';
    wrongs[2] = 'csc x cot x';
    wrongs[3] = 'sec^2 x';
    wrongs[4] = 'csc^2 x';
    wrongs[5] = '-sec x tan x';
}

funcGens[6] = function() {
    fofx = 'cot x';
    dfofx = '-csc^2 x';
    
    wrongs[0] = 'csc x cot x';
    wrongs[1] = 'sec x cot x';
    wrongs[2] = '-sec^2 x';
    wrongs[3] = 'csc^2 x';
    wrongs[4] = 'sec^2 x';
    wrongs[5] = 'sec x tan x';
}

funcGens[7] = function() {
    fofx = 'e^x';
    dfofx = 'e^x';
    
    wrongs[0] = 'x*e^(x-1)';
    wrongs[1] = '1/x';
    wrongs[2] = 'x*e^x';
    wrongs[3] = 'e^(x-1)';
    wrongs[4] = '(e-x)^x';
    wrongs[5] = 'e/x';
}

funcGens[8] = function() {
    fofx = 'ln x';
    dfofx = '1/x';
    
    wrongs[0] = '1/(ln x)';
    wrongs[1] = 'e^x';
    wrongs[2] = '1/(e^x)';
    wrongs[3] = 'ln x';
    wrongs[4] = '1/(x^2)';
    wrongs[5] = 'x';
}

generateNewProblem(function() {
	funcGens[getRandomInt(funcGens.length-1)]();
	return fofx;
}, 10);

setCorrectAnswer(dfofx);

for (var i = 0; i < wrongs.length; i++) {
    addWrongChoice(wrongs[i]);
}

write_text('`d/dx (' + fofx + ') = ?`');
write_step('`d/dx (' + fofx + ') = ' + dfofx + '`');
//-->
</script>
{% endblock maincode %}

{% block maincell %}
{% endblock maincell %}

{% block maincellwidth %}70%{% endblock maincellwidth %}