{% extends "page_template.html" %}
{% block pagescript %}
<style type="text/css">
#store p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
</style>
{% endblock pagescript %}
{% block pagetitle %}Store{% endblock pagetitle %}
{% block pagecontent %}

<article id="store">
<p>To help us gauge interest in the Khan Academy offline videos and exercises on DVD, please send an email to
<a href="khan-academy-comments@googlegroups.com">khan-academy-comments@googlegroups.com</a> telling us which
DVD you would like to purchase.  The prices will probably be around $7 per DVD, or the 6 DVD set for $18. That
should be around our breakeven point for burning and mailing them, but if it's off we'll adjust the price to
make it that way.</p>

Math DVD
<ul>
<li>Arithmetic</li>
<li>Pre-algebra</li>
<li>Algebra</li>
<li>Geometry</li>
<li>Trigonometry</li>
<li>Probablility</li>
<li>Statistics</li>
<li>Pre-Calculus</li>
</ul>

Advanced Math DVD
<ul>
<li>Calculus</li>
<li>Differential Equations</li>
<li>Linear Algebra</li>
</ul>

Math Worked Examples DVD
<ul>
<li>Developmental Math</li>
<li>MA Tests for Education Licensure (MTEL) -Pre-Alg</li>
<li>Algebra I Worked Examples</li>
<li>ck12.org Algebra 1 Examples</li>
<li>California Standards Test: Algebra I</li>
<li>California Standards Test: Algebra II</li>
<li>California Standards Test: Geometry</li>
<li>Singapore Math</li>
</ul>

Science DVD
<ul>
<li>Biology</li>
<li>Chemistry</li>
<li>Physics</li>
</ul>

Finance DVD
<ul>
<li>Finance</li>
<li>Banking and Money</li>
<li>Valuation and Investing</li>
<li>Venture Capital and Capital Markets</li>
<li>Credit Crisis</li>
<li>Paulson Bailout</li>
<li>Geithner Plan</li>
<li>Current Economics</li>
<li>Currency</li>
</ul>

Test Prep DVD
<ul>
<li>SAT Preparation</li>
<li>GMAT Data Sufficiency</li>
<li>GMAT Problem Solving</li>
<li>CAHSEE Example Problems</li>
</ul>

</article>
{% endblock pagecontent %}

