{% extends "fraction_template.html" %}

{% block maincode %}
<div id="dvQuestion"></div>
{% endblock maincode %}

{% block maincell %}
<div id="holder" style="padding-left:120px;"></div>
<div id="dvHintText1" style="display:none; padding-left:10px; padding-top:10px; font-size:150%; color:#999;"></div>
<div id="dvHintText2" style="display:none; padding-left:10px; padding-top:10px; font-size:150%; color:red;"></div>
<div id="dvHintText3" style="display:none; padding-left:10px; padding-top:10px; font-size:150%; color:#999;"></div>
<div id="dvHintText4" style="display:none; padding-left:10px; padding-top:10px; font-size:150%; color:orange;"></div>
<script type="text/javascript" src="/javascript/exercises/subtracting_fraction_word_problems.js"></script>
{% endblock maincell %}


{% block checkanswer %}FractionSubtraction.SubtractionWordProblem.check_answer(){% endblock checkanswer%}
{% block hintfunction %}FractionSubtraction.SubtractionWordProblem.next_step(){% endblock hintfunction %}
