{% extends arithmetic_template %}
{% block maincode %}


{% endblock maincode %}


{% block maincell %}<script language=Javascript1.2><!--

var topNumber = new Array();
var prevTopNumber = new Array();
var topLocation = new Array(); //where is the top number located
var bottomNumber = new Array(); 
var selectedArray = new Array();
var topNumberDigits =2;
var bottomNumberDigits =1; //Has to be at least one less than topNumberDigits
var curColumn = 0; //the Column that the hints are on
var answer = 0; 
var needsToBorrow = -1;  //Keeps track of whether any digts need to borrow. -1 mean no.
var doneBorrowing = false;
var alreadyStartedSubtracting=false;

for (var i=0; i<(topNumberDigits-1); i++)
{
	var tnum = get_random(9);
	
	if (tnum!=0)
		tnum = get_random(9); //increases the chances of getting a 0

	topNumber.push(tnum);
	
	topLocation.push(0);
	prevTopNumber.push(0);
	if (i<bottomNumberDigits)
	{
		if (i<(bottomNumberDigits-1))
		{
			bottomNumber.push(get_random(9));
		}
		else
		{
			bottomNumber.push(get_random(8)+1);
		}
	}
	else
	{
		bottomNumber.push(0);
	}
	answer-=bottomNumber[i]*Math.pow(10,i);
	answer+=topNumber[i]*Math.pow(10,i);
}
topNumber.push(get_random(8)+1);
answer+=topNumber[topNumberDigits-1]*Math.pow(10,(topNumberDigits-1));
bottomNumber.push(0);
topLocation.push(0);
prevTopNumber.push(0);
setCorrectAnswer(answer);

function selectItem(row, col, value, style)
{

	var styleString = 'sel'+style;
	
	if (row > 0)
	{
		styleString = 'doubleDig'+style;
		//alert(row+" "+styleString);
	}
	
	document.getElementById(row+'_'+col).innerHTML = getFontString(value, styleString);
	selectedArray.push([row, col, value]);
	
}

function select2Items(row, col, value1, value2, style1, style2)
{

	document.getElementById(row+'_'+col).innerHTML = getFontString(value1, 'doubleDig'+style1)
		+getFontString(value2+'<br>&#8657;', 'doubleDig'+style2);
	selectedArray.push([row, col, (10*value1 +value2)+'<br>&#8657;']);
}

function borrow(col)
{
	var hint="";
	//Figure out the first column to the left that has a non-zero number in it\
	var borCol = col+1;
	var zeros = 0;
	while (topNumber[borCol]==0)
	{
		borCol++;
		zeros++;
	}
	
	borrower = topNumber[col];
	giver = topNumber[borCol]*Math.pow(10, zeros);
	
	//Write the hint
	hint+=getFontString(giver, 'sel2')
		+getFontString("-", 'noSel')
		+getFontString(1, 'sel3')
		+getFontString("=", 'noSel')
		+getFontString(giver-1, 'sel4');
	hint+=getFontString(", ", 'noSel')
		+getFontString(borrower, 'sel1')
		+getFontString("+", 'noSel')
		+getFontString(10, 'sel3')
		+getFontString("=", 'noSel')
		+getFontString((borrower+10), 'sel5');

	//Select the borrower in the main display	
	selectItem(topLocation[col], col, borrower, 1);
	
	//Select the giver in the main display
	for(var i=(col+1); i<borCol+1; i++)
		selectItem(topLocation[i], i, topNumber[i], 2);
		
	//Update the row of all the numbers
	for(var i=col; i<borCol+1; i++)
		topLocation[i]++;
	
	//Update the value of al the numbers
	prevTopNumber[col] = topNumber[col];
	topNumber[col] = borrower+10;
	prevTopNumber[borCol]=topNumber[borCol];
	topNumber[borCol] = topNumber[borCol] -1;
	
	for (var i=(col+1); i<borCol; i++)
		topNumber[i]=9;
		
	//Select the newly updated borrower in the main display
	selectItem(topLocation[col], col, borrower+10, 5);
	
	//Select the newly updated giver in the main display
	for(var i=(col+1); i<borCol+1; i++)
		selectItem(topLocation[i], i, topNumber[i], 4);

	return hint;
	
}


function subtract(col)
{
	var difference = topNumber[col]-bottomNumber[col];
	var hint= getFontString(topNumber[col], 'sel1')
		+getFontString("-", 'noSel')
		+getFontString(bottomNumber[col], 'sel2')
		+getFontString("=", 'noSel')
		+getFontString(difference, 'sel3');
		
	selectItem(topLocation[col], col, topNumber[col], 1);
	selectItem(-1, col, bottomNumber[col], 2);
	selectItem(-2, col, difference, 3);
	return hint;
}
	
function unSelectAll() //unselects everything in the main display
{
	//The while loop uncolorizes the previous hints' digits
	while (selectedArray.length>0)
	{
		var item = selectedArray.pop();
		var row = item[0];
		var col = item[1];
		var value = item[2];
		//alert(row+','+col+','+value);
		if (row>-1) //We're dealing with the top number
		{
			if (topLocation[col]>row) //make the number light
			{
				if (row ==1)
					document.getElementById('1_'+col).innerHTML = getFontString(prevTopNumber[col], 'doubleDigLight');
				else
					document.getElementById('0_'+col).innerHTML = getFontString(prevTopNumber[col], 'selLight');
			}
			else
			{
				if (row > 0)
					document.getElementById(row+'_'+col).innerHTML = getFontString(value, 'doubleDig0');
				else
					document.getElementById(row+'_'+col).innerHTML = getFontString(value, 'noSel');
			}
		}
		else
		{
			document.getElementById(row+'_'+col).innerHTML = getFontString(value, 'noSel');
		}
	}
}


function next_step()
{	
	unSelectAll();
	
	if (curColumn<topNumberDigits)
	{
		var hintString = "";
		if (doneBorrowing==false)
		{
			if (Exercise.steps_given==0)
				hintString="First we need to make sure that all the digits in the top number are greater than or equal to the digit below it";
			else
			{
				if (needsToBorrow!=-1) //We need to borrow
				{
					hintString=borrow(needsToBorrow);
					needsToBorrow=-1;
				}	
				else //We need to find a place to borrow
				{
					var i=0;
					doneBorrowing = true;
					while ((needsToBorrow==-1)  && (i<bottomNumberDigits))
					{
						if (bottomNumber[i]>topNumber[i])
						{
							doneBorrowing = false;
							needsToBorrow = i;
							hintString=getFontString(topNumber[i], 'sel1')
								+" is less than "
								+getFontString(bottomNumber[i], 'sel2')
								+", so we'll have to borrow.";
							selectItem(topLocation[i], i, topNumber[i], 1);
							selectItem(-1, i, bottomNumber[i], 2);
						}
						i++;
					}
					if (doneBorrowing == true)
					{
						hintString="All the top digits are greater than or equal to all the bottom digits, so we can start subtracting."; 
					}
				}
			}
		}
		else //We're done borrowing so now we can add;
		{
			if (curColumn<bottomNumberDigits)
			{
				hintString=subtract(curColumn);
				curColumn++;
			}
			else
			{
				hintString= "Bring down the "
					+getFontString(topNumber[curColumn], 'sel1')
					+" to get "
					+getFontString(topNumber[curColumn], 'sel2');
				selectItem(topLocation[curColumn], curColumn, topNumber[curColumn], 1);
				selectItem(-2, curColumn, topNumber[curColumn], 2);
				curColumn++;
			}
		}
		document.getElementById("hintbox").innerHTML = hintString;
		Exercise.steps_given++;
	}
}

//returns an integer between 0 and max, inclusive
function get_random(max)
{
	var epsilon = .9;
	return Math.round(KhanAcademy.random()*(max+epsilon) - epsilon/2);
}

function getFontString(text, font)
{
	return ('<FONT class=\"'+font+'\">'+text+'</FONT>');
}

document.write('<table width=100%><tr><td valign=top width=80%><table width=100%><tr><td valign=top align=left><div ID=\"hintbox\">'+getFontString('&nbsp;', 'inv')+'</div></td><td><img height=100 width=1></td></tr></table><center><table cellpadding=0 cellspacing=0><tr>');

for (var cols=0; cols<topNumberDigits; cols++)
{
	var index = topNumberDigits-1-cols;
	document.write('<td align=center><div ID=\"2_'+index+'\">'+getFontString('&nbsp;','doubleDigInv')+'</div></td>');
}
document.write('</tr><tr>');

for (var cols=0; cols<topNumberDigits; cols++)
{
	var index = topNumberDigits-1-cols;
	document.write('<td align=center><div ID=\"1_'+index+'\">'+getFontString('&nbsp;','doubleDigInv')+'</div></td>');
}
document.write('</tr><tr>');
for (var cols=0; cols<topNumberDigits; cols++)
{
	var index = topNumberDigits-1-cols;
	document.write('<td><div ID=\"0_'+index+'\">'+getFontString(topNumber[index], 'noSel')+'</div></td>');
}
document.write('</tr><tr><td>'+getFontString('-', 'noSel')+'</td>');
	
for (var cols=0; cols<topNumberDigits-1; cols++)
{
	if (cols< (topNumberDigits-1-bottomNumberDigits))
	{
		document.write('<td></td>');
	}
	else
	{
		var index = bottomNumberDigits -1 - (cols - (topNumberDigits-1-bottomNumberDigits));
		document.write('<td><div ID=\"-1_'+index+'\">'+getFontString(bottomNumber[index], 'noSel')+'</div></td>');
	}
}

document.write('</tr><tr>');
for (var cols=0; cols<topNumberDigits; cols++)
{
	var index = topNumberDigits-1-cols;
	document.write('<td class=answer><div ID=\"-2_'+index+'\">'+getFontString('&nbsp;','inv')+'</div></td>');
}
document.write('</tr></table></center></td></tr></table>');




//-->
</script>


{% endblock maincell %}
