{% extends "page_template.html" %}
{% block meta_page_title %}Simple page for testing template caching | {% endblock meta_page_title %}

{% block pagecontent %}
5 inclusion_tags - should result in maximum of 1 cache miss:
<span id="name">{% simple_student_info user_data %}</span>
<span id="name">{% simple_student_info user_data %}</span>
<span id="name">{% simple_student_info user_data %}</span>
<span id="name">{% simple_student_info user_data %}</span>
<span id="name">{% simple_student_info user_data %}</span>
End.
{% endblock pagecontent %}
