{% extends "pythagorean_theorem_1.html" %}


{% block maincell %}
<script language=Javascript1.2><!--
///////////////////////////////////////////////////////////////////////////////////////
//////Your code goes below here							///////
///////////////////////////////////////////////////////////////////////////////////////
function trigTriangle()
{
		
	this.adjLength = getRandomIntRange(3,10);
	this.opLength = getRandomIntRange(3,10);
	this.tanValue = formatFraction(this.opLength, this.adjLength);
	var squaresSum = Math.pow(this.adjLength,2)+Math.pow(this.opLength,2);
	var scaleFactor = Math.sqrt(squaresSum);
	
	this.leftPoint = new graphPoint(0,0,belowleft);
	this.topPoint = new graphPoint(this.adjLength/scaleFactor, this.opLength/scaleFactor, above);
	this.rightPoint = new graphPoint(this.adjLength/scaleFactor,0, belowright);
	this.triangle = new graphTriangle(this.leftPoint, this.topPoint, this.rightPoint);
	
	var factor = perfect_square_factor(squaresSum);
	
	this.hypotLength = null;
	this.sinValue = null;
	this.cosValue = null;
	this.secValue = null;
	this.cscValue = null;
	this.cotanValue = formatFraction(this.adjLength,this.opLength);
	
	this.mainAngle =  this.triangle.rightSide.oppAngle;
	this.rightAngle = new graphRightAngle(this.leftPoint, this.rightPoint, this.topPoint);
	
	if (factor.length==1)
	{
		this.hypotLength = ' sqrt('+squaresSum+')';
		this.sinValue = formatRadicalFraction(this.opLength, squaresSum, squaresSum);
		this.cosValue = formatRadicalFraction(this.adjLength, squaresSum, squaresSum);
		//this.sinValue = '('+(this.opLength/getGCD(this.opLength,squaresSum))+this.hypotLength+') /'+(squaresSum/getGCD(this.opLength,squaresSum));
		//this.cosValue = '('+(this.adjLength/getGCD(this.adjLength,squaresSum))+this.hypotLength+') /'+(squaresSum/getGCD(this.adjLength,squaresSum));
		this.secValue = this.hypotLength+'/'+this.opLength;
		this.cscValue = this.hypotLength+'/'+this.adjLength;
	}
	else if (factor[0]==1)
	{
		this.hypotLength = Math.sqrt(factor[1]);
		this.sinValue = formatFraction(this.opLength, this.hypotLength);
		this.cosValue = formatFraction(this.adjLength, this.hypotLength);
		this.secValue = formatFraction(this.hypotLength,this.opLength);
		this.cscValue = formatFraction(this.hypotLength,this.adjLength);
	}
	else
	{
		this.hypotLength = Math.sqrt(factor[1])+' sqrt('+factor[0]+')';
		
		this.sinValue = formatRadicalFraction(this.opLength*Math.sqrt(factor[1]), factor[0], factor[1]*factor[0]);
		this.cosValue = formatRadicalFraction(this.adjLength*Math.sqrt(factor[1]), factor[0], factor[1]*factor[0]);
		this.secValue = formatRadicalFraction(Math.sqrt(factor[1]), factor[0], this.opLength);
		this.cscValue = formatRadicalFraction(Math.sqrt(factor[1]), factor[0], this.adjLength);
		
		
		//this.sinValue = '('+(this.opLength/getGCD(this.opLength,factor[1]*factor[0]))+' sqrt('+factor[0]+')'+') /'+((factor[1]*factor[0])/getGCD(this.opLength,factor[1]*factor[0]));
		//this.cosValue = '('+(this.adjLength/getGCD(this.adjLength,factor[1]*factor[0]))+' sqrt('+factor[0]+')'+') /'+((factor[1]*factor[0])/getGCD(this.adjLength,factor[1]*factor[0]));
		//this.secValue = '('+(Math.sqrt(factor[1])/(getGCD(Math.sqrt(factor[1]),this.opLength)))+' sqrt('+factor[0]+')) /'+(this.opLength/getGCD(Math.sqrt(factor[1]),this.opLength));
		//this.cscValue = '('+(Math.sqrt(factor[1])/(getGCD(Math.sqrt(factor[1]),this.adjLength)))+' sqrt('+factor[0]+')) /'+(this.adjLength/getGCD(Math.sqrt(factor[1]),this.adjLength));
	}
	this.hypotValue = Math.round(Math.sqrt(squaresSum)*100)/100;
	this.hypotCoef = factor[0];
	this.hypotUnderRadical = factor[1];
	
	this.radianMeasure = Math.round(Math.asin(this.opLength/Math.sqrt(squaresSum))*100)/100;
	
	this.adjSide = this.triangle.bottomSide;
	this.hypotSide = this.triangle.leftSide;
	this.opSide = this.triangle.rightSide;
	this.adjSide.length = this.adjLength;
	this.hypotSide.length = this.hypotLength;
	this.opSide.length = this.opLength;
	this.sides = [this.adjSide, this.hypotSide, this.opSide];
	
	
}


function formatRadicalFraction(topCoef, topRadical, bottom)
{
	var gcd = getGCD(topCoef, bottom);
	var newTop = topCoef/gcd;
	var newBottom = bottom/gcd;
	var newTopString = '('+newTop+' sqrt('+topRadical+'))';
	if (newTop==1)
		newTopString = ' sqrt('+topRadical+')';
	
	var newBotString = '/'+newBottom;
	if (newBottom==1)
		newBotString = '';
		
	return newTopString+newBotString;
}


var myTriangle = new trigTriangle();
var rightAngle = myTriangle.rightAngle;
var mainAngle = myTriangle.mainAngle;

initialObjectsToDraw.push(myTriangle.triangle);
initialObjectsToDraw.push(rightAngle);


var sideGivenIndex = getRandomIntRange(0,2);
var solveForIndex = (sideGivenIndex+getRandomIntRange(1,2))%3;
var sideGiven = myTriangle.sides[sideGivenIndex];


var solveFor = myTriangle.sides[solveForIndex];


setCorrectAnswer(solveFor.length);

addWrongChoice(myTriangle.sides[0].length);
addWrongChoice(myTriangle.sides[1].length);
addWrongChoice(myTriangle.sides[2].length);

addWrongChoice(formatFraction(myTriangle.adjLength*myTriangle.adjLength, myTriangle.opLength));
addWrongChoice(formatFraction(myTriangle.opLength*myTriangle.opLength, myTriangle.adjLength));
addWrongChoice(formatFraction(myTriangle.opLength, myTriangle.adjLength*myTriangle.adjLength));
addWrongChoice(formatFraction(myTriangle.adjLength, myTriangle.opLength*myTriangle.opLength));
addWrongChoice(formatFraction(Math.pow(myTriangle.adjLength,2)+Math.pow(myTriangle.opLength,2),myTriangle.opLength)); 
addWrongChoice(formatFraction(Math.pow(myTriangle.adjLength,2)+Math.pow(myTriangle.opLength,2),myTriangle.adjLength));

while (possibleAnswers.length<5)
	addWrongChoice(getRandomIntRange(-10,10));



writeText(mainAngle.regStr+' = '+myTriangle.radianMeasure+' radians');
writeText(sideGiven.regStr+' = `'+sideGiven.length+'`');
writeText(solveFor.regStr+' = ?');
writeText('( `sin ('+myTriangle.radianMeasure+') ='+myTriangle.sinValue+', cos ('+myTriangle.radianMeasure+') ='+myTriangle.cosValue+', tan ('+myTriangle.radianMeasure+') ='+myTriangle.tanValue+'`)');


if (sideGiven == myTriangle.adjSide)
{
	writeGraphicalHint(sideGiven.colorStr+' is <B>adjacent</B> to '+mainAngle.colorStr, [sideGiven, mainAngle]);
	
	if (solveFor==myTriangle.opSide)
	{
		writeGraphicalHint(solveFor.colorStr+' is <B>opposite</B> to '+mainAngle.colorStr, [solveFor, mainAngle]);
		writeGraphicalHint('<center>SOH CAH TOA</center>', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('We know the adjacent side and need to solve for the opposite side so we can use the tangent function <b>(TOA)</B>.', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('`tan('+myTriangle.radianMeasure+')= `opposite / adjacent = '+solveFor.colorStr+'/'+sideGiven.colorStr+' = '+solveFor.colorStr+'/`'+sideGiven.length+'`', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint(solveFor.colorStr+'` = '+sideGiven.length+'* tan('+myTriangle.radianMeasure+') = '+sideGiven.length+'*'+myTriangle.tanValue+' = '+solveFor.length, [sideGiven, solveFor, mainAngle]);
	}
	else
	{
		writeGraphicalHint(solveFor.colorStr+' is the <B>hypotenuse</B> (note that it is opposite the right angle)', [solveFor, mainAngle]);
		writeGraphicalHint('<center>SOH CAH TOA</center>', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('We know the adjacent side and need to solve for the hypotenuse so we can use the cosine function <B>(CAH)</B>.', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('`cos('+myTriangle.radianMeasure+')=` adjacent/hypotenuse = '+sideGiven.colorStr+'/'+solveFor.colorStr+' = `'+sideGiven.length+'`/'+solveFor.colorStr, [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint(solveFor.colorStr+'`= '+sideGiven.length+'/ (cos('+myTriangle.radianMeasure+')) = '+sideGiven.length+'/('+myTriangle.cosValue+') = '+solveFor.length+'`', [sideGiven, solveFor, mainAngle]);
	}

}

else if (sideGiven == myTriangle.opSide)
{
	writeGraphicalHint(sideGiven.colorStr+' is the <B>opposite</B> side to '+mainAngle.colorStr, [sideGiven, mainAngle]);
	
	if (solveFor==myTriangle.adjSide)
	{
		writeGraphicalHint(solveFor.colorStr+' is <B>adjacent</B> to '+mainAngle.colorStr, [solveFor, mainAngle]);
		writeGraphicalHint('<center>SOH CAH TOA</center>', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('We know the opposite side and need to solve for the adjacent side so we can use the tangent function <b>(TOA)</B>.', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('`tan('+myTriangle.radianMeasure+')= `opposite / adjacent = '+sideGiven.colorStr+'/'+solveFor.colorStr+' = `'+sideGiven.length+'`/'+solveFor.colorStr, [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint(solveFor.colorStr+'`= '+sideGiven.length+'/ (tan('+myTriangle.radianMeasure+')) = '+sideGiven.length+'/('+myTriangle.tanValue+') = '+solveFor.length+'`', [sideGiven, solveFor, mainAngle]);
	}
	else
	{
		writeGraphicalHint(solveFor.colorStr+' is the <B>hypotenuse</B> (note that it is opposite the right angle)', [solveFor, mainAngle]);
		writeGraphicalHint('<center>SOH CAH TOA</center>', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('We know the opposite side and need to solve for the hypotenuse so we can use the sine function <b>(SOH)</b>.', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('`sin('+myTriangle.radianMeasure+')= `opposite/hypotenuse = '+sideGiven.colorStr+'/'+solveFor.colorStr+' = `'+sideGiven.length+'`/'+solveFor.colorStr, [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint(solveFor.colorStr+'`= '+sideGiven.length+'/ (sin('+myTriangle.radianMeasure+')) = '+sideGiven.length+'/('+myTriangle.sinValue+') = '+solveFor.length+'`', [sideGiven, solveFor, mainAngle]);
	}
}
else
{
	writeGraphicalHint(sideGiven.colorStr+' is the <B>hypotenuse</B>', [sideGiven, mainAngle]);

	if (solveFor==myTriangle.opSide)
	{
		writeGraphicalHint(solveFor.colorStr+' is <B>opposite</B> to '+mainAngle.colorStr, [solveFor, mainAngle]);
		writeGraphicalHint('<center>SOH CAH TOA</center>', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('We know the hypotenuse and need to solve for the opposite side so we can use the sine function <b>(SOH)</b>.', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('`sin('+myTriangle.radianMeasure+')= `opposite/hypotenuse = '+solveFor.colorStr+'/'+sideGiven.colorStr+' = '+solveFor.colorStr+'/`'+sideGiven.length+'`', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint(solveFor.colorStr+'` = '+sideGiven.length+'* sin('+myTriangle.radianMeasure+') = '+sideGiven.length+'*'+myTriangle.sinValue+' = '+solveFor.length+'`', [sideGiven, solveFor, mainAngle]);
	}
	else
	{
		writeGraphicalHint(solveFor.colorStr+' is <B>adjacent</B> to '+mainAngle.colorStr, [solveFor, mainAngle]);
		writeGraphicalHint('<center>SOH CAH TOA</center>', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('We know the hypotenuse and need to solve for the adjacent side so we can use the cosine function <b>(CAH)</B>.', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint('`cos('+myTriangle.radianMeasure+')= `adjacent/hypotenuse = '+solveFor.colorStr+'/'+sideGiven.colorStr+' = '+solveFor.colorStr+'/`'+sideGiven.length+'`', [sideGiven, solveFor, mainAngle]);
		writeGraphicalHint(solveFor.colorStr+'` = '+sideGiven.length+'* cos('+myTriangle.radianMeasure+') = '+sideGiven.length+'*'+myTriangle.cosValue+' = '+solveFor.length+'`', [sideGiven, solveFor, mainAngle]);
	}

}


randomRotation();

//-->
</script>
{% endblock maincell %}


