{% extends "pythagorean_theorem_1.html" %}


{% block maincell %}
<script language=Javascript1.2><!--
///////////////////////////////////////////////////////////////////////////////////////
//////Your code goes below here							///////
///////////////////////////////////////////////////////////////////////////////////////
function trigTriangle()
{
	var triangle = this;
	generateNewProblem(function() {
		triangle.adjLength = getRandomIntRange(3,10);
		triangle.opLength = getRandomIntRange(3,10);
		return 	triangle.adjLength + "/" + triangle.opLength;
	});
	this.adjLength = getRandomIntRange(3,10);
	this.opLength = getRandomIntRange(3,10);
	this.tanValue = formatFraction(this.opLength, this.adjLength);
	var squaresSum = Math.pow(this.adjLength,2)+Math.pow(this.opLength,2);
	var scaleFactor = Math.sqrt(squaresSum);
	
	this.leftPoint = new graphPoint(0,0,belowleft);
	this.topPoint = new graphPoint(this.adjLength/scaleFactor, this.opLength/scaleFactor, above);
	this.rightPoint = new graphPoint(this.adjLength/scaleFactor,0, belowright);
	this.triangle = new graphTriangle(this.leftPoint, this.topPoint, this.rightPoint);
	
	var factor = perfect_square_factor(squaresSum);
	
	this.hypotLength = null;
	this.sinValue = null;
	this.cosValue = null;
	this.secValue = null;
	this.cscValue = null;
	this.cotanValue = formatFraction(this.adjLength,this.opLength);
	
	if (factor.length==1)
	{
		this.hypotLength = ' sqrt('+squaresSum+')';
		this.sinValue = formatRadicalFraction(this.opLength, squaresSum, squaresSum);
		this.cosValue = formatRadicalFraction(this.adjLength, squaresSum, squaresSum);
		//this.sinValue = '('+(this.opLength/getGCD(this.opLength,squaresSum))+this.hypotLength+') /'+(squaresSum/getGCD(this.opLength,squaresSum));
		//this.cosValue = '('+(this.adjLength/getGCD(this.adjLength,squaresSum))+this.hypotLength+') /'+(squaresSum/getGCD(this.adjLength,squaresSum));
		this.secValue = this.hypotLength+'/'+this.opLength;
		this.cscValue = this.hypotLength+'/'+this.adjLength;
	}
	else if (factor[0]==1)
	{
		this.hypotLength = Math.sqrt(factor[1]);
		this.sinValue = formatFraction(this.opLength, this.hypotLength);
		this.cosValue = formatFraction(this.adjLength, this.hypotLength);
		this.secValue = formatFraction(this.hypotLength,this.opLength);
		this.cscValue = formatFraction(this.hypotLength,this.adjLength);
	}
	else
	{
		this.hypotLength = Math.sqrt(factor[1])+' sqrt('+factor[0]+')';
		
		this.sinValue = formatRadicalFraction(this.opLength*Math.sqrt(factor[1]), factor[0], factor[1]*factor[0]);
		this.cosValue = formatRadicalFraction(this.adjLength*Math.sqrt(factor[1]), factor[0], factor[1]*factor[0]);
		this.secValue = formatRadicalFraction(Math.sqrt(factor[1]), factor[0], this.opLength);
		this.cscValue = formatRadicalFraction(Math.sqrt(factor[1]), factor[0], this.adjLength);
		
		
		//this.sinValue = '('+(this.opLength/getGCD(this.opLength,factor[1]*factor[0]))+' sqrt('+factor[0]+')'+') /'+((factor[1]*factor[0])/getGCD(this.opLength,factor[1]*factor[0]));
		//this.cosValue = '('+(this.adjLength/getGCD(this.adjLength,factor[1]*factor[0]))+' sqrt('+factor[0]+')'+') /'+((factor[1]*factor[0])/getGCD(this.adjLength,factor[1]*factor[0]));
		//this.secValue = '('+(Math.sqrt(factor[1])/(getGCD(Math.sqrt(factor[1]),this.opLength)))+' sqrt('+factor[0]+')) /'+(this.opLength/getGCD(Math.sqrt(factor[1]),this.opLength));
		//this.cscValue = '('+(Math.sqrt(factor[1])/(getGCD(Math.sqrt(factor[1]),this.adjLength)))+' sqrt('+factor[0]+')) /'+(this.adjLength/getGCD(Math.sqrt(factor[1]),this.adjLength));
	}
	
}


function formatRadicalFraction(topCoef, topRadical, bottom)
{
	var gcd = getGCD(topCoef, bottom);
	var newTop = topCoef/gcd;
	var newBottom = bottom/gcd;
	var newTopString = '('+newTop+' sqrt('+topRadical+'))';
	if (newTop==1)
		newTopString = ' sqrt('+topRadical+')';
	
	var newBotString = '/'+newBottom;
	if (newBottom==1)
		newBotString = '';
		
	return newTopString+newBotString;
}


var myTriangle = new trigTriangle();

{% block problemsetup %}

var rightAngle = new graphRightAngle(myTriangle.leftPoint, myTriangle.rightPoint, myTriangle.topPoint);
var mainAngle = myTriangle.triangle.rightSide.oppAngle;

initialObjectsToDraw.push(myTriangle.triangle);
initialObjectsToDraw.push(rightAngle);

writeText(myTriangle.triangle.bottomSide.regStr+' is `'+myTriangle.adjLength+'` units long.');
writeText(myTriangle.triangle.leftSide.regStr+' is `'+myTriangle.hypotLength+'` units long.');
writeText(myTriangle.triangle.rightSide.regStr+' is `'+myTriangle.opLength+'` units long.');

//Solve for the sin
function type1()
{
	writeText('<center>sin ('+mainAngle.regStr+') =?</center>');
	writeGraphicalHint('<center><B>SOH</B> CAH TOA</center>', [mainAngle]);
	writeGraphicalHint('<center><B>S</B>in = <B>O</B>pposite over <B>H</B>ypotenuse</center>', [mainAngle]);
	writeGraphicalHint('<center>opposite = '+myTriangle.triangle.rightSide.colorStr+' = '+myTriangle.opLength+'</center>', [myTriangle.triangle.rightSide, mainAngle]);
	writeGraphicalHint('<center>hypotenuse = '+myTriangle.triangle.leftSide.colorStr+' = `'+myTriangle.hypotLength+'`</center>', [myTriangle.triangle.leftSide, mainAngle]);
	writeGraphicalHint('<center>sin ('+mainAngle.regStr+') =`'+myTriangle.opLength+'/('+myTriangle.hypotLength+')='+myTriangle.sinValue+'`</center>', [myTriangle.triangle.rightSide, myTriangle.triangle.leftSide, mainAngle]);
	setCorrectAnswer(myTriangle.sinValue);
}

//Solve for the cos
function type2()
{
	writeText('<center>cos ('+mainAngle.regStr+') =?</center>');
	writeGraphicalHint('<center>SOH <B>CAH</B> TOA</center>', [mainAngle]);
	writeGraphicalHint('<center><B>C</B>os = <B>A</B>djacent over <B>H</B>ypotenuse</center>', [mainAngle]);
	writeGraphicalHint('<center>adjacent = '+myTriangle.triangle.bottomSide.colorStr+' = '+myTriangle.adjLength+'</center>', [myTriangle.triangle.bottomSide, mainAngle]);
	writeGraphicalHint('<center>hypotenuse = '+myTriangle.triangle.leftSide.colorStr+' = `'+myTriangle.hypotLength+'`</center>', [myTriangle.triangle.leftSide, mainAngle]);
	writeGraphicalHint('<center>cos ('+mainAngle.regStr+') =`'+myTriangle.adjLength+'/('+myTriangle.hypotLength+')='+myTriangle.cosValue+'`</center>', [myTriangle.triangle.bottomSide, myTriangle.triangle.leftSide, mainAngle]);
	
	setCorrectAnswer(myTriangle.cosValue);
}

//Solve for the tan
function type3()
{
	writeText('<center>tan ('+mainAngle.regStr+') =?</center>');
	writeGraphicalHint('<center>SOH CAH <B>TOA</B></center>', [mainAngle]);
	writeGraphicalHint('<center><B>T</B>an = <B>O</B>pposite over <B>A</B>djacent</center>', [mainAngle]);
	writeGraphicalHint('<center>opposite = '+myTriangle.triangle.rightSide.colorStr+' = '+myTriangle.opLength+'</center>', [myTriangle.triangle.rightSide, mainAngle]);
	writeGraphicalHint('<center>adjacent = '+myTriangle.triangle.bottomSide.colorStr+' = '+myTriangle.adjLength+'</center>', [myTriangle.triangle.bottomSide, mainAngle]);
	writeGraphicalHint('<center>tan ('+mainAngle.regStr+') =`'+myTriangle.tanValue+'`</center>', [myTriangle.triangle.rightSide, myTriangle.triangle.bottomSide, mainAngle]);
	
	setCorrectAnswer(myTriangle.tanValue);
}


pickType(1,3);

addWrongChoice(myTriangle.sinValue);
addWrongChoice(myTriangle.cosValue);
addWrongChoice(myTriangle.tanValue);
addWrongChoice(myTriangle.secValue);
addWrongChoice(myTriangle.cscValue);
addWrongChoice(myTriangle.cotanValue);

if (myTriangle.adjLength==myTriangle.opLength)
{
	addWrongChoice(myTriangle.adjLength);
	addWrongChoice(formatFraction(1,myTriangle.adjLength));
}


{% endblock problemsetup %}
randomRotation();
//-->
</script>
{% endblock maincell %}


