{% extends 'multiple_choice_template.html' %}
{% block maincode %}
<script language=Javascript1.2><!--
var trigFuncs = ['sin', 'cos', 'tan', 'sec', 'csc'];
var trigAngles = ['0', 'pi/6', 'pi/4', 'pi/3', 'pi/2'];

// somewhat tedious and maybe should obfuscate / move out to somewhere else,
// but we need the radical-fraction forms to show to the student
var nice_sin = [];
nice_sin['0'] = '0';
nice_sin['pi/6'] = '1/2';
nice_sin['pi/4'] = 'sqrt(2)/2';
nice_sin['pi/3'] = 'sqrt(3)/2';
nice_sin['pi/2'] = '1';

var nice_cos = [];
nice_cos['0'] = '1';
nice_cos['pi/6'] = 'sqrt(3)/2';
nice_cos['pi/4'] = 'sqrt(2)/2';
nice_cos['pi/3'] = '1/2';
nice_cos['pi/2'] = '0';

var nice_tan = [];
nice_tan['0'] = '0';
nice_tan['pi/6'] = '1/sqrt(3)'; // could be sqrt(3)/3 too
nice_tan['pi/4'] = '1';
nice_tan['pi/3'] = 'sqrt(3)';
nice_tan['pi/2'] = 'undef';

var nice_sec = [];
nice_sec['0'] = '1';
nice_sec['pi/6'] = '2/sqrt(3)'; // could be 2sqrt(3)/3 too
nice_sec['pi/4'] = 'sqrt(2)'; // could be 2/sqrt(2) too
nice_sec['pi/3'] = '2';
nice_sec['pi/2'] = 'undef';

var nice_csc = [];
nice_csc['0'] = 'undef';
nice_csc['pi/6'] = '2';
nice_csc['pi/4'] = 'sqrt(2)'; // could be 2/sqrt(2) too
nice_csc['pi/3'] = '2/sqrt(3)';  // could be 2sqrt(3)/3 too
nice_csc['pi/2'] = '1';

var qIdx = getRandomIntRange(0, trigFuncs.length - 1);

// qFunc(x) = qVal. What is aFunc(x)? [it's aVal]
var qFunc = trigFuncs[qIdx];
trigFuncs.splice(qIdx, 1)
var aFunc = trigFuncs[getRandomIntRange(0, trigFuncs.length - 1)];

var x = trigAngles[getRandomIntRange(0, trigAngles.length - 1)];

var qVal = eval('nice_' + qFunc)[x];
var aVal = eval('nice_' + aFunc)[x];

setCorrectAnswer(aVal);
addWrongChoice('undef');
addWrongChoice('2');
addWrongChoice('sqrt(2)');
addWrongChoice('2/sqrt(3)');
addWrongChoice('1');
addWrongChoice('sqrt(3)');
addWrongChoice('0');
addWrongChoice('1/2');
addWrongChoice('sqrt(2)/2');
addWrongChoice('sqrt(3)/2');
addWrongChoice('1/sqrt(3)');

// we already know all the actual answers,
// we just need to generate the steps
function print_sin_to_cos(sinv, cosv)
{
	write_step('<hr/>' + equation_string('sin^2 x + cos^2 x = 1'));
	write_step(equation_string('(' + sinv + ')^2 + cos^2 x = 1') +
			equation_string('(' + sinv + ')^2 = 1 - cos^2 x') +
			equation_string('(' + sinv + ')^2 - 1 = - cos^2 x') +
			equation_string('-(' + sinv + ')^2 + 1 = cos^2 x') +
			equation_string(cosv + ' = cos x'));
}

function print_cos_to_sin(cosv, sinv)
{
	write_step('<hr/>' + equation_string('sin^2 x + cos^2 x = 1'));
	write_step(equation_string('sin^2 x + (' + cosv + ')^2 = 1') +
			equation_string('(' + cosv + ')^2 = 1 - sin^2 x') +
			equation_string('(' + cosv + ')^2 - 1 = - sin^2 x') +
			equation_string('-(' + cosv + ')^2 + 1 = sin^2 x') +
			equation_string(sinv + ' = sin x'));
}

function print_csc_to_sin(cscv, sinv)
{
	write_step('<hr/>' + equation_string('csc x = 1/(sin x)'));
	write_step(equation_string('csc x = ' + cscv) +
			equation_string('1/(sin x) = ' + cscv) +
			equation_string('sin x = ' + sinv));
}

function print_sin_to_csc(sinv, cscv)
{
	write_step('<hr/>' + equation_string(sinv + ' = sin x') +
			equation_string(cscv + ' = 1/(sin x)') +
			equation_string(cscv + ' = csc x'));
}

function print_sec_to_cos(secv, cosv)
{
	write_step('<hr/>' + equation_string('sec x = 1/(cos x)'));
	write_step(equation_string('sec x = ' + secv) +
			equation_string('1/(cos x) = ' + secv) +
			equation_string('cos x = ' + cosv));
}

function print_cos_to_sec(cosv, secv)
{
	write_step('<hr/>' + equation_string(cosv + ' = cos x') +
			equation_string(secv + ' = 1/(cos x)') +
			equation_string(secv + ' = sec x'));
}

function print_tan_to_sec(tanv, secv)
{
	write_step('<hr/>' + equation_string('sin^2 x + cos^2 x = 1') +
			equation_string('(sin^2 x) / (cos^2 x) + (cos^2 x) / (cos^2 x) = 1 / (cos^2 x)') +
			equation_string('tan^2 x + 1 = sec^2 x'));
	write_step(equation_string('(' + tanv + ')^2 + 1 = sec^2 x') +
			equation_string('sqrt((' + tanv + ')^2 + 1) = sec x') +
			equation_string(secv + ' = sec x'));
}

function print_sec_to_tan(secv, tanv)
{
	write_step('<hr/>' + equation_string('sin^2 x + cos^2 x = 1') +
			equation_string('(sin^2 x) / (cos^2 x) + (cos^2 x) / (cos^2 x) = 1 / (cos^2 x)') +
			equation_string('tan^2 x + 1 = sec^2 x'));
	write_step(equation_string('tan^2 x + 1 = (' + secv + ')^2') +
			equation_string('tan^2 x = (' + secv + ')^2 - 1') +
			equation_string('tan x = sqrt((' + secv + ')^2 - 1)') +
			equation_string('tan x = ' + tanv));
}

function print_sin_cos_to_tan(sinv, cosv, tanv)
{
	write_step('<hr/>' + equation_string('(sin x) / (cos x) = tan x') +
			equation_string('sin x = ' + sinv) +
			equation_string('cos x = ' + cosv) +
			equation_string('(' + sinv + ') / (' + cosv + ') = tan x') +
			equation_string(tanv + ' = tan x'));
}

function print_steps()
{
	if (aFunc == 'sec') {
		write_step(equation_string('sec x = 1/(cos x)'));;
		if (qFunc == 'csc') {
			print_csc_to_sin(qVal, nice_sin[x]);
			print_sin_to_cos(nice_sin[x], nice_cos[x]);
			print_cos_to_sec(nice_cos[x], aVal);
		} else if (qFunc == 'sin') {
			print_sin_to_cos(qVal, nice_cos[x]);
			print_cos_to_sec(nice_cos[x], aVal);
		} else if (qFunc == 'cos') {
			print_cos_to_sec(qVal, aVal);
		} else if (qFunc == 'tan') {
			print_tan_to_sec(qVal, aVal);
		}
	} else if (aFunc == 'csc') {
		write_step(equation_string('csc x = 1/(sin x)'));
		if (qFunc == 'sec') {
			print_sec_to_cos(qVal, nice_cos[x]);
			print_cos_to_sin(nice_cos[x], nice_sin[x]);
			print_sin_to_csc(nice_sin[x], aVal);
		} else if (qFunc == 'cos') {
			print_cos_to_sin(qVal, nice_sin[x]);
			print_sin_to_csc(nice_sin[x], aVal);
		} else if (qFunc == 'sin') {
			print_sin_to_csc(qVal, aVal);
		} else if (qFunc == 'tan') { // better way to do it?
			print_tan_to_sec(qVal, nice_sec[x]);
			print_sec_to_cos(nice_sec[x], nice_cos[x]);
			print_cos_to_sin(nice_cos[x], nice_sin[x]);
			print_sin_to_csc(nice_sin[x], aVal);
		}
	} else if (aFunc == 'cos') {
		if (qFunc == 'csc') {
			print_csc_to_sin(qVal, nice_sin[x]);
			print_sin_to_cos(nice_sin[x], aVal);
		} else if (qFunc == 'sin') {
			print_sin_to_cos(qVal, aVal);
		} else if (qFunc == 'sec') {
			print_sec_to_cos(qVal, aVal);
		} else if (qFunc == 'tan') {
			print_tan_to_sec(qVal, nice_sec[x]);
			print_sec_to_cos(nice_sec[x], aVal);
		}
	} else if (aFunc == 'sin') {
		if (qFunc == 'sec') {
			print_sec_to_cos(qVal, nice_cos[x]);
			print_cos_to_sin(nice_cos[x], aVal);
		} else if (qFunc == 'csc') {
			print_csc_to_sin(qVal, aVal);
		} else if (qFunc == 'cos') {
			print_cos_to_sin(qVal, aVal);
		} else if (qFunc == 'tan') { // better way to do it?
			print_tan_to_sec(qVal, nice_sec[x]);
			print_sec_to_cos(nice_sec[x], nice_cos[x]);
			print_cos_to_sin(nice_cos[x], aVal);
		}
	} else if (aFunc == 'tan') {
		if (qFunc == 'sin') {
			write_step(equation_string('(sin x) / (cos x) = tan x'));
			print_sin_to_cos(qVal, nice_cos[x]);
			print_sin_cos_to_tan(qVal, nice_cos[x], aVal);
		} else if (qFunc == 'cos') {
			write_step(equation_string('(sin x) / (cos x) = tan x'));
			print_cos_to_sin(qVal, nice_sin[x]);
			print_sin_cos_to_tan(nice_sin[x], qVal, aVal);
		} else if (qFunc == 'sec') {
			print_sec_to_tan(qVal, aVal);
		} else if (qFunc == 'csc') {
			write_step(equation_string('(sin x) / (cos x) = tan x'));
			print_csc_to_sin(qVal, nice_sin[x]);
			print_sin_to_cos(nice_sin[x], nice_cos[x]);
			print_sin_cos_to_tan(nice_sin[x], nice_cos[x], aVal);
		}
	}
}

//
--></script>

{% endblock maincode %}
{% block maincellwidth %}70%{% endblock maincellwidth %}
{% block maincell %}
<script language=Javascript1.2><!--
write_text('Given that x is in the first quadrant and `' + qFunc + ' x = ' + qVal + '`. What is `' + aFunc + ' x`?');
print_steps();
//-->
</script>



{% endblock maincell %}

