{% extends "adding_and_subtracting_fractions.html" %}
{% block maincode %}
<script type="text/javascript" src="/javascript/wordproblems.js?{{App.version}}"></script>
{% endblock maincode %}

{% block maincell %}
<script language=Javascript1.2><!--

/***
Unit word problems
***/

var correctAnswer = 0;
var correct_answer = 0;


function type1() {
	var prefixes = ["kilo", "hecto", "deca", "", "deci", "centi", "milli"];
	var multiplier = [1000, 100, 10, 1, .1, .01, .001];
	var units = ["meters", "liters", "grams", "watts"];
	var sunits = ["meter", "liter", "gram", "watt"];

	var pref1 = getRandomIntRange(0, prefixes.length-1);
	var pref2 = getRandomIntRange(0, prefixes.length-1);
	while(pref1==pref2)
		pref2 = getRandomIntRange(0, prefixes.length-1);

	var quant1 = getRandomIntRange(1,1000);
	var uIndex = getRandomIntRange(0,units.length-1);
	var u = units[uIndex];
	var su = sunits[uIndex];

	var u1 = prefixes[pref1]+u;
	var u2 = prefixes[pref2]+u;

	write_text("How many "+u2+" are equivalent to "+commaFormat(quant1)+" "+u1+"?");
	correctAnswer = Math.round(multiplier[pref1]*quant1*1000000/multiplier[pref2])/1000000;
	correct_answer= "`" + commaFormat(correctAnswer) + "`";
	for(var i=-6; i<6; i++)
	{
		var possible = Math.round(correctAnswer*Math.pow(10,i)*1000000)/1000000;
		if (possible>.0000001 && possible<10000000 && possible!=correctAnswer)
			addWrongChoice('`'+commaFormat(possible)+'`');
	}


	if (pref1!=3)
		write_step("1 "+prefixes[pref1]+su+" = "+commaFormat(multiplier[pref1])+" "+u);
	if (pref2!=3)
		write_step("1 "+su+" = "+(1/multiplier[pref2])+" "+u2);
	write_step(quant1+" "+u1+" x "+commaFormat(multiplier[pref1])+" "+u+"/"+prefixes[pref1]+su+" x "+commaFormat(1/multiplier[pref2])+" "+u2+"/"+su+" = ?");
	write_step(quant1+" "+u1+" x "+commaFormat(multiplier[pref1])+" "+u+"/"+prefixes[pref1]+su+" x "+commaFormat(1/multiplier[pref2])+" "+u2+"/"+su+" = "+correct_answer+" "+u2);
	
}

function type2() {
	var sdMeasure = ["mile", "foot", "inch"];
	var psMeasure = ["miles", "feet", "inches"];

	var tMeasure = ["hour", "minute", "second"];
	var dMultiplier = [63360, 12, 1];
	var tMultiplier = [3600, 60, 1];


	var m1 = getRandomIntRange(0, sdMeasure.length-1);
	var m2 = getRandomIntRange(0, sdMeasure.length-1);
	while(m1==m2)
		m2 = getRandomIntRange(0, sdMeasure.length-1);

	var t1 = getRandomIntRange(0, tMeasure.length-1);
	var t2 = getRandomIntRange(Math.max(0, t1-2), Math.min(tMeasure.length-1, t1+2));
	while(t1==t2)
		t2 = getRandomIntRange(Math.max(0, t1-2), Math.min(tMeasure.length-1, t1+2));

	var scale = dMultiplier[m1]/dMultiplier[m2]*tMultiplier[t2]/tMultiplier[t1];

	var speed = getRandomIntRange(1,1000);

	if (scale>1000)
		speed = speed/1000;

	if (scale<.001)
		speed = speed*1000000;


	while( (speed*scale>10) && (speed>100))
		speed=Math.round(speed/10);

	write_text(person1+" is driving at a speed of "+commaFormat(speed)+" "+psMeasure[m1]+" per "+
		tMeasure[t1]+".  At this speed, how many "+psMeasure[m2]+"  will "+
		person1+" travel in 1 "+tMeasure[t2]+"?");
		

	var i =m1;
	var numString = ""+commaFormat(speed);
	var denString = "";
	var distanceString="<table border=0><tr><td>"+commaFormat(speed)+"</td><td>"+fraction(psMeasure[m1],tMeasure[t1])+"</td>";
	var increment = (m2-m1)/Math.abs(m2-m1);
	var curScale=Math.round(dMultiplier[m1]/dMultiplier[m1+increment]*1000)/1000;
	var nextUnit=psMeasure[m1+increment];
	var curUnit =sdMeasure[m1]; 
	var curSpeed = speed;
	
	while(i!=m2)	
	{
		distanceString+="<td> x </td><td>"+fraction(commaFormat(Math.max(1,dMultiplier[i]/dMultiplier[i+increment])), commaFormat(Math.max(Math.round(dMultiplier[i+increment]/dMultiplier[i]),1)))
			+"</td><td>"+fraction(nextUnit, curUnit)+"</td>";
		numString+=" x "+commaFormat(Math.max(1,dMultiplier[i]/dMultiplier[i+increment]));
		if (denString.length>0)
			denString+=" x ";
		denString+=commaFormat(Math.max(Math.round(dMultiplier[i+increment]/dMultiplier[i]),1));
		i+=increment;
		nextUnit=psMeasure[i+increment];
		curUnit = sdMeasure[i];
	}

	i=t1;
	increment = (t2-t1)/Math.abs(t2-t1);
	curUnit = tMeasure[t1];
	nextUnit = tMeasure[t1+increment]+"s";
	while(i!=t2)
	{
		distanceString+="<td> x </td><td>"+fraction(Math.max(Math.round(tMultiplier[i+increment]/tMultiplier[i]),1),Math.max(1,tMultiplier[i]/tMultiplier[i+increment]))+
			"</td><td>"+
			fraction(curUnit, nextUnit)+"</td>";
		numString+=" x "+commaFormat(Math.max(Math.round(tMultiplier[i+increment]/tMultiplier[i]),1));
		if (denString.length>0)
			denString+=" x ";
		denString+=commaFormat(Math.max(1,tMultiplier[i]/tMultiplier[i+increment]));
		i+=increment;
		nextUnit=tMeasure[i+increment]+"s";
		curUnit = tMeasure[i];
	}


	distanceString +="</tr></table>";

	correctAnswer = Math.round(speed*scale*1000)/1000;
	correct_answer= "`" + commaFormat(correctAnswer) + "`";
	var nWrongChoices = 5;
	while (nWrongChoices > 0)
	{
	
		var j = getRandomIntRange(0, sdMeasure.length-1);
		var k = getRandomIntRange(0, tMeasure.length-1);
		var tempWrong = dMultiplier[j]*correctAnswer;

		if (KhanAcademy.random()>KhanAcademy.random())
			tempWrong = correctAnswer/dMultiplier[j];

		if (KhanAcademy.random()>KhanAcademy.random())
		{
			tempWrong = tempWrong * tMultiplier[k];
		}
		else
		{
			tempWrong = tempWrong / tMultiplier[k];
		}
	
		if (tempWrong!=correctAnswer && tempWrong>.001 && tempWrong<1000000)
		{
			addWrongChoice('`'+commaFormat(Math.round(tempWrong*1000)/1000)+'`');
			nWrongChoices--;
		}
	
	}
	write_step(distanceString);
	numString = "<span style='white-space: nowrap;'>" + numString + "</span>";
	denString = "<span style='white-space: nowrap;'>" + denString + "</span>";
	write_step("<table border=0><tr><td>= </td><td>"+fraction(numString, denString)+"</td><td>"+fraction(psMeasure[m2],tMeasure[t2])+"</td></tr></table>");
	write_step("<table border=0><tr><td>= </td><td>"+correct_answer+"</td><td>"+fraction(psMeasure[m2],tMeasure[t2])+"</td></tr></table>");
}

eval("type"+getRandomIntRange(1,2)+"()");  //Randomly choose a problem type


//-->
</script>

{% endblock maincell %}

