{% extends "page_template.html" %}
{% block pagescript %}
	<link type="text/css" href="/stylesheets/custom-theme/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
	
<!-- For ChartBeat analytics START -->
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
<!-- For ChartBeat analytics END -->
<!-- New, faster Google Analytics async tag START -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6742635-1']);
  _gaq.push(['_setDomainName', '.khanacademy.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- New, faster Google Analytics async tag END -->
{% endblock pagescript %}
{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}

            


<P>
<iframe align=right src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.khanacademy.org&amp;layout=standard&amp;show_faces=false&amp;width=280&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:280px; height:35px;" allowTransparency="true"></iframe>
            	            	The Khan Academy is a not-for-profit 501(c)(3) with the mission of providing a world-class education to anyone, anywhere.  
            	    	    Despite being the work of one man, Salman Khan, this 1600+ video library is the most-used educational video resource as measured by YouTube video views per day and unique
            	    	    users per month.  We are complementing this ever-growing library with user-paced exercises--developed as an <A href="http://code.google.com/p/khanacademy/">open source project</A>--allowing the Khan Academy to become the free classroom for the World.
            	    	    <A href="/frequently-asked-questions"><b>Learn more about the Khan Academy and Salman Khan...</b></A>
        <P>
<h3><A href="/exercisedashboard"><B>Log in to the Khan Academy web application for user-paced practice and instruction</B></A></h3>

<P>

	<object width="560" height="340" align="right"><param name="movie" value="http://www.youtube.com/v/dsFQ9kM1qDs&hl=en_US&fs=1&hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/dsFQ9kM1qDs&hl=en_US&fs=1&hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
	<h3>Math</h3><P>
	<ul> 
			<A href="#Arithmetic">Arithmetic</A>&nbsp;&nbsp;|&nbsp;&nbsp;

			<A href="#Pre-algebra">Pre-algebra</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Algebra">Algebra</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Algebra I Worked Examples">Algebra I Worked Examples</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#California Standards Test: Algebra I">California Standards Test: Algebra I</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#ck12.org Algebra 1 Examples">ck12.org Algebra 1 Examples</A>&nbsp;&nbsp;|&nbsp;&nbsp;

			<A href="#California Standards Test: Algebra II">California Standards Test: Algebra II</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#MA Tests for Education Licensure (MTEL) -Pre-Alg">MA Tests for Education Licensure (MTEL) -Pre-Alg</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Precalculus">Precalculus</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Probability">Probability</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Statistics">Statistics</A>&nbsp;&nbsp;|&nbsp;&nbsp;

			<A href="#Geometry">Geometry</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#California Standards Test: Geometry">California Standards Test: Geometry</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Trigonometry">Trigonometry</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Calculus">Calculus</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Differential Equations">Differential Equations</A>&nbsp;&nbsp;|&nbsp;&nbsp;

			<A href="#Linear Algebra">Linear Algebra</A>&nbsp;&nbsp;&nbsp;&nbsp;

	</ul>
	<P>
	<h3>Science</h3><P>
	<ul>
			<A href="#Biology">Biology</A>&nbsp;&nbsp;|&nbsp;&nbsp;

			<A href="#Chemistry">Chemistry</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Organic Chemistry">Organic Chemistry</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Physics">Physics</A>&nbsp;&nbsp;&nbsp;&nbsp;
	</ul>
	<h3>Other Stuff ...</h3><P>
	<ul>

			<A href="#Khan Academy-Related Talks and Interviews">Khan Academy-Related Talks and Interviews</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#History">History</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Brain Teasers">Brain Teasers</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Finance">Finance</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Banking and Money">Banking and Money</A>&nbsp;&nbsp;|&nbsp;&nbsp;

			<A href="#Credit Crisis">Credit Crisis</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Current Economics">Current Economics</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Geithner Plan">Geithner Plan</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Paulson Bailout">Paulson Bailout</A>&nbsp;&nbsp;|&nbsp;&nbsp;
			<A href="#Valuation and Investing">Valuation and Investing</A>&nbsp;&nbsp;|&nbsp;&nbsp;

			<A href="#Venture Capital and Capital Markets">Venture Capital and Capital Markets</A>&nbsp;&nbsp;&nbsp;&nbsp;
		
			

	</ul>

<P>

	

	<table width=100% border=0>
	
	<tr><td valign=top width=25%>
		
		
		<div class="hdg"><A name="SAT Preparation"></a><h3>SAT Preparation</h3></div>
		<BR>
			<img src="http://ecx.images-amazon.com/images/I/5193F7Z7DFL._SS75_.jpg" align=left>
			We have taken all 8 math practice tests (432 problems)
			in "The Offical SAT Study Guide" by the College Board in 100+ videos ...
			<A href="/sat"   target="sub_videos">[More]</A>
		<P>
		<div class="hdg"><A name="GMAT Preparation"></a><h3>GMAT Preparation</h3></div>
		<BR>
			
			<img width="75" src="http://ecx.images-amazon.com/images/I/51EWCPF8VNL._SL160_AA115_.jpg" align=left>
			We have taken all 400+ data sufficiency and math problems 
			in "The Official Guide for GMAT Review" by the GMAC in 100+ videos below. ...
			<A href="/gmat"  target="sub_videos"  >[More]</A>
		<P>
		{% for playlist_videos in c1 %}

			{% for playlist_video in playlist_videos %}
			{% if forloop.first %}
			<P>
			<div class="hdg"><A name="{{playlist_video.playlist.title}}"></A><h3>{{playlist_video.playlist.title}}</h3></div>
			
			{{playlist_video.playlist.description}}
			
			{% endif %}
			<br><A href="/video/{{playlist_video.video.readable_id}}">{{playlist_video.video.title}}</A>
			{% endfor %}
		{% endfor %}
	</td><td valign=top>
		{% for playlist_videos in c2 %}
			{% for playlist_video in playlist_videos %}
			{% if forloop.first %}
			<P>
			<div class="hdg"><A name="{{playlist_video.playlist.title}}"></A><h3>{{playlist_video.playlist.title}}</h3></div>
			{{playlist_video.playlist.description}}
			{% endif %}
			<br><A href="/video/{{playlist_video.video.readable_id}}">{{playlist_video.video.title}}</A>
			{% endfor %}
		{% endfor %}
	
	</td><td valign=top>
		{% for playlist_videos in c3 %}
			{% for playlist_video in playlist_videos %}
			{% if forloop.first %}
			<P>
			<div class="hdg"><A name="{{playlist_video.playlist.title}}"></A><h3>{{playlist_video.playlist.title}}</h3></div>
			{{playlist_video.playlist.description}}
			{% endif %}
			<br><A href="/video/{{playlist_video.video.readable_id}}">{{playlist_video.video.title}}</A>
			{% endfor %}
		{% endfor %}
	</td><td valign=top>
		{% for playlist_videos in c4 %}
			{% for playlist_video in playlist_videos %}
			{% if forloop.first %}
			<P>
			<div class="hdg"><A name="{{playlist_video.playlist.title}}"></A><h3>{{playlist_video.playlist.title}}</h3></div>
			{{playlist_video.playlist.description}}
			{% endif %}
			<br><A href="/video/{{playlist_video.video.readable_id}}">{{playlist_video.video.title}}</A>
			{% endfor %}
		{% endfor %}
	</td></tr></table>



<!-- For ChartBeat analytics START -->
<script type="text/javascript">
var _sf_async_config={uid:10894,domain:"khanacademy.org"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
       "static.chartbeat.com/js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();
</script>
<!-- For ChartBeat analytics END -->
{% endblock pagecontent %}
