{% extends "profile_template.html" %}
{% block meta_page_title %}Class Profile | {% endblock meta_page_title %}

{% block pagescript %}
<style type="text/css" media="screen">
#profile-header {
    min-height: 50px;
}
#user-info {
    margin-top: 23px;
}
#studentlists_dropdown {
    text-indent: 0;
    margin-left: -15px;
}
#studentlists_dropdown .ui-button {
    display: block;
}
#studentlists_dropdown ol {
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}
#studentlists_menu {
    position: relative;
}
#studentlists_menu ol {
    z-index: 2;
}
#studentlists_dropdown li {
    white-space: nowrap;
    font-weight: normal;
}
#studentlists_dropdown li[data-selected=selected] a {
    font-weight: bold;
}
#studentlists_dropdown .ui-button-text, 
#studentlists_dropdown .ui-menu-item a {
    font-weight: normal;
    line-height: inherit;
    padding: 0px 25px 0px 1ex;
}
#studentlists_dropdown .ui-menu-item a {
    padding: 1px 25px 1px 10px;
    margin-right: 0px;
    margin-left: 0px;
    text-transform: none;
}
#studentlists_dropdown a:link:hover,
#studentlists_dropdown a:link:focus,
#studentlists_dropdown a:visited:hover,
#studentlists_dropdown a:visited:focus {
    color: #DD6900;
}

#page_sub_nav .breadcrumbs_nav.class-stats-nav a.selected:before { 
    top: 21px;
    left: 50px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
}
#page_sub_nav .breadcrumbs_nav.class-stats-nav a.selected:after { 
    top: 22px;
    left: 50px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
}
</style>
{% endblock pagescript %}

{% block profile_name %}
<span id="user-info">
    <span class="breadcrumbs_nav class-stats-nav">
        <a href="/students">Manage students</a>
        <a href="/class_profile" class="selected">Class Stats For</a>
        <span id="studentlists_dropdown" style="display:none;">
            <a>{{ student_list.name|escape }}</a>
            <div id="studentlists_menu">
                <ol>
                    {% for list in student_lists %}
                    <li data-selected="{% ifequal list.key list_id %}selected{% endifequal %}" data-list_id={{list.key}}>
                        <a href="/class_profile?list_id={{list.key}}">{{list.name|escape}}</a>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </span>
    </span>
</span>
{% endblock profile_name %}

{% block statistics_title %}Class Statistics{% endblock statistics_title %}

{% block high_level_stats %}
    <span id="students-coached">
        <span class="profile-header-icon"><img src="/images/class-students-icon-shadow.png" /></span>
        <span class="count">
            <span id="count_students">{{ student_lists.0.nstudents }}</span><br />
            <span class="label">Students</span>
        </span>
    </span>
    <span id="energy-points">
        <span class="energy-points-badge">{{ student_lists.0.class_points }}</span><br />
        <span class="label">Class Energy Points</span>
    </span>
{% endblock high_level_stats %}

{% block graph_accordion %}
    <ul id="nav-accordion">
        <li>
            {% profile_class_graph_link coach "Progress Report" "classprogressreport" selected_graph_type list_id %}
            <p class="accordion-content">
                Shows you which exercises your class has worked on and completed.
                <span class="graph-options">
                    <span class="progress-legend proficient">Proficient</span>
                    <span class="progress-legend started">Started</span>
                    <span class="progress-legend struggling">Struggling</span>
                </span>
            </p>
        </li>
        <li>
            {% profile_class_graph_link coach "Daily Activity Report" "classtime" selected_graph_type list_id %}
            <p class="accordion-content">
                Shows your total class activity on a specific date.
                {% profile_graph_calendar_picker coach "classtime" %}
                <span class="instructions">Light blue activity shows normal school hours, and dark blue is outside normal hours.</span>
            </p>
        </li>
        <li>
            {% profile_class_graph_link coach "Exercise Progress Over Time" "classexercisesovertime" selected_graph_type list_id %}
            <div class="accordion-content">Shows how many exercises your students have completed over time.<br /><br />
                <span class="instructions">Highlight a <a href="#" class="highlight-section show-students-highlight">specific student</a> or a <a href="#" class="highlight-section show-exercises-highlight">specific exercise</a>.</span><br />

                <div id="students-highlight" class="vertical-choice-container" style="display:none;">
                    <ul>
                        {% for dict_student in dict_students %}
                        <li>
                        <a href="#" class="highlight-student-series" data-email="{{ dict_student|hash:"email"|escape }}">{{ dict_student|hash:"nickname"|escape }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="exercises-highlight" class="vertical-choice-container" style="display:none;">
                    <ul>
                        {% for exercise in exercises %}
                        <li>
                        <a href="#" class="highlight-exercise-points" data-exercise="{{ exercise.name|escape }}">{{ exercise.display_name|escape }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </li>
        <li>
            {% profile_class_graph_link coach "Class Points per Minute" "classenergypointsperminute" selected_graph_type list_id %}
            <p class="accordion-content">
                Shows your total class energy points per minute as a continuously updating rolling average.
            </p>
        </li>
    </ul>
{% endblock graph_accordion %}

{% block profile_is_empty %}
{% empty_class_instructions 1 %}
{% endblock profile_is_empty %}

{% block bottompagescript %}
{{ block.super }}
<script type="text/javascript">
var ClassProfile = {
    student_lists: {{student_lists_json}},
    
    init: function() {
        $('#studentlists_dropdown').css('display', 'inline-block');
        var $dropdown = $('#studentlists_dropdown ol');
        if ($dropdown.length > 0) {
            var menu = $dropdown.menu();

            // Set the width explicitly before positioning it absolutely to satisfy IE7.
            menu.width(menu.width()).hide().css('position', 'absolute');
            
            menu.bind("menuselect", this.updateStudentList);
            
            $(document).bind("click focusin", function(e){
                if ($(e.target).closest("#studentlists_dropdown").length == 0) {
                    menu.hide();
                }
            });
            
            var button = $('#studentlists_dropdown > a').button({
                icons: {
                    secondary: 'ui-icon-triangle-1-s'
                }
            }).show().click(function(e){
                if (menu.css('display') == 'none')
                    menu.show().menu("activate", e, $('#studentlists_dropdown li[data-selected=selected]')).focus();
                else
                    menu.hide();
                e.preventDefault();
            });
            
            // get initially selected list
            var list_id = $dropdown.children('li[data-selected=selected]').data('list_id');
            var student_list = ClassProfile.getStudentListFromId(list_id);
            $dropdown.data('selected', student_list);
        }
    },
    
    getStudentListFromId: function (list_id) {
        var student_list;
        jQuery.each(this.student_lists, function(i,l) {
            if (l.key == list_id) {
                student_list = l;
                return false;
            }
        });
        return student_list;
    },
    
    // called whenever user selects student list dropdown
    updateStudentList: function(event, ui) {
        // change which item has the selected attribute
        // weird stuff happening with .data(), just use attr for now...
        var $dropdown = $('#studentlists_dropdown ol');
        $dropdown.children('li[data-selected=selected]').removeAttr('data-selected');
        $(ui.item).attr('data-selected', 'selected');
        
        // store which item is selected
        var student_list = ClassProfile.getStudentListFromId(ui.item.data('list_id'));
        $dropdown.data('selected', student_list);
        
        // update appearance of dropdown
        $('#studentlists_dropdown .ui-button-text').html(student_list.name);
        $dropdown.hide();
        
        // update rest of page
        $('#count_students').html(student_list.nstudents);
        $('.energy-points-badge').html(student_list.class_points);
        // url of currently selected graph
        var url = $("#nav-accordion .ui-state-active").attr('href');
        Profile.loadGraphStudentListAware(url);
    }
};

$(function() {
    ClassProfile.init();
})
</script>
{% endblock bottompagescript %}
