{% extends "page_template.html" %}
{% block pagescript %}
<style type="text/css">
#class_report p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
#class_report table {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    border-spacing: 3px;
}
#class_report td, #class_report th {
    padding: 0px;
}
#class_report th {
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #fff 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    COLOR: #333;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ccc 1px solid;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #d2dded
}
#class_report td.proficient { background-color:lightgreen; }
#class_report td.needs_help { background-color:red; }
#class_report td.working { background-color:lightblue; }
#class_report td.number { text-align:center }
#page_sub_nav b { display: none; }
</style>
{% endblock pagescript %}
{% block pagetitle %}Class Report{% endblock pagetitle %}
{% block pagecontent %}
<article id="class_report">
<p>To enable viewing this class report, each of your students should log in and click on the <a href="coaches">Add a Coach</a>
link here or on the bottom of the page.  You'll need to give them the coach id <b>{{coach_id|escape}}</b> to enter next to the "Register Coach" button.
After they register your id, you'll be able to see their progress below, and via the <a href="/students">students</a> page.
</p>
</article>
{% if students %}
<p>
    Click on a cell in the table below to see charts of the student's progress in the exercise. Green means the student is proficient, blue means they are working on it,
    and red means they need help (they've done a lot of problems without getting a streak of correct answers).
</p>

<table id="module-progress">
    <tr>
        {% for exercise in exercises %}
            {% if forloop.first %}
                <th id="students-header">Students</th>
            {% endif %}
            {% for student_email in exercise_data|hash:exercise %}
                {% if forloop.first %}
                    <th style=""><div>{{ exercise_data|hash:exercise|hash:student_email|hash:"exercise_display"|escape }}</div></th>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
    {% for student_email in students %}
        <tr>
        {% for exercise in exercises %}            
            {% if forloop.first %}
                <td class="student-email">
                    <a style="color:#006699;" href="/progresschart?student_email={{ student_email|escape }};">
                        <nobr>{{ exercise_data|hash:exercise|hash:student_email|hash:"short_name"|escape }}</nobr>
                    </a>
                </td>
                <td class="student-module-status {{ exercise_data|hash:exercise|hash:student_email|hash:"color"|escapejs }}" onclick="location.href='{{ exercise_data|hash:exercise|hash:student_email|hash:"link"|escapejs }}'">
                    <div class="exercise-info-hover" style="display: none;" onclick="location.href='{{ exercise_data|hash:exercise|hash:student_email|hash:"link"|escapejs }}'">{{ exercise_data|hash:exercise|hash:student_email|hash:"hover" }}</div>
                </td>
            {% else %}
                <td class="student-module-status {{ exercise_data|hash:exercise|hash:student_email|hash:"color"|escapejs }}" onclick="location.href='{{ exercise_data|hash:exercise|hash:student_email|hash:"link"|escapejs }}'">
                    <div class="exercise-info-hover" style="display: none;" onclick="location.href='{{ exercise_data|hash:exercise|hash:student_email|hash:"link"|escapejs }}'">{{ exercise_data|hash:exercise|hash:student_email|hash:"hover" }}</div>
                </td>
            {% endif %}
		{% endfor %}
		</tr>
    {% endfor %}
</table>
<script type="text/javascript">
$("#module-progress td.student-module-status").hover( 
    function(e){
        var infoHover = $(this).children(".exercise-info-hover");
        if ( !infoHover.is(":empty") ) {
            infoHover.css('left', e.pageX + 15);
            infoHover.css('top', e.pageY);
            infoHover.css('cursor', 'pointer');
            infoHover.show();
        }
    },
    function(e){ 
        $(this).children(".exercise-info-hover").hide();
    }
);
</script>
{% endif %}

{% endblock pagecontent %}

