{% extends "page_template.html" %}
{% block pagescript %}
<link rel="stylesheet" type="text/css" href="/stylesheets/custom-theme/jquery-ui-1.8.4.custom.css?{{App.version}}">
<style>
    .breadcrumbs_nav {
        font-weight: bold;
    }
    #video_dropdown {
        display: none;
        text-indent: 0;
    }
    #video_dropdown .ui-button {
        display: block;
    }
    #video_menu {
        position: relative;
    }
    #video_dropdown ol {
        max-height: 20em;
        padding-left: 3em;
        overflow-y: auto;
        overflow-x: hidden;
        list-style: outside decimal;
    }
    #video_dropdown li {
        white-space: nowrap;
        font-weight: normal;
    }
    #video_dropdown li[data-selected=selected] a {
        font-weight: bold;
    }
    #video_dropdown .ui-button-text, #video_dropdown .ui-menu-item a {
        font-weight: normal;
        line-height: inherit;
        padding: 0px 25px 0px 1ex;
    }
    #video_dropdown .ui-menu-item a {
        padding: 0px 25px 0px 0px;
    }
    #video_dropdown a:visited {
        color: #DD6900;
    }
    #video_dropdown a:link:hover, #video_dropdown a:link:focus, #video_dropdown a:visited:hover, #video_dropdown a:visited:focus {
        color: #DD6900;
    }
    .prev_next_nav {
        display: block;
        margin-top: 2em;
        padding-bottom: .5ex;
    }
    #prev_video {
        display: block;
        float: left;
        margin-right: 1em;
        text-align: left;
    }
    #playlists {
        display: block;
        float: left;
    }
    #next_video {
        display: block;
        float: right;
        margin-left: 1em;
        text-align: right;
    }

    #youtube_blocked {
        display: none;
        color: red;
        font-weight: bold;
        clear: both;
        padding-top: 1em;
    }
</style>
{% if App.is_dev_server %}
<script src="/javascript/jquery-ui.js?{{App.version}}"></script>
{% else %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
{% endif %}
<script src="/javascript/jquery.ui.menu.js?{{App.version}}"></script>
<script>
$(function(){
    $('<img width=0 height=0>').error(function() {
       $("#youtube_blocked").show();
    }).attr('src', 'http://www.youtube.com/favicon.ico?' + Math.random()).appendTo('body');
    $('#video_selector').hide();
    $('#video_dropdown').css('display', 'inline-block');
    var menu = $('#video_dropdown ol').menu();

    // Set the width explicitly before positioning it absolutely to satisfy IE7.
    menu.width(menu.width()).hide().css('position', 'absolute');

    menu.bind("menuselect", function(e, ui){
        window.location.href = ui.item.children('a').attr('href');
    });
    $(document).bind("click focusin", function(e){
        if ($(e.target).closest("#video_dropdown").length == 0) {
            menu.hide();
        }
    });
    var button = $('#video_dropdown > a').button({
        icons: {
            secondary: 'ui-icon-triangle-1-s'
        }
    }).show().click(function(e){
        if (menu.css('display') == 'none')
            menu.show().menu("activate", e, $('#video_dropdown li[data-selected=selected]')).focus();
        else
            menu.hide();
        e.preventDefault();
    });
});
</script>
{% endblock pagescript %}
{% block pagesubmenu %}
<nav class="breadcrumbs_nav">
        <a href="/">All videos</a> &#187;
        <a href="/?video={{video.readable_id|urlencode}}#{{playlist.title|urlencode}}">{{playlist.title|escape}}</a> &#187;
    <form id="video_selector">
        <select name="v">
            {% for v in videos %}
            <option {{v.selected|default:""}} value="{{v.youtube_id}}">{{v.title|escape}}</option>
            {% endfor %}
        </select>
        <button type="submit">Go</button>
    </form>
    <span id="video_dropdown">
        <a href="/video/{{video.readable_id}}?playlist={{playlist.title|urlencode}}">{{video.title|escape}}</a>
        <div id="video_menu">
            <ol>
                {% for v in videos %}
                <li data-selected='{{v.selected|default:""}}'><a href="/video/{{v.readable_id}}?playlist={{playlist.title|urlencode}}">{{v.title|escape}}</a></li>
                {% endfor %}
            </ol>
        </div>
    </span>
    {% if video.description %}
        : {{video.description|escape}}
    {% endif %}
</nav>
{% endblock pagesubmenu %}
{% block pagecontent %}
<article class="video">
    <div>
        <nav class="prev_next_nav">
            {% if previous_video %}
            <label id="prev_video">
                <a rel=prev href="/video/{{previous_video.readable_id}}?playlist={{playlist.title|urlencode}}"><b>Previous Video:</b> {{previous_video.title}}</a>
            </label>
            {% endif %}
            {% if next_video %}
            <label id="next_video">
                <a rel=next href="/video/{{next_video.readable_id}}?playlist={{playlist.title|urlencode}}"><b>Next Video:</b> {{next_video.title}}</a>
            </label>
            {% endif %}
        </nav>
        <div id="youtube_blocked">
            <p>
                Your browser can not contact <a href="http://www.youtube.com/">YouTube</a> to display the video.
                Your internet service provider (e.g. your school or company) may be blocking access.  To work around this issue,
                please use one of the <a href="/downloads">options for downloading the videos</a>.
            </p>
        </div>
{% if App.offline_mode %}
        <script src='/videos/AC_RunActiveContent.js' language='javascript'></script>
        <script language='javascript'>
        AC_FL_RunContent('codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0', 'width', '800', 'height', '480', 'src', ((!DetectFlashVer(9, 0, 0) && DetectFlashVer(8, 0, 0)) ? 'OSplayer' : '/videos/OSplayer'), 'pluginspage', 'http://www.macromedia.com/go/getflashplayer', 'id', 'idOVideo', 'allowFullScreen', 'true', 'allowScriptAccess', 'always', 'movie', ((!DetectFlashVer(9, 0, 0) && DetectFlashVer(8, 0, 0)) ? 'OSplayer' : '/videos/OSplayer'), 'FlashVars', 'movie={{video_path}}&volume=100');
        </script>
{% else %}
        <object id="idOVideo" name="idOVideo" width="800" height="480">
            <param name="movie" value="http://www.youtube.com/v/{{video.youtube_id}}&hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1">
            <param name="allowFullScreen" value="true">
            <param name="allowScriptAccess" value="always">
            <param name="wmode" value="transparent">
            <embed id="idPlayer" name="idPlayer" wmode="transparent" src="http://www.youtube.com/v/{{video.youtube_id}}&hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1" type="application/x-shockwave-flash" allowScriptAccess="always" allowfullscreen="true" width="800" height="480">
        </object>
{% endif %}
        {% if playlists %}
        <label id="playlists">
            <b>Related Playlists:</b>
            {% for p in playlists %}
            <a href="/?video={{video.readable_id|urlencode}}#{{p.title|urlencode}}">{{p.title|escape}}</a>
            {% endfor %}
        </label>
        {% endif %}
        {% video_comments video comments_page %}
        {% video_qa video qa_page qa_expand_id %}
        </div>
    </article>
{% endblock pagecontent %}