{% extends "profile_template.html" %}
{% block meta_page_title %}Class Profile | {% endblock meta_page_title %}

{% block pagescript %}
{% css_package "studentlists" %}
{% endblock pagescript %}

{% block profile_name %}
<span id="user-info">
    <span class="breadcrumbs_nav class-stats-nav">
        <a href="/students">Manage students</a>
        <a href="/class_profile" class="selected">Class Stats For</a>
        <span id="studentlists_dropdown" style="display:none;">
            <a>{{ student_list.name|escape }}</a>
            <div id="studentlists_menu">
                <ol>
                    {% for list in student_lists %}
                    <li data-selected="{% ifequal list.key list_id %}selected{% endifequal %}" data-list_id={{list.key}}>
                        <a href="/class_profile?list_id={{list.key}}">{{list.name|escape}}</a>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </span>
    </span>
</span>
{% endblock profile_name %}

{% block statistics_title %}Class Statistics{% endblock statistics_title %}

{% block high_level_stats %}
    <span id="students-coached">
        <span class="profile-header-icon"><img src="/images/class-students-icon-shadow.png" /></span>
        <span class="count">
            <span id="count_students">{{ student_lists.0.nstudents }}</span><br />
            <span class="label">Students</span>
        </span>
    </span>
    <span id="energy-points">
        <span class="energy-points-badge">{{ student_lists.0.class_points }}</span><br />
        <span class="label">Class Energy Points</span>
    </span>
{% endblock high_level_stats %}

{% block graph_accordion %}
    <ul id="nav-accordion">
        <li>
            {% profile_class_graph_link coach "Progress Report" "classprogressreport" selected_graph_type list_id %}
            <p class="accordion-content">
                Shows you which exercises your class has worked on and completed.
                <span class="graph-options">
                    <span class="progress-legend proficient">Proficient</span>
                    <span class="progress-legend started">Started</span>
                    <span class="progress-legend struggling">Struggling</span>
                </span>
            </p>
        </li>
        <li>
            {% profile_class_graph_link coach "Daily Activity Report" "classtime" selected_graph_type list_id %}
            <p class="accordion-content">
                Shows your total class activity on a specific date.
                {% profile_graph_calendar_picker coach "classtime" %}
                <span class="instructions">Light blue activity shows normal school hours, and dark blue is outside normal hours.</span>
            </p>
        </li>
        <li>
            {% profile_class_graph_link coach "Exercise Progress Over Time" "classexercisesovertime" selected_graph_type list_id %}
            <div class="accordion-content">Shows how many exercises your students have completed over time.<br /><br />
                <span class="instructions">Highlight a <a href="#" class="highlight-section show-students-highlight">specific student</a> or a <a href="#" class="highlight-section show-exercises-highlight">specific exercise</a>.</span><br />

                <div id="students-highlight" class="vertical-choice-container" style="display:none;">
                    <ul>
                        {% for dict_student in dict_students %}
                        <li>
                        <a href="#" class="highlight-student-series" data-email="{{ dict_student|hash:"email"|escape }}">{{ dict_student|hash:"nickname"|escape }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="exercises-highlight" class="vertical-choice-container" style="display:none;">
                    <ul>
                        {% for exercise in exercises %}
                        <li>
                        <a href="#" class="highlight-exercise-points" data-exercise="{{ exercise.name|escape }}">{{ exercise.display_name|escape }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </li>
        <li>
            {% profile_class_graph_link coach "Class Points per Minute" "classenergypointsperminute" selected_graph_type list_id %}
            <p class="accordion-content">
                Shows your total class energy points per minute as a continuously updating rolling average.
            </p>
        </li>
    </ul>
{% endblock graph_accordion %}

{% block profile_is_empty %}
{% empty_class_instructions 1 %}
{% endblock profile_is_empty %}

{% block bottompagescript %}
{{ block.super }}
{% js_package "studentlists" %}
<script type="text/javascript">
$(function() {
    ClassProfile.student_lists = {{student_lists_json}};
    ClassProfile.init();
})
</script>
{% endblock bottompagescript %}
