{% extends "page_template.html" %}
{% block pagetitle %}View Users {% endblock pagetitle %}
{% block pagecontent%}


<div class=hdg>&nbsp;<h3>All Users</h3></div>
<table border=0 cellspacing=0 cellpadding=3>
<tr><td width=100% class="colHeadL">User</td><td class="colHeadL">Joined</td></tr>
{% for user in users %}

		{% if forloop.counter|divisibleby:2 %}
		<TR class="highlightWhite" >
		{% else %}
		<TR class="highlightGreyRelated">
		{% endif %}
	
	
		<td>{{user.user}}</td>
		<td>{{user.joined}}</td>
		</tr>
	
{% endfor %}
</table>
{% endblock pagecontent %}


