{% extends "qbrary_page_template.html" %}
{% block pagetitle %}<B>{{mode_text}}</B>{% endblock pagetitle %}
    
{% block pagecontent %}
  	<table>
		<tr>
			<td align=right valign=top><h3>Subject:</h3></td>
			<td align=left valign=top><h3>
			{% for b in breadcrumb %}
				{{ b.name }}:
			{% endfor %}
			{{ question.subject.name }}
			</h3></td>
			
		</tr>
		<tr>
			<td align=right valign=top>Question:</td>
			<td align=left>{{question.question_text}}</td>
		</tr>
		<tr>
			<td align=right valign=top>Correct Answer:</td><td align=left>{{question.correct_choice_text}}</td>
		</tr>
		<tr>
			<td align=right valign=top>Incorrect Choice 1:</td><td align=left>{{question.incorrect_1}}</td>
		</tr>
		<tr>
			<td align=right valign=top>Incorrect Choice 2:</td><td align=left>{{question.incorrect_2}}</td>
		</tr>
		<tr>
			<td align=right valign=top>Incorrect Choice 3:</td><td align=left>{{question.incorrect_3}}</td>
		</tr>
		<tr>
			<td align=right valign=top>Incorrect Choice 4:</td><td align=left>{{question.incorrect_4}}</td>
		</tr>
		<tr>
			<td align=right valign=top>Incorrect Choice 5:</td><td align=left>{{question.incorrect_5}}</td>
		</tr>
		<tr>
			<td align=right valign=top>Explanation of answer:</td><td align=left>{{question.answer_text}}</td>
		</tr>
		</table>
		<form action="/editquestion" method="get">
			<input type="hidden" name="question_key" value ="{{question.key}}">
			<center><input type="submit" value="edit"></center>
		</form>
		{% if question.published %}
			<A HREF="/changepublished?question_key={{ question.key }}&redirect={{current_url}}">[unpublish]</A>
		{% else %}
			<A HREF="/changepublished?question_key={{ question.key }}&redirect={{current_url}}">[publish]</A>
		{% endif %}
		| <A HREF="/deletequestion?question_key={{ question.key }}&redirect={{current_url}}">[delete]</A>
{% endblock pagecontent %}
