{% extends "profile_template.html" %}

{% block profile_name %}{{ coach_nickname|escape }}'s class{% endblock profile_name %}

{% block statistics_title %}Class Statistics{% endblock statistics_title %}

{% block high_level_stats %}
    <span id="students-coached">
        <span class="profile-header-icon"><img src="/images/class-students-icon-shadow.png" /></span>
        <span class="count">
            {{ count_students }}<br />
            <span class="label">Students</span>
        </span>
    </span>
    <span id="energy-points">
        <span title="{{class_points}} energy points" class="energy-points-badge">{{ class_points|thousands_separated }}</span><br />
        <span class="label">Class Energy Points</span>
    </span>
{% endblock high_level_stats %}

{% block graph_accordion %}
    <ul id="nav-accordion">
        <li>
            {% profile_class_graph_link coach "Progress Report" "classprogressreport" selected_graph_type %}
            <p class="accordion-content">
                Shows you which exercises your class has worked on and completed.
                <span class="graph-options">
                    <span class="progress-legend proficient">Proficient</span>
                    <span class="progress-legend started">Started</span>
                    <span class="progress-legend struggling">Struggling</span>
                </span>
            </p>
        </li>
        <li>
            {% profile_class_graph_link coach "Daily Activity Report" "classtime" selected_graph_type %}
            <p class="accordion-content">
                Shows your total class activity on a specific date.
                {% profile_graph_calendar_picker coach "classtime" %}
                <span class="instructions">Light blue activity shows normal school hours, and dark blue is outside normal hours.</span>
            </p>
        </li>
        <li>
            {% profile_class_graph_link coach "Exercise Progress Over Time" "classexercisesovertime" selected_graph_type %}
            <div class="accordion-content">Shows how many exercises your students have completed over time.<br /><br />
                <span class="instructions">Highlight a <a href="#" class="highlight-section show-students-highlight">specific student</a> or a <a href="#" class="highlight-section show-exercises-highlight">specific exercise</a>.</span><br />

                <div id="students-highlight" class="vertical-choice-container" style="display:none;">
                    <ul>
                        {% for dict_student in dict_students %}
                        <li>
                        <a href="#" class="highlight-student-series" data-email="{{ dict_student|hash:"email"|escape }}">{{ dict_student|hash:"nickname"|escape }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="exercises-highlight" class="vertical-choice-container" style="display:none;">
                    <ul>
                        {% for exercise in exercises %}
                        <li>
                        <a href="#" class="highlight-exercise-points" data-exercise="{{ exercise.name|escape }}">{{ exercise.display_name|escape }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </li>
        <li>
            {% profile_class_graph_link coach "Class Points per Minute" "classenergypointsperminute" selected_graph_type %}
            <p class="accordion-content">
                Shows your total class energy points per minute as a continuously updating rolling average.
            </p>
        </li>
    </ul>
{% endblock graph_accordion %}

{% block profile_extended_sections %}
    <div id="students-list">
        <h2>Student Profiles</h2>
        <div id="student-list">
            <table>
                {% for dict_student in list_students_columnized %}
                    {% if not forloop.counter0|mod:students_per_row %}
                        {% if not forloop.first %}
                            </tr>
                        {% endif %}
                    <tr>
                    {% endif %}
                        <td>
                            <a href="/profile?student_email={{ dict_student|hash:"email"|escape }}">{{ dict_student|hash:"nickname"|escape }}</a>
                        </td>
                    {% if forloop.last %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock profile_extended_sections %}

{% block profile_is_empty %}
<div id="empty-class">
    <h1 class="main-headling">You don't have any students yet.</h1> 
    <h3>Each of your students should:</h3>
    <ol>
        <li>
            <p>Log in and click on the <a href="/coaches">Add a Coach</a> link at the bottom of the page.</p>
            <img src="/images/add-a-coach.png" style="border: 1px solid #ddd;" />
        </li>
        <li>
            <p>Enter your Coach ID (<em>{{ coach_email|escape }}</em>).</p>
            <img src="/images/enter-coach-email.png" />
        </li>
        <li>
            <p>Click the <em>Register Coach</em> button.</p>
            <img src="/images/click-register.png" />
        </li>
    </ol>
    <p>Once students make you their coach, you'll have access to all types of interesting data about their progress and achievements.</p>
    <p>You can access that data via the <a href="/class_profile">Class Report</a>.</p>
</div>
{% endblock profile_is_empty %}

