{% extends "page_template.html" %}
{% block pagescript %}
<style>
#individual_report caption {
    margin-top: 1.5em;
    padding: 3px;
    text-align: left;
    font-weight: bold;
    font-size:12px;
    line-height:18px;
}
#individual_report table {
    border-top: 2px solid #80C65A;
    border-spacing: 0;
    border-collapse: collapse;
}
#individual_report td, #individual_report th {
    padding: 3px;
}
#individual_report th {
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #fff 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    COLOR: #333;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ccc 1px solid;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #d2dded
}
#individual_report th {
    white-space: nowrap;
}
#individual_report th:first-child {
    width: 100%;
    text-align: left;
}
#individual_report tr.even_row td {
    background-color:#FFFFFF;
}
#individual_report tr.odd_row td {
    background-color:#EFEFEF;
}

</style>
{% endblock pagescript %}
{% block pagetitle %}Individual Report for {{student}}{% endblock pagetitle %}
{% block pagecontent %}
<article id="individual_report">
{% if proficient_exercises %}
<table>
<caption>
Proficient Modules
</caption>
<tr><th>Exercise</th><th>Current Streak</th><th>Longest Streak</th><th>Total Done</th><!--th>% Correct</th><th>% of last 10</th--></tr>
{% for exercise in proficient_exercises %}
		{% if forloop.counter|divisibleby:2 %}
		<tr class="even_row" >
		{% else %}
		<tr class="odd_row">
		{% endif %}
		<td><a href="/charts?student_email={{student_email}}&exercise_name={{exercise.name}}">{{exercise.display_name}}</a></td>
		<td>{{exercise.streak}}</td>
		<td>{{exercise.longest_streak}}</td>
		<td>{{exercise.total_done}}</td>
		<!--td>{{exercise.percent_correct}}</td>
		<td>{{exercise.percent_of_last_ten}}</td-->
		</tr>
{% endfor %}
</table>
{% endif %}

{% if review_exercises %}
<table>
<caption>
Review Modules
</caption>
<tr><th>Exercise</th><th>Current Streak</th><th>Longest Streak</th><th>Total Done</th><th>% Correct</th><th>% of last 10</th></tr>
{% for exercise in review_exercises %}
		{% if forloop.counter|divisibleby:2 %}
		<tr class="even_row" >
		{% else %}
		<tr class="odd_row">
		{% endif %}
		<td><a href="/charts?student_email={{student_email}}&exercise_name={{exercise.name}}">{{exercise.display_name}}</a></td>
		<td>{{exercise.streak}}</td>
		<td>{{exercise.longest_streak}}</td>
		<td>{{exercise.total_done}}</td>
		<td>{{exercise.percent_correct}}</td>
		<td>{{exercise.percent_of_last_ten}}</td>
		</tr>
{% endfor %}
</table>
{% endif %}

{% if suggested_exercises %}
<table>
<caption>
Suggested Modules
</caption>
<tr><th>Exercise</th><th>Current Streak</th><th>Longest Streak</th><th>Total Done</th><th>% Correct</th><th>% of last 10</th></tr>
{% for exercise in suggested_exercises %}
		{% if forloop.counter|divisibleby:2 %}
		<tr class="even_row" >
		{% else %}
		<tr class="odd_row">
		{% endif %}
		<td><a href="/charts?student_email={{student_email}}&exercise_name={{exercise.name}}">{{exercise.display_name}}</a></td>
		<td>{{exercise.streak}}</td>
		<td>{{exercise.longest_streak}}</td>
		<td>{{exercise.total_done}}</td>
		<td>{{exercise.percent_correct}}</td>
		<td>{{exercise.percent_of_last_ten}}</td>
		</tr>
{% endfor %}
</table>
{% endif %}
</article>
{% endblock pagecontent %}
