{% extends "page_template.html" %}
{% block pagetitle %}<A href="/">Exercise Home</A>: My Knowledge Map {% endblock pagetitle %}
{% block pagescript %}
<!--[if IE]><script type='text/javascript' src='/Jit-2.0.0a/Extras/excanvas.js'></script><![endif]-->
<script type='text/javascript' src='/Jit-2.0.0a/jit.js'></script>
<style>
	
.jit-autoadjust-label, .node {
/*
 	font-family: sans-serif;
 */
}

.tip {
	background-color: white;
	width: 15em;
}
.tip dl {
	margin-left: 1em;
	margin-right; 1em;
}
.tip dt {
	font-weight: bold;
	float: left;
	margin-right: 0.5em;
}
.tip dt:after {
	content: ":";
}
</style>
<script>
    var labelType, useGradients, nativeTextSupport, animate;
    
    (function() {
      var ua = navigator.userAgent,
          iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
          typeOfCanvas = typeof HTMLCanvasElement,
          nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
          textSupport = nativeCanvasSupport 
            && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
      //I'm setting this based on the fact that ExCanvas provides text support for IE
      //and that as of today iPhone/iPad current text support is lame
      labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
      nativeTextSupport = labelType == 'Native';
      useGradients = nativeCanvasSupport;
      animate = !(iStuff || !nativeCanvasSupport);
    })();
    
    var Log = {
      elem: false,
      write: function(text){
        if (!this.elem) 
          this.elem = document.getElementById('log');
        this.elem.innerHTML = text;
        this.elem.style.left = (500 - this.elem.offsetWidth / 2) + 'px';
      }
    };
    
    $(function () {
    	$jit.ST.Plot.NodeTypes.implement({  
    		'rectangleWithOtherParents': {  
    			'render': function(node, canvas) {  
    				$jit.ST.Plot.NodeTypes.prototype.rectangle.render.call(this, node, canvas);
    				if (node.data && node.data.otherParents) {
    					var otherParents = node.data.otherParents;
    					for (var i = 0; i < otherParents.length; i++) {
    					       var orn = this.getOrientation(),
    					           parent = this.viz.graph.getNode(otherParents[i]), 
    					           child = node,
    					           dim = 5;
    						adj = new $jit.Graph.Adjacence(child, parent, null, this.viz.config.Edge, this.viz.config.Label);
    						this.plotLine(adj, canvas, false);
    					}
    				}
    			},  
    			'contains': $jit.ST.Plot.NodeTypes.prototype.rectangle.contains
    		}  
    	});  
        //Create a new ST instance
        var st = new $jit.ST({
            //id of viz container element
            injectInto: 'kmap',
            //set duration for the animation
            duration: 10,
            //set animation transition type
            transition: $jit.Trans.Quart.easeInOut,
            //set distance between node and its children
    	levelsToShow: 70,
    	orientation: 'left',
    	constrained: false,
            //enable panning
            Navigation: {
              enable:true,
              panning:true,
    	  zooming: 20
            },
            //set node and edge styles
            //set overridable=true for styling individual
            //nodes or edges
        Node: {
          overridable: true,
          type: 'rectangleWithOtherParents',
          autoHeight: true,
          autoWidth: false
        },
        Edge: {
          overridable: true,
          color: '#CCCCCC',
          lineWidth: 3,
          type: 'bezier'
        },
        Label: {
          overridable: true
        },
	Tips: {
	  enable: true,
	  onShow: function(tipDiv, node) {
	  	tipDiv.innerHTML = node.data.tipHTML;
	  }
	  
	},
            onBeforeCompute: function(node){
                Log.write("loading " + node.name);
            },
            
            onAfterCompute: function(){
                Log.write("done");
            },
            
            //This method is called on DOM label creation.
            //Use this method to add event handlers and styles to
            //your node.
            onCreateLabel: function(label, node){
                label.id = node.id;            
                label.innerHTML = node.name;
                label.onclick = function(){
			window.location = node.data.url;
                };
                //set label styles
                var style = label.style;
                style.width = node.data.$width + 'px';
                style.cursor = 'pointer';
                style.color = '#333';
                style.textAlign= 'center';
            },
	    onPlaceLabel: function(label, node) {
		var width = st.canvas.scaleOffsetX * node.data.$width;
		var height = st.canvas.scaleOffsetY * node.data.$height;
		var left = label.offsetLeft + (node.data.$width - width)/2;
		var top = label.offsetTop + (node.data.$height - height)/2;
	    	label.style.width = width + "px";
		label.style.left = left + "px";
		label.style.top = top + "px";
		var extraScale = 1;
		do {
		    	label.style.fontSize = Math.round(st.canvas.scaleOffsetX * extraScale * 100) + "%";
	                label.innerHTML = node.name;
			extraScale = extraScale * 0.9;	
		} while (extraScale > 0.5 && (label.offsetHeight > height+1 || label.offsetWidth > width+1));
	    }	        
        });
      var nodes = {};
      {% for exercise in exercises %}
    	  nodes["{{ exercise.name }}"] = {
    		"id": "{{ exercise.name }}",
    		"name": "{{ exercise.display_name }}",
    		"data": {
			"tipHTML": "<dl>"
				+"<dt>Streak<dd>{{ exercise.streak }}"
				+'<dt>Longest Streak<dd>{{ exercise.longest_streak|default:"0" }}'
				+"<dt>Points/problem<dd>{{ exercise.points }}"
				+"</dl>",
			"url": "/exercises?exid={{exercise.name}}",
    	  {% if exercise.proficient %}"$color": "#EDE275",{% endif %}
    	  {% if exercise.suggested %}"$color": "#FBB917",{% endif %}
    	  {% if exercise.review %}"$color": "#FF9999",{% endif %}
    			"otherParents": []
    		},  
    		"children": []
    	  };
      {% endfor %}
      
      {% for exercise in exercises %}
    	  {% for prereq in exercise.prerequisites %}
    		{% if forloop.first %}
    			nodes["{{ prereq }}"].children.push(nodes["{{ exercise.name }}"]);
    		{% else %}
    			nodes["{{ exercise.name }}"].data.otherParents.push("{{ prereq }}");
    		{% endif %}
    	  {% endfor %}
      {% endfor %}
        //load json data
        st.loadJSON(nodes["addition_1"]);
        st.compute();
        //optional: make a translation of the tree
//        st.geom.translate(new $jit.Complex(-200, 0), "current");
        //emulate a click on the root node.
        st.onClick(st.root);
        //end
    
    });
    
    
</script>
{% endblock pagescript %}
{% block pagecontent%}
<P>
    <div style="position:relative;">
        <div id="intro" style="position:absolute; visibility:visible;">
            <center>
                <table border=0 width=95%>
                    <tr>
                        <td>
                            The yellow modules are those that you have already become proficient in.&nbsp;  The red modules are those that I suggest you review.&nbsp; 
                            The orange modules are the new modules that I suggest you work on.&nbsp; Click on a module to do a focused practice on that module. 
                        </td>
                    </tr>
                </table>
            </center>
        </div>
    </div>
    <table width=100% border=0 cellpadding=0 cellspacing=0>
        <tr>
            <td bgcolor=#ffffff>
                <img width=1 height=5 alt="">
            </td>
        </tr>
    </table>
    <br>
    &nbsp;
    </br>
    <center>
        <div id="kmap" style="position: relative; cursor: all-scroll; cursor: -moz-grab; width: 95%; height:400px; background-color: #000000; overflow: hidden;">
        </div>
    </center>
    <div id="log" style="display: none;">
    </div>
    {% endblock pagecontent %}