{% extends "page_template.html" %}
{% block pagescript %}
<style>
#coaches p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
#coaches table {
    border-top: 2px solid #80C65A;
    border-spacing: 0;
    border-collapse: collapse;
}
#coaches td, #coaches th {
    padding: 3px;
}
#coaches th {
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #fff 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    COLOR: #333;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ccc 1px solid;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #d2dded
}
#coaches tr.even_row td {
    background-color:#FFFFFF;
}
#coaches tr.odd_row td {
    background-color:#EFEFEF;
}
</style>
{% endblock pagescript %}
{% block pagetitle %}Coaches{% endblock pagetitle %}
{% block pagecontent %}

<article id="coaches">
<p>
Enter the coach id your coach gives you to allow them to view all of your performance data on the Khan Academy.
</p>

{% if invalid_coach %}
<p><span style="color:red;font-weight:bold;">You must enter a full, valid coach id.</span><br/>A full coach id will either be a complete email address, like <strong>teacher@gmail.com</strong>, or a Facebook id, like <strong>http://facebookid.khanacademy.org/1067499349</strong>.</p>
{% endif %}

<p>
<form action="/registercoach" method="post">
<input type="text" name="coach">
<input type="submit" value="Register Coach" class="simple-button">
</form>
</p>

{% if coaches %}
<form action="/unregistercoach" method="post">
<table>
<tr><th>Coach</th><th>Unregister</th></tr>
{% for coach in coaches %}
		{% if forloop.counter|divisibleby:2 %}
		<tr class="even_row" >
		{% else %}
		<tr class="odd_row">
		{% endif %}

		<td>{{coach}}</td>
		<td><input type="checkbox" name="coach" value="{{coach}}"></td>
		</tr>
{% endfor %}
</table>
<p><input type="submit" value="Unregister Coach" class="simple-button"></p>
</form>
{% endif %}
</article>
{% endblock pagecontent %}
