{% extends "page_template.html" %}
{% block pagetitle %}{{video.title}}{% endblock pagetitle %}
{% block pagecontent %}
<article class="video">
    {% if video.description %}
    <p>
        {{video.description}}
    </p>
    {% endif %}
    <p>
        <label>
            <b>Playlists:</b>
            {% for video_playlist in video_playlists %}<A href="#{{video_playlist.playlist.youtube_id}}">{{video_playlist.playlist.title}}</A>
            {% endfor %}
        </label>
    </p>
    <div>
        <object id="idOVideo" name="idOVideo" width="800" height="480">
            <param name="movie" value="http://www.youtube.com/v/{{video.youtube_id}}&hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1">
            </param><param name="allowFullScreen" value="true">
            </param><param name="allowScriptAccess" value="always">
            </param>
            <embed id="idPlayer" name="idPlayer" src="http://www.youtube.com/v/{{video.youtube_id}}&hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1" type="application/x-shockwave-flash" allowScriptAccess="always" allowfullscreen="true" width="800" height="480">
            </embed>
        </object>
        {% video_comments video comments_page %}
        {% video_qa video qa_page qa_expand_id %}
        </div>
        {% for video_playlist in video_playlists %}
        <details open>
            <summary id="{{video_playlist.playlist.youtube_id}}">In Playlist: {{video_playlist.playlist.title}}</summary>
            {% if video_playlist.previous_video %}
            <label class=video_playlist_prev>
                <a rel=prev href="/video?v={{video_playlist.previous_video.youtube_id}}"><b>Previous Video:</b> {{video_playlist.previous_video.title}}</a>
            </label>
            {% endif %}
            {% if video_playlist.next_video %}
            <label class=video_playlist_next>
                <a rel=next href="/video?v={{video_playlist.next_video.youtube_id}}"><b>Next Video:</b> {{video_playlist.next_video.title}}</a>
            </label>
            {% endif %}
            <div class=video_playlist_container>
                <ol>
                    {% for playlist_video_entry in video_playlist.videos %}<li>
                        {% if playlist_video_entry.current_video %}<strong>{{playlist_video_entry.video.title}}</strong>
                        {% else %}<a href="/video?v={{playlist_video_entry.video.youtube_id}}">{{playlist_video_entry.video.title}}</a>
                        {% endif%}
                    </li>{% endfor %}
                </ol>
            </div>
        </details>
        {% endfor %}
        <p id="keywords">
            <label>
                <b>Keywords:</b>:{{video.keywords}}
            </label>
        </p>
    </article>
    {% endblock pagecontent %}