{% extends "page_template.html" %}
{% block pagescript %}
<style>
#page_sub_nav b { display: none; }
</style>
<script type="text/javascript">
    $(function() {
        $("#reports-jump-menu #page-changer #submit").hide();
        $("#reports-jump-menu #page-changer select").val("classtime");
        $("#reports-jump-menu #page-changer select").change( function() {
            window.location = $("#reports-jump-menu #page-changer select option:selected").val() + "?coach={{coach_email|escapejs}}"
        });
    }
    );
</script>
{% endblock pagescript %}
{% block pagetitle %}Class Time{% endblock pagetitle %}
{% block pagecontent %}
<div id="report-page-content">
    <div id="reports-nav">
        <div id="reports-jump-menu">
            <label>View Report:</label>
            <form id="page-changer" action="" method="post">
                <select class="report-select">
                    <option value="classreport" selected="true">Student Progress Report</option>
                    <option value="classtime">Daily Activity Report</option>
                    <option value="sharedpoints">Class Energy Points per Minute</option>
                </select>
                <input type="submit" value="Go" id="submit" />
            </form>
        </div>
        <h3>Class Reports</h3>
    </div>
    <div id="report-page-title">
        <h4>Daily Activity Report</h4>
        <br/>
        <input type="text" id="targetDatepicker" value="{{ classtime.today_formatted|escape }}"/>
        {% if not classtime.rows %}
            <div class="report-note">
                Classroom activity was pretty silent on this date...
            </div>
        {% endif %}
    </div>
<script type="text/javascript" src="http://statickhan.appspot.com/javascript/highcharts.js?{{App.version}}"></script>
{% if not student_data %}
    <p>To enable viewing this class report, each of your students should log in and click on the <a href="coaches">Add a Coach</a>
    link here or on the bottom of the page.  You'll need to give them the coach id <b>{{coach_email|escape}}</b> to enter next to the "Register Coach" button.
    After they register your id, you'll be able to see their progress below, and via the <a href="/students">students</a> page.
    </p>
{% else %}

    <script>

    // We currently use javascript to grab the client's timezone and force the graph
    // to display in the browser's specified client timezone.

    var timezoneOffset = {{ timezone_offset }};
    var timezoneOffsetClient = -1 * (new Date()).getTimezoneOffset();
    var urlTarget = "/classtime?coach={{ coach_email|escapejs }}&timezone_offset=" + timezoneOffsetClient;

    if (timezoneOffset != timezoneOffsetClient)
    {
        $(".report-note").text("Loading...");
        window.location = urlTarget;
    }
    else
    {
        $(function(){
            $("#targetDatepicker").datepicker().change(function(){ window.location = urlTarget + "&dt=" + this.value; });
            $("#titleDate").click(function(){$("#targetDatepicker").focus();});
        });

        {% if classtime.rows %}
        var chart;
        $(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'highchart',
                    defaultSeriesType: 'column',
                    marginRight: 130,
                    marginBottom: 100
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    column: {
                    },
                    series: {
                        showInLegend: false,
                        stacking: 'normal',
                        point: {
                            events: {
                                click: function() {
                                }
                            }
                        }
                }
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: [
                    {% for data in student_data %}
                    '{{ data|hash:"name"|escapejs }}<br/>(<em>{{ data|hash:"total_minutes"|escapejs }} min. total</em>)'{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    ],
                    labels: {
                        align: 'left',
                        x: -5,
                        y: 10,
                        rotation: 45
                    }
                },
                yAxis: {
                    title: {
                        text: 'Time Spent (Minutes)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function() {
                        return this.point.desc;
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 100,
                    borderWidth: 0
                },
                series: [
                        {% for row in classtime.rows reversed %}
                        { 
                           data: [
                            {% for chunk in row.chunks %}
                            {
                                x: {{ forloop.counter0 }}, 
                                {% if chunk %}
                                    y: {{ chunk.minutes_spent }},
                                {% else %}
                                    y: 0,
                                {% endif %}
                                desc: '{{ chunk.description|escapejs }}',
                                {% if chunk %}
                                color: {% if chunk.during_schoolday %}'lightBlue'{% else %}'darkBlue'{% endif %}
                                {% endif %}
                            }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            ]
                        }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ]
            });
        });
        {% endif %}
    }
    </script>

    <div style="width:100%;">
        {% if classtime.rows %}
            <div id="highchart" style="min-width:{{ width }}px;min-height:450px;"></div>
        {% endif %}
    </div>
{% endif %}
</div>
{% endblock pagecontent %}

