{% extends "page_template.html" %}
{% block pagescript %}
<style>
    .breadcrumbs_nav {
        font-weight: bold;
    }
</style>
<script>
    $(function() {
       $('#video_selector select option[selected]').attr('selected', true);
       $('#video_selector select').change(function() {
          $('#video_selector').submit(); 
       });
       $('#video_selector button').hide();
    });
</script>
{% endblock pagescript %}
{% block pagesubmenu %}
<nav class="breadcrumbs_nav">
        <a href="/">All videos</a> &#187; 
        <a href="/?video={{video.readable_id|urlencode}}#{{playlist.title|urlencode}}">{{playlist.title|escape}}</a> &#187; 
    <form id="video_selector">
        <select name="v">
            {% for v in videos %}
            <option {{v.selected|default:""}} value="{{v.youtube_id}}">{{v.title|escape}}</option>            
            {% endfor %}
        </select>
        <button type="submit">Go</button>
    </form>
</nav>
{% endblock pagesubmenu %}
{% block pagecontent %}
<article class="video">
    {% if video.description %}
    <p>
        {{video.description}}
    </p>
    {% endif %}
    <p id="playlists">
        <label>
            <b>Playlists:</b>
            {% for p in playlists %}
            <a href="/?video={{video.readable_id|urlencode}}#{{p.title|urlencode}}">{{p.title|escape}}</a>
            {% endfor %}
        </label>
    </p>
    <div>
        <nav class="prev_next_nav">
            {% if previous_video %}
            <label class=video_playlist_prev>
                <a rel=prev href="/video/{{previous_video.readable_id}}"><b>Previous Video:</b> {{previous_video.title}}</a>
            </label>
            {% endif %}
            {% if next_video %}
            <label class=video_playlist_next>
                <a rel=next href="/video/{{next_video.readable_id}}"><b>Next Video:</b> {{next_video.title}}</a>
            </label>
            {% endif %}
        </nav>
        <object id="idOVideo" name="idOVideo" width="800" height="480">
            <param name="movie" value="http://www.youtube.com/v/{{video.youtube_id}}&hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1">
            <param name="allowFullScreen" value="true">
            <param name="allowScriptAccess" value="always">
            <embed id="idPlayer" name="idPlayer" src="http://www.youtube.com/v/{{video.youtube_id}}&hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1" type="application/x-shockwave-flash" allowScriptAccess="always" allowfullscreen="true" width="800" height="480">
        </object>
        {% video_comments video comments_page %}
        {% video_qa video qa_page qa_expand_id %}
        </div>
    </article>
{% endblock pagecontent %}