{% extends "page_template.html" %}
{% block pagetitle %}Students{% endblock pagetitle %}
{% block pagecontent %}

<br><p>To enable viewing your list of students, they should each log in and click on the <a href="coaches">Enter a coach ID</a>
link here or on the bottom of the page.  After they enter your email address and click the "Register Coach" button,
you'll see links to their progress reports below, as well as a <a href="/classreport">class report</a>.
</p><br>
{% if students|length_is:"0" %}
{% else %}
<table border=0 cellspacing=0 cellpadding=3>
<tr><td class="colHeadL">Student</td></tr>
{% for student in students %}
		{% if forloop.counter|divisibleby:2 %}
		<TR class="highlightWhite" >
		{% else %}
		<TR class="highlightGreyRelated">
		{% endif %}

		<td><a href="/individualreport?student_email={{student}}">{{student}}</a></td>
		</tr>
{% endfor %}
</table>
{% endif %}
<br>
{% endblock pagecontent %}
