{% extends "page_template.html" %}
{% block pagetitle %}Charts for {{ exercise_name|escape }} for {{student|escape}}{% endblock pagetitle %}
{% block pagecontent %}

{% if not problems %}
<p>{{student|escape}} needs to do a few more problems in {{exercise_name|escape}} before we can start displaying this graph.</p>
{% else %}
<script type="text/javascript" src="{% if not App.offline_mode %}http://statickhan.appspot.com{% endif %}/javascript/highcharts.js?{{App.version}}"></script>

<script>
var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'highchart_problems',
						defaultSeriesType: 'column',
						marginRight: 130,
						marginBottom: 100
					},
                    plotOptions: {
                        scatter: {
                            dashStyle: 'Solid',
                            lineWidth: 1
                        },
                        series: {
                            showInLegend: false,
                            point: {
                                events: {
                                    click: function() {
                                        window.location = '/exercises?exid={{ exid|escapejs }}&problem_number=' + this.x;
                                    }
                                }
                            }
                    }
                    },
					title: {
                        text: "{{ exercise_name|escapejs }}",
						x: -20 //center
					},
					subtitle: {
                        text: '{{ student|escapejs }}',
						x: -20
					},
					xAxis: {
						title: {
							text: 'Problem #'
						},
                        tickInterval: 1,
						plotLines: [{
							value: 0,
							width: 1,
							color: '#808080'
						}]
					},
					yAxis: {
						title: {
							text: 'Time Used (seconds)'
						},
						plotLines: [{
							value: 0,
							width: 1,
							color: '#808080'
						}]
					},
					tooltip: {
						formatter: function() {
                            return '<b><a style="color:blue;" href="/exercises?exid={{ exid|escapejs }}&problem_number=' + this.point.x + '">Problem ' + this.point.x + '</a> - ' + (this.point.correct ? "Correct" : "Incorrect") +
                                           '</b><br/>' +
                                       'Seconds used: ' + this.point.time_taken + '<br/><br/>' +
                                       '<em>Click the graph to view this problem</em>.';
						}
					},
					legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'top',
						x: -10,
						y: 100,
						borderWidth: 0
					},
                    series: [{data:[
                            {% for problem in problems %}
                            {
                                correct: {{ problem.correct }},
                                time_taken: {{ problem.time_taken }},
                                name: '{{ user_exercise.name|escapejs }}',
                                x: {{ forloop.counter }},
                                y: {{ problem.time_taken }},
                                color: '{% if problem.correct %}lightBlue{% else %}red{% endif %}'
                            }
                            {% if not forloop.last %},{% endif %}
                            {% endfor %}
                            ]}]
				});
			});
</script>

<div id="highchart_problems"></div>

{% endif %}

{% endblock pagecontent %}

