{% extends "page_template.html" %}
{% block pagescript %}
<style>
#coaches {
    padding: 18px 23px;
}
#coaches p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
#coaches td {
    padding: 9px;
}
#coaches tr.even_row td {
    background-color:#FFFFFF;
}
#coaches tr.odd_row td {
    background-color:#EFEFEF;
}
</style>
{% endblock pagescript %}
{% block pagetitle %}Coaches{% endblock pagetitle %}
{% block pagecontent %}

<article id="coaches">
<h2>Add a coach</h2>
<p>
    Your coach will give you their coach id. Enter it here to give them access to your Khan Academy data.
</p>

<form action="/registercoach" method="post">
<input type="text" name="coach">
<input type="submit" value="Add coach" class="simple-button action-gradient">
</form>

{% if invalid_coach %}
<p><span style="color:red;font-weight:bold;">We can't find this coach.</span></p>

<p style="padding-left:18px;">
Make sure you're entering your full coach's full id, which is <em>case sensitive</em>. The coach id looks like <strong>teacher@gmail.com</strong> or <strong>http://facebookid.khanacademy.org/1067499349</strong>.<br/>
        If you're entering your coach id correctly and still having trouble, make sure your coach has logged in to the Khan Academy at least once.
</p>
{% endif %}

{% if coach_emails %}

    <br/><br/>
    <h2>Your coaches</h2>

    <table>
    {% for coach_email in coach_emails %}
            {% if forloop.counter|divisibleby:2 %}
            <tr class="even_row">
            {% else %}
            <tr class="odd_row">
            {% endif %}
                <td>{{ coach_email|escape }}</td>
                <td><a href="/unregistercoach?coach={{ coach_email|urlencode|escape }}" class="simple-button action-gradient">Remove coach</a></td>
            </tr>
    {% endfor %}
    </table>
{% endif %}

{% if coach_requests %}
    <h2 class="section-headline">New coaches are waiting</h2>

    <p>These coaches have requested you as their student. <strong>If you accept them as your coach, they will have access to your Khan Academy data</strong>.</p>

    <table>
    {% for coach_request in coach_requests %}
            {% if forloop.counter|divisibleby:2 %}
            <tr class="even_row">
            {% else %}
            <tr class="odd_row">
            {% endif %}
                <td>{{ coach_request.coach_requesting_data.display_email|escape }}</td>
                <td><a href="/acceptcoach?accept=1&coach_email={{ coach_request.coach_requesting_data.display_email|urlencode|escape }}" class="simple-button action-gradient">Accept coach</a></td>
                <td><a href="/acceptcoach?accept=0&coach_email={{ coach_request.coach_requesting_data.display_email|urlencode|escape }}" class="simple-button action-gradient">Deny coach</a></td>
            </tr>
    {% endfor %}
    </table>
{% endif %}
<h2 class="section-headline">Your Student ID</h2>
<p>If your coach asks for your student id, it is: {{student_id|escape}}</p>
</article>
{% endblock pagecontent %}
