{% extends "page_template.html" %}
{% block pagescript %}
<style>
#students {
    padding: 18px 23px;
}
#students p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
#sidebar {
    float: left;
    width: 180px;
}
#sidebar a {
    text-decoration: none;
    color: inherit;
}
#students-container {
    margin-left:200px;
    max-width: 600px;
}

.students-header {
    padding-bottom: 0.5em;
    margin-bottom: 0;
    border-bottom: 1pt solid #aaaaaa;
}
h2 {
    display: inline;
}
#nstudents {
    margin-left: .5em;
}
#textbox-container {
    background: #eeeeee;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: .5em;
    padding-right: .5em;
}

.student-name {
    font-size: 160%;
    margin-bottom: .25em;
}
.group-name {
    color: #888888;
}
.student-row {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    min-height: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.grouplinks {
    margin-bottom: 1.6em;
}
.grouplinks li {
    font-size: 130%;
    margin-bottom: .5em;
}

.bullet {
    padding-left: 15px;
}
/* todo: these images maybe need to be bigger! */
.bullet:hover {
    background: url('images/list-item-green.png');
    background-repeat: no-repeat;
    background-position-y: 5px;
}
.bullet-active {
    background: url('images/list-item-black.png');
    background-repeat: no-repeat;
    background-position-y: 5px;
}
#sidebar .simple-button {
    margin-left: 15px;
}

.float-right {
    float: right;
}
.float-edit {
    margin-right: 2em;
    position: relative;
    top: -8px;
}
a.edit-lists {
    text-decoration: none;
    color: inherit;
    border: 1pt solid #ffffff;
    padding: 4px;
}
a.edit-lists:hover {
    text-decoration: none;
    color: inherit;
    border: 1pt solid #dddddd;
}
.edit-lists-options {
    position: absolute;
    z-index: 1000;
    display: none;
    border: 1px solid #dddddd;
}
.list-option {
    display: block;
    padding: 4px;
    background: #ffffff;
}
.list-option:hover {
    background: #dddddd;
}
.list-option input {
    margin: 5px;
}

#newlist-box {
    display: none;
    margin-left: 15px;
    margin-bottom: 10px;
}

.delete-button {
    width: 28px;
    height: 28px;
    opacity:0.2;filter:alpha(opacity=20);
}
.delete-button:hover {
    opacity:0.6;filter:alpha(opacity=60);
}

.student-email {
    margin-left: .5em;
}



#requested-students {
    display: none;
}
#requested-student-tmpl {
    display: none;
}


</style>
<script type="text/javascript">
var Util = {
    toDict: function(sequence, key_extractor) {
        if ((typeof key_extractor) == "string")
            key_extractor_fn = function(el) {return el[key_extractor]};
        else
            key_extractor_fn = key_extractor;

        var dict = {};
        for (i in sequence) {
            item = sequence[i]
            dict[key_extractor_fn(item)] = item;
        }
        return dict;
    },

    parseQueryString: function(url) {
        var qs = {}
        var parts = url.split('?');
        if(parts.length == 2) {
            var querystring = parts[1].split('&');
            for(var i = 0; i<querystring.length; i++) {
                var kv = querystring[i].split('=');
                if(kv[0].length > 0) //fix trailing &
                    qs[kv[0]] = kv[1];
            }
        }
        return qs;
    },

    toQueryString: function(hash, kvjoin, eljoin) {
        kvjoin = kvjoin || '=';
        eljoin = eljoin || '&';
        var qs = [];
        for(var key in hash) {
            if(hash.hasOwnProperty(key))
                qs.push(key + kvjoin + hash[key])
        }
        return qs.join(eljoin);
    }
};

var StudentLists = {

    students: {{students_json}},
    study_groups: {{study_groups_json}},
    coach_requests: {{coach_requests_json}},

    //********** data model methods

    isStudentInGroup: function(student_id, group_id) {
        var student = StudentLists.students_by_id[student_id];
        for (i in student.study_groups) {
            if (student.study_groups[i].key == group_id) {
                return true;
            }
        }
        return false;
    },

    addGroup: function(group) {
        StudentLists.study_groups.push(group);
        StudentLists.study_groups_by_id[group.key] = group;
    },

    removeGroup: function(group_id) {
        jQuery.each(StudentLists.students, function(i, s) {
            StudentLists.removeStudentFromGroup(s, group_id);
        });

        groups = [];
        for (i in StudentLists.study_groups) {
            var group = StudentLists.study_groups[i]
            if (group.key != group_id) {
                groups.push(group);
            }
        }
        StudentLists.study_groups = groups;

        StudentLists.generateGroupIndices();
    },

    removeStudent: function(student) {
        var index = StudentLists.students.indexOf(student);
        if (index != -1)
            StudentLists.students.splice(index, 1);

        StudentLists.generateStudentIndices();
    },

    removeStudentFromGroup: function(student, group_id) {
        groups = [];
        for (i in student.study_groups) {
            var group = student.study_groups[i];
            if (group.key != group_id) {
                groups.push(group);
            }
        }
        student.study_groups = groups;
    },

    addStudentToGroup: function(student, group_id) {
        student.study_groups.push(StudentLists.study_groups_by_id[group_id]);
    },

    generateGroupIndices: function() {
        StudentLists.study_groups_by_id = Util.toDict(StudentLists.study_groups, 'key');
    },

    generateStudentIndices: function() {
        StudentLists.students_by_id = Util.toDict(StudentLists.students, 'key');
        StudentLists.students_by_email = Util.toDict(StudentLists.students, 'email');
    },


    // *********** UI methods

    dropdownEl: null,
    currentStudent: null,
    currentGroup: null,

    init: function() {
        // indexes
        StudentLists.generateGroupIndices();
        StudentLists.generateStudentIndices();

        addStudentTextBox.init();

        // create lists
        $('#newlist-button').click(function(event) {
            event.preventDefault();
            $('#newlist-box').show().focus();
        });
        $('#newlist-box').keyup(StudentLists.newListBoxKeyUp);

        // delete list
        $('#delete-group').click(StudentLists.deleteGroupClick);

        // change visible list
        $('.bullet').click(StudentLists.listClick);

        // lists dropdown menu
        $('.edit-lists').click(StudentLists.openListsMenuClick);
        StudentLists.dropdownEl = $('.edit-lists-options');
        StudentLists.redrawListsMenu();
        StudentLists.dropdownEl.click(function(event) {event.stopPropagation();});
        $('html').click(StudentLists.hideMenu);

        // inline delete student-group
        $('.student-row .delete-button').click(StudentLists.deleteStudentClick);

        // quick removal of students from groups via label
        // $('.removecross').click(StudentLists.groupLabelClick);


        // show initial page
        // todo: remember this with a cookie!
        $('#group-allstudents a').click();
    },

    deleteGroupClick: function(event) {
        event.preventDefault();
        if (StudentLists.currentGroup != 'allstudents' &&
            StudentLists.currentGroup != 'requests') {

            $.ajax({
                type: 'POST',
                url: '/deletegroup',
                data: 'group_id=' + StudentLists.currentGroup,
                success: function(data, status, jqxhr) {
                    $('#custom-groups .group-'+StudentLists.currentGroup).remove();
                    StudentLists.removeGroup(StudentLists.currentGroup);
                    StudentLists.redrawListsMenu();
                    $('#group-allstudents a').click();

                }
            });
        }
    },

    deleteStudentClick: function(event) {
        event.preventDefault();
        var rowEl = $(event.currentTarget).parents('.student-row');
        var student_id = rowEl.attr('id').substring('student-'.length);
        var student = StudentLists.students_by_id[student_id];

        if (StudentLists.currentGroup == 'allstudents') {
            // this deletes the student-coach relationship: be sure
            var sure = confirm('Are you sure you want to stop coaching this student?');
            if (sure) {
                $.ajax({
                    type: 'GET',
                    url: '/unregisterstudent',
                    data: 'student_email='+student.email,
                    success: function(event) {
                        // update data model
                        StudentLists.removeStudent(student);

                        // update view
                        $('#student-'+student.key).remove();
                        StudentLists.redrawListView('allstudents');
                    }
                })
            }
        }
        else if (StudentLists.currentGroup == 'requests') {
            var email = rowEl.find('.student-name').html();
            $.ajax({
                url: '',
            });
        }
        else {
            var group_id = StudentLists.currentGroup;
            StudentLists.removeStudentFromGroupAjax(student, group_id);
        }
    },

    newListBoxKeyUp: function(event) {
        if (event.which == '13') { // enter
            event.preventDefault();
            StudentLists.newListBoxSubmit(event);
        }
        else if (event.which == '27') { // escape
            StudentLists.newListBoxHide();
        }
    },

    newListBoxSubmit: function(event) {
        var $target = $('#newlist-box');
        var listname = $target.val();
        $target.attr('disabled', 'disabled');

        $.ajax({
            type: 'POST',
            url: '/creategroup',
            data: 'group_name=' + listname,
            dataType: 'json',
            success: function(data, status, jqxhr) {
                var group = data;
                StudentLists.addGroup(group);

                $target.removeAttr('disabled');
                StudentLists.newListBoxHide();

                // add a new item to the sidebar
                var $el = $('<li class="group-'+group.key+'"><a href="students?group_id='+group.key+'" class="bullet">'+group.name+'</a></li>');
                $('#custom-groups').append($el);
                $el.find('a').click(StudentLists.listClick);

                // add a new item to the dropdown menu
                StudentLists.redrawListsMenu();
            }
        });
    },

    newListBoxHide: function() {
        $('#newlist-box').val('').hide();
    },

    listClick: function(event) {
        event.preventDefault();
        var $selectedList = $(event.currentTarget);

        var group_id = Util.parseQueryString($selectedList.attr('href'))['group_id'] || 'allstudents';
        if(group_id == StudentLists.currentGroup) {
            return;
        }
        StudentLists.currentGroup = group_id;

        $('.bullet-active').removeClass('bullet-active')
        $selectedList.addClass('bullet-active');

        StudentLists.redrawListView(group_id);
    },

    redrawListView: function(group_id) {
        // show or hide students depending on group membership
        var nstudents = 0;
        var title = 'Students';
        var countstring = 'student';

        if(group_id=='requests') {
            $('#actual-students').hide();
            $('#requested-students').show();
            nstudents = $('#requested-students .student-row').length;

            title = 'Requests';
            $('#delete-group').hide();
            countstring = 'potential student';
        }
        else {
            $('#requested-students').hide();
            $('#actual-students').show();

            if(group_id=='allstudents') {
                var all = $('#actual-students .student-row');
                all.show();

                nstudents = all.length;
                title = 'All students';
                $('#delete-group').hide();
            }
            else {
                $('#actual-students .student-row').each(function() {
                    var el = $(this);
                    var student_id = el.attr('id').substring('student-'.length);
                    if(StudentLists.isStudentInGroup(student_id, group_id)) {
                        el.show();
                        nstudents++;
                    }
                    else {
                        el.hide();
                    }
                });

                var group = StudentLists.study_groups_by_id[group_id];
                title = group.name;
                $('#delete-group').show();
            }
        }

        $('#nstudents').html(nstudents.toString() + ' ' + countstring + (nstudents==1 ? '' : 's'));
        $('.students-header h2').html(title);
    },

    groupLabelClick: function(event) {
        event.stopPropagation();
        event.preventDefault();
        var url = unescape($(event.currentTarget).attr('href'));
        var qs = Util.parseQueryString(url);
        var student = StudentLists.students_by_email[qs['student_email']];
        StudentLists.removeStudentFromGroupAjax(student, qs['group_id']);
    },

    //*********** list dropdown menu methods

    redrawListsMenu: function() {
        var menu = StudentLists.dropdownEl;
        menu.children().remove();

        // add a line for each group
        jQuery.each(StudentLists.study_groups, function() {
            var group = this;
            var el = '<label class="list-option"><input type="checkbox" id="checkbox-' + group.key + '" />' + group.name + '</label>';
            menu.append(el);
        });

        // wire up events
        menu.find('input').click(StudentLists.listOptionClick);
    },

    openListsMenuClick: function(event) {
        event.stopPropagation();
        event.preventDefault();

        var $el = $(this);
        var student_id = $el.parents('.student-row').attr('id')
                               .substring("student-".length);
        var student = StudentLists.students_by_id[student_id];
        if(StudentLists.currentStudent == student) {
            StudentLists.hideMenu();
            return true;
        }
        StudentLists.currentStudent = student;

        // get dropdown in position
        StudentLists.dropdownEl.show();

        var offset = $el.offset();
        offset.top += $el.outerHeight() - 1;
        offset.left -= $el.width();
        StudentLists.dropdownEl.offset(offset);

        // check the right boxes
        $('.list-option input').removeAttr('checked')
        for (i in student.study_groups) {
            var group = student.study_groups[i];
            $('#checkbox-'+group.key).attr('checked', true);
        }
    },

    hideMenu: function() {
        StudentLists.dropdownEl.hide();
        StudentLists.currentStudent = null;
    },

    listOptionClick: function(event) {
        var group_id = $(this).attr('id').substring("checkbox-".length);
        if ($(this).attr('checked')) {
            StudentLists.addStudentToGroupAjax(StudentLists.currentStudent, group_id);
            // todo: make group label appear under student
        }
        else {
            StudentLists.removeStudentFromGroupAjax(StudentLists.currentStudent, group_id);
            // todo: remove group label from under student
        }
    },

    addStudentToGroupAjax: function(student, group_id) {
        $.ajax({
            type: 'POST',
            url: '/addstudenttogroup',
            data: 'student_email='+student.email+'&group_id='+group_id,
            success: function() {
                // update data model
                StudentLists.addStudentToGroup(student, group_id);

                // todo: add group label
                // $('#student-'+student.key).find('.group-'+group_id).hide();
            },

        });
    },

    removeStudentFromGroupAjax: function(student, group_id) {
        $.ajax({
            type: 'POST',
            url: '/removestudentfromgroup',
            data: 'student_email='+student.email+'&group_id='+group_id,
            success: function() {
                // update data model
                StudentLists.removeStudentFromGroup(student, group_id);

                // update view

                // hide label
                // $('#student-'+student.key).find('.group-'+group_id).hide();

                // hide row from screen if visible
                if (StudentLists.currentGroup == group_id) {
                    $('#student-'+student.key).hide();
                }
            },
        });
    },
}

var addStudentTextBox = {
    element: null,

    init: function() {
        addStudentTextBox.element = $('#textbox-container input');

        addStudentTextBox.element.focusin(this.focusin)
        addStudentTextBox.element.focusout(this.focusout);
        addStudentTextBox.element.keyup(this.keyup);
    },

    focusin: function(event) {
        addStudentTextBox.element.val("");
    },

    focusout: function(event) {
        addStudentTextBox.element.val("Type a student's email address to propose becoming their coach");
    },

    keyup: function(event) {
        if (event.which == '13') {
            var email = addStudentTextBox.element.val();
            $.ajax({
                type: 'POST',
                url: '/requeststudent',
                data: 'student_email='+email,
                success: function(data, status, jqxhr) {
                    StudentLists.coach_requests.push(email);

                    var el = $('#tmpl .student-row').clone();
                    el.find('.student-name').html(email);
                    el.prependTo('#requested-students');
                    StudentLists.redrawListView('requests');
                },
                error: function(jqxhr, status, error) {
                    console.log(jqxhr, status, error);
                }
            });
        }
        else if (event.which == '27') {

        }
    }
};

$(function() {
    StudentLists.init();
})
</script>
{% endblock pagescript %}
{% block pagetitle %}Students{% endblock pagetitle %}
{% block pagecontent %}

<article id="students">
{% if students %}
<div id="sidebar">
    <ul class="grouplinks">
        <li id="group-allstudents"><a href="/students" class="bullet bullet-active">All students</a></li>
        <li id="group-requests"><a href="/students?group_id=requests" class="bullet">Requests</a></li>
    </ul>
    <ul id="custom-groups" class="grouplinks">
        {% for group in study_groups %}
        <li class="group-{{group.key}}"><a href="students?group_id={{group.key}}" class="bullet">{{group.name}}</a></li>
        {% endfor %}
    </ul>
    <input type="textbox" id="newlist-box" />
    <a id="newlist-button" href="#" class="simple-button action-gradient">Create a new list</a>
</div>
<div id="students-container">

    <div class="students-header">
        <span class="float-right">

            <a id="delete-group" href=""><img src="images/round_delete.png" class="delete-button" title="Delete this list"/></a>
        </span>
        <h2>Students</h2>
        <span id='nstudents'>n students</span>
    </div>

    <div id="textbox-container">
        {# <span class="float-right"><a class="simple-button action-gradient">Bulk add</a></span> #}
        <input type="text" name="student_email" size="80" value="Type a student's email address to propose becoming their coach"/>
    </div>

    <div id="actual-students">
        {% for student in students %}
        <div class="student-row" id="student-{{ student.key }}">
            <span class="float-right">
                <a href="" class="edit-lists float-edit">Edit Lists</a>
                <a href=""><img src="images/round_delete.png" class="delete-button" /></a>
            </span>
            <div><span class="student-name">{{ student.nickname }}</span> <span class="student-email">{{ student.email|escape }}</span></div>
            {# {% for group in student.study_groups %} #}
            {#         <span class="group-name group-{{group.key}}">{{ group.name }}[<a class="removecross" href="/removestudentfromgroup?student_email={{student.email|urlencode|escape}}&amp;group_id={{group.key}}">x</a>]</span> #}
            {#         {% endfor %} #}
        </div>
        {% endfor %}
    </div>

    <div id="requested-students">
        {% for email in coach_requests %}
        <div class="student-row">
            <span class="float-right">
                <a href=""><img src="images/round_delete.png" class="delete-button" /></a>
            </span>
            <div><span class="student-name">{{ email }}</span></div>
        </div>
        {% endfor %}
    </div>

    <div id="tmpl" style="display:none">
        <div class="student-row">
            <span class="float-right">
                <a href=""><img src="images/round_delete.png" class="delete-button" /></a>
            </span>
            <div><span class="student-name">email goes here</span></div>
        </div>
    </div>
    <div class="edit-lists-options" />
</div>


{% endif %}

</article>
{% endblock pagecontent %}

