{% block graph %}

{% if exercise_data %}
    <div id="module-progress" style="margin: 0;">
    {% for exercise in exercises %}
        {% profile_exercise_progress_block exercise_data exercise %}
    {% endfor %}
    </div>
    <div class="clear"></div>
{% endif %}
<script type="text/javascript">

$(document).mousemove(function(e){window.mouseX = e.pageX; window.mouseY = e.pageY;});

function drillIntoExercise(url) {
    $("#info-hover-container").hide();
    Profile.collapseAccordion();
    Profile.loadGraph(url);
}

$("#module-progress .student-module-status").hover( 
    function(e){
        var dtLastHover = window.dtLastHover = new Date();
        var self = this;
        setTimeout(function(){
            if (dtLastHover != window.dtLastHover) return;
        
            var hoverData = $(self).children(".hover-data");
            var infoHover = $("#info-hover-container")
            if (hoverData.html().trim()) {
                infoHover.html(hoverData.html().trim());
                
                var left = window.mouseX + 15;

                var jelGraph = $("#graph-content");
                var leftMax = jelGraph.offset().left + jelGraph.width() - 150;

                infoHover.css('left', Math.min(left, leftMax));
                infoHover.css('top', window.mouseY + 5);
                infoHover.css('cursor', 'pointer');
                infoHover.show();
            }
        }, 100);
    },
    function(e){ 
        window.dtLastHover = null;
        $("#info-hover-container").hide();
    }
);
</script>
{% endblock graph %}
