<script id="profilerTemplate" type="text/x-jquery-tmpl">
    <div class="g-m-p profiler-result">
        <div class="profiler-title">
            <span class="profiler-url">
                ${url}
            </span>
            <div class="profiler-total">
                ${profiler_results.total_time} ms
            </div>
        </div>

        <div class="profiler-expand">
            <a href="#" class="profile-link">Profile</a>
            <div class="profiler-summary">
                ${profiler_results.total_time} ms in ${profiler_results.total_call_count} function calls
            </div>
        </div>

        <div class="profiler-details fancy-scrollbar" style="display:none;">
            <table class="tablesorter">
                <thead>
                    <tr>
                        <th class="left">function</th>
                        <th class="right">calls</th>
                        <th class="right headerSortDown">total ms</th>
                        <th class="right">total per call</th>
                        <th class="right">own ms</th>
                        <th class="right">own per call</th>
                    </tr>
                </thead>
                {{each profiler_results.calls}}
                <tr>
                    <td title="${$value.func_desc}">${$value.func_desc_short}</td>
                    <td class="right">${$value.total_call_count}</td>
                    <td class="right">${$value.cumulative_time}</td>
                    <td class="right">${$value.per_call_cumulative}</td>
                    <td class="right">${$value.total_time}</td>
                    <td class="right">${$value.per_call}</td>
                </tr>
                {{/each}}
            </table>
        </div>

        <div class="rpc-expand">
            <a href="#" class="rpc-link">Remote Procedure Calls</a>
            <div class="rpc-summary">
                ${appstats_results.total_time} ms in ${appstats_results.total_call_count} RPCs
            </div>
        </div>

    </div>
</script>
