<script id="profilerTemplate" type="text/x-jquery-tmpl">
    <div class="g-m-p">
        <div class="title">
            <span class="url">
                ${url}
            </span>
            <div class="total">
                ${profiler_results.total_time} ms
            </div>
        </div>

        <div class="expand">
            <a href="#" class="profile-link link">Profile</a>
            <div class="summary">
                ${profiler_results.total_time} ms in ${profiler_results.total_call_count} function calls
            </div>
        </div>

        <div class="profiler-details details fancy-scrollbar" style="display:none;">
            <table>
                <thead>
                    <tr>
                        <th class="left">function</th>
                        <th class="right">calls</th>
                        <th class="right headerSortDown">total ms</th>
                        <th class="right">total per call</th>
                        <th class="right">own ms</th>
                        <th class="right">own per call</th>
                    </tr>
                </thead>
                {{each profiler_results.calls}}
                <tr>
                    <td title="${$value.func_desc}">${$value.func_desc_short}</td>
                    <td class="right">${$value.total_call_count}</td>
                    <td class="right">${$value.cumulative_time}</td>
                    <td class="right">${$value.per_call_cumulative}</td>
                    <td class="right">${$value.total_time}</td>
                    <td class="right">${$value.per_call}</td>
                </tr>
                {{/each}}
            </table>
        </div>

        <div class="expand">
            <a href="#" class="rpc-link link">Remote Procedure Calls</a>
            <div class="summary">
                ${appstats_results.total_time} ms in ${appstats_results.total_call_count} RPCs
            </div>
        </div>

        <div class="rpc-details details fancy-scrollbar" style="display:none;">
            <table>
                <thead>
                    <tr>
                        <th class="left">service</th>
                        <th class="right headerSortDown">start</th>
                        <th class="right">ms</th>
                        <th class="left">request</th>
                        <th class="left">response</th>
                    </tr>
                </thead>
                {{each appstats_results.calls}}
                <tr>
                    <td>${$value.service}</td>
                    <td class="right">${$value.start_offset}</td>
                    <td class="right">${$value.total_time}</td>
                    <td>${$value.request}</td>
                    <td>${$value.response}</td>
                </tr>
                {{/each}}
            </table>
        </div>

    </div>
</script>
