{% extends "../page_template_mini.html" %}

{% block pagecontent %}

    <h2>New Users Registered / Day</h2><br/>

    <script>

    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'highchart',
                defaultSeriesType: 'scatter'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                scatter: {
                    cursor: 'pointer',
                    dashStyle: 'Solid',
                    lineWidth: 1
                },
                series: {
                    showInLegend: false,
                    marker: {
                        radius: 6
                    }
                }
            },
            title: {
                text: "",
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                title: {
                    text: 'Date'
                },
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            yAxis: {
                title: {
                    text: 'New users registered'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            series: [
                {
                    name: 'Users',
                    data: [
                        {% for user_count in user_counts %}
                        {
                            x: Date.UTC({{ user_count.dt.year }}, {{ user_count.js_month }}, {{ user_count.dt.day }}),
                            y: {{ user_count.delta_registered }},
                            total: {{ user_count.val }}
                        }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]
                }
            ]
        });
    });

    </script>

    <div id="highchart-container">
        <div id="highchart"></div>
    </div>

    {% endblock pagecontent %}

{% block bottompagescript %}
    {% js_package "profile" %}
{% endblock bottompagescript %}

