<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/gae_bingo/static/css/base.css" type="text/css" media="screen" /> 
  <link rel="stylesheet" id="current-theme" href="/gae_bingo/static/css/style.css" type="text/css" media="screen" /> 
        <style>
            body {
                text-align: center;
            }

            #main {
                margin-left: auto;
                margin-right: auto;
                text-align: left;
                float: none;
                width: 900px;
            }

            #main table.table {
                width: 100%;
            }

            #main div.experiment-container {
                padding: 20px;
                margin-top: 20px;
            }

            #main table.table th {
                width: 20%;
            }

        </style>
    </head>
    <body>
        <div id="main">
            <div id="header"><h1>GAE Bingo Experiments</h1></div>

            {% for results in experiment_results %}
            <div class="experiment-container block">
                <h2 class="experiment-title">{{ results.0.pretty_name|escape }}</h2>
                <p>
                    <strong>Status: </strong>
                    {% if results.0.live %}
                    Running {{ results.0.dt_started|timesince }}
                    {% else %}
                    Ended manually
                    {% endif %}
                </p>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Content</th>
                            <th>Participants</th>
                            <th>Conversions
                                {% ifnotequal results.0.conversion_name results.0.name %}
                                to <em>{{ results.0.conversion_name|escape }}</em>
                                {% endifnotequal%}
                            </th>
                            <th>&nbsp;</th>
                        </tr>

                        {% for alternative in results.1 %}
                        <tr>
                            <td class="title"><em>Alternative #{{ alternative.number }}</em></td>
                            <td>{{ alternative.content|escape }}</td>
                            <td>{{ alternative.participants }}</td>
                            <td>{{ alternative.conversions }}</td>
                            <td>
                                {% if results.0.live %}
                                <button class="button">End experiment, picking this</button>
                                {% else %}
                                    {% ifequal results.0.short_circuit_content alternative.content %}
                                    <strong>All users seeing this.</strong>
                                    {% else %}
                                    &nbsp;
                                    {% endifequal %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td class="title"><em>Total</em></td>
                            <td>&nbsp;</td>
                            <td>{{ results.2 }}</td>
                            <td>{{ results.3 }}</td>
                        </tr>
                    </tbody>
                </table>

                <p><strong>Significance Test Results: </strong>{{ results.4|escape }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>

