<div class="{{ feedback_type }}_controls_container"
    {% if hidden %}
        style="display:none;"
    {% endif %}
>
    <div class="{{ feedback_type }}_add_controls feedback_add_controls">
        <div class="controls">
            {% if target %}
                <input name="entity_key" type="hidden" value="{{ target.key }}"/>
            {% endif %}

            <input class="button {{ feedback_type }}_submit" type="button" value="{{ button_label }}"/>
            or <a href="#" class="{{ feedback_type }}_cancel control">Cancel</a>
        </div>

        {% if show_chars_remaining %}
            <div class="chars_remaining">
                <span class="chars_remaining_count">500</span> characters left
            </div>
        {% endif %}
        <div class="clearFloat">&nbsp;</div>

    </div>
</div>

