<nobr>
    {% if target %}
        {% if verb %}
            &ndash;{{ target.author_nickname|escape }} {{ verb }} {{ target.date|timesince_ago }}
        {% else %}
            &ndash;{{ target.author_nickname|escape }}, {{ target.date|timesince_ago }}
        {% endif %}

        {% flag_tools target %}
        {% vote_tools target %}

        {% if is_mod %}
            {% mod_tools target %}
        {% else %}
            {% if is_author %}
                {% author_tools target %}
            {% endif %}
        {% endif %}
    {% else %}
        &ndash;Example
    {% endif %}
</nobr>
