
<span class="username_and_notification "{% if count %}username_and_notification_shift{% endif %}">
    <span class="user-notification">
        <a class="notification_link" href="/discussion/videofeedbacknotificationlist"
            {% if count %}
                title="{{ count }} new answers to your questions"
            {% else %}
                title="No new answers to your questions"
            {% endif %}
        >
            {% if count %}
            <img src="{% static_url "/images/email.png" %}" class="icon" style="width:16px;height:11px;"/><span class="notification_bubble">{{ count }}</span></a>
            {% else %}
            <img src="{% static_url "/images/email-gray.png" %}" class="icon" style="width:16px;height:11px;"/></a>
            {% endif %}
    </span>
    <span class="user-name"><a href="/profile">{{username|escape}}</a></span>
</span>
