{% extends "../page_template.html" %}

{% block pagescript %}
    {% css_package "video" %}
{% endblock pagescript %}

{% block pagetitle %}
    New answers to your questions 
    <a href="/discussion/videofeedbacknotificationfeed?email={{ email }}"><img src="{% static_url "/images/feed.gif" %}" class="icon" />RSS</a>
{% endblock pagetitle %}

{% block pagecontent %}
    <br/>
    <article class="video">

    {% if videos %}
        {% for video in videos %}
            <div class="video_questions video_question_notifications">
                <strong><a href="/video/{{video.readable_id}}?playlist={{video.first_playlist.title|urlencode}}">{{video.title|escape}}</a></strong>
                {% standalone_answers video video.first_playlist dict_answers %}
            </div>
        {% endfor %}
    {% else %}
        No new answers to any of your questions.  Go watch more videos and ask more questions!
    {% endif %}

    </article>
{% endblock pagecontent %}
