{% if not comments %}
    <div class="comment">
        Thank you, Sal!<br/>
        <span class="comment_sig sig">{% signature %}</span>
    </div>
{% endif %}

{% for comment in comments %}
    <div class="comment">
        {% vote_tools comment %}
        {{ comment.content|escape|urlize|linebreaksbr_ellipsis:" continue&hellip;"|youtube_timestamp_links }}<br/>
        <span class="comment_sig sig">{% signature comment %}</span>
    </div>

    {% if not forloop.last %}
        {% ifequal forloop.counter limit_initially_visible %}
            <div class="comments_hidden" style="display:none;">
        {% endifequal %}
    {% endif %}
{% endfor %}

{% if show_page_controls %}
<div class="page_controls comments_page_controls">
    <span>
        {% ifnotequal current_page_1_based 1 %}
        <a href="/video/{{video.readable_id}}?playlist={{playlist.title|urlencode}}&comments_page={{ prev_page_1_based }}#comments" class="button comments_page" page="{{ prev_page_1_based }}"><img class="icon" src="{% static_url "/images/arrow-left.png" %}" /> Comments with higher votes</a>
        {% endifnotequal %}

        {% ifnotequal current_page_1_based pages_total %}
        <a href="/video/{{video.readable_id}}?playlist={{playlist.title|urlencode}}&comments_page={{ next_page_1_based }}#comments" class="button comments_page" page="{{ next_page_1_based }}">Comments with lower votes <img class="icon" src="{% static_url "/images/arrow-right.png" %}" /></a>
        {% endifnotequal %}
    </span>
</div>
{% endif %}

{% if comments_hidden %}
    </div>
{% endif %}
