{% macro exercise_legend() -%}
<div class="exercise-legend" style="">
    <span class="legend-color proficient"></span>
    <span class="legend-label proficient">Proficient</span>
    <span class="legend-color suggested"></span>
    <span class="legend-label suggested ">Suggested</span>
    <span class="legend-color review"></span>
    <span class="legend-label review">Review</span>
    <span class="legend-color not-started"></span>
    <span class="legend-label not-started">Not Started</span>
</div>
{%- endmacro %}

{% macro exercise_icon(exercise) -%}

    {% set s_prefix = "node-challenge" if exercise.summative else "node" %}

    <div id="exercise-icon-container">
        <div class="proficient-badge">
            <img src="
            {%- if exercise.status == "Review" -%}
                /images/node-review.png
            {%- elif exercise.status == "Suggested" -%}
                /images/{{ s_prefix }}-suggested.png
            {%- elif exercise.status == "Proficient" -%}
                /images/{{ s_prefix }}-complete.png
            {%- else -%}
                /images/{{ s_prefix }}-not-started.png
            {%- endif -%}
            ?{{App.version}}" height=80 width=76>
        </div>
    </div>

{%- endmacro %}

{% macro knowledgemap(exercises, map_coords, admin=False) -%}
    <script src="http://maps.google.com/maps/api/js?v=3.3&sensor=false" type="text/javascript"></script>
    {{ js_css_packages.js_package("maps") }}

    <script>

    $(function(){KnowledgeMap.init({{ map_coords.0 }}, {{ map_coords.1 }}, {{ map_coords.2 }}, {{json.dumps(admin)}});});

    </script>

    <article id="knowledge_map">
        <table class="hidden_knowledge_map">
            <tr>
                <th>
                    Energy Points
                </th>
                <th>
                    Exercise
                </th>
                <th>
                    Status
                </th>
                <th>
                    Longest Streak
                </th>
                <th>
                    Current Streak
                </th>
                <th>
                    Prerequisites
                </th>
            </tr>
            {% for exercise in exercises %}
            <tr data-id="{{ exercise.name }}" data-points="{{ exercise.points }}" data-name="{{ exercise.display_name }}" data-status="{{ exercise.status }}" data-longest_streak='{{ exercise.longest_streak }}' data-streak='{{ exercise.streak }}' data-h_position='{{ exercise.h_position }}' data-v_position='{{ exercise.v_position }}' data-summative='{{ exercise.summative }}'>
                <td class="points">
                    {{ exercise.points }}
                </td>
                <td class="name">
                    <a href="/exercises?exid={{exercise.name}}">{{ exercise.display_name }}</a>
                </td>
                <td class="status">
                    {{ exercise.status }}
                </td>
                <td class="longest_streak">
                    {{ exercise.longest_streak }}
                </td>
                <td class="streak">
                    {{ exercise.streak }}
                </td>
                <td class="prereqs">
                    <ul>
                        {% for prereq in exercise.prerequisites %}
                        <li data-prereq="{{ prereq.name }}">
                            <a href="/exercises?exid={{prereq.name }}">{{ prereq.display_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </table>
    </article>
    <div id="map-canvas"></div>
{%- endmacro %}
