#page_sub_nav #profile-header #user-info,
#page_sub_nav #profile-header #high-level-stats {
    display: inline-block;
}
#page_sub_nav #profile-header {
    position: relative;
    display: block;
}    
    #page_sub_nav #profile-header img {
        width: 50px;
        height: 50px;
        vertical-align: middle;
    }

#page_sub_nav #profile-header #user-info {
    position: relative;
    top: 1px;
}
#page_sub_nav #profile-header #user-info #name {
    font-size: 20px;
}
#page_sub_nav #profile-header #user-info img {
    width: 0px;
    visibility: hidden;
}    
#page_sub_nav #profile-header #high-level-stats {
    float: right;
    position: relative;
    top: -11px;
}
    #page_sub_nav #profile-header #high-level-stats > span {
        display: inline-block;
    }
    #page_sub_nav #profile-header #high-level-stats .count {
        display: inline-block;
    }
#profile-header #high-level-stats #videos-watched,
#profile-header #high-level-stats #exercises-completed,
#profile-header #high-level-stats #students-coached
{
    margin-right: 10px;
}
    #profile-header #high-level-stats span > span.count {
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        position: relative;
        top: 10px;
    }
    #profile-header #high-level-stats span > span.label {
        font-size: 11px;
        font-style: italic;
        color: #666;
        font-weight: normal;
    }
#profile-header #high-level-stats #energy-points {
    height: 51px;
    position: relative;
    top: 12px;
}
    #profile-header #high-level-stats #energy-points .energy-points-badge {
        display: inline-block;
        float:none;
        font-size: 16px;
        min-width: 90px;
    }
    #profile-header #high-level-stats #energy-points .label {
        display: inline-block;
        min-width: 90px;
        position: relative;
        top: -1px;
    }

#individual_report > div {
    margin: 10px 0 20px;
}
#individual_report h2 {
    color: #444;
    display: block;
    font-size: 200%;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 5px 5px 2px;
    width: 280px;
    
    background: transparent url(/images/profile-header-bg.png) no-repeat 3px 100%;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#individual_report .inset-container {
    border: 1px solid #bbb;
    background: #f7f7f7;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-shadow: inset 0 0 2px #ccc;
    -moz-box-shadow: inset 0 0 2px #ccc;
    box-shadow: inset 0 0 2px #ccc;
}

#individual_report #vital-statistics {
    min-width: 970px;
    min-height: 325px;
    position: relative;
}
    #individual_report #vital-statistics #stats-nav {
        width: 280px;
        float: left;
    }
    #individual_report #vital-statistics #stats-nav ul#nav-accordion {
        padding: 10px 0 0 3px;
    }
    #individual_report #vital-statistics #stats-nav ul#nav-accordion .accordion-content {
        min-width: 250px;
    }
    #individual_report #vital-statistics #stats-nav ul#nav-accordion .accordion-content .instructions {
        font-size: 10px;
    }
    #individual_report #vital-statistics #stats-nav ul#nav-accordion .accordion-content ul {
        padding-left: 15px;
        list-style: disc outside none;
    }
    #individual_report #vital-statistics #stats-nav ul#nav-accordion .accordion-content ul li {
        margin-bottom: 0;
    }
    #individual_report #vital-statistics #stats-nav ul#nav-accordion .accordion-content ul li a {
        font-size: 10px;
        color: #006699;
        display: inline;
        padding: 0;
        text-decoration: underline;
        border: 0;
    }
    #individual_report #vital-statistics #stats-nav ul#nav-accordion .accordion-content ul li a.selected {
        color: #DD6900;
        text-decoration: none;
    }
    #individual_report #vital-statistics #stats-nav ul > li {
        margin-bottom: 5px;
    }
    #individual_report #vital-statistics #stats-nav ul > li > a {
        display: block;
        padding: .5em .5em .5em 2em;
    }
        #individual_report #vital-statistics #stats-nav ul > li > a.ui-state-default {
            background: transparent;
            border: 1px solid transparent;
        }
        #individual_report #vital-statistics #stats-nav ul > li > a.ui-state-active,
        #individual_report #vital-statistics #stats-nav ul > li > a.ui-state-hover {
            color: #DD6900;
            border: 1px solid #ccc;
            background: #f7f7f7;
            background-image: none;
        }
        #individual_report #vital-statistics #stats-nav ul > li > a.graph-sub-link-selected {
            text-decoration: none;
            color: #DD6900;
        }
    #individual_report #vital-statistics #stats-nav ul > li > p,
    #individual_report #vital-statistics #stats-nav ul > li > div {
        color: #333;
        border: 1px solid #ccc;
        border-top: none;
        padding: .2em 1em 1em;
        font-size: 13px;
        background: #f7f7f7;
    }
    #individual_report #vital-statistics #stats-nav ul > li > p .graph-date-picker,
    #individual_report #vital-statistics #stats-nav ul > li > p .graph-options {
        font-size: 10px;
        display: block;
        margin-top: 10px;
    }
    #individual_report #vital-statistics #stats-nav ul > li > p .graph-date-picker a.graph-sub-link-selected {
        text-decoration: none;
        color: #DD6900;
    }
    #individual_report #vital-statistics #stats-nav ul > li > p .graph-date-picker .progress-legend {
        display: inline-block;
        padding: 3px;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255, .4);
    }
        #individual_report #vital-statistics #stats-nav ul > li > p .graph-date-picker .progress-legend.struggling {
            color: #333;
        }
    #individual_report #vital-statistics #stats-charts {
        float: right;
        position: absolute;
        left: 300px;
        right: 0;
        overflow: hidden;
        overflow-y: auto;
        min-height: 300px;
        height: 400px;
    }
    #individual_report #vital-statistics #stats-charts #module-progress .exercise-progress-block {
        width: 70px;
        float: left;
        overflow: hidden;
        text-shadow: 0 1px 0 rgba(255,255,255, .5);
    }
    #individual_report #vital-statistics #stats-charts #module-progress .exercise-progress-block.transparent {
        cursor: pointer;
    }
    #individual_report #vital-statistics #stats-charts #module-progress .exercise-progress-block .exercise-display-name {
        color: #333;
        text-align: center;
        font-size: 11px;
        margin: 10px 4px;
        text-overflow: ellipsis;
        display: block;
    }
    #individual_report #vital-statistics #stats-charts #module-progress .exercise-progress-block.transparent .exercise-display-name {
        color: #aaa;
    }
    
#individual_report #achievements {
    margin-top: 30px;
    min-width: 970px;
}
    #individual_report #achievements h2 {
        margin-bottom: 20px;
    }
    #individual_report #achievements #badge-container {
        margin-top: 15px;
    }
        #individual_report #achievements #badge-container > div {
            padding-top: 20px;
        }
        
    #individual_report #achievements #achievement-list {
        margin: 10px 0 30px;
    }
    #individual_report #achievements #achievement-list .achievement-badge {
        float: left;
    }
    #individual_report #achievements #achievement-list > ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #individual_report #achievements #achievement-list > ul li {
        display: block;
        float: left;
        opacity: 0.5;
        width: auto;
        text-align: center;
        min-width: 16%;
        margin-right: 5px;
    }
        #individual_report #achievements #achievement-list > ul li.platinum,
        #individual_report #achievements #achievement-list > ul li.diamond {
            padding-top: 10px;
        }
        #individual_report #achievements #achievement-list > ul li.gold {
            padding-top: 20px;
        }
        #individual_report #achievements #achievement-list > ul li.silver {
            padding-top: 30px;
        }
        #individual_report #achievements #achievement-list > ul li.bronze {
            padding-top: 30px;
        }
        #individual_report #achievements #achievement-list > ul li.owned {
            opacity: 1;
        }
         #individual_report #achievements #achievement-list > ul li:hover {
            cursor: pointer;
            opacity: 1;
         }
    #individual_report #achievements #achievement-list > ul li div.label {
        border: 1px solid transparent;
        color: #555;
        font-weight: bold;
        padding: 3px 0;
        text-shadow: 0 1px 0 #fff;
        width: 95%;
        
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
        #individual_report #achievements #achievement-list > ul li:hover div.label,
        #individual_report #achievements #achievement-list > ul li.selected div.label {
            border: 1px solid #bbb;
            cursor: pointer;
            background: #ddd;
            background-image: -webkit-gradient(linear, left top, left bottom,  from(#eee), to(#ccc));
            background-image: -moz-linear-gradient( top, #eee, #ccc );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
            
            -moz-box-shadow: 0 1px 1px #bbb;
            -webkit-box-shadow: 0 1px 1px #bbb;
            box-shadow: 0 1px 1px #bbb;
        }
        #individual_report #achievements #achievement-list > ul li.selected {
            opacity: 1;
            position: relative;
            top:25px;
            z-index: 5;
        }
        
#individual_report #recent-activity {

}
    #individual_report #recent-activity #activity-list {
        padding-left: 3px;
    }
    #individual_report #recent-activity #activity-list > ul {
        margin: 0;
        padding: 15px 0;
        list-style: none;
    }
    #individual_report #recent-activity #activity-list > ul > li {
        font-size: 18px;
        color: #555;
        margin-bottom: 5px;
    }
         #individual_report #recent-activity #activity-list > ul > li span.activity-image {
            width: 50px;
            height: 50px;
            background: #ccc;
            display: inline-block;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
         }
        #individual_report #recent-activity #activity-list > ul > li img {
            max-width: 50px;
            max-height: 50px;
            vertical-align: middle;
        }
        #individual_report #recent-activity #activity-list > ul > li span.time {
            font-size: 75%;
            color: #999;
            font-style: italic;
        }
a.graph-link {
    color: #006699;
}

div.graph-notification {
    text-align: center;
    width: 100%;
    padding-top: 100px;
    font-size: 13px;
    color: #333333;
    position: absolute;
    z-index: 2;
}

#graph-progress-bar {
    width: 400px;
    height: 22px;
    text-align: center;
    position: relative;
    top: 20px;
    margin: 0 auto;
    z-index: 1;
}

#highchart-container {
    width: 100%;
}

#highchart-container.empty-chart {
    opacity: 0.35;
    filter:alpha(opacity=35);
}

#graph-content {
    position: relative;
}

#graph-progress-bar .ui-progressbar-value {
    background-image: url('/images/progress-animated.gif');
}
