{% extends "about_template.html" %}
{% block aboutcontent %}
<div id="the-team">
    <div class="col1">
        <h1>A small team trying to do something big</h1>
        <p>
            We're a small team trying our best to improve the way the world learns. Too many people around the globe don’t have access to good education materials, or they are forced to learn through a system that doesn't properly cater to their individual needs. We think the technology exists today to fundamentally change this, and we're trying to build the tools and resources we think every student deserves.
        </p>
        <p>
            We believe a few great people can make a big difference. We strive to hire the very best &mdash; people who are passionate, thoughtful and creative. We believe it is our obligation to relentlessly focus on what the student values, and we make every decision with the student in mind.
        </p>
    </div>
    <div class="col2">
        <img src="/images/team-photo.jpg" class="team-photo vertical-shadow" />
    </div>
    <div class="clear"></div>
    <h1 class="section-header">Meet the team</h1>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/sal.jpg" />
        </div>
        <div class="card-info">
            <h1 class="pulls">Sal</h1>
            <h3>Founder &amp; Executive Director</h3>
            <p class="contact-links">
                <a href="mailto:shantanu@khanacademy.org" class="contact-email">Email</a>
                <a href="http://twitter.com/khanacademy" class="contact-twitter">Twitter</a>
            </p>
            <p>
                Being founder and faculty means Sal's busy setting the vision for the Khan Academy and expanding our library of educational videos.
            </p>
            <p>
                Before quitting his job as manager of a hedge fund to run the Khan Academy full time, Sal also found time to get three degrees from MIT and an MBA from Harvard.
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/shantanu.jpg" />
        </div>
        <div class="card-info">
            <h1 class="pulls">Shantanu</h1>
            <h3>President &amp; COO</h3>
            <p class="contact-links">
                <a href="mailto:shantanu@khanacademy.org" class="contact-email">Email</a>
            </p>
            <p>
                As President and COO,  Shantanu focuses on overall organizational strategy, partnerships, and operations.
            </p>
            <p>
                Before teaming up with Sal (his college classmate and high school math competitor), Shantanu was an Associate Principal in McKinsey &amp; Company's Silicon Valley office, and received four degrees from MIT.
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/bilal.jpg" />
        </div>
        <div class="card-info">
            <h1 class="pulls">Bilal</h1>
            <h3>Dean of Translations</h3>
            <p class="contact-links">
                <a href="mailto:bilal@khanacademy.org" class="contact-email">Email</a>
            </p>
            <p>
                Bilal coordinates the translation of Khan Academy content into other languages.
            </p>
            <p>
                Prior to joining Khan Academy, he was VP Development for Global Education Management Systems (GEMS), a global network of private schools.
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/ben.jpg" />
        </div>
        <div class="card-info">
            <h1 class="pulls">Ben</h1>
            <h3>Lead Developer</h3>
            <p class="contact-links">
                <a href="mailto:ben@khanacademy.org" class="contact-email">Email</a>
                <a href="http://twitter.com/kamens" class="contact-twitter">Twitter</a>
                <a href="http://bjk5.com" class="contact-blog">Blog</a>
            </p>
            <p>
                Ben started by volunteering for Khan Academy after watching one of Sal's talks and feeling left with no choice but to help. 
            </p>
            <p>
                Ben was previously VP of Engineering at Fog Creek Software, where he spent five and half years learning how to push bits around with small, fast teams.
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/jason.jpg" />
        </div>
        <div class="card-info">
            <h1 class="pulls">Jason</h1>
            <h3>Lead Designer</h3>
            <p class="contact-links">
                <a href="mailto:jason@khanacademy.org" class="contact-email">Email</a>
                <a href="http://twitter.com/jasonrr" class="contact-twitter">Twitter</a>
                <a href="http://shipordie.com" class="contact-blog">Blog</a>
            </p>
            <p>
                As Lead Designer for the Khan Academy, Jason's responsible for how things on the site look and how users interact with those things. 
            </p>
            <p>
                Prior to joining the Khan Academy, Jason headed up the design team at Fog Creek Software (and worked with Ben).
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/marcia.jpg" />
        </div>
        <div class="card-info">
            <h1 class="pulls">Marcia</h1>
            <h3>Software Engineer</h3>
            <p class="contact-links">
                <a href="mailto:marcia@khanacademy.org" class="contact-email">Email</a>
                <a href="http://twitter.com/marcia_lee" class="contact-twitter">Twitter</a>
                <a href="http://missmarcialee.com" class="contact-blog">Blog</a>
            </p>
            <p>
                Marcia designs and builds any and every piece of the Khan Academy software with a constant focus on the experience of our learners.
            </p>
            <p>
                Marcia was a Program Manager for Microsoft before joining the team. She received her BS and MS in Computer Science from Stanford, with a specialization in human computer interaction.
            </p>
        </div>
    </div>
    <div class="clear"></div>

    <div style="text-align:center;"><p>The Khan Academy has also received the time, energy, and expertise of many <a href="/contribute/credits">volunteers and part-time contributors</a>.</p></div>

    <p>&nbsp;</p>
</div>
{% endblock aboutcontent %}
