{% extends "../page_template.html" %}
{% block pagescript %}
    <style>
        #credits dt {
            font-weight: bold;
            float: left;
            margin-right: 1ex;
        }
        #credits dd:before {
            content: "- ";
        }
    </style>
{% endblock pagescript %}
{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        <a href="/about" id="the-site" {% ifequal "the-site" selected_id %}class="selected"{% endifequal %}>The Site</a>
        <a href="/about/the-team" id="the-team" {% ifequal "the-team" selected_id %}class="selected"{% endifequal %}>The Team</a>
        <a href="/about/getting-started" id="getting-started" {% ifequal "getting-started" selected_id %}class="selected"{% endifequal %}>Getting Started</a>
        <a href="/about/faq" id="faq" {% ifequal "faq" selected_id %}class="selected"{% endifequal %}>FAQ</a>
        <a href="/about/blog" id="blog" {% ifequal "blog" selected_id %}class="selected"{% endifequal %}>Blog</a>
    </span>
{% endblock pagesubmenu %}

{% block pagecontent %}
<article id="about-us">
{% block aboutcontent %}
{% endblock aboutcontent %}
</article>
{% endblock pagecontent %}
{% block pagefooter %}
{% include "../page_footer_short.html" %}
{% endblock %}
