{% extends "../page_template.html" %}

{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        Full-time Developer
    </span>
{% endblock pagesubmenu %}

{% block pagecontent %}

<div class="col1 forty-sixty" style="text-align: center; padding-top: 18px; min-width:160px; max-width:160px; margin-right: 2%;">
    <img id="about-vertical-logo" src="/images/khan-logo-vertical-transparent.png" height=250 width=178 />
</div>
<div class="col2 forty-sixty" style="max-width:81%; text-align: justify;">
    <h1 class="main-headline" style="white-space: pre;">Help us change education.</h1>

        <p>The Khan Academy is looking for top-notch developers to help create a free virtual classroom for the world.</p>

        <p><a href="/about">Our mission</a> is to provide a world-class education to anyone, anywhere. We already have a million students learning every month, and we're growing quickly. Up until recently this whole dream has been a one-man effort.</p>

        <p>We're now backed by The Bill and Melinda Gates Foundation (<a href="http://youtube.com/watch?v=UuMTSU9DcqQ">youtube.com/watch?v=UuMTSU9DcqQ</a>) and recently won Google's Project 10 to the 100 (<a href="http://project10tothe100.com">project10tothe100.com</a>) of ideas to change the world.</p>

        <p>We're building an elite development team to kick-start the technology behind the Khan Academy. We're working on an application that not only serves millions of videos to students around the world but also assesses their knowledge, encourages cooperative learning with all types of game mechanics, and provides more detailed, real-time data about their performance than any other software out there. We're building the "operating system" for a radical new way of leveraging technology in the classroom, and we are already piloting this hybrid learning technology in a few classrooms. <a href="/video/salman-khan-talk-at-ted-2011--from-ted-com">Sal's TED talk</a> is the best demo you'll find.</p>

</div>
<div class="clear"></div>

<br/><hr class="thin"/><br/>
<div id="screenshot-tour">
    <div class="col1 sixty-forty">
        <h2>We use:</h2>
        <ul style="list-style-type:disc;margin-left:18px;font-size:15px;">
            <li>Python, jQuery-heavy javascript, App Engine, Objective-C for our upcoming iOS work, and anything else that best solves the problem at hand. Keep digging around and you'll find some Google Maps API work, Amazon EC2 being used for backups, and more.</li>
            <li>We're not religious about using a specific technology. We're religious about providing an incredible experience for students of the Khan Academy.</li>
        </ul>
        <br/>
        <h2>We offer:</h2>
        <ul style="list-style-type:disc;margin-left:18px;font-size:15px;">
            <li>Competitive salaries.</li>
            <li>Flexible working environment. We're based in Mountain View, but working remotely is not off the table.</li>
            <li>The ability to spend your time on high-impact software that's already defining the future of education.</li>
            <li>A fun, high-caliber team that trusts you and gives you the freedom to be brilliant.</li>
        </ul>
    </div>
    <div class="col2 sixty-forty screenshot">
        <img class="rounded-background" src="/images/screenshot-tour/video.png" style="width:400px;" />
    </div>
    <div class="clear"></div>
    <br/><hr class="thin"/><br/>

    <div class="col1 sixty-forty left">

        <h2>You don't need:</h2>
        <ul style="list-style-type:disc;margin-left:18px;font-size:15px;">
            <li>Lisp expertise. Actually, we don't require experience in any particular technology (see below).</li>
        </ul>

        <br/>
        <h2>You do need:</h2>
        <ul style="list-style-type:disc;margin-left:18px;font-size:15px;">
            <li>Mastery of whatever technology you've used in the past. We know that if you're one of the best developers in the world you'll be able to learn whatever languages and frameworks we throw at you (or, more likely, you throw at us).</li>
            <li>An ability to chew through difficult software problems. You probably noticed this ability not long after you first sat down in front of a computer. You leave a trail of successful software projects in your wake wherever you go.</li>
            <li>Great intuition for how users like to learn, and a mastery of the subjects you took in high school and college. You're not afraid of any integral, and know you can master any math and science subject that you put your mind to.</li>
            <li>A passion for software and a desire to change the world.</li>
        </ul>
    </div>
    <div class="col2 sixty-forty screenshot">
        <img class="rounded-background" src="/images/screenshot-tour/problems.png" style="width:400px;" />
    </div>
    <div class="clear"></div>
    <br/><hr class="thin"/><br/>

    <div class="col1 sixty-forty">    
        <h2>How to join us:</h2>
        <p>
        We're a <a href="/about/the-team">small but elite team</a> who come from a past at hedge funds, McKinsey, Fog Creek Software, Microsoft, and more.
        </p>
        <p>
            Apply by sending an email to <a href="mailto:jobs@khanacademy.org">jobs@khanacademy.org</a> with your resume, links to any past projects or websites, and an explanation of why you want to join.
        </p>
    </div>
    <div class="col2 sixty-forty">&nbsp;</div>

    <div class="clear"></div>
    <br/><br/>
</div>

{% endblock pagecontent %}
