{% extends "../page_template.html" %}
{% block pagecontent %}

<div class="col1 forty-sixty" style="text-align: center; padding-top: 18px; min-width:160px; max-width:160px; margin-right: 2%;">
    <img id="about-vertical-logo" src="/images/khan-logo-vertical-transparent.png" height=250 width=178 />
</div>
<div class="col2 forty-sixty" style="max-width:81%; text-align: justify;">
    <h1 class="main-headline" style="white-space: pre;">Sorry, this job is no longer available.</h1>
    <p>...but there are plenty of other ways to <a href="/contribute">contribute to the Khan Academy</a>.</p>
</div>

<div class="clear"></div>
<br/><br/>
</div>

{% endblock pagecontent %}

