<li class="exercise {% if recent_activity.earned_proficiency %}complete{% endif %}">

	

	<span class="recent-share">
	<a href="#" class="simple-button action-gradient with-icon download-icon share-link" style="font-size:12px;">
        <img src="/images/share-icon-small.png" />
        Share
    </a>
	</span>
	
	
	<div class="sharepop" style="position:absolute;right:0;font-size:12px;padding-top:10px;">

		<div class="triangle-isosceles left" style="height:25px;padding-left:5px;">

			FB Twitter Mail

		</div>

	</div>
	

    <span class="activity-image"><img src="/images/generic-exercise-icon-inset.png" /></span>
    Answered <span class="problem-count"><a href="/profile/graph/exerciseproblems?student_email={{ student_email|escape }}&exercise_name={{ recent_activity.problem_log.exercise }}">{{ recent_activity.c_problems }} problem{{ recent_activity.c_problems|pluralize }}</a></span> 
    {% if recent_activity.earned_proficiency %}
        to achieve proficiency in 
    {% else %}
        in 
    {% endif %}
    {{ recent_activity.exercise_display_name|escape }}
    <span class="time">{{ recent_activity.timestamp|escape }}</span>
</li>
