<div id="recent-activity">
    <h2>Recent Activity</h2>
    {% if list_recent_activity %}
    <div id="activity-list">
  		<ul>
            {% for recent_activity in list_recent_activity %}
			
                {% ifequal recent_activity.s_type "Badge" %}
                    <li>{% profile_recent_activity_entry_badge student recent_activity %}</li>
                {% endifequal %}

                {% ifequal recent_activity.s_type "Exercise" %}
                    <li>{% profile_recent_activity_entry_exercise student recent_activity %}</li>
                {% endifequal %}

                {% ifequal recent_activity.s_type "Video" %}
                    <li>{% profile_recent_activity_entry_video student recent_activity %}</li>
                {% endifequal %}

            {% endfor %}
        </ul>
    </div>
	 <script>
		$(".recent-share").hide();
		$(".achievement").hover(
			function () {
			    $(this).find(".recent-share").show();
			  //	$(this).attr("style","background-color:#222222");
				},
			function () {
			    $(this).find(".recent-share").hide();
			  });
			
		$(".exercise").hover(
			function () {
			    $(this).find(".recent-share").show();
			  //	$(this).attr("style","background-color:#222222");
				},
			function () {
		    $(this).find(".recent-share").hide();
			  });
			
		$(".video").hover(
			function () {
			    $(this).find(".recent-share").show();
			  //	$(this).attr("style","background-color:#222222");
				},
			function () {
			    $(this).find(".recent-share").hide();
			  });
		
		$('.sharepop').hide();
				
		$('.recent-share').click(function() {
		//	$(this).find(".sharepop").toggle("slide",{direction:'up'},"fast");	
			if ($(this).next(".sharepop").is(":visible"))
			$(this).animate({"margin-right": "-=155px"}, "fast");
			else
			$(this).animate({"margin-right": "+=155px"}, "fast");
			
			$(this).next(".sharepop").toggle("slide",{direction:'left'},"fast");	
			
			return false;
				});
			
	  </script>
    {% else %}
        <br/>Recent <a href="/#browse">video</a>, <a href="/exercisedashboard">exercise</a>, and <a href="/badges/view">badge</a> activity will show up here.
    {% endif %}
</div>
