body {
    background-color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0;
    color: #000;
}

/* Links in the header and footer don't change color when visited. */
a:link, header a:visited, footer a:visited {
    color: #069;
}

a:visited {
    color: #DD6900;
}

a:link:hover, a:link:focus, a:visited:hover, a:visited:focus {
    color: #DD6900;
}

/*
 * Hide links with href=# and other script-requiring elements from non-scripting users, 
 * since they will only be confusing.  They will be made visible by script.
 */
a[href="#"], .requires_script {
    visibility: hidden;
}

/*
 * Give script-using links a dotted underline when they are visible.
 */
 
a[onclick]:link, 
a[href="#"]:link, 
a.uses_script:link, 
a[onclick]:visited, 
a[href="#"]:visited, 
a.uses_script:visited {
    text-decoration: none;
    border-bottom: dotted 1px #069;
}

a[onclick]:link:hover, a[onclick]:link:focus,
a[onclick]:visited:hover, a[onclick]:visited:focus,
a[href="#"]:link:hover, a[href="#"]:link:focus,
a[href="#"]:visited:hover, a[href="#"]:visited:focus,
a.uses_script:link:hover, a.uses_script:link:focus,
a.uses_script:visited:hover, a.uses_script:visited:focus
{
    border-color: #DD6900;
}

img {
    -ms-interpolation-mode: bicubic;
    /* Fix IE image scaling so that it isn't crappy */
}

p {
    margin: 3px;
    padding: 0;
}

header, footer {
    display: block;
    width: 100%;
}

footer {
    height: 25px;
    clear: both;
}

#page_brand  {
    position: relative;
    float: left;
    white-space: nowrap;
}

#page_visitors {
    position: absolute;
    left: 140px;
    top: 40px;
    font-size:14px;
    display: none; /* hidden until AJAX call to chartbeat gets the number */
}

#page_num_visitors {
    font-weight: bold;
}

#page_visitors {
	color: #8ebe4f;
	text-decoration: none;
}

#page_fb_like {
    display: block;
    clear: both;
    position: absolute;
    left: 110px;
    top: 60px;    
}

#page_top_nav {
    margin-right: 0;
    position: relative;
    min-width: 55ex;
}

#page_auth {
    float: right;
    display: block;
}

#page_status {
    display: block;
    clear: right;
    float: right;
}

#page_login_options * {
    vertical-align: middle;
}

#page_search {
    display: block;
    float: right;
    clear: right;
    margin-top: 0.2em;
    padding-top: 0;
    padding-right: 1em;
}

#page_search input {
    background:url("/images/Search-icon.png") no-repeat scroll 2px 1px #FFFFFF;
    border:1px solid #DDDDDD;
    font-size:12px;
    padding:2px 2px 2px 18px;
    width: 20em;
}

#page_search input.placeholder {
    color: #898989;
}

#page_search input.ui-autocomplete-loading {
    background-image: url("/images/throbber.gif")
}

#page_social_links {
    clear: right;
    float: right;
}

#page_social_links {
    white-space: nowrap; /* For IE7 */
}

nav {
    display: block;
    clear: both;
    width: 100%;
    margin: 0;
}

#page_main_nav {
    clear: none;
    float: left;
    *min-width: 45ex;
}

#page_main_nav li#do-exercises:after {
        content: "";
    }
    #page_main_nav li#do-exercises a {
        color: white;
    }
    #page_main_nav li#do-exercises a:hover {
        color: black;
    }

#page_main_nav ul.page_links {
    float: right;
}

#page_sub_nav {
    /*border-top: solid 1px #3366cc;*/
    border-bottom:2px solid #80C65A;
}

footer {
    border-top:2px solid #80C65A;
}

#page_sub_nav {
    background-color: #e5ecf9;
    text-indent: .2em;
}

header ul, footer ul {
    margin: 0;
    padding: .2em 1em .2em 1em;
}

nav ul.page_links li, header ul.page_links li, footer ul.page_links li {
    display: inline;
    white-space: nowrap;
}

nav ul.page_links li:before, header ul.page_links li:before {
    content: "|";
}

footer ul.page_links {
    float: left;
    padding: 7px;
}

footer ul.page_links li {
    padding-right: 8px;
}

footer ul.page_links .link_separator{
    border-left: 1px solid black;
    padding-left: 10px;
}

footer div {
    float: right;
    padding: 7px;
}

footer div img {
    border: 0px;
}


nav ul.page_links li:first-child:before, header ul.page_links li:first-child:before, footer ul.page_links li:first-child:before {
    content: "";
}

article, section {
    display: block;
}

article.video {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

article.video > div {
    width: 800px;
}

article.video details {
    display: block;
    width: 798px;
    background-color: #d2dded;
}

article.video summary {
    display: block;
    background-color: #E6F8DD;
    border-top: 1px solid #80C65A;
    border-bottom: 1px solid white;
    font-weight: bold;
}

article.video label.video_playlist_prev {
    float: left;
    border-right: solid 1px white;
}

article.video label.video_playlist_next {
    float: right;
    border-left: solid 1px white;
}

article.video div.video_playlist_container {
    clear: both;
    border-top: 1px solid grey;
    overflow: hidden;
}

article.video ol li {
    display: inline-block;
    width: 260px;
    vertical-align: top;
}

article.video ol li, article.video summary, article.video label.video_playlist_prev, article.video label.video_playlist_next {
    padding: .5ex 3px .5ex 3px;
}

article.video ol li:before {
    content: counter(video) ".";
    counter-increment: video;
}

article.video ol {
    counter-reset: video;
    padding: 0ex 0em 8ex 0em;
    display: inline;
    background: #eee;
    background-break: continuous; /* CSS3 */
    background-image: url(/images/798white_798grey.png);
}

article.video p#keywords {
    clear: both;
}

span.video_extra_links {
    float: left;
}

a:visited.google-analytics-link-track, 
a:link.google-analytics-link-track
 { /*these GA click tracking links have onclick= JS tags -- need to undo the dotted border style that applies to these by default */
    border-bottom: none;
    text-decoration: underline;
}

/***************For All-videos page******************/

/* General styles file */


/* Typography */

#library a {
	text-decoration: none;
	font-weight: bold;
	}









/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

	


#library {
	margin-top: 30px;
}
	#library #library-search {
		text-align: right;
		padding-top: 2px;	
	}
	#library #library-search #videosearch {
		color: #204E93;
		color:grey;
		height:20px;
		width:390px;
		padding: 2px 2px 2px 18px;
		font-size:12px;
		background: url(Search-icon.png) no-repeat 2px 1px #fff;
		border: 1px solid #ddd;
	}
	#library #library-nav {
		border: 1px solid #ccc;
		position: relative;
		z-index: 1;
	}
		#library #library-nav #library-nav-links {
			margin: 0;
			padding: 0;
			border: 1px solid #fff;
			border-bottom: none;
		}
			#library #library-nav-links li {
				text-align: left;
				padding: 5px 15px;
				text-shadow: 1px 1px 0 #fff;
				position: relative;
				border-right: 1px solid #fff;
				border-left: 1px solid #ccc;
				list-style: none;
				float: left;	
			}
				#library #library-nav-links li.first {
					border-left: none;
				}
				#library #library-nav-links li.last {
					border-right: none;
				}

			#library #library-nav-links a.selected {
				color: #000;
				text-shadow: 1px 1px 1px #ccc;
				cursor: text;
			}
			#library #library-nav-links a.selected:after {
				/* creates the smaller  triangle */
				content:"\00a0";
				display:block; /* reduce the damage in FF3.0 */
				position:absolute;
				bottom:-12px; /* value = - border-top-width - border-bottom-width */
				left:10px; /* value = (:before left) + (:before border-left) - (:after border-left) */
				width:20px;
				height:11px;
				background: url(library-nav-nipple.png);
				z-index: 10;				
			}
			#library #library-nav-links .video-count, #library #library-content #library-sub-nav #list-of-lists .video-count {
				font-size: 90%;
				padding-left: 4px;
				color: #999;
			}
			
	#library #library-content {
		background-color: #fff;
		border: 1px solid #ccc;
		border-top: 0;
		padding: 10px;
	}
		#library #library-content #library-content-main {
			padding: 7px 0 5px;
		}
			#library #library-content #library-content-main h2 {
				margin-top: 0;
				margin-bottom: .9em;
				color: #333;
			}
			#library #library-content #library-content-main h2.playlist-heading {
				color: #666;
				margin-bottom: 0;
			}
			#library #library-content #library-content-main p.playlist-desc {
				color: #555;
				margin: 0 0 10px;
				line-height: 1.2em;
			}
            #library #library-content #library-content-main ol {
                list-style: none none;
                margin-left: 0;
                padding-left: 0;
            }
            #library #library-content #library-content-main li {
                display: list-item;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #666666;
            }
			#library #library-content #library-content-main a.video-link {
				font-weight: normal;	
				background: url(/images/playnav.png) no-repeat 0 3px;
				padding: 0 2px 0 13px;
			}
			#library #library-content #library-content-main a.video-link:hover {
				background-image: url(/images/play-dark.png);
			}


ul.ui-autocomplete .ui-menu-item a {
    font-size: 0.8em;
    white-space: nowrap;
    padding: 0;
    cursor: pointer;
}

ul.ui-autocomplete .ui-menu-item a span.playlist {
    color: #898989;
    font-style: italic;
}


/**************end of elements for all-videos page*********************/

.exercise_message {
    padding: 1em;
    border: 1px solid silver;
    border-top: 0px;
    background-color: #E5ECF9;
    margin: 0 20px;
}

/* Exercise Dashboard styles */

#container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
    #container #dashboard-drawer {
        position: absolute;
        width: 340px;
        height: 800px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-top: 10px;
        z-index: 1;
        -webkit-box-shadow: 2px 0px 3px rgba(0, 0, 0, .1);
        -moz-box-shadow: 2px 0px 3px rgba(0, 0, 0, .1);
        box-shadow: 2px 0px 3px rgba(0, 0, 0, .1); 
    }
    #container #dashboard-drawer h3 .subheader {
        font-weight: normal;
    }
    
    #container #dashboard-header {
        background: #D5DDF3;
        border-width: 0 1px 1px 1px;
        border-color: #ddd;
        border-style: solid;
        height: 27px;
        padding: 5px;
        position: relative;
        z-index: 0;
    }
    #container #dashboard-header #collapse-drawer {
        position: absolute;
        right: 0;
        border: none;
    }
    #container #dashboard-header #expand-drawer {
        position: absolute;
        left: 0;
        border: none;
    }

    #container #dashboard-header #dashboard-title {
        background: #E8ECF9;
        border-right: 1px solid #bbb;
        color: #333;
        font-size: 24px;
        font-weight: bold;
        width: 329px;
        margin: -5px;
        padding: 5px;
        position: absolute;
        -webkit-box-shadow: 2px 0px 3px rgba(0, 0, 0, .1);
        -moz-box-shadow: 2px 0px 3px rgba(0, 0, 0, .1);
        box-shadow: 2px 0px 3px rgba(0, 0, 0, .1); 
        z-index: 1;       
    }
    #container #dashboard-header #dashboard-nav {
        float: right;
        font-weight: bold;
        position: relative;
        top: 4px;
    }
    #container #dashboard-header #dashboard-nav span.selected a {
        border: none;
        color: #333;
        cursor: default;
    }
    #container #dashboard-map {
        width: 960px;
    }

    #container #dashboard-map #map-canvas {
        height: 100%;
        left: 340px;
        margin-left: 0;
        margin-right: 340px;
    }

.exercise-badge {
    background: #eee;
    margin-bottom: 5px;
    margin-left: 1px;
    position: relative;
    width: 320px;
    height: 80px;
    cursor: pointer;
    border: 1px dotted #fff;
}
    .exercise-badge:hover, .exercise-badge-hover {
        -webkit-box-shadow: 0 0 3px #666;
        -moz-box-shadow: 0 0 3px #666;
        box-shadow: 0 0 3px #666;
        border: 1px solid #aaa;
    }
    .exercise-badge .energy-points-badge {
        background: url(/images/energy-points-badge.png) no-repeat;
        width: 52px;
        height: 37px;
        text-align: center;
        padding-top: 5px;
        color: white;
        font-weight: bold;
        text-shadow: 0px -1px 0px #666;
        position: absolute;
        left: 267px;
        top: 5px;
    }
    .exercise-badge .exercise-title {
        font-weight: bold;
        position: absolute;
        left: 87px;
        top: 8px;
        font-size: larger;
        width: 170px;
    }
        .exercise-badge .exercise-title a {
            text-decoration: none;
            color: #006699;
        }
        .exercise-badge .exercise-title a:hover {
            color: #006699;
        }
    .streak-bar {
        background: url(/images/streak-meter-empty.png) no-repeat;
        width: 228px;
        height: 30px;
    }
    .exercise-badge .streak-bar {
         position: absolute;
         left: 85px;
         bottom: 3px;
    }
    
#container h3 {
    font-size: 16px;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}
/* End of Exercise Dashboard styles */

/* Individual Exercise Styles */

#container #dashboard-header.single-exercise {
    border: 1px solid #ccc;
    border-top: none;
}

#container #dashboard-header.single-exercise a#dashboard-breadcrumb {
    text-decoration: none;
    position: relative;
    top: 5px;
}
.exercise-badge.single-exercise {
    background: background:#e5ecf9;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: 1px solid #bbb;
    cursor: auto;
    height: auto;
    margin: 0;
    width: auto;
    
    -webkit-box-shadow: 0 1px 3px #ccc;
    -moz-box-shadow: 0 1px 3px #ccc;
    box-shadow: 0 1px 3px #ccc;
}
    .exercise-badge.single-exercise:hover {
        -webkit-box-shadow: 0 1px 3px #ccc;
        -moz-box-shadow: 0 1px 3px #ccc;
        box-shadow: 0 1px 3px #ccc;
    }

.exercise-badge.single-exercise .proficient-badge {
    padding: 3px 3px 0 3px;
}
    .exercise-badge.single-exercise .proficient-badge img {
        width: 60px;
        height: 62px;
    }

.exercise-badge.single-exercise .energy-points-badge {
    left: auto;
    right: 5px;
    top: 18px;
}
.exercise-badge.single-exercise .exercise-title {
    font-size:18px;
    top: 6px;
    left: 70px;
    width: 550px;
}
.exercise-badge.single-exercise .streak-bar {
    bottom: auto;
    left: auto;
    top: 18px;
    right: 66px;
}
.exercise-badge.single-exercise .related-videos {
    bottom: 7px;
    left: 70px;
    position: absolute;
    width: 550px;
}
#extras.single-exercise {
    text-align: left;
    margin-top: 6px;
    padding-left: 3px;
}
/* End of Individual Exercise Styles */

#tabs-table, #tabs-table td.content {
    width: 100%;
}

#tabs-table td.facebook-right-panel {
    width: 200px;
    vertical-align: top;
}

#tabs-container {
    text-align: center;
    width: 100%;
}

#tabs-outer {
    text-align: left;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
