body {
    background-color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0;
    color: #000;
}

/* Links in the header and footer don't change color when visited. */
a:link, header a:visited, footer a:visited {
    color: #069;
}

a:visited {
    color: #609;
}

a:link:hover, a:link:focus, a:visited:hover, a:visited:focus {
    color: #DD6900;;
}

/*
 * Don't display links with href=# to non-scripting users, since they will only be confusing.
 */
a[href="#"] {
    display: none;
}

/* The can_script class is added by javascript in page_template.html to links that can 
 * take advantage of scripting.  To be sure, add the "control" class to your link. */
a.can_script:link, a.can_script:visited {
    display: inline;
    text-decoration: none;
    border-bottom: dotted 1px #069;
}

p {
    margin: 3px;
    padding: 0;
}

header, footer {
    display: block;
    width: 100%;
}

footer > * {
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

#page_logo {
    float: left;
}

#page_status {
    float: right;
}

nav {
    display: block;
    clear: both;
    width: 100%;
    margin: 0;
}

#page_main_nav ul {
    float: right;
}

#page_sub_nav, footer {
    border-top: solid 1px #3366cc;
}

#page_sub_nav {
    background-color: #e5ecf9;
    padding: .2em;
}

header ul, footer ul {
    margin: 0;
    padding: .2em 1em .2em 1em;
}

nav ul li, header ul li, footer ul li {
    display: inline;
    white-space: nowrap;
}

nav ul li:before, header ul li:before, footer ul li:before {
    content: "|";
}

nav ul li:first-child:before, header ul li:first-child:before, footer ul li:first-child:before {
    content: "";
}

article.video {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: block;
}

article.video > div {
    width: 800px;
}

article.video details {
    display: block;
    width: 798px;
    background-color: #d2dded;
}

article.video summary {
    display: block;
    background-color: #E6F8DD;
    border-top: 1px solid #80C65A;
    border-bottom: 1px solid white;
    font-weight: bold;
}

article.video label.video_playlist_prev {
    float: left;
    border-right: solid 1px white;
}

article.video label.video_playlist_next {
    float: right;
    border-left: solid 1px white;
}

article.video div.video_playlist_container {
    clear: both;
    border-top: 1px solid grey;
    overflow: hidden;
}

article.video ol li {
    display: inline-block;
    width: 260px;
    vertical-align: top;
}

article.video ol li, article.video summary, article.video label.video_playlist_prev, article.video label.video_playlist_next {
    padding: .5ex 3px .5ex 3px;
}

article.video ol li:before {
    content: counter(video) ".";
    counter-increment: video;
}

article.video ol {
    counter-reset: video;
    padding: 0ex 0em 8ex 0em;
    display: inline;
    background: #eee;
    background-break: continuous; /* CSS3 */
    background-image: url(/images/798white_798grey.png);
}

article.video p#keywords {
    clear: both;
}
