/*  styles for the unit rater     */
.ratingblock {
	width: 50%;
	display:block;
	border-bottom:1px solid #999;
	padding-bottom:8px;
	margin-bottom:8px;
	}

.loading {
	height: 20px;
	background: url('../images/working.gif') 50% 50% no-repeat;
	}
	
.unit-rating { /* the UL */
	list-style:none;
	margin: 0px;
	padding:0px;
	height: 30px;
	position: relative;
	}

.unit-rating li{
    text-indent: -90000px;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
	}
	
.unit-rating li a {
	outline: none;
	display:block;
	width:20px;
	height: 20px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	border:0px ! important;
	}
	
.unit-rating li a:hover{
	background: url('../images/starrating.gif') left center;
	z-index: 2;
	left: 0px;
	}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:20px;}
.unit-rating a.r2-unit{left:20px;}
.unit-rating a.r2-unit:hover{width: 40px;}
.unit-rating a.r3-unit{left: 40px;}
.unit-rating a.r3-unit:hover{width: 60px;}
.unit-rating a.r4-unit{left: 60px;}	
.unit-rating a.r4-unit:hover{width: 80px;}
.unit-rating a.r5-unit{left: 80px;}
.unit-rating a.r5-unit:hover{width: 100px;}
.unit-rating a.r6-unit{left: 100px;}
.unit-rating a.r6-unit:hover{width: 120px;}
.unit-rating a.r7-unit{left: 120px;}
.unit-rating a.r7-unit:hover{width: 140px;}
.unit-rating a.r8-unit{left: 140px;}
.unit-rating a.r8-unit:hover{width: 160px;}
.unit-rating a.r9-unit{left: 160px;}
.unit-rating a.r9-unit:hover{width: 180px;}
.unit-rating a.r10-unit{left: 180px;}
.unit-rating a.r10-unit:hover{width: 200px;}

.unit-rating li.current-rating {
	background: url('../images/streak-meter-active.png') no-repeat left top;
	height: 30px;
	z-index: 1;
	}

.unit-rating li.current-rating, 
.unit-rating li.best-label, 
.unit-rating li.streak-icon, 
.unit-rating li.current-label {
    display: block;
    position: absolute;
    text-align: right;
    cursor: default;
    }

.unit-rating li.best-label,
.unit-rating li.streak-icon, 
.unit-rating li.current-label {
    text-shadow: #000 -1px -1px 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    padding-top: 5px;
    }

.unit-rating li.best-label {
	background: url('../images/streak-meter-active.png') no-repeat left top;
    z-index: 3;
    opacity: 0.2;
    filter:alpha(opacity=20);
    }

.unit-rating li.current-label {
    z-index: 4;
    }

.unit-rating li.streak-icon {
	background: url('../images/streak.png') no-repeat right 24px;
    z-index: 2;
    }
.single-exercise .unit-rating li.streak-icon {
    top: 2px;
}

.voted {color:#999;}
.thanks {color:#36AA3D;}
		
