<html>
    <body>
        FB_ID = "{{App.facebook_app_id}}";

        {% if sheep %}
            Yup({{sheep}} vs. {{donkey}})
            {% if monkeys %}
                {% for a in monkeys %}
                    Grr: {{monkey}}
                {% endfor %}
            {% endif %}
            Nope
        {% endif %}

        {% block testblock %}
            {% video_qa user_data video playlist qa_page qa_expand_id sort %}
        {% endblock testblock %}

        {% playlist_browser zebras %}
    </body>
</html>
