{% if sum %}
<a title="{{ sum }} badges" class="achievement-badge-counts" href="/badges/view">{% if bronze %}<img src="/images/badges/meteorite-tiny.png" width="10" height="10"/> {{bronze}}{% endif %}{% if silver %} <img src="/images/badges/moon-tiny.png" width="10" height="10"/> {{ silver }}{% endif %}{% if gold %} <img src="/images/badges/earth-tiny.png" width="10" height="10"/> {{ gold }}{% endif %}{% if platinum %} <img src="/images/badges/sun-tiny.png" width="10" height="10"/> {{ platinum }}{% endif %}{% if diamond %} <img src="/images/badges/eclipse-tiny.png" width="10" height="10"/> {{ diamond }}{% endif %}{% if master %} <img src="/images/badgs/master-challenge-blue-tiny.png" width="12" height="12" /> {{ master }}{% endif %}</a>
{% else %}
<a title="You don't have any badges yet" class="achievement-badge-counts" href="/badges/view">0 badges</a>
{% endif %}
