<span id="badge-count-container" class="badge_count_container">
{% block badge_count_block %}
{% if sum %}
<a title="{{ sum }} badges" class="achievement-badge-counts" href="/profile#achievements">
    {% if bronze %}
        <img src="{% static_url "/images/badges/meteorite-tiny.png" %}" width="10" height="10"/> {{bronze}}
    {% endif %}
    {% if silver %}
        <img src="{% static_url "/images/badges/moon-tiny.png" %}" width="10" height="10"/> {{ silver }}
    {% endif %}
    {% if gold %}
        <img src="{% static_url "/images/badges/earth-tiny.png" %}" width="10" height="10"/> {{ gold }}
    {% endif %}
    {% if platinum %}
        <img src="{% static_url "/images/badges/sun-tiny.png" %}" width="10" height="10"/> {{ platinum }}
    {% endif %}
    {% if diamond %}
        <img src="{% static_url "/images/badges/eclipse-tiny.png" %}" width="10" height="10"/> {{ diamond }}
    {% endif %}
    {% if master %}
        <img src="{% static_url "/images/badges/master-challenge-blue-tiny.png" %}" width="12" height="12" /> {{ master }}
    {% endif %}
</a>
{% endif %}
{% endblock %}
</span>
