<div id="badge-notification-container" class="badge-award-container" style="display:none;">
{% block badge_notification_block %}
    {% if user_badges %}
        <h3 class="ui-corner-top">New badge{{ user_badges|length|pluralize }} <span style="font-weight:normal; float: right; font-size: 12px;">(<a href="#" onclick="Badges.hide();return false;">close</a>)</span></h3>
        {% for user_badge in user_badges %}
            {% if user_badge.badge %}
			<div class="badge-container" style="margin-bottom:5px;">
                {% badge_block user_badge.badge %}
				
					<a href="#" style="top:0px;left:226px;" class="simple-button action-gradient with-icon download-icon share-link notif-share">
		             <img src="/images/share-icon-small.png" />
		                     Share
		             </a>
				   <div class="sharepop" style="float:none;position:relative;right:90px;top:10px;z-index:100;padding:1px;height:40px;margin-left:33px;width:70px;">
				 						<div class="triangle-isosceles top" style="position:absolute;right:0px;top:0px;">
				 							<a href="javascript:void(0);" class="facebookShare" onclick="Social.facebookBadge('{{ user_badge.badge.description|escape }}','{{ user_badge.badge.icon_src }}','{{ user_badge.badge.extended_description|escape }}',{% if user_badge.target_context_name %}'{{ user_badge.target_context_name|escape }}'{% else %}''{% endif %});"></a> <a href="http://twitter.com/share?url=http:%2F%2Fkhanacademy.org&amp;text=just%20earned%20the%20{{ user_badge.badge.description|escape }}%20badge%20in%20{% if user_badge.target_context_name %}{{ user_badge.target_context_name|escape }}{% endif %}&amp;related=khanacademy:Trying%20to%20make%20a world-class%20education%20available%20to%20anyone,%20anywhere.&amp;via=khanacademy" class="twitterShare"></a>
				 						</div>
				 					</div> 
					
				</div>
				<hr style="margin:0px; padding:0px;"/>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
</div>

{% if user_badges %}
    <script>$(Badges.show);</script>
{% endif %}
