<html>
    <body>
        FB_ID = "{{App.facebook_app_id}}";

        {{ unsafe_string|escape }}
        <script>var test = '{{unsafe_string|escapejs}}';</script>

        {% if sheep %}
            Yup({{sheep}} vs. {{donkey}})
            {% if monkeys %}
                {% for a in monkeys %}
                    Grr?! {{monkey}}
                {% endfor %}
            {% endif %}
            Nope
        {% endif %}

        {% block testblock %}
            {% playlist_browser zebras %}
        {% endblock testblock %}

    </body>
</html>
