{% extends "page_template.html" %}

{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        <a href="/admin94040">Dev Panel</a>
    </span>
{% endblock pagesubmenu %}

{% block pagecontent %}
    
   <div id="devpanel" style="padding: 9px 23px;">
        <div>
            <h2>Common Core</h2>

            {% if token %}

				<h4>The following videos were successfully mapped:</h4>
			    <table id="CCTable" class="tablesorter"> 
                <thead>
                <tr>    
                    <th>Common Core Standard</th>
                    <th>Video Title</th>
                </tr>    
			    </thead>
			    <tbody>
			        
				{% for cc_video in cc_videos %}
			    <tr>
			        <td>{{cc_video['keyword']}}</td>
			        <td><a href="http://www.youtube.com/watch?v={{cc_video['youtube_id']}}" target="_blank">{{cc_video['title']}}</td>
			    </tr>    
				{% endfor %}
				
                </tbody>
                </table>
            {% else %}
            
				<script type="text/javascript" charset="utf-8">
				    
				    $(document).ready(function() {

    				    var auth_sub = "https://www.google.com/accounts/AuthSubRequest?" +
    				        "next=" + window.location.href +
    				        "&scope=" + "http://gdata.youtube.com" + 
    				        "&session=" + "1" +
    				        "&secure=" + "0";

    				    var auth_sub_url = encodeURI(auth_sub);

    				    $("#auth_link").attr("href", auth_sub_url);
				        
				    });
				
				</script>
				
                <a id="auth_link" href="#">Log in to your YouTube account</a>

            {% endif %}
        </div>
    </div>

{% endblock pagecontent %}

