{% extends "page_template.html" %}

{% import 'macros/exercises.html' as exercise_macros %}

{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        Exercises
    </span>
{% endblock pagesubmenu %}

{% block pagescript %}
<style>
    /* Temporary styles to fit new dashboard into old template, will be removed when new template is dropped in. */
    #page_sub_nav {display: none;}

    #container.unregistered .energy-points-badge {
        visibility: hidden;
    }
</style>
<script type="text/javascript">
  	function submitForm(value)
  	{
  		document.forms['addexercise'].submit();
  	}

	// Hide rows that a user is proficient in for the given table.
	function hideProficient(tableId, checkboxId)
	{
		// Get the table we are working with.
		table = document.getElementById(tableId);
		// Get the checkbox to look at for on/off status.
		checkbox = document.getElementById(checkboxId);
		if (checkbox.checked)
		{
            $(".proficientTrue").css('display', 'none');
		}
		// If the checkbox is not checked then show this row.
		else
		{
            $(".proficientTrue").css('display', 'table-row');
		}
	}
	
    $(function(){Drawer.init();});
</script>
{% endblock pagescript %}
{% block pagecontent %}
<div id="background">
  <div id="container" class="dashboard{% if not logged_in %} unregistered{% endif %}">
    <div id="dashboard-header">
        <div id="dashboard-nav">
   
                <form id="addexercise" action="/updateexercise" method="post">
                    <input type="hidden" name="v_position" value="0" /><input type="hidden" name="h_position" value="0" />
  
                        <nobr>
                            <label for="name">
                                Name (file name without .html)
                            </label>
                            <input id="name" type="text" name="name" size="40" />
                            <span style="padding-left: 20px;">
                                <input id="summative" name="summative" type="checkbox" value="1" />
                                <label style="display:inline;" for="summative">Summative</label>
                            </span>
                            <span style="padding-left: 20px;">
                                <input type="submit" value="Add Exercise" />
                            </span>
                        </nobr>
                </form>
     
        </div>
        <div id="dashboard-title"><img src="/images/dashboard-icon-active.png" id="dashboard-icon" width=22 height=22 /> Exercises <a href="#" id="collapse-drawer" class="toggle-drawer"><img src="/images/expand-left.png" width="25" height="25"/></a></div>
            <a href="#" id="expand-drawer" class="toggle-drawer"><img src="/images/expand-right.png" width="25" height="25" /></a>
        </div>
    <div id="dashboard-drawer" class="drawer-hoverable">
    <div id="dashboard-drawer-inner" class="fancy-scrollbar"><div>
        
        {% for graph_dict in graph_dicts %}
     
                <div class="exercise-edit" data-id="{{graph_dict.name}}">
                <a href="/editexercise?name={{ graph_dict.name|escape }}" 
                    {% if graph_dict.live %}
                    style="color:#069;"
                    {% else %}
                    style="color:red;text-decoration:line-through;"
                    {% endif %}
                    title="{{ graph_dict.display_name|escape }}"><nobr>{{ graph_dict.display_name|truncate(25)|escape }}</nobr></a>
                    </div>
              
            <br />
        {% endfor %}
    </div></div>
    </div>

    <div id="dashboard-map">
        {{ exercise_macros.knowledgemap(graph_dicts, map_coords, admin) }}
    </div>
</div>
</div>{% endblock pagecontent %}
