{% extends "page_template.html" %}

{% import 'macros/youtube.html' as youtube %}
{% import 'macros/analytics.html' as analytics %}
{% import 'macros/mailing_lists.html' as mailing_lists %}

{% block pagescript %}
<style>
	#page_sub_nav { display: none; }
	td { vertical-align: top; }
	.ui-tooltip, .qtip { max-width: 200px; }
</style>

{% endblock pagescript %}
{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}
<div id="homepage">
    <div id="main-video">
        {{ youtube.player_embed(video_id, 480, 395) }}
    </div>
    <div id="homepage-text" class="visited-no-recolor">
        <h1 class="section-headline pulls"><a href="/#browse">Watch.</a> <a href="/exercisedashboard?k">Practice.</a></h1>
        <h1>Learn almost anything for free.</h1>
        <p>
            With a library of over <a href="/#browse">{{approx_vid_count|thousands_separated}} videos</a> covering
            everything from arithmetic to physics, finance, and history and <a href="/exercisedashboard?k">{{exercise_count}} practice exercises</a>,
            <a href="/about">we're on a mission</a> to help you learn what you want, when you want, at your own pace.
        </p>
        <p class="call-to-action-buttons">
        	<a href="/#browse" class="call-to-action simple-button action-gradient green">Watch a video</a>
        	<a href="/exercisedashboard?k" class="call-to-action simple-button action-gradient blue">Practice with an exercise </a>
        </p>
        <div id="social-actions">
            <table>
                <tr>
                    <td class="social-action">
                        <span id="fb-like-badge">
                            <div id="fb-root"></div><fb:like href="http://www.khanacademy.org" send="true" layout="button_count" width="100" show_faces="false" font=""></fb:like>
                        </span>
                    </td>
                    <td class="social-action">
                        <a href="http://twitter.com/share" class="twitter-share-button" data-counturl="http://www.khanacademy.org" data-url="http://www.khanacademy.org" data-text="Watch. Practice. Learn almost anything for free." data-count="horizontal" data-via="khanacademy">Tweet</a>
                    </td>
                    <td class="social-action">
                        <g:plusone size="medium" href="http://www.khanacademy.org"></g:plusone>
                    </td>
                </tr>
                <tr>
                    <td colspan=3 class="homepage-mailing">
                        <span>{{ mailing_lists.signup_form(3, "Get Updates", "Enter your email to learn about new courses.") }}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h2>
        New <span class="ampersand">&amp;</span> Noteworthy
    </h2>
    {% if thumbnail_link_sets %}
    <div id="thumbnails_container">
        <table width="100%">
            <tr>
                <td width="3%">
                    <div class="thumbnails_arrow action-gradient" id="arrow-left">
                        <div class="arrow-left"></div>
                    </div>
                </td>
                <td width="94%">
                    <div id="thumbnails" class="visited-no-recolor">
                        {% for thumbnail_link_set in thumbnail_link_sets %}
                            <div {% if not loop.first %}style="display:none;"{% endif %}><table style="width:100%"><tr>
                            {% for thumbnail_link in thumbnail_link_set %}
                            <td style="width:25%" class="thumbnail_td {{ thumbnail_link["type"] }} {% if thumbnail_link["selected"] %}selected{% endif %}" data-key="{{ thumbnail_link["key"]|escape }}" data-youtube-id="{{ thumbnail_link["youtube_id"]|escape }}">

                                    <a href="{{ thumbnail_link["href"]|escape }}" class="thumbnail_link"><div class="thumb" style="background-image:url('{{ thumbnail_link["thumb_url"]|escape }}')"></div></a>

                                    <a href="{{ thumbnail_link["href"]|escape }}" class="thumbnail_link"><div class="thumbnail_label"><div class="thumbnail_desc">{{ thumbnail_link["desc_html"] }}</div><div class="thumbnail_teaser">{{ thumbnail_link["teaser_html"] }}</div></div></a>
                                </td>
                            {% endfor %}
                            </tr></table></div>
                        {% endfor %}
                    </div>
                </td>
                <td width="3%">
                    <div class="thumbnails_arrow action-gradient" id="arrow-right">
                        <div class="arrow-right"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% endif %}

    <div class="clear"></div>

<div data-role="page" data-theme="b" {% if is_mobile %}id="browse"{% endif %}>
    <div data-role="content">
        <div id="mobile-homepage" class="mobile-only">
            <img data-src="{{ "/images/logo-horizontal-large.png"|static_url }}" id="mobile-logo" />
            <span id="page_visitors">
                    <span id="page_num_visitors">
                        <!-- Content will get populated by javacript at end of page -->
                    </span>&nbsp;lessons delivered
            </span>
        </div>
        <h2 class="main-headline">Browse our library of over {{approx_vid_count|thousands_separated}} educational videos...</h2>
        {% if DVD_list %}
        <ul class="menu" id="menu">
            {% for playlist in DVD_list %}
        	    <li><a href="#{{playlist}}" class="menulink">{{playlist}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <div id="browse-control-anchor"></div>
        {{ templatetags.playlist_browser("browse") }}
        {{ templatetags.playlist_browser("browse-fixed") }}

        {% endif %}
        <a href="/mobilefullsite" class="mobile-only" data-role="button" data-ajax="false">View standard site</a>
    </div>
</div>
<div class="clear"></div>
{{ library_content }}

</div>

<div id="back-to-top">
    <a class="arrow" href="#">▲</a>
    <a class="text" href="#">Back to Top</a>
</div>
{% endblock pagecontent %}

{% block bottompagescript %}
    {% if not is_mobile %}
        {{ js_css_packages.js_package("homepage") }}
    {% endif %}

    <script type="text/javascript">
        $(function(){VideoStats.startLoggingProgress("{{ video_key }}");});

        (function(){
            var twitterWidgets = document.createElement('script');
            twitterWidgets.type = 'text/javascript';
            twitterWidgets.async = true;
            twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
            // Setup a callback to track once the script loads.
            twitterWidgets.onload = _ga.trackTwitter;
            document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
        })();

        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        _ga.trackFacebook();
    </script>

    {{ analytics.crazyegg_tracker(False) }}
{% endblock bottompagescript %}
