{% extends "page_template.html" %}

{% import 'macros/user.html' as user %}
{% import 'macros/youtube.html' as youtube %}
{% import 'macros/library.html' as library %}
{% import 'macros/analytics.html' as analytics %}

{% block pagecss %}
    {{ css_package("video") }}
{% endblock pagecss %}

{% block pagesubmenu %}
<span class="breadcrumbs_nav video-nav">
        <a href="/#browse">All videos</a>
        <span class="breadcrumb-separator">&#187;</span>
        <a href="/?video={{video.readable_id|urlencode}}#{{playlist.title|slugify|urlencode}}">{{playlist.title|escape}}</a> 
        <span class="breadcrumb-separator">&#187;</span>
    <span id="video_dropdown" style="display:none;" class="selected">
        <a href="/video/{{video.readable_id}}?playlist={{playlist.title|urlencode}}">{{video.title|escape}}</a>
        <div id="video_menu">
            <ol>
                {% for v in videos %}
                <li data-selected='{{v.selected|default("")}}'><a href="/video/{{v.readable_id}}?playlist={{playlist.title|urlencode}}">{{ library.video_name_and_progress(v) }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </span>
</span>
{% endblock pagesubmenu %}
{% block pagecontent %}
<div id="video-page">
<article class="video" data-role="page" data-theme="b">
    <div data-role="header" class="mobile-only">
        <a href="#" data-rel="back" data-icon="arrow-l">Back</a>
        <h2>{{video.title|escape}}</h2>
        <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse"></a>
    </div>
    <div data-role="content">
        <div id="description">
            <h3>
                <span class="title desktop-only">{{video.title|escape}}</span>
            {% if video.description %}
                <span class="long-description"><span class="desktop-only">: </span>{{video.description|escape}}</span>
            {% endif %}
            </h3>
        </div>
    <div style="margin-top: -5px;">
    	<nav class="prev_next_nav desktop-only">
        	{% if previous_video %}
            <label id="prev_video">
                <a rel=prev href="/video/{{previous_video.readable_id}}?playlist={{playlist.title|urlencode}}"><b>Previous Video:</b>{{ library.video_name_and_progress(previous_video) }}</a>
            </label>
            	{% endif %}
                {% if next_video %}
            <label id="next_video">
                <a rel=next href="/video/{{next_video.readable_id}}?playlist={{playlist.title|urlencode}}"><b>Next Video:</b> {{ library.video_name_and_progress(next_video) }}</a>
            </label>
                {% endif %}
            <div class="clear"></div>
      	</nav>
    
        <div id="youtube_blocked" class="desktop-only">
            {{ youtube.flv_player_embed(video_path) }}
        </div>
        <div class="youtube-video">
            {{ youtube.player_embed(video.youtube_id) }}
        	<div class="subtitles-warning">
                &lArr; Use this menu to view and help create subtitles for this video in many different languages.
                You'll probably want to hide YouTube's captions if using these subtitles. 
               <a href="#" class="subtitles-link">Close subtitles</a>
           	</div>
      	</div>
    
        <span class="video_extra_links desktop-only">
			<nobr>
       		
       		<div class="extra-link-bar">
              	{% if exercise %}					 
				<a href="/exercises?exid={{exercise}}" title="View related exercises" style="z-index:101;" class="simple-button action-gradient with-icon exercise-link">
                <img  src="/images/exercise-icon-small.png" />
                         Exercises
                </a>
				{% endif %}

                <a href="#" title="Toggle subtitles and translations" style="z-index:101;" class="simple-button action-gradient with-icon subtitles-link">
                <img src="/images/subtitles-icon-small.png" />
                       	Subtitles
                </a>

                {% if video_path %}
                <a href="{{video_path}}" title="Download this lesson" style="z-index:101;" class="simple-button action-gradient with-icon download-icon download-link">
                <img src="/images/download-icon-small.png" />
                         Download
                </a>
                {% endif %}
                  
                 <a href="#" style="z-index:101;" class="simple-button action-gradient with-icon download-icon share-link" onclick="_gaq.push(['_trackEvent', 'Click', 'Video-Page-Share-Button']);return false;">
                 <img src="/images/share-icon-small.png" />
                         Share
                 </a>

                 <span class="sharepop" style="display: none;">
					<span class="triangle-isosceles top">
						<a href="javascript:void(0);" class="facebookShare" onclick="_gaq.push(['_trackEvent', 'Click', 'Video-Page-Share-Facebook']);Social.facebookVideo('{{video.title|escape}}','{{video.description}}','/video?v={{video.youtube_id}}');"></a>
						<a class="twitterShare" href="http://twitter.com/share?text=just%20learned%20about%20{{video.title|escape}}&amp;related=khanacademy:Trying%20to%20make%20a world-class%20education%20available%20to%20anyone,%20anywhere.&amp;via=khanacademy" onclick="_gaq.push(['_trackEvent', 'Click', 'Video-Page-Share-Twitter']);"> </a>
					</span>
				</span>
					
         	</div>
			<span style="float:right;" id="points-badge-hover">
                {{ user.possible_points_badge(awarded_points, video_points_base, logged_in) }}
			</span>
         	</nobr>
		 </span>
			
    	<div class="desktop-only">
            {{ video_comments(video, playlist, comments_page) }}
            {{ video_qa(user_data, video, playlist, qa_page, qa_expand_key, sort) }}
        </div>
	</div>
    </div>
	
</article>
</div>
{% endblock pagecontent %}

{% block bottompagescript %}
    {{ js_package("video") }}
    <script>
      $(function(){VideoStats.startLoggingProgress("{{ video.key|escapejs }}");});

      // We take the message in the title of the energy points box and place it
      // in a tooltip, and if it's the message with a link to the login we 
      // replace it with a nicer link (we don't want to have to pass the url to
      // the templatetag).
      var $points = $('.video-energy-points');
      $points.data('title', $points.attr('title').replace(/Sign in/, 
                 '<a href="{{ login_url|escape }}">Sign in</a>'))
             .removeAttr('title');

      VideoStats.tooltip('#points-badge-hover', $points.data('title'));
    </script>
    {{ analytics.crazyegg_tracker(False) }}
{% endblock bottompagescript %}
