{% if type %}
<a href="#" class="simple-button action-gradient with-icon download-icon share-link notif-share" onclick="_gaq.push(['_trackEvent', 'Click', 'Badge-Notification-Share-Button']);return false;">
  <img src="/images/share-icon-small.png" />
          Share
  </a>
<div class="sharepop">
	<div class="triangle-isosceles top">
	{% ifequal type "badge" %}
		{% facebook_share_badge description icon_src extended_description target_context_name event_description %}
		{% twitter_share_badge description target_context_name event_description %}
	{% endifequal %}
	{% ifequal type "video" %}
    	{% facebook_share_video video_title description youtube_id event_description %}
    	{% twitter_share_video video_title youtube_id event_description %}
    {% endifequal %}
    {% ifequal type "exercise" %}
        {% facebook_share_exercise problem_count proficiency name event_description %}
        {% twitter_share_exercise name problem_count proficiency event_description %}
    {% endifequal %}
	</div>
</div>
{% endif %}